{% extends "users/inicio2.html" %}

{% load humanize %}
{% load apptags_extras %}

{% load static %}

{% block content %}

<div class="container-fluid r-aside">
    <!-- ============================================================== -->
    <!-- Cabeza de la pagina -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Informe fecha {{informes_data.fecha}}</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Informes' %}">Informes</a></li>
                <li class="breadcrumb-item">Informe</li>

            </ol>
        </div>

    </div>

  </div>

  <div class="row">
    <div class="col-lg-6 col-md-12">
    <div class="card">
        <div class="card-body">

            <div class="d-flex">
                <div>
                    <h4 class="card-title"><span class="lstick"></span><a type="button" data-toggle="modal" data-target="#ModalEscribir" name="subir_item" value="{{informes_data.id}}"><i class="fa fa-pencil-square-o fa-lg"
                        aria-hidden="true" style="margin-right: 15px;"></i></a>Detalle del informe</h4>
                    <h6 class="text-muted">Información relevante sucedido durante el mes</h6></div>

            </div>
            
            <div class="m-t-10">
                <p style="white-space: pre-wrap;">{{informes_data.informe}}</p>
                
            </div>

        </div>
    </div>

    
</div>

<!-- Modal fecha estado Subitem -->
<div class="modal fade" id="ModalEscribir" tabindex="-1" role="dialog" aria-labelledby="ModalEscribirTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Escribe el informe</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
                                        
        <form method="POST" style="margin: 15px;">

            {% csrf_token %}

            <h6><small>Detalles destacables sucedidos en el mes</small> </h6>  

            <div class="input-group mb-3">

                <textarea class="form-control" id="exampleTextarea" rows="6" name="mensaje">{{informes_data.informe}}</textarea>

            </div>

            <button type="submit" class="btn waves-effect waves-light btn-rounded btn-secondary">Modificar</button>
        
        </form>
        
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>
    </div>
    </div>

</div>

<div class="col-lg-6 col-md-12">
    
    <div class="card">
        <div class="card-body">

            <div class="d-flex">
                    <h4 class="card-title"><span class="lstick"></span>Devolución del informe</h4>
                    <h6 class="text-muted">{{datos.clasificacion}}</h6></div>

                    {% if informes_data.devolucion %}
                    <div class="m-t-10">
                        <p style="white-space: pre-wrap;">{{informes_data.devolucion}</p>
                        
                    </div>
                    {% else %}
                    <div class="m-t-10">
                        <p style="white-space: pre-wrap;">Aun no has recibido una devolución de este informe</p>
                        
                    </div>

                    {% endif %}

        
    </div>
    

    
</div>

</div>
</div>


<div class="row">
    <div class="col-12">
    <div class="card">
        <div class="card-body">

            <div class="d-flex">
                <div>
                    <h4 class="card-title">
                        {% if request.user|has_group:"MANDO MEDIO" %}
                        <a class="btn btn-secondary btn-outline" type="button" data-toggle="modal" data-target="#ModalTarea" name="subir_item">
                    
                        <img src="{% static 'img/iniciar-sesion.png' %}" alt="" style="max-width:20px; height:auto; vertical-align: middle;">
                        
                    </a>{% endif %} Tareas programadas</h4>

                    <!-- Modal tareas-->
                    <div class="modal fade" id="ModalTarea" tabindex="-1" role="dialog" aria-labelledby="ModalTareaTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Ingrese una tarea</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                                            
                            <form method="POST" style="margin: 15px;">
    
                                {% csrf_token %}
    
                                <h6><small>Describa la tarea brevemente</small> </h6>  
    
                                <div class="input-group mb-3">
    
                                    <input name="tareas" type="text" class="form-control form-control" style="width: 300px;">
    
                                </div>
    
                                <button type="submit" class="btn waves-effect waves-light btn-rounded btn-secondary">ingresar</button>
                            
                            </form>
                            
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    
                            </div>
                        </div>
                        </div>
    
                    </div>
                    <h6 class="text-muted">Tareas asignadas a principios de mes como objetivo mensual</h6></div>
                    </div>

                    <div class="table-responsive">
        
                        <table class="table">
        
                            <tbody>
                                {% for t in tareas_data%}
                                <tr>
                                    <td><div>{{t.tarea}}</div> 
                                        {% if t.estado == "LISTO" %}
                                        <div class="label label-table label-success">Listo</div>
                                        {% elif t.estado == "TRABAJANDO" %}
                                        <div class="label label-table label-warning">Trabajando</div>
                                        {% elif t.estado == "PROBLEMAS" %}
                                        <div class="label label-table label-danger">Problemas</div>
                                        {% else %}
                                        <div class="label label-table label-info">Espera</div>
                                        {% endif %}
                                    </td>
                                    <td style="min-width: 200px; text-align: center;"><form  method="POST"> 
                                        {% csrf_token %}
                                        <button type="submit" value="{{t.id}}" name="LISTO" class="btn btn-success btn-circle"><i class="fa fa-check"></i> </button>
                                        <button type="submit" value="{{t.id}}" name="TRABAJANDO" class="btn btn-warning btn-circle"><i class="fa fa-clock-o"></i> </button>
                                        <button type="submit" value="{{t.id}}" name="PROBLEMAS" class="btn btn-danger btn-circle"><i class="fa fa-exclamation"></i> </button>
                                    </form></td>
                                </tr>
                                {% endfor %}
 
                            </tbody>        
                    </table>
            
                          
                </div>  

            </div>
            
            
    </div>
</div>
</div>

<div class="row">
    <div class="col-12">
    <div class="card">
        <div class="card-body">

            <div class="d-flex">
                <div>
                    <h4 class="card-title"><span class="lstick"></span><a class="btn btn-secondary btn-outline" type="button" data-toggle="modal" data-target="#ModalBitacora" name="subir_item">
                    
                        <img src="{% static 'img/iniciar-sesion.png' %}" alt="" style="max-width:20px; height:auto; vertical-align: middle;">
                        
                    </a> Bitacoras realizadas</h4>
                    <!-- Modal Bitacoras -->
                    <div class="modal fade" id="ModalBitacora" tabindex="-1" role="dialog" aria-labelledby="ModalTareaTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Bitacoras de proyectos</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                                            
                            <form method="POST" style="margin: 15px;">
    
                                {% csrf_token %}

                                <h6><small>Proyecto</small> </h6>  

                                <div class="input-group mb-3">
                                        
                                        <select name="proyecto" class="custom-select" style="width: 300px;">

                                            {% for p in project_list %}
                        
                                            <option value="{{p.id}}" selected>{{p.nombre}}</option>
                        
                                            {% endfor %}
                        
                                        </select>
                                </div>
    
                                <h6><small>Titulo</small> </h6>  
    
                                <div class="input-group mb-3">
    
                                    <input name="titulo" type="text" class="form-control form-control" style="width: 300px;">
    
                                </div>

                                <h6><small>Describción</small> </h6>  
    
                                <div class="input-group mb-3">
    
                                    <textarea class="form-control" id="exampleTextarea" rows="6" name="descrip"></textarea>
    
                                </div>
    
                                <button type="submit" class="btn waves-effect waves-light btn-rounded btn-secondary">ingresar</button>
                            
                            </form>
                            
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    
                            </div>
                        </div>
                        </div>
    
                    </div>
                    </div>
                    </div>

                    <div class="table-responsive">
        
                        <table class="table">
        
                            <tbody>
                                {% for b in bitacoras_data %}
                                <tr>                                    
                                    <td>{{b.proyecto.nombre}}</td>
                                    <td>{{b.fecha|date:"Y-m-d"}}</td>
                                    <td> <a href="#" style="color: blue;" data-toggle="modal" data-target="#ModalBitacora{{b.id}}" name="Bitacora">{{b.titulo}}</a></td>

                                    <!-- Modal de las Bitacoras -->
                    <div class="modal fade" id="ModalBitacora{{b.id}}" tabindex="-1" role="dialog" aria-labelledby="ModalTareaTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Bitacora</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">

                            <form method="POST" style="margin: 15px;">

                            {% csrf_token %}
                                                            
                            <textarea class="form-control" id="exampleTextarea" rows="6" name="descrip2" >{{b.descrip}}</textarea>

                            <button type="submit" class="btn waves-effect waves-light btn-rounded btn-secondary" name="bitacora" value="{{b.id}}">Modificar</button>
                            
                            </form>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    
                            </div>
                        </div>
                        </div>
    
                    </div>
                                    

                                </tr>
                                {% endfor %}
                            </tbody>        
                    </table>
            
                          
                </div>  

            </div>
            
            
    </div>
</div>
</div>

  
{% endblock %}
