.bg-transparency{
    background-color: rgba(255, 255, 255, 0.7);;
}


input[type="text"], input[type="password"], textarea {

    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color:rgba(0, 0, 0, 0.2);

    width: 100%;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0, 0, 0, 0.7);
    opacity: 1; /* Firefox */
  }
