.tableconteinerabel {

    max-width: 100%;

  
  }

@media (max-width: 740px) {
    .tableconteinerabel {
        display: block;
        overflow-x: scroll;
    
    }
}

@media screen and (max-width: 1225px) and (min-width: 1045px) {
    .priority-5{
            display:none;
    }
}

@media screen and (max-width: 1045px) and (min-width: 835px) {
    .priority-5{
            display:none;
    }
    .priority-4{
            display:none;
    }
}

@media screen and (max-width: 835px) and (min-width: 600px) {
    .priority-5{
            display:none;
    }
    .priority-4{
            display:none;
    }
    .priority-3{
            display:none;
    }
}

@media screen and (max-width: 600px) {
    .priority-5{
            display:none;
    }
    .priority-4{
            display:none;
    }
    .priority-3{
            display:none;
    }
    .priority-2{
            display:none;
    }

}