{% extends "users/inicio.html" %}

{% load static %}

{% block content %}

<div class = "jumbotron" style="background-color: white; margin-bottom: 0px;">
    <div style="text-align: center;">
        <h2>Panel de control - Precios</h2>
        <smal>Trabajo en conjunto </small><small><strong>PRESUPUESTO - DIRECCIÓN - FINANZAS - VENTAS</strong></small>  
    </div>

    <b><hr class = "my-4" style="width: 100%; border-color: black ;"></b>

    <div style="margin-bottom: 2rem;">

        <h3>Precio de referencia </h3>
        <small> El precio de referencia se calcula a partir del costo de obra y parametros fijos</small>

    </div>   
       
    {% if datos %} 

    <table class = "table table-hover" style="text-align: center;">
        <thead>

            <tr class = "table-dark">
                <th scope = "row"> <font style = "vertical-align: heredar;"> PROYECTO</font></th>
                <th scope = "row"> <font style = "vertical-align: heredar;"> VALOR COSTO </font></th>
                <th scope = "row"> <font style = "vertical-align: heredar;"> VALOR COSTO USD </font></th>
                <th scope = "row"> <font style = "vertical-align: heredar;"> VALOR FINAL </font></th>
                <th scope = "row"> <font style = "vertical-align: heredar;"> VALOR FINAL USD </font></th>
                <th scope = "row"> <font style = "vertical-align: heredar;"> ULTIMO PRICING</font></th>
                <th scope = "row"> <font style = "vertical-align: heredar;"> ULT. ACTUALIZACIÓN </font></th>
                

            </tr>
        </thead>

        <tbody>

            

            {% for i in datos.datos %}
            <tr class = "table-light">
                <td> <b>{{i.parametros}}</b> </td>
                <td>$ {{i.valor_costo|floatformat:2}}</td>
                <td style="color: darkgreen;"> <b>U$A {{i.valor_costo_usd|floatformat:2}}</b> </td>
                <td>$ {{i.valor_final|floatformat:2}}</td>
                <td style="color: darkgreen;"> <b>U$A {{i.valor_final_usd|floatformat:2}}</b> </td>
                <td>$ {{i.pricing|floatformat:2}}</td>
                <td>{{i.parametros.proyecto.fecha_a}}</td>
                
            
            </tr>
        </tbody>

            {% endfor %}

     {% else %}
            <div style="text-align: center;">
                <h3>No existe registros actualmente</h3>
            </div>
            

    {% endif %}
        

    </table>
    <div>
        <small style="color: darkgreen;"> El valor de dolar usado es: ${{datos.usd_blue.valor}}</small>
        <h6 ><small></small></h6>
    </div>
    <div style="margin-bottom: 1%; text-align: center;">
        <a href="/presupuestos/parametros"><button class="btn btn-success" type="submit">Ver parametros</button></a>  
     </div>

    <b><hr class = "my-4" style="width: 100%; border-color: black ;"></b>
    
    <div style="margin-bottom: 2rem;">

        <h3>Analisis historico de ventas {% if datos.graficos %} {{ datos.proyecto.nombre }} {% endif %}</h3>
        <small> Se compara el historico de venta con el estimado de precio de venta</small>

    </div>
    
    <div style="text-align: center;">
        <form method="POST">

            {% csrf_token %}

            <select name="proyecto" class="custom-select" style="width: 15%;">

                {% for i in datos.proyectos %}
                <option value="{{i.id}}">{{i.nombre}}</option>

                {% endfor %}


              </select>
              <div>
                <small> Seleccione el proyecto</small>
              </div>
              

              <div>
                <button class="btn btn-dark" type="submit" style="margin-top: 1%;">Analizar</button>          
            </div>
            
        </form>

        
    </div>

    {% if datos.graficos %}

    <div style="margin-top: 0.5rem; display: inline-block; width: 100%;">

        <div style= "text-align: center;">
            <small><strong>-- Analisis de precios --</strong></small>
        </div>

        <canvas id="myChart" width="400" height="150rem"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: [
                    {% for i in datos.pricing %}
                    '{{i.fecha}}',                   
                    {% endfor %}
                    ],
                datasets: [{
                    label: 'Promedio de la venta',
                    backgroundColor: 'rgb(9, 10, 9)',
                    borderColor: 'rgb(9, 10, 9)',
                    fill: false,
                    showLine: false,
                    data: [
                    {% for i in datos.ventas %}
                    {{i.1|floatformat:0}},                   
                    {% endfor %}
                    ]
                },
                {
                    label: 'Precio minimo',
                    backgroundColor: 'rgb(199, 65, 49)',
                    borderColor: 'rgb(199, 65, 49)',
                    fill: false,
                    data: [
                    {% for i in datos.costo %}
                    {{i|floatformat:0}},                   
                    {% endfor %}
                    ]
                },
                {
                    label: 'Precio Sugerido',
                    backgroundColor: 'rgb(79, 199, 49)',
                    borderColor: 'rgb(79, 199, 49)',
                    fill: false,
                    data: [
                    {% for i in datos.sugerido %}
                    {{i|floatformat:0}},                   
                    {% endfor %}
                    ]
                },
                {
                    
                    label: 'Pricing',
                    backgroundColor: 'rgb(126, 128, 125)',
                    borderColor: 'rgb(126, 128, 125)',
                    fill: false,
                    data: [
                    {% for i in datos.pricing %}
                    {{i.precio_prom_contado|floatformat:0}},                   
                    {% endfor %}
                    ]
                }],

            },

            // Configuration options go here
            options: {}
        });
    </script>


    </div>

    

    <div style="margin-top: 0.5rem; display: inline-block; width: 100%;">
        <div style= "text-align: center;">
            
            <small><strong>-- Analisis de cantidad --</strong></small>
         </div>

        <canvas id="myChart2" width="400" height="100rem"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>
        var ctx = document.getElementById('myChart2').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [{% for i in datos.pricing %}
                    '{{i.fecha}}',                   
                    {% endfor %}],
                datasets: [{
                    label: 'Total de ventas',
                    data: [{% for i in datos.ventas %}
                    {{i.0}},                   
                    {% endfor %}],
                    backgroundColor: 'rgba(72, 110, 195, 0.2)',
                    borderColor: 'rgba(72, 110, 195, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
</script>
    </script>

</div>

    

    <div style="text-align: center ;">

        <div style="margin-top: 0.5rem; width: 20%; display: inline-block; margin-left: 0.5rem;">
            <div style= "text-align: center;">
                
                <small><strong>-- Porcentaje de ganancia: 20%--</strong></small>
             </div>
    
            <canvas id="myChart4" width="40rem" height="40rem"></canvas>
        
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script>
            var ctx = document.getElementById('myChart4').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ["Perfomance"],
                    datasets: [{
                        label: 'Total de ventas',
                        data: [0.2, 0.8],
                        backgroundColor: ['rgba(58, 231, 60 , 0.8)', 'rgba(27, 29, 27 , 0.8)'],
                        borderColor: ['rgba(72, 195, 74 , 1)', 'rgba(27, 29, 27 , 1)'],
                        borderWidth: 1
                        
                    }]
                },
    
            });
    </script>
        </script>
    
    
        </div>

        <div style="margin-top: 0.5rem; width: 20%; display: inline-block; margin-left: 2rem;">
            <div style= "text-align: center;">
                
                <small><strong>-- M2 Vendidos: 80%--</strong></small>
             </div>
    
            <canvas id="myChart3" width="40rem" height="40rem"></canvas>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script>
            var ctx = document.getElementById('myChart3').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ["vendido"],
                    datasets: [{
                        label: 'Total de ventas',
                        data: [0.3, 0.7],
                        backgroundColor: ['rgba(72, 110, 195 , 0.8)', 'rgba(27, 29, 27 , 0.8)'],
                        borderColor: ['rgba(72, 110, 195, 1)', 'rgba(72, 110, 195 , 1)'],
                        borderWidth: 1
                    }]
                },
            });
        </script>
        </script>
    
    
        </div>


    </div>


    {% endif %}

    <div style="text-align: center; margin-top: 2rem;">
        <p> <small>-- Link<strong>P</strong> --</small> </p>

     </div>

                    
</div>
 
    
{% endblock %}