{% extends "users/inicio2.html" %}

{% load static %}
{% load humanize %}

{% block content %}

<div class="container-fluid ">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Panel de control precios</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Panel de presupuestos' %}">Panel</a></li>
                <li class="breadcrumb-item">Precio referencia</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <div class="row d-flex">
                        

                        <div class="col-12 col-lg-8">

                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title font-bold"></span>Precio de referencia</h4>
                                    <div class="scrollbox" style="font-size: 12px; height: 150px; max-height: 150px;">
    
                                        <table class="table">
  
                    
                                            <tbody>
                                                {% for i in datos %}
                                                <tr style="font-size: 14px;">
                                                    <td style="width: 160px;">
                                                        <div class="arrow_box">
                                                            <h5 class="text-light position-relative"
                                                                style="margin-top: 5px; margin-left: 10px;">
                                                                {{i.3.nombre}}
                                                            </h5>
            
                                                        </div>
                                                    </td>
                                                    <td>Min: <b>${{i.0.8|floatformat:2|intcomma}}</b>  / Objetivo: <b>${{i.0.9|floatformat:2|intcomma}}</b> </td>


                                                </tr>
                                                {% endfor %}
      
                                            </tbody>
                                        </table>

                
                
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-4">

                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title font-bold"></span>Actividad</h4>
                                    <ul class="feeds scrollbox" style="font-size: 12px; height: 150px; max-height: 150px;">
                
                                        {% for actividad in actividades %}
                
                                        <li class="bg-proyecto-color">
                                            <div class="justify-content-between align-items-center w-100">
                                                <div class="d-flex text-left">
                                                    <img src="{{actividad.usuario.imagenlogo.url}}" width="25px" height="25px"
                                                        alt="user" class="mr-2"><span class="font-bold">{{actividad.accion}}</span>
                                                </div>
                                                <div><span class="text-muted font-bold" id="{{actividad.id}}"></span</div>>
                                            </div>
                                        </li>
                
                                        {% endfor %}
                
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
    
                    <h4 class="card-title font-bold"></span>Detalle de los calculos</h4>
                
                    <div class="table-responsive">
    
                        <table class="table table-bordered">
                            <thead style="font-size: 14px;">
                    
                                <tr>
                                    <th>Proyecto</th>
                                    <th
                                    data-toggle="tooltip" data-placement="top" title="Costo estimado por área de presupuestos"
                                    >Costo</th>
                                    <th
                                    data-toggle="tooltip" data-placement="top" title="Imprevistos sobre el costo"
                                    >Imp</th>
                                    <th
                                    data-toggle="tooltip" data-placement="top" title="Estimación de IVA a pagar"
                                    >IVA</th>
                                    <th
                                    data-toggle="tooltip" data-placement="top" title="Costo del área administrativa"
                                    >Soft</th>
                                    <th
                                    data-toggle="tooltip" data-placement="top" title="Costo por metros de aporte del terreno"
                                    >Terreno </th>
                                    <th
                                    data-toggle="tooltip" data-placement="top" title="Honorarios de Link como desarrolladora"
                                    >Hon. Link</th>
                                    <th
                                    data-toggle="tooltip" data-placement="top" title="Costo de comercialización"
                                    >Comer.</th>
                                    <th
                                    data-toggle="tooltip" data-placement="top" title="Otros impuestos"
                                    >TEM e IIBB </th>
                                    <th
                                    data-toggle="tooltip" data-placement="top" title="Ganancia solicitada"
                                    >Ganancia </th>
                    
                    
                                </tr>
                            </thead>
                    
                            <tbody>
                    
                                {% for i in datos %}
                                <tr  style="font-size: 12px;">
                                    <td rowspan="2" style="min-width: 130px; text-align: left; vertical-align: top; width: 10%" >
                                        <div class="btn-group ml-auto">
                                            <a href="JavaScript:void(0)" class="icon-options-vertical link" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false"></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="#"  data-toggle="modal" data-target="#Modalprecio{{i.3.id}}"><i
                                                    class="fa fa-pencil-square-o mr-2"></i>Modificar parametros</a>
                                            </div>
                                        </div>
                                        <small
                                        data-toggle="tooltip" data-placement="right" title="Proyecto {{i.3.presupuesto|lower}}"
                                        style="font-size: 12px; color: rgb({{i.3.color}});">{{i.3.nombre}}</small>
                                        <h6 
                                        
                                        data-toggle="tooltip" data-placement="right" title="Valor estimado del departamento"
                                        style="font-size: 12px; margin-top: 15px;">
                                        <i class="fa fa-building mr-2"></i>  ${{i.4|floatformat:2|intcomma}}</h6>
                                    </td>
                                    <div class="modal fade" id="Modalprecio{{i.3.id}}" tabindex="-1" role="dialog" aria-labelledby="Modalprecio{{i.3.id}}" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header" style="background-color: #2a3e52;">
                                                    <h5 class="modal-title text-light" id="exampleModalLongTitle">Modificar parametros</h5>
                                                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="#" method="POST">
                    
                                                        {% csrf_token %}
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <span>Soft</span>
                                                                <div class="mb-3">
                                                                    <input name="soft" type="number" step="any" value="{{i.5.soft}}" class="form-control form-control">
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <span>Iva</span>
                                                                <div class="mb-3">
                                                                    <input name="iva" type="number" step="any" value="{{i.5.iva}}" class="form-control form-control">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <span>Imprevisto</span>
                                                                <div class="mb-3">
                                                                    <input name="imprevisto" type="number" step="any" value="{{i.5.imprevitso}}" class="form-control form-control">
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <span>Terreno</span>
                                                                <div class="mb-3">
                                                                    <input name="terreno" type="number" step="any" value="{{i.5.terreno}}" class="form-control form-control">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <span>Link</span>
                                                                <div class="mb-3">
                                                                    <input name="link" type="number" step="any" value="{{i.5.link}}" class="form-control form-control">
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <span>Comer</span>
                                                                <div class="mb-3">
                                                                    <input name="comer" type="number" step="any" value="{{i.5.comer}}" class="form-control form-control">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <span>Por comer</span>
                                                                <div class="mb-3">
                                                                    <input name="porc_comer" type="number" step="any" value="{{i.5.por_comer}}" class="form-control form-control">
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <span>Tem. iibb</span>
                                                                <div class="mb-3">
                                                                    <input name="temiibb" type="number" step="any" value="{{i.5.tem_iibb}}" class="form-control form-control">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <span>Por temiibb</span>
                                                                <div class="mb-3">
                                                                    <input name="porc_temiibb" type="number" step="any" value="{{i.5.por_temiibb}}" class="form-control form-control">
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <span>Ganancia</span>
                                                                <div class="mb-3">
                                                                    <input name="ganancia" type="number" step="any" value="{{i.5.ganancia}}" class="form-control form-control">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <span>Depto</span>
                                                                <div class="mb-3">
                                                                    <input name="depto" type="number" step="any" value="{{i.5.depto}}" class="form-control form-control">
                                                                </div>
                                                            </div>
                                                            
                                                        </div>
                                                        
                                                        <div>
                                                            <button class="btn btn-info" type="submit" name="id" value="{{i.5.id}}"
                                                                style="margin-top: 10px;">Modificar</button>
                    
                                                        </div>
                                                    </form>
                    
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Cerrar</button>
                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <td>{{0|floatformat:0}}%</td>
                                    <td>{{i.2.0|floatformat:2}}%</td>
                                    <td>{{i.2.1|floatformat:2}}%</td>
                                    <td>{{i.2.2|floatformat:2}}%</td>
                                    <td>{{i.2.6}}m2 ({{i.1.0|floatformat:0}}%)</td>
                                    <td>{{i.2.7}}m2 ({{i.1.1|floatformat:0}}%)</td>
                                    <td>{{i.2.3|floatformat:2}}%</td>
                                    <td>{{i.2.4|floatformat:2}}%</td>
                                    <td>{{i.2.5|floatformat:2}}%</td>
                                
                                </tr>
                                <tr  style="font-size: 12px;">
                                    <td>${{i.0.1|floatformat:2|intcomma}}</td>
                                    <td>${{i.0.2|floatformat:2|intcomma}}</td>
                                    <td>${{i.0.3|floatformat:2|intcomma}}</td>
                                    <td>${{i.0.4|floatformat:2|intcomma}}</td>
                                    <td>${{i.0.5|floatformat:2|intcomma}}</td>
                                    <td>${{i.0.6|floatformat:2|intcomma}}</td>
                                    <td>${{i.0.7|floatformat:2|intcomma}}</td>
                                    <td class="text-danger">${{i.0.8|floatformat:2|intcomma}}</td>
                                    <td class="text-info">${{i.0.9|floatformat:2|intcomma}}</td>
                                </tr>
                            
                    
                                {% endfor %}
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    @keyframes example {
        0% {
            transform: scale(0.9);
        }

        50% {
            transform: scale(1);
        }

        100% {
            transform: scale(0.9);
        }
    }

    #add {
        position: fixed;
        bottom: 90px;
        right: 20px;
        animation: example 1s ease-in-out infinite;
    }

    #add2{
        position: fixed;
        bottom: 40px;
        right: 20px;
        z-index: 10;
    }


    .scrollbox {

        overflow: hidden;
    }

    .scrollbox:hover {
        overflow: auto;
    }

    .scrollbox::-webkit-scrollbar {
        width: 6px;
    }

    .scrollbox::-webkit-scrollbar-thumb {
        background-color: rgb(201, 201, 201);
        border-radius: 100px;
    }


    .arrow_box:hover {
        transform: scaleX(1.07);

    }

    .arrow_box {
        position: absolute;
        transform: scaleX(1);
        transform-origin: left center;
        transition: transform 0.7s;

        background: rgba(139, 63, 220, 0.8);
        width: 130px;
        height: 30px;
        margin-top:-5px;
    }

    .arrow_box:after {
        left: 100%;
        top: 50%;
        border: solid transparent;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(136, 183, 213, 0);

        border-left-color: rgba(139, 63, 220, 0.8);
        border-width: 14px;
        margin-top: -14px;
    }

    .bg-proyecto-color:nth-child(odd) {
        border-bottom: white solid 2px;
        background-color: rgba(160, 160, 160, 0.25);
    }

    .bg-proyecto-color:nth-child(even) {
        border-bottom: white solid 2px;
        background-color: rgba(160, 160, 160, 0.1);
    }
    tbody {
        font-weight: 450;
    }
</style>

    
{% endblock %}