{% extends "users/inicio.html" %}

{% load static %}

{% block content %}

<div class = "jumbotron" style="background-color: white; margin-bottom: 0px;">

    <h3 style="text-align: center; color: #138D75;">Parametros de los indicadores</h3>
     <b><hr class = "my-4" style="width: 75%; border-color: #138D75 ;"></b>
     
     <b><hr class = "my-4" style="width: 100%; border-color:#138D75 ;"></b>
    
    {% if datos %} 

    <table class = "table table-hover" style="text-align: center;">
        <thead>

            <tr class = "table-success">
                <th scope = "row"> <font style = "vertical-align: heredar;"> PROYECTO</font></th>
                <th scope = "row"> <font style = "vertical-align: heredar;"> DESCUENTO "PL"</font></th>
                <th scope = "row"> <font style = "vertical-align: heredar;"> SOFT + IVA </font></th>
                <th scope = "row"> <font style = "vertical-align: heredar;"> IMPREVISTO </font></th>
                <th scope = "row"> <font style = "vertical-align: heredar;"> HON. TERRENO </font></th>
                <th scope = "row"> <font style = "vertical-align: heredar;"> HON. LINK </font></th>
                <th scope = "row"> <font style = "vertical-align: heredar;"> COMER </font></th>
                <th scope = "row"> <font style = "vertical-align: heredar;"> TEM e IIBB </font></th>
                <th scope = "row"> <font style = "vertical-align: heredar;"> GANANCIA </font></th>


            </tr>
        </thead>

        <tbody>

            

            {% for i in datos %}
            <tr class = "table-light">
                <td> <b>{{i.0.proyecto}}</b> </td>
                <td>{{i.0.tasa_des_p}}</td>
                <td>{{i.0.soft}}</td>
                <td>{{i.0.imprevitso}}</td>
                <td>{{i.0.terreno }} m2 - <b>{{i.1|floatformat:0}}%</b></td>
                <td>{{i.0.link}} m2 - <b>{{i.2|floatformat:0}}%</b></td>
                <td>{{i.0.comer}}</td>
                <td>{{i.0.tem_iibb}}</td>
                <td>{{i.0.ganancia}}</td>


                </td>
                
            
            </tr>
        </tbody>

            {% endfor %}

     {% else %}
            <div style="text-align: center;">
                <h3>No existe registros actualmente</h3>
            </div>
            

    {% endif %}
        

    </table>

                    
</div>
 
    
{% endblock %}