{% extends "users/inicio2.html" %}

{% load static %}
{% load humanize %}

{% block content %}


<div class="container-fluid ">

    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Parametros del modelo</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Panel de presupuestos' %}">Panel</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Indicador de precios' %}">Indicador</a></li>
                <li class="breadcrumb-item">Parametros</li>
            </ol>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Parametros del modelo
                </h4>
                <h6 class="card-subtitle">
                    Base para el indicador de precio
                </h6>

    {% if datos %} 

    <table class="table table-bordered" style="text-align: center;">
        <thead style="font-size: 14px;">

            <tr>
                <th scope = "row" style="vertical-align: middle;"> <span  class="hint--top hint--danger" aria-label= "Valor de reposición del proyecto neto">Proyecto</span> </th>
                <th scope = "row" style="vertical-align: middle;"> Costo </th>
                <th scope = "row" style="vertical-align: middle;"> Soft + IVA </th>
                <th scope = "row" style="vertical-align: middle;"> <span  class="hint--top hint--danger" aria-label= "Se aplica sobre el valor son softcost e iva">Imprevisto</span>  </th>
                <th scope = "row" style="vertical-align: middle;"> Terreno </th>
                <th scope = "row" style="vertical-align: middle;"> Hon. Link</th>
                <th scope = "row" style="vertical-align: middle;"> Comer.</th>
                <th scope = "row" style="vertical-align: middle;"> TEM e IIBB </th>
                <th scope = "row" style="vertical-align: middle;"> Tasa Desc.</th>
                <th scope = "row" style="vertical-align: middle;"> Ganancia </th>


            </tr>
        </thead>

        <tbody>

            {% for i in datos %}
            <tr  style="font-size: 14px;">
                <td rowspan="2" style="vertical-align: middle; width: 10%" >
                    
                    <img src="{{i0.0.proyecto.iamgen.url}}"  class="img-fluid" alt="..." style="max-width: 80px; height:auto;">

                    <div>
                        <small style="color: rgb({{i.0.proyecto.color}});"><b>{{i.0.proyecto}}</b></small>
                    </div>
                
                
                </td>
                <td>{{i.3|floatformat:0}}%</td>
                <td>{{i.4|floatformat:0}}%</td>
                <td>{{i.5|floatformat:0}}%</td>
                <td>{{i.0.terreno }} m2
                    <h6 class="card-subtitle" style="font-size: 12px; margin-top: 2px;"><span class="text-muted">{{i.1|floatformat:0}}%</span></h6></td>
                <td>{{i.0.link}} m2
                    <h6 class="card-subtitle" style="font-size: 12px; margin-top: 2px;"><span class="text-muted">{{i.2|floatformat:0}}%</span></h6></td>
                <td>{{i.6|floatformat:2}}%</td>
                <td>{{i.7|floatformat:2}}%</td>
                <td>{{i.17|floatformat:2}}% ({{i.19|floatformat:0|intcomma}})</td>
                <td> <strong>{{i.8|floatformat:0}}%</strong> </td>
            
            </tr>
            <tr  style="font-size: 14px;">
                <td>$ {{i.9|floatformat:0|intcomma}}</td>
                <td>$ {{i.10|floatformat:0|intcomma}}</td>
                <td>$ {{i.11|floatformat:0|intcomma}}</td>
                <td>$ {{i.12|floatformat:0|intcomma}}</td>
                <td>$ {{i.13|floatformat:0|intcomma}}</td>
                <td>$ {{i.14|floatformat:0|intcomma}}</td>
                <td>$ {{i.15|floatformat:0|intcomma}}</td>
                <td>$ {{i.18|floatformat:0|intcomma}}</td>
                <td>$ {{i.16|floatformat:0|intcomma}}</td>
            </tr>
        

            {% endfor %}
        </tbody>
        </table>
        <b><hr class = "my-4" style="width: 100%;"></b>


        <p><small>SOFT + IVA/TEM e IIBB: Aquellos costos calculados por el área administrastiva o costos impositivos</small></p>
        <p><small>TERRENO/HON. LINK: Aquellos m2 destinados a pagar la adquisición del terreno o los servicios de la desarrolladora</small></p>
        <p><small>COMER: Hace referencia a los honorarios pagados a la comercializadora</small></p>
        <p><small>GANANCIA: Es el margen de ganancia que asume el inversor por el riesgo que se adquiere al invertir en el proyecto</small></p>
     
        {% else %}
            <div style="text-align: center;">
                <h3>No existe registros actualmente</h3>
            </div>
            

    {% endif %}

            </div>
        </div>
     </div>
    </div>               
</div>
 
    
{% endblock %}