{% extends "users/inicio2.html" %}
{% load static %}
{% load humanize %}
{% load apptags_extras %}
{% block content %}

<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">{{caja.usuario.identificacion}}, {{caja.nombre}}</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Registro Contable Home' %}">Chanchito</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Registro Contable Cajas' %}">Cajas</a></li>
                <li class="breadcrumb-item">Caja</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <div class="d-flex justify-content-center text-center shadow-sm mb-5">

                        <div class="row col-12 col-lg-12 show-grid m-3">
                            <div class="col-md-4 col-4 font-bold"><i class="fa fa-plus"></i> Ingresos <b class="text-success ml-2">${{ingresos|floatformat:2|intcomma}}</b></div>
                            <div class="col-md-4 col-4  font-bold"><i class="fa fa-inbox"></i> Saldo: <b class="text-info ml-2">${{saldo|floatformat:2|intcomma}}</b></div>
                            <div class="col-md-4 col-4  font-bold"><i class="fa fa fa-credit-card-alt"></i> Gastos <b class="text-danger ml-2">${{gastos|floatformat:2|intcomma}}</b></div>
                        </div>

                    </div>
                    

                        <div class="col-12 col-md-12 col-lg-12 justify-content-center">
                            <div class="d-flex justify-content-end">
                                

                                <div id="ModalCuenta1" class="modal fade" tabindex="-1" role="dialog"
                                        aria-labelledby="ModalCuenta1" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header" style="background-color: #2a3e52;">
                                                    <h5 class="modal-title  text-light" id="exampleModalLongTitle">Cargar un elemento</h5>
                                                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="tab-content">
                                                        
                                                        
                                                        <form method="POST"
                                                            enctype="multipart/form-data" id="upload-image-form">
    
                                                            {% csrf_token %}
                                                            <div class="row">
                                                                <div class="col-6">
    
                                                                    <h6>Fecha</h6>
            
                                                                    <div class="input-group mb-3">
            
                                                                        <input name="fecha" type="date"
                                                                            class="form-control form-control" style="width: 300px;">
                                                                    </div>
                                                                </div>
                                                                <div class="col-6">
                                                                    <h6>Cuenta</h6>
            
                                                                    <div class="input-group mb-3">
            
                                                                        <input name="cuenta" type="search" class="form-control form-control"
                                                                        placeholder="Efectivo" list="provee">
            
                                                                    </div>
    
                                                                </div>
                                                            </div>
    
                                                            <div class="row">
                                                                <div class="col-6">
    
                                                                    <h6>Categoría</h6>
            
                                                                    <div class="input-group mb-3">
            
                                                                        <input name="categoria" type="search" class="form-control form-control"
                                                                        placeholder="Sueldo" list="list_cat_ing">
            
                                                                    </div>
                                                                </div>
                                                                <div class="col-6">
                                                                    <h6>Importe</h6>
            
                                                                    <div class="input-group mb-3">
            
                                                                        <input name="importe" type="number"
                                                                            class="form-control form-control border border-success"
                                                                            style="width: 300px;">
                                                                    </div>
    
                                                                </div>
                                                            </div>
    
    
                                                            <h6>Nota</h6>
    
                                                            <div class="input-group mb-3">
    
                                                                <input name="nota" type="text"
                                                                    class="form-control form-control" style="width: 300px;">
                                                            </div>
    
                                                            <div>
                                                                <label for="adjunto">
                                                                    <h6>Adjunto</h6>
                                                                </label>
                                                            </div>
                                                            <div class="row d-flex justify-content-center my-3">
                                                                <div class="col col-md-8 col-lg-8">
                                                                    
                                                                    <input type="file" class="form-control-file" name="adjunto"
                                                                    aria-describedby="fileHelp">
                                                                    
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                
                                                                <h6>Tipo</h6>
                                                                <div class="col-6 text-end text-success">
                                                                    <input type="radio" name="tipo" id="ingresos" value="INGRESOS" checked>
                                                                    <label for="ingresos">INGRESOS</label>
                                                                </div>
                                                                <div class="col-6 text-danger">
                                                                    <input type="radio" name="tipo" id="gastos" value="GASTOS">
                                                                    <label for="gastos">GASTOS</label>
                                                                </div>
                                                            </div>

                                                            <hr>

                                                            <div class="mt-2" style="text-align: center;">
                                                                <button type="submit" class="btn btn-circle btn-success fa fa-cloud-upload" ></button>
                                                            </div>
    
                                                            
    
    
                                                        </form>
    
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
    
                                <div class="btn-group">
                                    <button type="button" class="btn btn-secondary btn-rounded dropdown-toggle ml-2"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="myFunction()">
                                        Tipo
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{% url 'Registro Contable Caja' caja.id 0 mes year %}">General</a>
                                        <a class="dropdown-item" href="{% url 'Registro Contable Caja' caja.id 2 mes year %}">Gastos</a>
                                        <a class="dropdown-item" href="{% url 'Registro Contable Caja' caja.id 1 mes year %}">Ingresos</a>
    
                
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-secondary btn-rounded  dropdown-toggle ml-2"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="myFunction()">
                                        Mes
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{% url 'Registro Contable Caja' caja.id estado 0 year %}">Todos</a>
                                       <a class="dropdown-item" href="{% url 'Registro Contable Caja' caja.id estado 1 year %}">Enero</a>
                                       <a class="dropdown-item" href="{% url 'Registro Contable Caja' caja.id estado 2 year %}">Febrero</a>
                                       <a class="dropdown-item" href="{% url 'Registro Contable Caja' caja.id estado 3 year %}">Marzo</a>
                                       <a class="dropdown-item" href="{% url 'Registro Contable Caja' caja.id estado 4 year %}">Abril</a>
                                       <a class="dropdown-item" href="{% url 'Registro Contable Caja' caja.id estado 5 year %}">Mayo</a>
                                       <a class="dropdown-item" href="{% url 'Registro Contable Caja' caja.id estado 6 year %}">Junio</a>
                                       <a class="dropdown-item" href="{% url 'Registro Contable Caja' caja.id estado 7 year %}">Julio</a>
                                       <a class="dropdown-item" href="{% url 'Registro Contable Caja' caja.id estado 8 year %}">Agosto</a>
                                       <a class="dropdown-item" href="{% url 'Registro Contable Caja' caja.id estado 9 year %}">Septiembre</a>
                                       <a class="dropdown-item" href="{% url 'Registro Contable Caja' caja.id estado 10 year %}">Octubre</a>
                                       <a class="dropdown-item" href="{% url 'Registro Contable Caja' caja.id estado 11 year %}">Noviembre</a>
                                        <a class="dropdown-item" href="{% url 'Registro Contable Caja' caja.id estado 12 year %}">Diciembre</a>
           
                                    </div>
             
                                </div>
                                <div class="btn-group">                                
                                    <button type="button" class="btn btn-secondary btn-rounded  dropdown-toggle ml-2"
                                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="myFunction()">
                                           Año
                                       </button>
                                       <div class="dropdown-menu">
                                         {% for i in list_year %}
                                           <a class="dropdown-item" href="{% url 'Registro Contable Caja' caja.id estado mes i %}">{{i}}</a>
                                            {% endfor %}           
                                        </div>
                    
                                        </div>
    
     
                                </div>
                            </div>
    
                            <div class="table-responsive mt-2">

                                
                                <table id="example1" class="table" style="width:100%; font-size: 14px;">
                                    
                                    <thead style="font-size: 12px;">
                                        <tr>
                                            <th>Cargo</th>
                                            <th>Dia</th>
                                            <th>Movimiento</th>
                                            <th>Importe</th>
                                            <th>Saldo</th>
                                            <th>USD</th>
                                        </tr>
                                    </thead>
        
                                    <tbody style="font-size: 12px; font-weight: 350;">
                                        {% for i in data %}
                                        <tr>
                                            <td><img class="mr-2"
                                                data-toggle="tooltip" data-placement="top" title="{{i.creador}}"
                                                src="{% usuario i.creador %}" alt="usuario"
                                                style="max-width:30px; height:auto;"></td>
        
                                            
                                                <td>{{i.fecha|date:"Y/m/d"}}</td>
                                            
                                            
                                            <!-- Modal  -->
                                            <div id="Modal{{i.id}}" class="modal fade" tabindex="-1" role="dialog"
                                            aria-labelledby="Modal{{i.id}}" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header"
                                                        style="background-color: #2a3e52;">
                                                        <h5 class="modal-title  text-light"
                                                            id="exampleModalLongTitle">Editar</h5>
                                                        <button type="button" class="close text-light"
                                                            data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
    
                                                        <form method="POST" style="margin: 15px;"
                                                            enctype="multipart/form-data" id="upload-image-form">
    
                                                            {% csrf_token %}
                                                            <div class="row">
                                                                <div class="col-6">
                                                                    <h6>Fecha</h6>
                                                                    <div class="input-group mb-3">
                                                                        
                                                                        <input name="fecha" type="date"
                                                                        class="form-control form-control"
                                                                        style="width: 300px;" value="{{i.fecha|date:'Y-m-d'}}">
                                                                    </div>
                                                                </div>
                                                                
                                                                <div class="col-6">
                                                                    <h6>Cargó</h6>
                                                                    <div class="input-group mb-3">
                                                                        
                                                                        <input name="cargo" type="search"
                                                                        class="form-control form-control"
                                                                        value="{{i.creador}}">
                                                                        
                                                                    </div>
                                                                </div>
                                                            </div>
    
                                                            <div class="row">
                                                                <div class="col-6">
    
                                                                    <h6>Caja</h6>
    
                                                                    <div class="input-group mb-3">
    
                                                                        <input name="caja" type="text"
                                                                            class="form-control form-control"
                                                                            value="{{i.caja}}">
    
                                                                    </div>
                                                                </div>
                                                                <div class="col-6">
                                                                    <h6>Cuenta</h6>
                                                                    <div class="input-group mb-3">
    
                                                                        <input name="cuenta" type="search"
                                                                            class="form-control form-control"
                                                                            value="{{i.cuenta}}">
    
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-6">
                                                                    <h6>Categoria</h6>
    
                                                                    <div class="input-group mb-3">
    
                                                                        <input name="categoria" type="search"
                                                                            class="form-control form-control"
                                                                            value="{{i.categoria}}">
    
                                                                    </div>
                                                                </div>
                                                                <div class="col-6">
                                                                    <h6>Importe</h6>
    
                                                                    <div class="input-group mb-3">
    
                                                                        <input name="importe" type="number"
                                                                            class="form-control form-control border border-success"
                                                                            style="width: 300px;"
                                                                            value="{{i.importe}}">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                          
                                                           
                                                            
                                                            <h6>Nota</h6>
    
                                                            <div class="input-group mb-3">
    
                                                                <input name="nota" type="text"
                                                                    class="form-control form-control"
                                                                    style="width: 300px;"
                                                                    value="{{i.nota}}">
                                                            </div>
                                                            <div>
                                                                <label for="adjunto">
                                                                    <h6>Adjunto</h6>
                                                                </label>
                                                            </div>
                                                            <div class="row d-flex justify-content-center my-3">
                                                                <div class="col col-md-8 col-lg-8">
                    
                                                                    <input type="file" class="form-control-file" name="adjunto"
                                                                        aria-describedby="fileHelp">
                    
                                                                </div>
                                                            </div>
    
                                                            <hr>
    
                                                            <div class="mt-2" style="text-align: center;">
    
                                                                <button type="submit" name="editar" value="{{i.id}}" class="btn btn-success btn-circle fa fa-cloud-upload"></button>
    
                                                                <button type="submit" name="borrar" value="{{i.id}}" class="btn btn-danger btn-circle fa fa-trash"></button>
    
    
                                                            </div>
    
                                                            
                                                        </form>
    
    
                                                    </div>
    
                                                </div>
                                            </div>
                                            </div>
                                            
                                            
                                            
                                            <td> <div class="d-flex" style="min-width: 250px;"><b class="mr-2">Categoria: </b> {{i.categoria}} / <b class="mr-2 ml-1">Cuenta: </b> {{i.cuenta}} </div> 
                                                <div class="mt-1"><a href="#" data-toggle="modal" data-target="#Modal{{i.id}}"><b class="mr-2">Descripción: </b>{{i.nota}}</a></div> </td>
                                            
                                            
                                            

                                            
                                            <td class="{% if i.estado == 'INGRESOS' %} {% else %} text-danger {% endif %}" style="min-width: 100px;">
                                                ${% if i.estado != 'INGRESOS' %} - {% endif %}{{i.importe|floatformat:2|intcomma}}</td>


                                            <td style="min-width: 100px;">$ {% chanchito_caja_consolidado_a_fecha i.id %}</td>

                                            
                                            <td class="{% if i.estado == 'INGRESOS' %} {% else %} text-danger {% endif %}" style="min-width: 100px;">
                                                    {% if i.estado != 'INGRESOS' %} - {% endif %}{{i.importe_usd|floatformat:2|intcomma}} USD</td>
                                                  
                                        
                                        </tr>
        
                                        {% endfor %}
        
                                    </tbody>
                                    

                                </table>
                            </div>
                        </div>
                        
                </div>
            </div>
        </div>
</div>

<a id="add" href="#" data-toggle="modal" data-target="#ModalCuenta1" class="btn btn-info btn-circle">
    <i class="fa fa-plus" data-toggle="tooltip" data-placement="left" title="Agregar un registro"></i>
</a>

<style>


    #add{
        position: fixed;
        bottom: 40px;
        right: 20px;
        z-index: 10;
    }

</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script>

    $(document).ready(function () {
        $('#example1').DataTable({
            "language": {
            "lengthMenu": "Mostar _MENU_ documentos",
            "zeroRecords": "No se encontro nada - perdon ",
            "info": "Pagina _PAGE_ de _PAGES_",
            "infoEmpty": "Sin registros disponibles",
            "infoFiltered": "(filtrado de _MAX_ registros totales)",
            "search": "Buscar"
        },
            "order": [[0, "desc"]],

            dom: 'Bfrtip',
            buttons: [
                {
                    footer: true,
                    extend: 'excelHtml5',
                    title: '{{caja}}',
                    className: "btn btn-info",

                init: function(api, node, config) {
                    $(node).removeClass('dt-button buttons-excel buttons-html5')
                    }
                },
            ]
        });
    });
</script>

<style>
    #img-tarjeta:hover{
        transform: scale(1.07);
        box-shadow: 2px 4px 4px 1px rgba(0, 0, 0, 0.1)
    }

</style>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if mensaje %}
<script>

    const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 5000,
        timerProgressBar: true,
        didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
    })

    Toast.fire({
        icon: 'success',
        title: '{{mensaje}}'
    })

</script>

{% endif %}


{% endblock %}