{% extends "users/inicio2.html" %}
{% load static %}
{% load humanize %}
{% load apptags_extras %}
{% block content %}

<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Administración de cajas</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Registro Contable Home' %}">Chanchito</a></li>
                <li class="breadcrumb-item">Cajas</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
    
                    <div class="d-flex align-items-center">
                        <div>
    
                            <h4 class="card-title"><span class="lstick m-r-20"></span>Cajas disponibles</h4>
                            <h6 class="card-subtitle"></span>Administración general de las cajas que colaboras</h6>
                        </div>
                        <div class="btn-group ml-auto">
                            <a href="JavaScript:void(0)" class="icon-options-vertical link" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#ModalCargaMasiva"><i
                                        class="fa fa-plus-circle mr-2"></i>Añadir desde tango</a>
                                <a class="dropdown-item" href="{% url 'Registro Contable Reporte' %}" ><i
                                    class="fa fa-file-text mr-2"></i>Reporte ingresos</a>
                                    <form method="POST">{% csrf_token %} 
                                    <button class="dropdown-item" type="submit" name="actualizar_cajas" value="1" ><i
                                        class="fa fa-refresh mr-2"></i>Actualizar cajas derivadas</button></form>
    
    
                            </div>
                        </div>
                    </div>
    
                    <!-- Modal archivo -->
    
                    <div class="modal fade" id="ModalCargaMasiva" tabindex="-1" role="dialog"
                        aria-labelledby="ModalCargaMasivaTittle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header"
                                    style="background-color: #2a3e52;">
                                    <h5 class="modal-title text-light" id="exampleModalLongTitle">Cargar archivo</h5>
                                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
    
                                    <form method="POST" style="margin: 15px;" enctype="multipart/form-data"
                                        id="upload-image-form">
    
                                        {% csrf_token %}
    
    
                                        <h6>Archivo</h6>
    
                                        <div class="input-group mb-3">
    
                                            <input name="archivo" type="file" class="form-control form-control"
                                                style="width: 300px;">
                                        </div>
    
                                        <button type="submit" name="carga_archivo" value="1" class="btn">
                                            <i class="fa fa-cloud-upload text-info"></i><span
                                                class="text-info ml-2">Cargar</span></button>
    
                                        {{ form.as_p }}
    
                                    </form>
    
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
    
                                </div>
                            </div>
                        </div>
    
                    </div>
                    <hr>
                    <div class="row d-flex justify-content-center ">
    
                        {% for i in total_cajas %}
    
                        <div class="col-6 col-md-4 col-lg-3 col-xlg-3">
                            <div class="card" id="img-tarjeta">
                                <div class="card-body border-bottom border-2  {% if i.3 < 0 %} border-danger {% else %} border-success {% endif %} text-center rounded-3" style="background-color: #2a3e52;">
                                    <div class="d-flex justify-content-between">
    
                                        <div>
                                            <h6 class="text-light"><img class="mr-2" 
                                            {% if user.imagenlogo is None %}
                                            src=""
                                            {% else %}
                                            src="{{user.imagenlogo.url}}"
                                            {% endif %}
                                                 alt="usuario"
                                                    style="max-width:30px; height:auto;"> {{i.0}} </h6>
                                                    
                                            
                                        </div>
                                        <div class="btn-group mt-1">
                                            <a href="JavaScript:void(0)" class="icon-options-vertical link text-light"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="#" class="dropdown-item" data-toggle="modal"
                                                    data-target="#ModalBorrarTodo{{user.username}}{{i.0|cut:' '|cut:'.'}}"><i class="fa fa-trash-o mr-2"></i>Borrar</a>
                                                <a href="#" class="dropdown-item text-danger" data-toggle="modal"
                                                    data-target="#ModalBorrar{{user.username}}{{i.0|cut:' '|cut:'.'}}"><i class="fa fa-trash-o mr-2"></i>Borrar todo</a>
                                            </div>
                                        </div>
    
                                    </div>

                                    <div class="row d-flex justify-content-left ">

                                        
                                        <div>
                                            <span class="label font-bold text-success label-rounded">INGRESOS: ${{i.1|floatformat:0|intcomma}}</span>
                                        </div>
                                        <div class="mt-1">
                                            <span class="label font-bold text-danger label-rounded">GASTOS: ${{i.2|floatformat:0|intcomma}}</span>
                                        </div>
                                        <div class="mt-1">
                                            <span class="label font-bold text-info label-rounded">SALDO: ${{i.3|floatformat:0|intcomma}}</span>
                                        </div>

                                    </div>
                                    
                                    <div class="row d-flex justify-content-center mt-2">


                                        <a class="mt-1" href="{% url 'Registro Contable Caja' i.0 user.identificacion 0 0 0 %}"><button class="btn btn-sm btn-outline-light text-secondary btn-circle fa fa-lg fa-inbox" data-toggle="tooltip" data-placement="bottom" title="Explorar caja"></button></a>
                                            
                                            
                    
    
                                    </div>

                                    <a href="#"data-toggle="modal" data-target="#ModalCajas{{user.username}}{{i.0|cut:' '|cut:'.'}}"  class="bg-primary plus-hover quarter-circle-bottom-right"style="position: absolute; bottom: 3px; right:3px"><i class="fa fa-plus text-light" style="margin-top: 8px; margin-left: 10px;"></i></a>
                                </div>
                            </div>
                        </div>
    
                        <div class="modal fade" id="ModalCajas{{user.username}}{{i.0|cut:' '|cut:'.'}}" tabindex="-1" role="dialog" aria-labelledby="ModalCajas" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header" style="background-color: #2a3e52;">
                                  <h5 class="modal-title text-light" id="exampleModalLongTitle">Detalle de la caja {{i.0}}</h5>
                                  <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <h4>Registros dolarizados</h4>
                                            <div class="mx-4 rounded-circle border {% if i.10 == 100 %} border-success {% else %} border-danger {% endif %} d-flex align-items-center justify-content-center" style="height: 160px; width: 160px;">
                                            <h1 class="text-center">{{i.9|floatformat:0}}%</h1>
                                            </div>
    
                                        </div>
                                        
                                        <div class="col-6">
    
                                            <h4>Detalles</h4>
                                          
                                            <div class="mt-1">
                                            <h5>Balance</h5>
                                            <small class="text-subtitule ml-1 text-info">${{i.3|floatformat:2|intcomma}} / {{i.8|floatformat:2|intcomma}} USD</small>
                                          </div>
                                          <div class="mt-2">
                                            <h5 class="text-subtitule ml-1">Gastos:</h5>
                                            <small class="text-subtitule ml-3 text-danger">${{i.2|floatformat:2|intcomma}} / {{i.7|floatformat:2|intcomma}} USD</small>
                                            <h5 class="text-subtitule ml-1 mt-1">Ingresos:</h5>
                                            <small class="text-subtitule ml-3 text-success">${{i.1|floatformat:2|intcomma}} / {{i.6|floatformat:2|intcomma}} USD</small>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                </div>
                              </div>
                            </div>
                          </div>
                    
                        <div class="modal fade" id="ModalBorrar{{user.username}}{{i.0|cut:' '|cut:'.'}}" tabindex="-1" role="dialog"
                            aria-labelledby="ModalBorrar{{i.0|cut:' '}}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header"
                                        style="background-color: #2a3e52;">
                                        <h5 class="modal-title text-light" id="exampleModalLongTitle">Borrar caja {{i.0}}</h5>
                                        <button type="button" class="close text-light" data-dismiss="modal"
                                            aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST">
    
                                            {% csrf_token %}
    
                                            <p class="my-2">¿Está seguro que desea borrar? Esta acción podria
                                                dañar
                                                muchas cosas.</p>
    
                                            <div>
                                                <button class="btn btn-danger" type="submit" name="borrar"
                                                    value="{{i.0}}&{{user.identificacion}}" style="margin-top: 10px;">Borrar</button>
    
                                            </div>
                                        </form>
    
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-info"
                                            data-dismiss="modal">Cerrar</button>
    
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="modal fade" id="ModalBorrarTodo{{user.username}}{{i.0|cut:' '|cut:'.'}}" tabindex="-1" role="dialog"
                            aria-labelledby="ModalBorrar{{i.0|cut:' '}}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header"
                                        style="background-color: #2a3e52;">
                                        <h5 class="modal-title text-light" id="exampleModalLongTitle">Borrar caja {{i.0}} según fechas</h5>
                                        <button type="button" class="close text-light" data-dismiss="modal"
                                            aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST">
    
                                            {% csrf_token %}
    
                                            <label for="fecha_desde">
                                                <h6>Fecha desde</h6>
                                            </label>
    
                                            <input name="fecha_desde" type="date"
                                                class="form-control form-control"  min="2008-01-01">
    
                                            <label for="fecha_hasta" class="mt-4">
                                                <h6>Fecha hasta</h6>
                                            </label>
    
                                            <input name="fecha_hasta" type="date"
                                                class="form-control form-control"  min="2008-01-01">
    
    
    
                                            <div>
                                                <button class="btn btn-danger" type="submit" name="borrar_selec"
                                                    value="{{i.0}}&{{user.identificacion}}" style="margin-top: 10px;">Borrar</button>
    
                                            </div>
                                        </form>
    
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-info"
                                            data-dismiss="modal">Cerrar</button>
    
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
    
                        {% for i in cajas_administras %}
                          
                        <div class="col-6 col-md-4 col-lg-3 col-xlg-3">
                            <div class="card" id="img-tarjeta">
                                <div class="card-body bg-light border-bottom border-2  {% if i.3 < 0 %} border-danger {% else %} border-success {% endif %} text-center rounded-3">
    
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <h6 class="text-dark"><img class="mr-2"           
                                                {% if user.imagenlogo is None %}
                                                    src=""
                                                {% else %}
                                                    src="{{user.imagenlogo.url}}"
                                                {% endif %} alt=""
                                                    style="max-width:30px; height:auto; margin: 5px;"> {{i.0}}</h6>
                                        </div>
                                        <div class="btn-group mt-1">
                                            <a href="JavaScript:void(0)" class="icon-options-vertical link"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="#" class="dropdown-item" data-toggle="modal"
                                                    data-target="#ModalBorrarTodo{{i.4.id}}{{i.0|cut:' '|cut:'.'}}"><i class="fa fa-trash-o mr-2"></i>Borrar</a>
                                                <a href="#" class="dropdown-item text-danger" data-toggle="modal"
                                                    data-target="#ModalBorrar{{i.4.id}}{{i.0|cut:' '|cut:'.'}}"><i class="fa fa-trash-o mr-2"></i>Borrar todo</a>
                                            </div>
                                        </div>
    
                                    </div>

                                    <div class="row d-flex justify-content-left ">

                                        
                                        <div>
                                            <span class="label font-bold text-success label-rounded">INGRESOS: ${{i.1|floatformat:0|intcomma}}</span>
                                        </div>
                                        <div class="mt-1">
                                            <span class="label font-bold text-danger label-rounded">GASTOS: ${{i.2|floatformat:0|intcomma}}</span>
                                        </div>
                                        <div class="mt-1">
                                            <span class="label font-bold text-info label-rounded">SALDO: ${{i.3|floatformat:0|intcomma}}</span>
                                        </div>

                                    </div>
                                    
                                    <div class="row d-flex justify-content-center mt-2">


                                        <a class="mt-1" href="{% url 'Registro Contable Caja' i.0 i.4.identificacion 0 0 0 %}"><button class="btn btn-sm btn-secondary text-secondary btn-circle fa fa-lg fa-inbox" data-toggle="tooltip" data-placement="bottom" title="Explorar caja"></button></a>
                                            
                                    </div>

                                    <a  href="#"data-toggle="modal" data-target="#ModalCajas{{i.4.id}}{{i.0|cut:' '|cut:'.'}}"  class="bg-secondary plus-hover quarter-circle-bottom-right"style="position: absolute; bottom: 3px; right:3px"><i class="fa fa-plus text-light" style="margin-top: 8px; margin-left: 10px;"></i></a>
                                </div>
                            </div>
                        </div>

                        <!-- Modal exploratorio -->

                        <div class="modal fade" id="ModalCajas{{i.4.id}}{{i.0|cut:' '|cut:'.'}}" tabindex="-1" role="dialog" aria-labelledby="ModalCajas" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header" style="background-color: #2a3e52;">
                                  <h5 class="modal-title text-light" id="exampleModalLongTitle">Detalle de la caja {{i.0}}</h5>
                                  <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <div class="row">
                                    <div class="col-6">
                                        <h4>Registros dolarizados</h4>
                                        <div class="mx-4 rounded-circle border {% if i.10 == 100 %} border-success {% else %} border-danger {% endif %} d-flex align-items-center justify-content-center" style="height: 160px; width: 160px;">
                                        <h1 class="text-center">{{i.10|floatformat:0}}%</h1>
                                        </div>

                                    </div>
                                    
                                    <div class="col-6">

                                        <h4>Detalles</h4>
                                      
                                        <div class="mt-1">
                                        <h5>Balance</h5>
                                        <small class="text-subtitule ml-1 text-info">${{i.3|floatformat:2|intcomma}} / {{i.9|floatformat:2|intcomma}} USD</small>
                                      </div>
                                      <div class="mt-2">
                                        <h5 class="text-subtitule ml-1">Gastos:</h5>
                                        <small class="text-subtitule ml-3 text-danger">${{i.2|floatformat:2|intcomma}} / {{i.8|floatformat:2|intcomma}} USD</small>
                                        <h5 class="text-subtitule ml-1 mt-1">Ingresos:</h5>
                                        <small class="text-subtitule ml-3 text-success">${{i.1|floatformat:2|intcomma}} / {{i.7|floatformat:2|intcomma}} USD</small>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                </div>
                              </div>
                            </div>
                          </div>
    
                        <div class="modal fade" id="ModalBorrar{{i.4.id}}{{i.0|cut:' '|cut:'.'}}" tabindex="-1" role="dialog"
                                    aria-labelledby="ModalBorrar{{i.0|cut:' '}}" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header"
                                                style="background-color: #2a3e52;">
                                                <h5 class="modal-title text-light" id="exampleModalLongTitle">Borrar {{i.0}}</h5>
                                                <button type="button" class="close text-light" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form method="POST">
    
                                                    {% csrf_token %}
    
                                                    <p class="my-2">¿Está seguro que desea borrar? Esta acción podria
                                                        dañar
                                                        muchas cosas.</p>
    
                                                    <div>
                                                        <button class="btn btn-danger" type="submit" name="borrar"
                                                            value="{{i.0}}&{{i.4.identificacion}}" style="margin-top: 10px;">Borrar</button>
    
                                                    </div>
                                                </form>
    
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-info"
                                                    data-dismiss="modal">Cerrar</button>
    
                                            </div>
                                        </div>
                                    </div>
                            </div>

                        <div class="modal fade" id="ModalBorrarTodo{{i.4.id}}{{i.0|cut:' '|cut:'.'}}" tabindex="-1" role="dialog"
                            aria-labelledby="ModalBorrar{{i.0|cut:' '}}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header"
                                        style="background-color: #2a3e52;">
                                        <h5 class="modal-title text-light" id="exampleModalLongTitle">Borrar caja {{i.0}} según fechas</h5>
                                        <button type="button" class="close text-light" data-dismiss="modal"
                                            aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST">
    
                                            {% csrf_token %}
    
                                            <label for="fecha_desde">
                                                <h6>Fecha desde</h6>
                                            </label>
    
                                            <input name="fecha_desde" type="date"
                                                class="form-control form-control"  min="2008-01-01">
    
                                            <label for="fecha_hasta" class="mt-4">
                                                <h6>Fecha hasta</h6>
                                            </label>
    
                                            <input name="fecha_hasta" type="date"
                                                class="form-control form-control"  min="2008-01-01">
    
    
    
                                            <div>
                                                <button class="btn btn-danger" type="submit" name="borrar_selec"
                                                    value="{{i.0}}&{{user.identificacion}}" style="margin-top: 10px;">Borrar</button>
    
                                            </div>
                                        </form>
    
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-info"
                                            data-dismiss="modal">Cerrar</button>
    
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        {% endfor %}
    
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</div>

<style>
    .quarter-circle-bottom-right{
         width: 30px;
         height: 30px;
         border-radius: 100px 0 0 0;
    
    }
    
    
    .plus-hover:hover{
      position: absolute;
      bottom: 15px;
      animation: scale ease-in-out 0.3s forwards;
    
    }
    
    @keyframes scale {
      from {transform: scale(1);transform-origin: right bottom;}
      to {transform: scale(2);transform-origin: right bottom;}
    }
    
</style>


<style>
    #img-tarjeta:hover {
        transform: scale(1.07);
        box-shadow: 2px 4px 4px 1px rgba(0, 0, 0, 0.1)
    }
</style>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


{% if mensaje == "no" %}

{% elif mensaje == "ok" %}


<script>

    const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 5000,
        timerProgressBar: true,
        didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
    })

    Toast.fire({
        icon: 'success',
        title: 'Caja cargada correctamente'
    })

</script>
{% else %}
<script>

    const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 10000,
        timerProgressBar: true,
        didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
    })

    Toast.fire({
        icon: 'error',
        title: '{{mensaje}}'
    })

</script>
{% endif %}

{% endblock %}