{% extends "users/inicio2.html" %}
{% load static %}
{% load humanize %}
{% load apptags_extras %}
{% block content %}

<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Administración de cajas</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Registro Contable Home' %}">Chanchito</a></li>
                <li class="breadcrumb-item">Cajas</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
    
                    <div class="d-flex align-items-center">
                        <div>
    
                            <h4 class="card-title"><span class="lstick m-r-20"></span>Cajas disponibles</h4>
                            <h6 class="card-subtitle"></span>Administración general de las cajas que colaboras</h6>
                        </div>
                        <div class="btn-group ml-auto">
                            <a href="JavaScript:void(0)" class="icon-options-vertical link" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#ModalCargaMasiva"><i
                                        class="fa fa-plus-circle mr-2"></i>Añadir desde tango</a>
                                <a class="dropdown-item" href="{% url 'Registro Contable Reporte' %}" ><i
                                    class="fa fa-file-text mr-2"></i>Reporte ingresos</a>
                                    <form method="POST">{% csrf_token %} 
                                    <button class="dropdown-item" type="submit" name="actualizar_cajas" value="1" ><i
                                        class="fa fa-refresh mr-2"></i>Actualizar cajas derivadas</button></form>
    
    
                            </div>
                        </div>
                    </div>
    
                    <!-- Modal archivo -->
    
                    <div class="modal fade" id="ModalCargaMasiva" tabindex="-1" role="dialog"
                        aria-labelledby="ModalCargaMasivaTittle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header"
                                    style="background-color: #2a3e52;">
                                    <h5 class="modal-title text-light" id="exampleModalLongTitle">Cargar archivo</h5>
                                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
    
                                    <form method="POST" style="margin: 15px;" enctype="multipart/form-data"
                                        id="upload-image-form">
    
                                        {% csrf_token %}
    
    
                                        <h6>Archivo</h6>
    
                                        <div class="input-group mb-3">
    
                                            <input name="archivo" type="file" class="form-control form-control"
                                                style="width: 300px;">
                                        </div>
    
                                        <button type="submit" name="carga_archivo" value="1" class="btn">
                                            <i class="fa fa-cloud-upload text-info"></i><span
                                                class="text-info ml-2">Cargar</span></button>
    
                                        {{ form.as_p }}
    
                                    </form>
    
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
    
                                </div>
                            </div>
                        </div>
    
                    </div>
                    <hr>
                    <div class="row d-flex justify-content-center ">
    
                        {% for i in total_cajas %}
    
                        <div class="col-12 col-md-4 col-lg-3 col-xlg-3">
                            <div class="card" id="img-tarjeta">
                                <div class="card-body bg-light text-center">
                                    <div class="d-flex justify-content-between">
    
                                        <div>
                                            <h6><img src="{{user.imagenlogo.url}}" alt="usuario"
                                                    style="max-width:30px; height:auto;"> {{i.0}}</h6>
                                        </div>
                                        <div class="btn-group mt-1">
                                            <a href="JavaScript:void(0)" class="icon-options-vertical link"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="#" class="dropdown-item" data-toggle="modal"
                                                    data-target="#ModalBorrarTodo{{i.0|cut:' '}}"><i class="fa fa-trash-o mr-2"></i>Borrar</a>
                                                <a href="#" class="dropdown-item text-danger" data-toggle="modal"
                                                    data-target="#ModalBorrar{{i.0|cut:' '}}"><i class="fa fa-trash-o mr-2"></i>Borrar todo</a>
                                            </div>
                                        </div>
    
                                    </div>
                                    
    
                                    <div class="text-left" style="margin-top: 2px;">
                                        <div><small> Ingresos: ${{i.1|floatformat:2|intcomma}} </small></div>
                                        <div><small class="text-danger"> Gastos: ${{i.2|floatformat:2|intcomma}} </small></div>
                                        <div><small class="text-info"> Saldo: ${{i.3|floatformat:2|intcomma}} </small></div>
                                        <div><small class="text-succes"> Automatico: ${{i.5|floatformat:2|intcomma}} </small></div>
                                    </div>
                                    <div style="display: flex; justify-content: space-between; margin-top: 15px">
    
                                        <span style="position:relative">
                                            {% for u in i.4 %}
                                            <a href="#" style="position: relative; left: -{{u.1}}px; "><img src="{{u.0.imagenlogo.url}}" class="img-circle" alt="usuario"
                                                    width="30"></a>
                                            {% endfor %}
    
                                        </span>
    
                                        <a href="{% url 'Registro Contable Caja' i.0 user.identificacion 0 0 0 %}"><button class="btn btn-secondary">Ingresar</button></a>
    
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="modal fade" id="ModalBorrar{{i.0|cut:' '}}" tabindex="-1" role="dialog"
                            aria-labelledby="ModalBorrar{{i.0|cut:' '}}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header"
                                        style="background-color: #2a3e52;">
                                        <h5 class="modal-title text-light" id="exampleModalLongTitle">Borrar caja {{i.0}}</h5>
                                        <button type="button" class="close text-light" data-dismiss="modal"
                                            aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST">
    
                                            {% csrf_token %}
    
                                            <p class="my-2">¿Está seguro que desea borrar? Esta acción podria
                                                dañar
                                                muchas cosas.</p>
    
                                            <div>
                                                <button class="btn btn-danger" type="submit" name="borrar"
                                                    value="{{i.0}}&{{user.identificacion}}" style="margin-top: 10px;">Borrar</button>
    
                                            </div>
                                        </form>
    
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-info"
                                            data-dismiss="modal">Cerrar</button>
    
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="modal fade" id="ModalBorrarTodo{{i.0|cut:' '}}" tabindex="-1" role="dialog"
                            aria-labelledby="ModalBorrar{{i.0|cut:' '}}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header"
                                        style="background-color: #2a3e52;">
                                        <h5 class="modal-title text-light" id="exampleModalLongTitle">Borrar caja {{i.0}} según fechas</h5>
                                        <button type="button" class="close text-light" data-dismiss="modal"
                                            aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST">
    
                                            {% csrf_token %}
    
                                            <label for="fecha_desde">
                                                <h6>Fecha desde</h6>
                                            </label>
    
                                            <input name="fecha_desde" type="date"
                                                class="form-control form-control"  min="2008-01-01">
    
                                            <label for="fecha_hasta" class="mt-4">
                                                <h6>Fecha hasta</h6>
                                            </label>
    
                                            <input name="fecha_hasta" type="date"
                                                class="form-control form-control"  min="2008-01-01">
    
    
    
                                            <div>
                                                <button class="btn btn-danger" type="submit" name="borrar_selec"
                                                    value="{{i.0}}&{{user.identificacion}}" style="margin-top: 10px;">Borrar</button>
    
                                            </div>
                                        </form>
    
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-info"
                                            data-dismiss="modal">Cerrar</button>
    
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
    
                        {% for i in cajas_administras %}
    
                        <div class="col-12 col-md-4 col-lg-3 col-xlg-3">
                            <div class="card" id="img-tarjeta">
                                <div class="card-body bg-light text-center">
    
                                    <div class="d-flex justify-content-between">
    
                                        <div>
                                            <h6><img src="{{i.4.imagenlogo.url}}" alt=""
                                                    style="max-width:30px; height:auto; margin: 5px;"> {{i.0}}</h6>
                                        </div>
                                        <div class="btn-group mt-1">
                                            <a href="JavaScript:void(0)" class="icon-options-vertical link"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="#" class="dropdown-item text-danger" data-toggle="modal"
                                                    data-target="#ModalBorrar{{i.0|cut:' '}}"><i class="fa fa-trash-o mr-2"></i>Borrar</a>
                                            </div>
                                        </div>
    
                                    </div>
       
    
                                    <div class="text-left" style="margin-top: 2px;">
    
                                        <div><small>Ingresos: ${{i.1|floatformat:2|intcomma}}</small></div>
                                        <div><small class="text-danger">Gastos: ${{i.2|floatformat:2|intcomma}}</small></div>
                                        <div><small class="text-info">Saldo: ${{i.3|floatformat:2|intcomma}}</small></div>
                                        <div><small class="text-succes">Automatico: ${{i.6|floatformat:2|intcomma}}</small></div>
                                    </div>
                                    <div style="display: flex; justify-content: space-between; margin-top: 15px">
    
                                        <span style="position:relative">
                                            {% for u in i.5 %}
                                            <a href="#" style="position: relative; left: -{{u.1}}px; "><img src="{{u.0.imagenlogo.url}}" class="img-circle" alt="usuario"
                                                    width="30"></a>
                                            {% endfor %}
    
                                        </span>
    
                                        <a href="{% url 'Registro Contable Caja' i.0 i.4.identificacion 0 0 0 %}"><button class="btn btn-secondary">Ingresar</button></a>
    
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="modal fade" id="ModalBorrar{{i.0|cut:' '}}" tabindex="-1" role="dialog"
                                    aria-labelledby="ModalBorrar{{i.0|cut:' '}}" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header"
                                                style="background: rgb(36,160,237); background: linear-gradient(315deg, rgba(36,160,237,1) 0%, rgba(56,56,130,1) 22%, rgba(0,212,255,1) 100%);">
                                                <h5 class="modal-title text-light" id="exampleModalLongTitle">Borrar caja {{i.0}}</h5>
                                                <button type="button" class="close text-light" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form method="POST">
    
                                                    {% csrf_token %}
    
                                                    <p class="my-2">¿Está seguro que desea borrar? Esta acción podria
                                                        dañar
                                                        muchas cosas.</p>
    
                                                    <div>
                                                        <button class="btn btn-danger" type="submit" name="borrar"
                                                            value="{{i.0}}&{{i.4.identificacion}}" style="margin-top: 10px;">Borrar</button>
    
                                                    </div>
                                                </form>
    
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-info"
                                                    data-dismiss="modal">Cerrar</button>
    
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                        {% endfor %}
    
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</div>



<style>
    #img-tarjeta:hover {
        transform: scale(1.07);
        box-shadow: 2px 4px 4px 1px rgba(0, 0, 0, 0.1)
    }
</style>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


{% if mensaje == "no" %}

{% elif mensaje == "ok" %}


<script>

    const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 5000,
        timerProgressBar: true,
        didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
    })

    Toast.fire({
        icon: 'success',
        title: 'Caja cargada correctamente'
    })

</script>
{% else %}
<script>

    const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 10000,
        timerProgressBar: true,
        didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
    })

    Toast.fire({
        icon: 'error',
        title: '{{mensaje}}'
    })

</script>
{% endif %}

{% endblock %}