PyAutoGUI==0.9.52
PyGetWindow==0.0.9
pylint==2.4.4
PyMsgBox==1.0.9
pyparsing==2.4.7
PyPDF2==1.27.5
pyperclip==1.8.1
PyRect==0.1.4
PyScreeze==0.1.26
python-bidi==0.4.2
python-dateutil==2.8.1
python-decouple==3.3
PyTweening==1.0.3
pytz==2019.3
PyYAML==5.3.1
reportlab==3.5.56
schedule==0.6.0
scipy==1.5.4
seaborn==0.11.0
six==1.14.0
sqlparse==0.3.1
static3==0.7.0
tablib==1.1.0
webencodings==0.5.1
whitenoise==5.0.1
wrapt==1.11.2
xhtml2pdf==0.2.5
xlrd==1.2.0
xlwt==1.3.0
