# Core
pytz==2020.1
Django==3.1.7
django-configurations==2.2
gunicorn==20.0.4
newrelic==5.22.0.151
whitenoise==5.2.0

# For the persistence stores
psycopg2-binary==2.8.6
dj-database-url==0.5.0

# Model Tools
django-model-utils==4.1.1
django_unique_upload==0.2.1

# Rest apis
djangorestframework==3.12.2
django-filter==2.4.0

# Celery Async tasks
celery[redis]
redis

# Other libreries
requests==2.24.0
pandas
numpy
numpy-financial
django-import-export
django-cors-headers
xhtml2pdf
openpyxl
django-userforeignkey
django-session-timeout