{% extends "users/inicio.html" %}

{% load static %}

{% block content %}

<div class = "jumbotron"> 

    <h1 class = "display-3"> <font style = "vertical-align: heredar;"> <font style = "vertical-align: heredar;"> <b>¡Sección de articulos!</b>  </font> </font> </ h1>
  
    <hr class = "my-4">
    <p class = "lead"> <font style = "vertical-align: heredar;"> <font style = "vertical-align: heredar;"> Esta sección sirve para controlar y administrar los articulos de la base de presupuestos! </font> </font> </p>
    <hr class = "my-4">
    <p class = "lead">
      <a class="btn btn-primary btn-lg" href="/insumos/insum_list" role="button"> <font style = "vertical-align: heredar;"> <font style = "vertical-align: heredar;"> Ir al listado </font> </font> </a>
      <a class="btn btn-primary btn-lg" href="/insumos/insum_create" role="button"> <font style = "vertical-align: heredar;"> <font style = "vertical-align: heredar;"> Crear un articulo </font> </font> </a>
    </p>

</div>


{% endblock %}

</body>
</html>