
{% extends "users/inicio.html" %}

{% load static %}

{% block content %}

<div class = "jumbotron" style="background-color: white; margin-bottom: 0px;" >

    <h3 style="text-align: center; color: #17B5B5 ;">Crear un articulo</h3>
     <b><hr class = "my-4" style="width: 75%; border-color: #17B5B5 ;"></b>

    <div class = "jumbotron" style="width: 60%; margin-left: 20%;">

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <div style="text-align: center;">

                <button type='submit' class = "btn btn-outline-success">Guardar</button>
                      
            </div>      
        </form>

        <div style="text-align: center; margin-top: 2%;">

            <a href="/insumos/insum_list"><button type='submit' class = "btn btn-outline-danger">Volver</button></a>
        
        </div>

        

    </div>
</div>

{% endblock %}