{% load static %}

 
  <link href="{% static 'adminpro/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css' %}"
    rel="stylesheet">
  <link href="{% static 'adminpro/assets/plugins/c3-master/c3.min.css' %}" rel="stylesheet">
  <link href="{% static 'adminpro/assets/plugins/toast-master/css/jquery.toast.css' %}" rel="stylesheet">
  <link href="{% static 'adminpro/main/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'adminpro/main/css/colors/default.css' %}" id="theme" rel="stylesheet">
  <link href="{% static 'adminpro/main/css/pages/chat-app-page.css' %}" rel="stylesheet">



  <link href="{% static 'adminpro/assets/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css' %}"
    rel="stylesheet" />


  <link href="{% static 'adminpro/assets/plugins/bootstrap-select/bootstrap-select.min.css' %}" rel="stylesheet" />