{% extends "users/inicio.html" %}

{% load static %}

{% block content %}

<div class = "jumbotron" style="background-color: white; margin-bottom: 0px;">

    <h3 style="text-align: center; color: #17B5B5 ;">Listado de computos</h3>
    <h6 style="text-align: center; color: #17B5B5 ;">Todos los computos de albañileria</h6>
     <b><hr class = "my-4" style="width: 75%; border-color: #17B5B5 ;"></b>
     <form method="get" class="form-group" style="text-align: center;">
        <div>
            {{ myfilter.form }}
        </div>
        <div>
            <button class="btn btn-info" type="submit" style="margin-top: 1%;">Buscar</button>          
        </div>
     </form>
     <b><hr class = "my-4" style="width: 100%; border-color: #17B5B5 ;"></b>

     <div style="text-align: center; margin-bottom: 1rem;">
        <a href="/computos/resumen"><button class="btn btn-info" style="margin-top: 1%;">Ver resumen</button></a>           
    </div>
      

    {% if datos %} 

    <div>

        <table class = "table table-hover" style="text-align: center;">
            <thead>
    
                <tr class = "table-info">
                    <th scope = "row" style="width: 15%; vertical-align: middle;"> PROYECTO</th>
                    <th scope = "row" style="width: 10%; vertical-align: middle;"> PLANTA </th>
                    <th scope = "row" style="width: 15%; vertical-align: middle;">  RUBRO </th>
                    <th scope = "row" style="width: 20%; vertical-align: middle;">  TIPOLOGIA </th>
                    <th scope = "row" style="width: 10%; vertical-align: middle;">  VALOR LLENO </th> 
                    <th scope = "row" style="width: 10%; vertical-align: middle;">  VALOR VACIO </th>
                    <th scope = "row" style="width: 10%; vertical-align: middle;"> VALOR TOTAL</th>
                    <th scope = "row" style="width: 10%; vertical-align: middle;"
                    
                    {% if perms.computos.change_computos %}
                    colspan="2" 
                    {% endif %}
                    
                    > VALOR OBRA</th>
    
    
                </tr>
            </thead>
    
            <tbody>
    
                
    
                {% for i in datos|slice:":50" %}
                <tr class = "table-light">
                    <td style="width: 15%; vertical-align: middle;"> <b>{{i.proyecto}}</b> </td>
                    <td style="width: 10%; vertical-align: middle;">{{i.planta}}</td>
                    <td style="width: 15%; vertical-align: middle;">{{i.rubro}}</td>
                    <td style="width: 15%; vertical-align: middle;">{{i.tipologia.nombre}} ({{i.tipologia.un}})</td>
                    <td style="width: 9%; vertical-align: middle;">{{i.valor_lleno|floatformat:2}}</td>
                    <td style="width: 9%; vertical-align: middle;">{{i.valor_vacio|floatformat:2}}</td>
                    <td style="width: 9%; vertical-align: middle;"> <b>{{i.valor_total|floatformat:2}}</b> </td>
                    <td style="width: 9%; vertical-align: middle;">{{i.valor_obra|floatformat:2}}</td>
                    {% if perms.computos.change_computos %}
                    <td style="width: 6%; vertical-align: middle;"><a class = "btn btn-outline-success" href="#">S</a></td>
                    {% endif %}
                
                </tr>
            </tbody>
    
                {% endfor %}

            </table>

                <div>
                    <small>El listado puede continuar, el maximo de filas visibles es de 50</small>
                </div>
            
                <div style="text-align: center;">
                    <p> <small>-- Link<strong>P</strong> --</small> </p>
            
                 </div>
    
         {% else %}
                <div style="text-align: center;">
                    <h3>No existen registros actualmente</h3>
                </div>       
    
        

        {% endif %}


    </div>

                    
</div>
    
{% endblock %}