{% extends "users/inicio.html" %}

{% load static %}

{% block content %}

<div class = "jumbotron" style="background-color: white; margin-bottom: 0px;">

    <h3 style="text-align: center; color: #17B5B5 ;">Computos</h3>
     <b><hr class = "my-4" style="width: 75%; border-color: #17B5B5 ;"></b>
     <form method="get" class="form-group" style="text-align: center;">
        <div>
            {{ myfilter.form }}
        </div>
        <div>
            <button class="btn btn-info" type="submit" style="margin-top: 1%;">Buscar</button>          
        </div>
     </form>
     <b><hr class = "my-4" style="width: 100%; border-color: #17B5B5 ;"></b>

     <div style="text-align: center; margin-bottom: 1rem;">
        <a href="/computos/resumen"><button class="btn btn-info" style="margin-top: 1%;">Ver resumen</button></a>           
    </div>
      

    {% if datos %} 

    <table class = "table table-hover" style="text-align: center;">
        <thead>

            <tr class = "table-info">
                <th scope = "row"> <font style = "vertical-align: heredar;"> PROYECTO </font></th>
                <th scope = "row"> <font style = "vertical-align: heredar;"> PLANTA </font></th>
                <th scope = "row"> <font style = "vertical-align: heredar;"> RUBRO </font></th>
                <th scope = "row"> <font style = "vertical-align: heredar;"> TIPOLOGIA </font></th>
                <th scope = "row"> <font style = "vertical-align: heredar;"> UN </font></th>
                <th scope = "row"> <font style = "vertical-align: heredar;"> VALOR LLENO </font></th> 
                <th scope = "row"> <font style = "vertical-align: heredar;"> VALOR VACIO </font></th>
                <th scope = "row"> <font style = "vertical-align: heredar;">VALOR TOTAL</font></th>
                <th scope = "row"> <font style = "vertical-align: heredar;">VALOR OBRA</font></th>


            </tr>
        </thead>

        <tbody>

            

            {% for i in datos|slice:":50" %}
            <tr class = "table-light">
                <td> <b>{{i.proyecto}}</b> </td>
                <td>{{i.planta}}</td>
                <td>{{i.rubro}}</td>
                <td>{{i.tipologia.nombre}}</td>
                <td>{{i.tipologia.un}}</td>
                <td>{{i.valor_lleno|floatformat:2}}</td>
                <td>{{i.valor_vacio|floatformat:2}}</td>
                <td> <b>{{i.valor_total|floatformat:2}}</b> </td>
                <td>{{i.valor_obra|floatformat:2}}</td>
            </tr>
        </tbody>

            {% endfor %}

     {% else %}
            <div style="text-align: center;">
                <h3>No existen registros actualmente</h3>
            </div>
            

    {% endif %}
        

    </table>

    <div>
        <small>El listado puede continuar, el maximo de filas visibles es de 50-</small><small>  <strong>AR</strong> </small>
    </div>

                    
</div>
    
{% endblock %}