{% extends "users/inicio2.html" %}
{% load apptags_extras %}
{% load static %}
{% load humanize %}

{% block content %}

<div class="container-fluid r-aside">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Formularios</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Reclamos Postventa' %}">Postventa</a></li>
                <li class="breadcrumb-item">Formularios</li>

            </ol>
        </div>

    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex">
                        <div>
                            <h4 class="card-title"><span class="lstick"></span><b>Detalle de ejecución</b></h4>
                            <h6 class="text-muted">Completar todos los datos</h6>
                        </div>

                    </div>
                    <div class="row d-flex justify-content-center mt-3">
                        <div class="col col-md-12 col-lg-10">
                            <div class="row">
                                <div class="col bg-light border rounded p-4 ">
                                    <div class="row d-flex">
                                        <div class="col col-lg-6">
                                            <h6><b> Proyecto:</b></h6><p>{{datos_reclamo.proyecto}} - {{datos_reclamo.unidad}}</p>
                                        </div>
                                        <div class="col col-lg-6">
                                            <h6><b> Solicitud de trabajo:</b></h6><p>(Tablero de Control) N° RFO {{datos_reclamo.numero}}</p>
                                        </div>
                                        <div class="col col-lg-6">
                                            <h6><b> Responsable ejecución:</b></h6><p>{{datos_reclamo.responsable.nombre}}</p>
                                        </div>
                                        <div class="col col-lg-6">
                                            <h6><b> Fecha de solicitud:</b></h6><p>{{datos_reclamo.fecha_reclamo|date:"d/m/Y"}}</p>
                                        </div>
                                        <div class="col col-lg-6">
                                            <h6><b> Solicitado por:</b></h6><p>{{datos_reclamo.usuario}}</p>
                                        </div>
                                        <div class="col col-lg-6">
                                            <h6><b> Teléfono de contacto:</b></h6><p>{{datos_reclamo.telefono}}</p>
                                        </div>
                                        <div class="col col-lg-12">
                                            <h6><b> Detalle del trabajo solicitado:</b></h6><p>{{datos_reclamo.descripcion}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row d-flex justify-content-center mt-3">
                        <div class="col col-md-12 col-lg-10">
                            <div class="row">
                                <div class="col bg-light border rounded p-4 ">

                                    <form role="form" method="POST">
                                        {% csrf_token %}

                                        <div class="row d-flex">
                                            <div class="col col-lg-6">
                                                <label for="fecha_inicio">
                                                    <h6>Fecha de inicio</h6>
                                                </label>
                                                
                                                <div class="row d-flex justify-content-center my-3">
                                                    <div class="col">
                                                        <input id="fecha_inicio" 
                                                        onkeyup="validar_formulario()"
                                                        type="date"  required
                                                        value="{% if datos_formulario%}{{datos_formulario.0.fecha_inicio|date:'Y-m-d'}}{% endif %}"
                                                        name="fecha_inicio" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col col-lg-6">
                                                <label for="fecha_final">
                                                    <h6>Fecha de finalización</h6>
                                                </label>
                                                
                                                <div class="row d-flex justify-content-center my-3">
                                                    <div class="col">
                                                        <input 
                                                        id="fecha_final"
                                                        onkeyup="validar_formulario()"
                                                        type="date" required 
                                                        value="{% if datos_formulario%}{{datos_formulario.0.fecha_final|date:'Y-m-d'}}{% endif %}"
                                                        name="fecha_final" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                
                                        <label for="personal">
                                            <h6>Personal que realizó el trabajo(nombre y apellido)</h6>
                                        </label>

                                        <div class="row d-flex justify-content-center my-3">
                                            <div class="col">
                                                    <textarea
                                                    id="descripcion" 
                                                    onkeyup="validar_formulario()"
                                                    required name="descripcion" 
                                                    cols="30" rows="5" class="form-control">{% if datos_formulario%}{{datos_formulario.0.descripcion}}{% endif %}</textarea>
                                            </div>
                                        </div>

                                        <div class="row d-flex justify-content-center mt-4">
                                            <div class="col-lg-6 text-center">
                                                <button id="upload"
                                                data-toggle="tooltip" data-placement="left" title="Cargar cambios"
                                                onclick="upload_formulario({{datos_reclamo.id}})"
                                                class="btn btn-primary btn-circle fa fa-cloud-upload"></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<a id="pdf" href="{% url 'Formulario 2 en PDF' datos_reclamo.id%}" target="_blank"
data-toggle="tooltip" data-placement="left" title="Imprimir PDF"
><i class="btn btn-danger btn-circle fa fa-file-pdf-o"></i></a>

<style>
       
    #pdf {
        position: fixed;
        bottom: 40px;
        right: 20px;
        z-index: 10;
    }

    #upload {
        position: fixed;
        bottom: 40px;
        right: 20px;
        z-index: 10;

    }
</style>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>

    document.getElementById("upload").addEventListener("click", function(event){
    event.preventDefault()
    });


    {% if datos_formulario %}

    const formulario = [{
        'id':{{datos_formulario.0.id}},
        'fecha_inicio':"{{datos_formulario.0.fecha_inicio|date:'Y-m-d'}}",
        'fecha_final':"{{datos_formulario.0.fecha_final|date:'Y-m-d'}}",
        'descripcion':"{{datos_formulario.0.descripcion}}",

    }]

    {% else %}

    const formulario = [{
        'id':1,
        'fecha_inicio':1,
        'fecha_final':1,
        'descripcion':1,

    }]

    {% endif %}

    function sweet_alert(mensaje, estado) {

        const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 5000,
        timerProgressBar: true,
        didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
        })

        Toast.fire({
        icon: estado,
        title: mensaje
        })

    }

    window.load = validar_formulario()

    function validar_formulario() {

        console.log(formulario);

        var fecha_inicio = document.getElementById("fecha_inicio").value;
        var fecha_final = document.getElementById("fecha_final").value;
        var descripcion = document.getElementById("descripcion").value;

        if (
            fecha_inicio == formulario[0].fecha_inicio &&
            fecha_final == formulario[0].fecha_final &&
            descripcion == formulario[0].descripcion 

        ) {

            var boton_pdf = document.getElementById("pdf");
            boton_pdf.style = "display: content"

            var boton_upload = document.getElementById("upload");
            boton_upload.style = "display: none"

        } else {

            var boton_pdf = document.getElementById("pdf");
            boton_pdf.style = "display: none"

            var boton_upload = document.getElementById("upload");
            boton_upload.style = "display: content"
            
        }

    }

    async function upload_formulario(reclamo) {

        const url = `{% host %}/ventas/api_formulario_2/`;

        var respuesta = await fetch(url ,{
            method: "POST",
            headers: {
                'X-CSRFToken' : "{{ csrf_token }}",
                'Content-Type': 'application/json',
            },

            body: JSON.stringify({'reclamo':reclamo,
                'fecha_inicio' : document.getElementById("fecha_inicio").value,
                'fecha_final' : document.getElementById("fecha_final").value,
                'descripcion' : document.getElementById("descripcion").value,

            })
        });

        var response = await respuesta.json();
        var status = await respuesta.status
        return completar_array(response, status);
    }

    function completar_array(response, status){

        if  (status >= 200 && status < 300){
            sweet_alert("Perfecto!", "success");
            formulario.unshift(response);
            validar_formulario();

        } else {
            sweet_alert("Error!", "warning");
        }

    }

</script>


{% endblock %}