{% extends "users/inicio2.html" %}

{% load static %}
{% load humanize %}

{% block content %}

<div class="container-fluid r-aside">

    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Panel de control - Analisis de compras</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Principal compras' %}">Panel</a></li>
                <li class="breadcrumb-item">Analisis de compras</li>
            </ol>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <h4 class="card-title"><span class="lstick m-r-20"></span>Analisis historico de compras {% if datos.proyecto == 0 %} - GENERAL {% else %} - {{ datos.proyecto.nombre }} {% endif %}</h4>
                        <h6 class="card-subtitle">El monto de compras analizado es de: ${{ datos.montocompras|floatformat:0|intcomma}} Millones</h6>
                        <h6 class="card-subtitle">Relación compras/presupuesto: {{ datos.inc|floatformat:0}}</h6>
                        <p><small> En el analisis de precio el punto negro muestra la desviación porcentual con respecto al
                            precio del presupuesto</small></p>
                    </div>
                </div>

                <div style="margin-top: 0.5rem; display: inline-block; width: 100%;">

                    <div style="text-align: center;">
                        <small><strong>-- Analisis de precios --</strong></small>
                    </div>

                    <canvas id="myChart" style="width: 100%; max-height: 300px;"></canvas>


                </div>

                <p class="mt-3"><small> En el analisis de cantidad se puede ver el volumen operado</small></p>

                <div style="margin-top: 0.5rem; display: inline-block; width: 100%;">
                    <div style="text-align: center;">

                        <small><strong>-- Analisis de cantidad --</strong></small>
                        <p><small>Precio expresado en miles</small></p>
                    </div>

                    <canvas id="myChart2"  style="width: 100%; max-height: 300px;"></canvas>
                </div>

                <b>
                    <hr class="my-4" style="width: 100%; border-color: black ;">
                </b>

                <div style="text-align: center;">
                    <form method="POST">

                        {% csrf_token %}

                        <select name="proyecto" class="custom-select" style="width: 200px">

                            {% for i in datos.proyectos %}
                            <option value="{{i.id}}">{{i.nombre}}</option>

                            {% endfor %}


                        </select>
                        <div>
                            <small> Seleccione el proyecto</small>
                        </div>
                        <div>
                            <button class="btn btn-dark mt-3" type="submit">Filtrar</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: [
                {% for i in datos.datos %}
                '{{i.0}}',                   
                {% endfor %}
                ],
            datasets: [{
                label: 'Desviación',
                backgroundColor: 'rgb(9, 10, 9)',
                borderColor: 'rgb(9, 10, 9)',
                fill: false,
                showLine: false,
                data: [
                {% for i in datos.datos %}
                {{i.3|floatformat:0}},                   
                {% endfor %}
                ]
            }],

        },

        // Configuration options go here
        options: {}
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
    var ctx = document.getElementById('myChart2').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [{% for i in datos.datos%}
                '{{i.0}}',                   
                {% endfor %}],
            datasets: [{
                label: 'V. Comprado',
                data: [{% for i in datos.datos %}
                {{i.1|floatformat:0}},                   
                {% endfor %}],
                backgroundColor: 'rgba(72, 110, 195, 0.2)',
                borderColor: 'rgba(72, 110, 195, 1)',
                borderWidth: 1
            },
            {
                label: 'V. Presupuesto',
                data: [{% for i in datos.datos %}
                {{i.2|floatformat:0}},                   
                {% endfor %}],
                backgroundColor: 'rgba(195, 60, 44, 0.2)',
                borderColor: 'rgba(195, 60, 44, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>

 
{% endblock %}