{% extends "users/inicio2.html" %}

{% load static %}
{% load humanize %}

{% block content %}

<!-- page css -->
<link href="{% static 'adminpro/main/css/pages/footable-page.css' %}" rel="stylesheet">

<div class="container-fluid r-aside">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Solicitudes de compra</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item">Solicitudes</li>

            </ol>
        </div>

    </div>

  </div>


<div class="row">
<div class="col-lg-12 col-xlg-6 button-group">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Panel de solicitudes</h4>
            <h6 class="card-subtitle">Ordenes de compra o comparativas para ser aprobadas</h6>

            <div style="text-align: left;">

                <!-- Boton para creador-->
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="myFunction()">
                        {{mensaje_creador}}
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'Comparativas' estado 0 %}">Todos</a>
                      {% for i in list_creadores %}
        
                      <a class="dropdown-item" href="{% url 'Comparativas' estado i.id %}">{{i.identificacion}}</a>
        
                      {% endfor %}

                    </div>
                </div>

                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="myFunction()">
                        {{mensaje}}
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'Comparativas' 0 creador %}">Todos</a>
                        <a class="dropdown-item" href="{% url 'Comparativas' 1 creador %}">En espera ({{espera}})</a>
                        <a class="dropdown-item" href="{% url 'Comparativas' 2 creador %}">Adjunto listo ({{adjunto}})</a> 
                        <a class="dropdown-item" href="{% url 'Comparativas' 4 creador %}">Autorizadas ({{autorizada}})</a>
                        <a class="dropdown-item" href="{% url 'Comparativas' 3 creador %}">Rechazadas ({{rechazada}})</a>

                    </div>
                </div>
        
                  
        
            <a href= "{% url 'Cargar O.C para autorizar' %}" class="btn btn-outline-info"style="text-align: end; margin-top: 5px;" > Nueva solicitud</a>
        
        
            <a href= "{% url 'Descarga Comparativas' %}" class="btn btn-outline-success" style="text-align: end; margin-top: 5px;" > <img src="{% static 'img/sobresalir.png' %}" alt="" style="max-width:20px; height:auto;"> Excel</a>
        
            <div class ="dataTables_filter">

                <form method="POST">
        
                    {% csrf_token %}
                <label>
                    Buscar:
                    <input type="search" class placeholder aria-controls="example23" name="palabra">
                </label>

            </form>

            </div>
            <div class="table-responsive">

                <table class="table">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Proveedor</th>
                            <th>O.C</th>
                            <th>Valor</th>
                            <th>Fecha</th>
                            <th>Adjuntos</th>
                            {% if request.user.username == "PL" or request.user.username == "AR" or request.user.username == "ar" or request.user.username == "SP" %}
                            <th style="min-width: 150px;">Autorizar</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody style="font-size: 14px;">
                        
                            {% for i in datos|slice:"120" %}
                            <tr>
                            <td>
                                <img src="{{i.0.imagenlogo.url}}" alt="user" width="40" class="img-circle"></td>
                            <td>{{i.2.proveedor.name|lower|capfirst}} <a href="{% url 'Mensajes en comparativas' i.2.id %}"><img src="{% if i.1 %}{% static 'img/charla.png' %}{% else %}{% static 'img/charlar.png' %}{% endif %}" alt="" style="max-width:15px; height:auto; margin: 1px;"></a> 
                                <h6 class="card-subtitle" style="font-size: 14px; margin-top: 1px;">{{i.2.proyecto|lower|capfirst}} - {{i.2.numero|lower|capfirst}}</h6>
                            </td>
                            {% if i.2.o_c %}
                            <td>
                                <div>{{i.2.o_c|upper}}</div>
                         
                            {% else %}
                            <td><div>S/R</div> 
                            {% endif %}
                            {% if i.2.estado == "ESPERA" %}
                            <div class="label label-table label-info">Espera</div>
        
                            {% endif %}
        
                            {% if i.2.estado == "AUTORIZADA" %}


        
                            {% if i.2.comentario %}
                                
                            <span class="hint--left hint--danger"aria-label="{{i.comentario}}">
        
                            {% endif %}
                            
                            <div class="label label-table label-success">Autorizada</div>
        
                            {% if i.2.comentario %}
                            
                            </span>
        
                            {% endif %}
                        
      
        
                            {% endif %}
        
                            {% if i.2.estado == "NO AUTORIZADA" %}
        
        
        
                                {% if i.2.comentario %}
                                
                                
                                <span class="hint--left hint--danger" aria-label="{{i.2.comentario}}">
        
                                    {% endif %}
                                
                                
                                    <div class="label label-table label-danger">Rechazada</div>
        
                                {% if i.2.comentario %}
                            
                                    </span>
        
                                    {% endif %}
    
        
                            {% endif %}
        
                            {% if i.2.estado == "ADJUNTO ✓" %}
        
        
                                {% if i.2.comentario %}
                                
                                
                                <span class="hint--left hint--danger" aria-label="{{i.2.comentario}}">
        
                                    {% endif %}
                                
                                
                                    <div class="label label-table label-warning">Adjunto</div>
        
                                {% if i.2.comentario %}
                            
                                    </span>
        
                                    {% endif %}
                              
                            {% endif %}
                            </td>
                            <td>${{i.2.monto|floatformat:0|intcomma}}</td> 
                            <td><span class="text-muted"><i class="fa fa-clock-o"></i> {{i.2.fecha_c|date:"d M Y"}}</span> </td>
                            <td>
                                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                    <a href="{{ i.2.adjunto.url }}" class="btn btn-warning" style="font-size: 14px;">Adj</a>              
                                    {% if i.2.adj_oc %}
                                    <a href="{{ i.2.adj_oc.url }}" class="btn btn-success" style="font-size: 14px;">O.C</a>
                                    {% endif %}
                                </div>
                            
                            </td>
                            {% if request.user.username == "PL" or request.user.username == "AR" or request.user.username == "ar" or request.user.username == "SP" %}
                            {% if request.user.username == "SP" and "POSTV" in i.2.numero %}
                            <td>                                          
                                <form action="" method="POST">
                                    {% csrf_token %}

                                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                        {% if estado == "0" or estado == "1" or estado == "3" or estado == "5" %}
                                        <button type="submit"  name = "ADJAPROB" value="{{i.2.id}}"class="btn btn-warning"><i class="fa fa-check"></i></button>
                                        {% endif %}
                                        {% if estado == "0" or estado == "2" or estado == "3" or estado == "5" %}
                                        <button type="submit"  name = "APROBADA" value="{{i.2.id}}" class="btn btn-success"><i class="fa fa-check"></i></button>
                                        {% endif %}
                                        <button type="submit" name = "NO APROBADA" value="{{i.2.id}}" class="btn btn-danger"><i class="fa fa-close"></i></button>
                                    </div>
        
                                    <div>
        
                                        <input type="text" name="MENSAJE" class="form-control form-control-sm" placeholder="Comentario" id="inputDefault">
                                       
                                    </div>
        
                                </form></td>
                
                            {% elif request.user.username == "PL" and i.0.identificacion == "MES" %}
        
                            <td>
                            
                                <strong>Autoriza SP! <img src="{% static 'img/gracias.png' %}" alt="" style="max-width:25px; height:auto;"  > </strong>
                            </td>

                            {% elif request.user.username != "SP" and "POSTV" in i.2.numero %}

                            <td>
                       
                                <strong>Autoriza SP! <img src="{% static 'img/gracias.png' %}" alt="" style="max-width:25px; height:auto;"  > </strong>
                            </td>
        
                            {% elif request.user.username == "SP" and i.0.identificacion != "MES" %}
        
                            <td>
                            
                                <strong>Autoriza PL! <img src="{% static 'img/gracias.png' %}" alt="" style="max-width:25px; height:auto;"  > </strong>
                            </td>
        
                            {% else %}
        
                            <td>                                          
                                <form action="" method="POST">
                                    {% csrf_token %}

                                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                        {% if estado == "0" or estado == "1" or estado == "3" or estado == "5" %}
                                        <button type="submit"  name = "ADJAPROB" value="{{i.2.id}}"class="btn btn-warning"><i class="fa fa-check"></i></button>
                                        {% endif %}
                                        {% if estado == "0" or estado == "2" or estado == "3" or estado == "5" %}
                                        <button type="submit"  name = "APROBADA" value="{{i.2.id}}" class="btn btn-success"><i class="fa fa-check"></i></button>
                                        {% endif %}
                                        <button type="submit" name = "NO APROBADA" value="{{i.2.id}}" class="btn btn-danger"><i class="fa fa-close"></i></button>
                                    </div>
        
                                    <div>
        
                                        <input type="text" name="MENSAJE" class="form-control form-control-sm" placeholder="Comentario" id="inputDefault">
                                       
                                    </div>
        
                                </form></td>
                            {% endif %}
        
                            {% endif %}
                        </tr>
                            {% endfor %}
                  
        
                    </tbody>
                </table>
            </div>
        
            </div>
        </div>
    </div>
</div>
</div>

        


{% endblock %}

