{% extends "users/inicio.html" %}

{% load static %}

{% block content %}

<div class = "jumbotron" style="background-color: white; margin-bottom: 0px;">

    <h3 style="text-align: center; color: #17B5B5 ;">Registros de compras</h3>
    <h6 style="text-align: center; color: #17B5B5 ;">Detalle las compras de todos los proyectos</h6>
     <b><hr class = "my-4" style="width: 75%; border-color: #17B5B5 ;"></b>

     <form method="POST" style="text-align: center;">

        {% csrf_token %}

        <div style="display: inline-block; margin-left: 1rem;">

            <label for="palabra"><h6>Buscar</h6></label>

        </div>
        
        <div style="display: inline-block; margin-left: 1rem; ">

            <input name="palabra" type="text" class="form-control form-control" placeholder="Buscar por palabra" list="art" style="width: 30rem;">

        </div>

        <div>
            <button class="btn btn-info" type="submit" style="margin-top: 1%;">Buscar</button>          
        </div>       

     </form>

     <b><hr class = "my-4" style="width: 100%; border-color: #17B5B5 ;"></b>
     <div style="margin-bottom: 1%; text-align: center;">
        <a href="/compras/cargacompras"><button class="btn btn-success" type="submit">Cargar compras</button></a>  
     </div>
      

    {% if datos %} 

    <table class = "table table-hover" style="text-align: center;">
        <thead>

            <tr class = "table-info">
                <th scope = "row" style="vertical-align: middle;">PROYECTO</th>
                <th scope = "row" style="vertical-align: middle;">PROVEEDOR</th>
                <th scope = "row" style="vertical-align: middle;">NOMBRE DE LA COMPRA</th>
                <th scope = "row" style="vertical-align: middle;">TIPO</th>
                <th scope = "row" style="vertical-align: middle;">ARTICULO</th>
                <th scope = "row" style="vertical-align: middle;">CANTIDAD</th>
                <th scope = "row" style="vertical-align: middle;">PRECIO</th> 
                <th scope = "row" style="vertical-align: middle;">FECHA</th>
                <th scope = "row" style="vertical-align: middle;">DOCUMENTO</th>
                
            </tr>
        </thead>

        <tbody>
           
            {% for i in datos|slice:"20" %}
            <tr class = "table-light">
                <td style="width: 12%;"> <b>{{i.proyecto}}</b> </td>
                <td style="width: 15%;">{{i.proveedor}}</td>
                <td style="width: 15%;">{{i.nombre}}</td>
                <td style="width: 8%;">{{i.tipo}}</td>
                <td style="width: 20%;">{{i.articulo}} ({{i.articulo.unidad}})</td>
                <td>{{i.cantidad}}</td>
                <td>${{i.precio}}</td>
                <td> <small>{{i.fecha_c}}</small> </td>
                <td> <small>{{i.documento}}</small> </td>
                          
            </tr>
        </tbody>

            {% endfor %}

        </table>

        <div>
            <small>El listado puede continuar, el maximo de filas visibles es de 20</small>
        </div>

            <div style="text-align: center;">
                <p> <small>-- Link<strong>P</strong> --</small> </p>
        
             </div>

     {% else %}
            <div style="text-align: center;">
                <h3>No existe registros actualmente</h3>
            </div>
            

    {% endif %}
        
    

                    
</div>
 
    
{% endblock %}