{% extends "users/inicio2.html" %}

{% load static %}
{% load humanize %}
{% load apptags_extras %}

{% block content %}

<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Registro de compras</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Principal compras' %}">Panel</a></li>
                <li class="breadcrumb-item">Registro</li>

            </ol>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <h4 class="card-title"><span class="lstick m-r-20"></span>Compras {% if proyecto %}- <b
                            style="color: rgb({{proyecto.color}});">{{proyecto.nombre}}</b>{% else %} ultimas 500 compras {% endif %}</h4>
                        <h6 class="card-subtitle">Detalle de las compras realizadas por proyecto</h6>

                    </div>
                    <div class="btn-group ml-auto">
                        <a href="JavaScript:void(0)" class="icon-options-vertical link" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            {% if request.user|has_group:"COMPRAS NIVEL 2" and request.user.username != "HC" %}
                            <a class="dropdown-item" href="/compras/cargacompras"><i class="fa fa-plus-circle mr-2"></i>Agregar compra</a>
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'Descargar compras' %}"><i
                                    class="fa fa-file-excel-o mr-2"></i>Excel</a>
                        </div>
                    </div>
                </div>
         
                <div class="table-responsive m-t-40">
                    <div class="dt-buttons">
                        <div class="btn-group">
                            <button type="button" class="btn btn-info dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if proyecto %}{{proyecto.nombre|lower|capfirst}}{% else %}
                            Proyecto {% endif %}
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'Compras' 0 %}">ultimas 500</a>
                                {% for i in proyectos %}
                                <a class="dropdown-item" href="{% url 'Compras' i.id %}">{{i.nombre|lower|capfirst}}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">

                        <table id="example" class="table " style="width:100%;">
                            <thead>
                                <tr class="table-active">
                                    <th style="width: 130px;">Fecha </th>
                                    {% if proyecto == 0%}
                                    <th>Proyecto</th>
                                    {% endif %}
                                    <th>Compra</th>
                                    <th>Articulo</th>
                                    <th> Cant.</th>
                                    <th style="width: 120px;"> Precio </th>
                                    <th> Total </th>
                                    
                                    <th> Rend.</th>
                                </tr>
                            </thead>
    
                            <tbody style="font-size: 13px;">
    
                                {% for i in compras %}
    
                                <tr>
                                    <td> {{i.1.fecha_c|date:"Y-m-d"}} </td>
                                    {% if proyecto == 0%}
                                    <td><b>{{i.1.proyecto|lower|capfirst}}</b> </td>
                                    {% endif %}
                                    <td>
                                        <div>{{i.1.proveedor|lower|capfirst}}</div>
                                        <h6 class="card-subtitle" style="font-size: 12px; margin-top: 1px;">
                                            {{i.1.documento}}</h6>
                                    </td>
                                    <td><b>{{i.1.articulo|lower|capfirst}} ({{i.1.articulo.unidad|lower|capfirst}})</b>
                                    </td>
                                    <td> {{i.1.cantidad|floatformat:0|intcomma}}</td>
                               <!-- <td><a type="button" class="text-info" data-toggle="modal" data-target="#Modalprecio{{i.1.id}}">${{i.1.precio|floatformat:0|intcomma}}</a></td>-->    
                                    <td>${{i.1.precio|floatformat:0|intcomma}}</td>
                                     <!-- Modal fecha estado Subitem -->
                                    <div class="modal fade" id="Modalprecio{{i.1.id}}" tabindex="-1" role="dialog"
                                    aria-labelledby="Modalprecio{{i.1.id}}" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header" style="background-color: #2a3e52;">
                                                    <h5 class="modal-title text-light" id="exampleModalLongTitle">Modificar precio</h5>
                                                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="#" method="POST">
    
                                                        {% csrf_token %}
                                                        <span>Precio</span>
                                                        <div class="mb-3">
                                                            <input name="precio" type="number"
                                                                class="form-control form-control" value="{{i.1.precio|floatformat:0|intcomma}}">
                                                        </div>
                                                       
                                                        <div>
                                                            <button class="btn btn-info" type="submit" name="modificar" value="{{i.1.id}}"
                                                                style="margin-top: 10px;">Modificar</button>
    
                                                        </div>
                                                    </form>
    
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Cerrar</button>
    
                                                </div>
                                            </div>
                                        </div>
    
                                    </div>
                                    <td> ${{i.2|floatformat:0|intcomma}}</td>
                                    
                                    <td>
                                        <div style="color: rgb({% is_past_evaluacion1 i.3 %});">{{i.3|floatformat:2}}%</div>
                                        <div style="color: rgb({% is_past_evaluacion2 i.1.partida %});">
                                            ${{i.1.partida|floatformat:0|intcomma}}</div>
                                        <div style="color: rgb({% is_past_evaluacion3 i.1.imprevisto %});">
                                            {{i.1.imprevisto|lower|capfirst}}</div>
                                    </td>
    
                                </tr>
    
                                {% endfor %}
    
                            </tbody>
    
                        </table>

                    </div>

                   
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Funcionalidad para ordenar listas -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js" defer></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js" defer></script>
 
<script>

console.log({{id_proyecto}})

    $(document).ready(function () {
        $('#example').DataTable({
            "language": {
            "lengthMenu": "Mostar _MENU_ documentos",
            "zeroRecords": "No se encontro nada - perdon ",
            "info": "Pagina _PAGE_ de _PAGES_",
            "infoEmpty": "Sin registros disponibles",
            "infoFiltered": "(filtrado de _MAX_ registros totales)",
            "search": "Buscar"
        },
            "order": [[ 0, "desc" ]],
        });
    });
</script>

{% endblock %}