{% extends "users/inicio.html" %}

{% load static %}
{% load humanize %}

{% block content %}

<div class = "jumbotron" style="background-color: white; margin-bottom: 0px; text-align: center;">

    <h3>Comparativas de compras</h3>
    <h6>Comparativas entre proveedores</h6>
     <b><hr class = "my-4" style="width: 75%;"></b>


    {% if datos %} 


    <div class = "tableconteinerabel">
        <table class = "table table-hover" style="text-align: center;" >
            <thead>
    
                <tr class = "table-dark">
                    <th scope = "row" style="vertical-align: middle;"><strong>Nº</strong></th>
                    <th scope = "row" style="vertical-align: middle;"><strong>PROVEEDOR</strong></th>
                    <th scope = "row" style="vertical-align: middle;"><strong>PROYECTO</strong></th>
                    <th scope = "row" style="vertical-align: middle;"><strong>MONTO</strong></th>
                    <th scope = "row" style="vertical-align: middle;"><strong>ESTADO</strong></th>
                    <th scope = "row" style="vertical-align: middle;"><strong>FECHA</strong></th>
                    <th scope = "row" style="vertical-align: middle;"><strong>ARCHIVO</strong></th>

                    {% if request.user.username == "PL" or request.user.username == "AR" %}

                    <th scope = "row" style="vertical-align: middle;" colspan="2"><strong>AUTORIZAR</strong></th>
                    
                    {% endif %}

                </tr>
            </thead>

               
    
            <tbody>

                
               
                {% for i in datos|slice:"40" %}

                <tr class = "table-light">
                    <td style="width: 5%;"> <small>{{i.numero}}</small></td>
                    <td style="width: 8%;"> <small>{{i.proveedor.name}}</small> </td>
                        <td style="width: 8%;"> <small><strong>{{i.proyecto}}</strong></small></td>              
                    <td style="width: 8%;"><small>${{i.monto|floatformat:0|intcomma}}</small> </td>

                    {% if i.estado == "ESPERA" %}
                    <td style="width: 5%; color: rgb(192, 188, 50);" >  <small><strong>{{i.estado}}</strong></small></td>

                    {% endif %}

                    {% if i.estado == "AUTORIZADA" %}
                    <td style="width: 5%; color: rgb(50, 192, 74 );" > <small><strong>{{i.estado}}</strong></small></td>

                    {% endif %}

                    {% if i.estado == "NO AUTORIZADA" %}
                    <td style="width: 5%; color: rgb(192, 63, 50 );" > <small><strong>{{i.estado}}</strong></small></td>

                    {% endif %}
                    <td style="width: 8%;"><small>{{i.fecha_c}}</small> </td>
                    <td style="width: 7%;"><a href="{{ i.adjunto.url }}" class="btn btn-sm btn-info disabled">Ver Adjunto</a></td>
                    
                    
                    {% if request.user.username == "PL" or request.user.username == "AR" %}

                    <td style="width: 5%;">
                        
                        <form action="" method="POST">
                            {% csrf_token %}

                            <button class="btn btn-sm btn-success disabled" type="submit"  name = "APROBADA" value="{{i.id}}">Aprobar</button>


                        </form>
                        
                    <td style="width: 5%;">
                        <form action="" method="POST">
                            {% csrf_token %}

                            <button class="btn btn-sm btn-danger disabled" type="submit" name = "NO APROBADA" value="{{i.id}}">Rechazar</button>


                        </form>
                    </td>

                    {% endif %}
                    
                {% endfor %}
            </tbody>
             
    
            </table>
    


    </div>

    <b><hr class = "my-4" style="width: 100%;"></b>


        <div>
            <small>El listado puede continuar, se limita el numero de filas visibles</small>
        </div>

        <b><hr class = "my-4" style="width: 100%;"></b>




     {% else %}
            <div>
                <h3>No existe registros actualmente</h3>
            </div>
            

    {% endif %}

    <div style="margin-top: 2rem;">
        <p> <small>-- Link<strong>P</strong> --</small> </p>

     </div>
        
    

                    
</div>
 
    
{% endblock %}