{% extends "users/inicio.html" %}

{% load static %}
{% load humanize %}

{% block content %}

<div class = "jumbotron" style="background-color: white; margin-bottom: 0px; text-align: center;">

    <h3>Solicitudes de compras</h3>
    <h6> <small>Comparativas entre proveedores y O.C para autorizar</small> </h6>

     <div style="text-align:center">
                  
    </div> 


    <b><hr class = "my-4" style="width: 100%;"></b>

    <div style="text-align: left;">

    <a class="badge badge-secondary" href="{% url 'Comparativas' 0 %}" >Todas</a>

    <a class="badge badge-dark" href="{% url 'Comparativas' 1 %}" >En espera</a>
                     
    <a class="badge badge-warning" href="{% url 'Comparativas' 2 %}" >Adjunto OK</a>
                
    <a class="badge badge-success" href="{% url 'Comparativas' 4 %}" >Autorizadas</a>

    <a class="badge badge-danger" href="{% url 'Comparativas' 3 %}" >No Autorizadas</a>

    <a href= "{% url 'Descargar estado' %}" class="badge badge-info" style="text-align: end;" > Descargar Excel</a>


    </div>


     
    {% if datos %} 


    <div class = "tableconteinerabel" style="margin-top: 0.5%;">
       
        <table class = "table table-hover" style="text-align: center;" >
            <thead>
    
                <tr class = "table-dark">
                    <th scope = "row" style="vertical-align: middle;"> <small><b>Nº REF</b></small></th>
                    <th scope = "row" style="vertical-align: middle;"> <small><b>Nº O.C</b></small></th>
                    <th scope = "row" style="vertical-align: middle;"> <small><b>PROVEEDOR</b></small></th>
                    <th scope = "row" style="vertical-align: middle;"> <small><b>PROYECTO</b></small> </th>
                    <th scope = "row" style="vertical-align: middle;"><small><b>MONTO</b></small></th>
                    <th scope = "row" style="vertical-align: middle;"><small><b>ESTADO</b></small></th>
                    <th scope = "row" style="vertical-align: middle;"><small><b>FECHA</b></small></th>
                    <th scope = "row" style="vertical-align: middle;"><small><b>ARCHIVO</b></small></th>
                    <th scope = "row" style="vertical-align: middle;"><small><b>O.C</b></small></th>

                    {% if request.user.username == "PL" or request.user.username == "AR" or request.user.username == "ar" %}

                    <th scope = "row" style="vertical-align: middle;"><small><b>AUTORIZAR</b></small></th>
                    
                    {% endif %}

                </tr>
            </thead>

               
    
            <tbody>

                
               
                {% for i in datos|slice:"120" %}

                <tr class = "table-light">
                    <td style="width: 3%;"> <small> <strong>{{i.numero|upper}}</strong></small></td>

                    {% if i.adj_oc %}

                    <td style="width: 3%;"> <small> <strong>{{i.o_c}}</strong></small></td>

                    {% else %}

                    <td style="width: 5%;"><small>S/C</small> </td>
                    

                    {% endif %}

                    <td style="width: 8%;" > <small>{{i.proveedor.name}}</small> </td>
                        <td style="width: 5%;" > <small><strong>{{i.proyecto|upper}}</strong></small></td>              
                    <td style="width: 5%;" ><small>${{i.monto|floatformat:0|intcomma}}</small> </td>

                    {% if i.estado == "ESPERA" %}
                    <td style="width: 5%; color: rgb(83, 82, 65);" >  <small><strong>{{i.estado}}</strong></small></td>

                    {% endif %}

                    {% if i.estado == "AUTORIZADA" %}




                    <td style="width: 5%; color: rgb(50, 192, 74 );">  

                    {% if i.comentario %}
                        
                        
                    <span class="hint--left hint--danger"aria-label="{{i.comentario}}">

                    {% endif %}
                    
                    
                    
                    
                    <small><strong>{{i.estado}}</strong></small>

                    {% if i.comentario %}
                    
                </span>

                {% endif %}
                
                
                </td>

  
        
                    
                    {% endif %}

                    {% if i.estado == "NO AUTORIZADA" %}
                    <td style="width: 4%; color: rgb(192, 63, 50 );" >


                        {% if i.comentario %}
                        
                        
                        <span class="hint--left hint--danger" aria-label="{{i.comentario}}">

                            {% endif %}
                        
                        
                        <small><strong>{{i.estado}}</strong></small>

                        {% if i.comentario %}
                    
                            </span>

                            {% endif %}
                    
                    </td>

                    {% endif %}

                    {% if i.estado == "ADJUNTO ✓" %}
                    <td style="width: 4%; color: rgb(218, 207, 38);" >


                        {% if i.comentario %}
                        
                        
                        <span class="hint--left hint--danger" aria-label="{{i.comentario}}">

                            {% endif %}
                        
                        
                        <small><strong>{{i.estado}}</strong></small>

                        {% if i.comentario %}
                    
                            </span>

                            {% endif %}
                    
                    </td>

                    {% endif %}
                    <td style="width: 9%;"><small>{{i.fecha_c}}</small> </td>
                    <td style="width: 5%;"><a href="{{ i.adjunto.url }}" class="btn btn-sm btn-warning"><span class="hint--left hint--warning" aria-label="Es una imagen de comparativas o remitos!">ADJUNTOS</span></a></td>
                    
                    {% if i.adj_oc %}
                    
                    <td style="width: 3%;"><a href="{{ i.adj_oc.url }}" class="btn btn-sm btn-success"><span class="hint--left hint--success" aria-label="Una copia de la O.C!, puedes buscarla en TANGO tambien!">O.C</span></a></td>
                    
                    {% else %}

                    <td style="width: 3%;"><small>S/C</small> </td>

                    {% endif %}

                    {% if request.user.username == "PL" or request.user.username == "AR" or request.user.username == "ar" %}

                    <td style="width: 8%;" >
                        
                        <form action="" method="POST">
                            {% csrf_token %}

                            <div style="display: inline-block; max-width: 45%;">

                                <button class="btn btn-sm btn-warning" type="submit"  name = "ADJAPROB" value="{{i.id}}"><span class="hint--left hint--warning" aria-label="El adjunto esta Ok!">✓</span></button>

                            </div>

                            <div style="display: inline-block; max-width: 45%;">

                                <button class="btn btn-sm btn-success" type="submit"  name = "APROBADA" value="{{i.id}}"><span class="hint--left hint--success" aria-label="Esta todo listo para el pago!">✓</span></button>

                            </div>

                            <div style="display: inline-block; max-width: 45%;">

                                <button class="btn btn-sm btn-danger" type="submit" name = "NO APROBADA" value="{{i.id}}"><span class="hint--left hint--danger" aria-label="Deja un comentario para que revisen!">X</span></button>
                            
                            </div>

                            
                            
                            <div class="form-group" style="margin-top: 10%;">


                                <input type="text" name="{{request.user.username}}" class="form-control form-control-sm" placeholder="Comentario" id="inputDefault">
                        

                            </div>

                        </form>
                        

                    {% endif %}

                    
                {% endfor %}
            </tbody>
             
    
            </table>
    


    </div>

    <b><hr class = "my-4" style="width: 100%;"></b>


     {% else %}
            <div style="margin-top: 2rem;">
                <h7>No hay solicitudes!</h7>
            </div>

            {% endif %}

            <b><hr class = "my-4" style="width: 75%;"></b>


            



    <div style="margin-top: 2rem;">
        <p> <small>-- Link<strong>P</strong> --</small> </p>

     </div>
        
    

                    
</div>
 
    
{% endblock %}