{% extends "users/inicio.html" %}

{% load static %}
{% load humanize %}

{% block content %}

<div class = "jumbotron" style="background-color: white; margin-bottom: 0px; text-align: center;">

    <h3 style="font-family: Arial, Helvetica, sans-serif;">Registros de compras</h3>

    <small style="font-family: Arial, Helvetica, sans-serif;"><b>Modulo:</b> Circuito de compras </small>

     <b><hr class = "my-4" style="width: 100%;"></b>

     <form method="POST" style="text-align: left;">

        {% csrf_token %}

        <div style="display: inline-block; margin-left: 1rem;">

            <label for="palabra"><h6 style="font-family: Arial, Helvetica, sans-serif;">Buscar</h6></label>

        </div>
        
        <div style="display: inline-block; margin-left: 1rem; ">

            <input name="palabra" type="text" class="form-control form-control" placeholder="Buscar por palabra" list="art" style="width: 250px;">

        </div>
       
      

     </form>

    <b><hr class = "my-4" style="width: 100%;"></b>

    {% if request.user.username != "HC" %}

    <div style="text-align: left;">

        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-primary">Proyecto</button>
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="">
    
                    {% for i in proyectos %}
    
                    <div style="margin: 2px;">
    
                        <a href="{% url 'Compras' i.id %}" style="margin-top: 5px; color:  rgb({{i.color}})" >{{i.nombre}}</a>
    
                    </div>
    
                    {% endfor %}  
        
                    
                </div>
            </div>
            </div>
    
    
        <div style="text-align: left; display: inline-block;">
    
        
            
            {% if perms.compras.add_compras %}
    
            <a href= "/compras/cargacompras" class="btn btn-outline-info" style="text-align: end; margin-top: 5px;" > <b>+</b> Cargar una O.C</a>
        
            {% endif %}
    
            <a href= "{% url 'Descargar compras' %}" class="btn btn-outline-success" style="text-align: end; margin-top: 5px;" > <img src="{% static 'img/sobresalir.png' %}" alt="" style="max-width:20px; height:auto;"  > Descargar Excel</a>
    
        
            </div>
    
    </div>

    {% endif %}


    
    
    
    

    <div class = "tableconteinerabel">
        <table class = "table table-hover" style="text-align: center; margin-top: 5px;" >
            <thead>
    
                <tr class = "table-dark">
                    <th scope = "row" style="vertical-align: middle;"> <small> <strong>PROYECTO</strong> </small> </th>
                    <th scope = "row" style="vertical-align: middle;"><small> <strong>PROVEEDOR</strong> </small> </th>
                    <th scope = "row" style="vertical-align: middle;" class="priority-5"> <small> <strong>TIPO</strong> </small></th>
                    <th scope = "row" style="vertical-align: middle;"> <small> <strong>ARTICULO (UNIDAD)</strong> </small></th>
                    <th scope = "row" style="vertical-align: middle;"> <small> <strong>CANTIDAD</strong> </small> </th>
                    <th scope = "row" style="vertical-align: middle;"> <small> <strong>PRECIO</strong> </small> </th>
                    <th scope = "row" style="vertical-align: middle;"> <small> <strong>TOTAL</strong> </small> </th>
                    <th scope = "row" style="vertical-align: middle;"> <small> <strong>VAR.</strong> </small> </th>
                    <th scope = "row" style="vertical-align: middle;"> <small> <strong>PARTIDA</strong> </small> </th>
                    <th scope = "row" style="vertical-align: middle;" class="priority-5"> <small> <strong>I/P</strong> </small> </th>  
                    <th scope = "row" style="vertical-align: middle;"> <small> <strong>FECHA DE LA OC</strong> </small> </th>
                    <th scope = "row" style="vertical-align: middle;"> <small> <strong>DOCUMENTO</strong> </small> </th>
                    
                </tr>
            </thead>

                {% if request.user.username == "HC" %}

                    
            <tbody>

                
               
                {% for i in compras %}

                {% if "DIANCO" in i.1.proyecto.nombre %}



                <tr class = "table-light">
                    <td style="width: 8%;"> <small> <strong>{{i.1.proyecto}}</strong></small></td>              
                    <td style="width: 8%;"> <small>{{i.1.proveedor}}</small></td>
                    <td style="width: 5%;"> <small>{{i.1.tipo}}</small></td>
                    <td style="width: 20%;"><small>{{i.1.articulo}} ({{i.1.articulo.unidad}})</small> </td>
                    <td style="width: 5%;"> <small>{{i.1.cantidad|floatformat:2}}</small></td>
                    <td style="width: 5%;"> <small>${{i.1.precio|floatformat:2}}</small></td>
                    
                    {% if i.0 == 2 %}
    
                    <td style="width: 5%; color: #DE3521;"> <span class="hint--top hint--error" aria-label="Precio objetivo era: ${{i.1.precio_presup|floatformat:2}}"> <small> <strong>${{i.2|floatformat:0|intcomma}}</strong> </small></span> </td>
                    <td style="width: 3%; color: #DE3521;"> <span class="hint--top hint--error" aria-label="Precio objetivo era: ${{i.1.precio_presup|floatformat:2}}"> <small> <strong>↑{{i.3|floatformat:2}}%</strong> </small></span> </td>
                    
                    {% elif i.0 == 1 %}
    
                    <td style="width: 5%;"> <span class="hint--top hint--info" aria-label="Mismo precio que la base!"> <small> <strong>${{i.2|floatformat:0|intcomma}}</strong> </small></span> </td>
                    <td style="width: 3%;"> <span class="hint--top hint--info" aria-label="Mismo precio que la base!"> <small> <strong>={{i.3|floatformat:2}}%</strong> </small></span> </td>
                    
                    
                    {% else %}
                    <td style="width: 5%; color: #4FA429 ;"><span class="hint--top hint--success" aria-label="Bien comprado! Precio objetivo era: ${{i.1.precio_presup|floatformat:2}}"><small> <strong>${{i.2|floatformat:0|intcomma}}</strong> </small></span></td>
                    <td style="width: 3%; color: #4FA429 ;"> <span class="hint--top hint--success" aria-label="Precio objetivo era: ${{i.1.precio_presup|floatformat:2}}"> <small> <strong>↓{{i.3|floatformat:2}}%</strong> </small></span> </td>
                    
                    
                    {% endif %}
                    
                    <td style="width: 8%;"> <small>${{i.1.partida|floatformat:0|intcomma}}</small> </td>
                    <td style="width: 8%;"> <small>{{i.1.imprevisto}}</small> </td>
                    <td style="width: 8%;"> <small>{{i.1.fecha_c}}</small> </td>
                    <td style="width: 8%;"> <small>{{i.1.documento}}</small> </td>
                              
                </tr>

                {% endif %}

                {% endfor %}

            </tbody>


            {% else %}

    
            <tbody>

                
               
                {% for i in compras|slice:"200" %}

                {% if not "DIANCO" in i.1.proyecto.nombre %}



                <tr class = "table-light">
                    <td style="width: 8%;"> <small> <strong>{{i.1.proyecto}}</strong></small></td>              
                    <td style="width: 8%;"> <small>{{i.1.proveedor}}</small></td>
                    <td style="width: 5%;" class="priority-5"> <small>{{i.1.tipo}}</small></td>
                    <td style="width: 20%;"><small>{{i.1.articulo}} ({{i.1.articulo.unidad}})</small> </td>
                    <td style="width: 5%;"> <small>{{i.1.cantidad|floatformat:2}}</small></td>
                    <td style="width: 5%;"> <small>${{i.1.precio|floatformat:2}}</small></td>
                    
                    {% if i.0 == 2 %}
    
                    <td style="width: 5%; color: #DE3521;"> <span class="hint--top hint--error" aria-label="Precio objetivo era: ${{i.1.precio_presup|floatformat:2}}"> <small> <strong>${{i.2|floatformat:0|intcomma}}</strong> </small></span> </td>
                    <td style="width: 3%; color: #DE3521;"> <span class="hint--top hint--error" aria-label="Precio objetivo era: ${{i.1.precio_presup|floatformat:2}}"> <small> <strong>↑{{i.3|floatformat:2}}%</strong> </small></span> </td>
                    
                    {% elif i.0 == 1 %}
    
                    <td style="width: 5%;"> <span class="hint--top hint--info" aria-label="Mismo precio que la base!"> <small> <strong>${{i.2|floatformat:0|intcomma}}</strong> </small></span> </td>
                    <td style="width: 3%;"> <span class="hint--top hint--info" aria-label="Mismo precio que la base!"> <small> <strong>={{i.3|floatformat:2}}%</strong> </small></span> </td>
                    
                    
                    {% else %}
                    <td style="width: 5%; color: #4FA429 ;"><span class="hint--top hint--success" aria-label="Bien comprado! Precio objetivo era: ${{i.1.precio_presup|floatformat:2}}"><small> <strong>${{i.2|floatformat:0|intcomma}}</strong> </small></span></td>
                    <td style="width: 3%; color: #4FA429 ;"> <span class="hint--top hint--success" aria-label="Bien comprado! Precio objetivo era: ${{i.1.precio_presup|floatformat:2}}"> <small> <strong>↓{{i.3|floatformat:2}}%</strong> </small></span> </td>
                    
                    
                    {% endif %}

                    {% if i.1.partida >= 0 %}

                    <td style="width: 8%; color: #4FA429"> <small>${{i.1.partida|floatformat:0|intcomma}}</small> </td>

                    {% else %}

                    <td style="width: 8%; color: #DE3521"> <small>${{i.1.partida|floatformat:0|intcomma}}</small> </td>
                    
                    {% endif %}
                    {% if i.1.imprevisto == "PREVISTO" %}
                    
                    <td class="priority-5" style="width: 8%; color: #4FA429"> <small>{{i.1.imprevisto}}</small> </td>

                    {% else %}

                    <td class="priority-5" style="width: 8%; color: #DE3521"> <small>{{i.1.imprevisto}}</small> </td>
                    
                    {% endif %}

                    
                    
                    <td style="width: 10%;"> <small>{{i.1.fecha_c}}</small> </td>
                    <td style="width: 15%;"> <small>{{i.1.documento}}</small> </td>
                              
                </tr>

                {% endif %}

                {% endfor %}
            </tbody>

            {% endif %}
              
    
            </table>
    </div>

    <b><hr class = "my-4" style="width: 100%;"></b>


        <div>
            <small style="font-family: Arial, Helvetica, sans-serif;">El listado puede continuar, se limita el numero de filas visibles</small>
        </div>


    <div style="margin-top: 2rem;">

        <p style="font-family: Arial, Helvetica, sans-serif;"> <small>-- Link<strong>P</strong> --</small> </p>

     </div>
        
    

                    
</div>
 
    
{% endblock %}