{% extends "users/inicio2.html" %}

{% load static %}
{% load humanize %}

{% block content %}

<div class="container-fluid">
  <div class="row page-titles">
      <div class="col-md-5 align-self-center">
          <h3 class="text-themecolor">Chat en comparativa</h3>
      </div>

      <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{% url 'Comparativas' 0 0 0 %}">Solicitudes</a></li>
            <li class="breadcrumb-item">Mensajes</li>
        </ol>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
      <div class="card m-b-0">
          <!-- .chat-row -->
          <div class="chat-main-box bg-light">
              <!-- .chat-left-panel -->
              <div class="chat-left-aside">
                  <div class="open-panel"><i class="ti-angle-right"></i></div>
                  <div class="chat-left-inner">
                      <div class="form-material">
                          <input class="form-control p-20" type="text" placeholder="Datos de la solicitud">
                      </div>
                      <ul class="chatonline mt-2" type="none" style="padding-left: 15px;">
                          <li>
                            <div class="m-t-10">
                              <h5 class="m-b-0">{{datos.proveedor.name|lower|capfirst}}</h5>
                          </div>
                          <div class="m-t-10">
                            <h5 class="m-b-0">{{datos.numero|lower|capfirst}}</h5>
                        </div>
                        <div class="m-t-10">
                            <h5 class="m-b-0">{{datos.proyecto|lower|capfirst}}</h5>
                        </div>
                          <div class="m-t-10">
                            <h5 class="m-b-0">O.C: {{datos.o_c}}</h5>
                        </div>
                            <div class="m-t-10">
                              <h5 class="m-b-0 
                              {% if datos.estado == 'ESPERA'%}
                              text-info"
                              {% elif datos.estado == 'ADJUNTO ✓'%}
                              text-warning"
                              {% elif datos.estado == 'RECHAZADA'%}
                              text-danger"
                              {% else %}
                              text-success"
                              {% endif %}>Estado: {{datos.estado|lower|capfirst}}</h5>
                          </div>
                          <div class="m-t-10">
                            <h5 class="m-b-0 font-medium
                            {% if datos.visto == 'NO_VISTO'%}
                            text-info"
                            {% elif datos.visto == 'VISTO NO CONFORME'%}
                            text-warning"
                            {% else %}
                            text-success"
                            {% endif %}">Check: {{datos.visto|lower|capfirst}}</h5>
                        </div>
                          <div class="m-t-10">
                            <a href="{{ datos.adjunto.url }}"><i class=" fa fa-paperclip fa-lg"></i> - Adjunto</a>

        
                        </div>
                        <div class="m-t-10">
                          {% if datos.adj_oc %}
                    
                          <a href="{{ datos.adj_oc.url }}"><img src="{% static 'img/OC.png' %}" style="max-width:20px; height:auto;"> - Orden de compra</a>
                        
                          
                          {% else %}

                          <h5 class="m-b-0 font-medium">Sin O.C</h5>

                          {% endif %}
                      </div>

                          </li>
                      </ul>
                  </div>
              </div>
              <!-- .chat-left-panel -->
              <!-- .chat-right-panel -->
              <div class="chat-right-aside bg-body">
                  <div class="chat-main-header bg-light">
                      <div class="p-10 b-b">
                          <h3 class="box-title">Mensajes</h3>
                      </div>
                  </div>
                  <div style="height: 300px; overflow: hidden; overflow-y: scroll;">
                      <ul class="chat-list p-20">

        {% for i in mensajes %}

        {% if i.usuario.identificacion == request.user.username %}

        <!--chat Row -->
        <li class="reverse">
            <div class="d-flex flex-column align-items-end">
                <div class="chat-content mb-0">
                    <div class="box bg-light-inverse mb-0">{{ i.mensaje }}</div>
                    <div class="chat-img text-center mb-0">
                        <img src="{{i.usuario.imagenlogo.url}}" style="width: 30px;"/>
                        <h6 class="mt-1 mb-0">{{i.usuario.identificacion}}</h6>
                    </div>
                </div>
                <div class="chat-time" style="margin-right: 52px;">{{i.fecha|date:"d-m-Y"}}</div>

            </div>
      </li>


        {% else %}

        <li>
            <div class="d-flex flex-column">
                <div class="chat-content mb-0">
                    <div class="chat-img text-center mb-0">
                        <img src="{{i.usuario.imagenlogo.url}}" style="width: 30px;"/>
                        <h6 class="mt-1 mb-0">{{i.usuario.identificacion}}</h6>
                    </div>
                    <div class="box bg-light-info mb-0">{{ i.mensaje }}</div>
                </div>
                <div class="chat-time" style="margin-left: 55px;">{{i.fecha|date:"d-m-Y"}}</div>

            </div>
        </li>
    
    
        {% endif %}
    

        {% endfor %}

                      </ul>
                  </div>
                  
                  <div class="card-body b-t bg-light">
                      <div class="row">                 
                          <div class="col-11">
                            <form method="POST">
                              {% csrf_token %}
                              <textarea placeholder="Escribe un mensaje aquí" class="form-control" name="mensaje" required></textarea>
              
                            </div>
                            <div class="col-1">
               
                              {% csrf_token %}
                              <button type="submit" class="btn btn-info btn-circle btn-lg"><i class="fa fa-paper-plane-o" style="margin-left: -4px;"></i> </button>
                            </form>
                            </div>
                      </div>
                  </div>
                
              </div>
              <!-- .chat-right-panel -->
          </div>
          <!-- /.chat-row -->
      </div>
  </div>
</div>




    
{% endblock %}