{% extends "users/inicio.html" %}

{% load static %}
{% load humanize %}

{% block content %}

<div class = "jumbotron" style="background-color: white; margin-bottom: 0px; text-align: center;">

    <h3 style="font-family: Arial, Helvetica, sans-serif;">{{datos.proveedor.name}}</h3>

    <div>

        {% if datos.estado == "ESPERA" %}

    <small style="color: rgb(83, 82, 65);"><strong>{{datos.estado}}</strong></small>

    {% endif %}

    {% if datos.estado == "AUTORIZADA" %}

    
    <small style="color: rgb(37, 159, 76 );"><strong>O.C AUTORIZADA</strong></small>

    {% endif %}

    {% if datos.estado == "NO AUTORIZADA" %}
        
        <small style="color: rgb(192, 63, 50 );"><strong>RECHAZADA</strong></small>

    {% endif %}

    {% if datos.estado == "ADJUNTO ✓" %}

       
        <small style="color: rgb(208, 125, 32);"><strong>ADJUNTO AUTORIZADO</strong></small>


    {% endif %}


    </div>

    

    <small style="font-family: Arial, Helvetica, sans-serif;"><b>Modulo:</b> Circuito de compras </small>

     <div style="text-align:center">
                  
    </div> 


    <b><hr class = "my-4" style="width: 100%;"></b>

    <div style="text-align: left;">

        <a href="{{ datos.adjunto.url }}" class="btn btn-sm btn-warning"><span class="hint--left hint--warning" aria-label="Es una imagen de comparativas o remitos!">VER ADJUNTO</span> </a>



    </div>

    <div style="text-align: left; margin-top: 15px;">


        {% if datos.adj_oc %}
                    
                    <td style="width: 3%;"><a href="{{ datos.adj_oc.url }}" class="btn btn-sm btn-success"><span class="hint--left hint--success" aria-label="Una copia de la O.C!, puedes buscarla en TANGO tambien!">VER ORDEN DE COMPRA</span></a></td>
                    
    {% else %}

    <td style="width: 3%;"><small>Sin orden de compra adjunta</small> </td>

    {% endif %}


    </div>

    <b><hr class = "my-4" style="width: 100%;"></b>



        <h6>Mensajes!</h6>



    <div style="position: fixed; top: 90%; left: 10px; ">

        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter" style="border-radius: 0.6;">
          <img src="{% static 'img/conversacion.png' %}" alt="" style="max-width:40px; height:auto; border-radius: 0.5;"  >
        </button>


      </div>



    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Escribe un mensaje!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

                <form action="" method="POST">

                    {% csrf_token %}
        
                    <input class="col-form-label col-form-label-lg" type="text" placeholder="Escriba aqui ..." id="inputLarge" name="mensaje" style="margin: 5px; width: 50%;">
             
        
                </form>
              </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       
            </div>
          </div>
        </div>
      </div>

    


        {% for i in mensajes %}

        {% if i.usuario.identificacion == request.user.username %}

        <div style="text-align: right; margin-top: 10px;  vertical-align: bottom;">

            <div style="display: inline-block; background-color: rgba(11, 32, 68, 0.3); border-radius: 5px;">
    
                <small style="margin: 10px; width: 300px; "> {{ i.mensaje }}</small>
    
            </div>
    
            <img src="{{i.usuario.imagenlogo.url}}"  class="imgRedondaChica" alt="...">
    
            
    
        </div>
    
        {% else %}
    
        <div style="text-align: left; margin-top: 10px; vertical-align: bottom;">
    
            <img src="{{i.usuario.imagenlogo.url}}"  class="imgRedondaChica" alt="...">
    
            <div style="display: inline-block; background-color: rgba(24, 220, 220, 0.3); border-radius: 5px;">
    
                <small style="margin: 5px; "> {{ i.mensaje }}</small>
    
            </div>
             
    
        </div>
    
        {% endif %}
    
    
        
    
        {% endfor %}


    


    

    
    


    


    <div style="margin-top: 2rem;">
        <p> <small>-- Link<strong>P</strong> --</small> </p>

     </div>
        
    

                    
</div>
 
    
{% endblock %}