{% extends "users/inicio2.html" %}
{% load static %}
{% load humanize %}
{% load apptags_extras %}
{% block content %}

<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">{{mensaje_bievenida}}</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Principal compras' %}">App</a></li>
                <li class="breadcrumb-item">Principal</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><span class="lstick m-r-20"></span>{{mensaje}}</h4>
                        <h6 class="card-subtitle">Para avanzar elige una de las siguientes opciones, siempre puedes volver</h6>
                        <div class="row d-flex justify-content-center ">
        
                            <div class="col-12 col-md-4 col-lg-3 col-xlg-3">
                                <div class="card" id="img-tarjeta">
                                    <div class="card-body bg-light text-center">
                                        <div>
                                            <h6>OC</h6>
                                        </div>
                                        <small>
                                            Firma aqui tus OC
                                        </small>
                    
                                        <div>
                                            <img src="{% static 'img/contratos.png' %}" alt=""
                                                style="max-width:100px; height:auto; margin: 5px;">
                                        </div>
                    
                                        <a href="{% url 'Comparativas G1' 0 0 %}"><button class="btn btn-info">
                                                Ingresar</button></a>
                    
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-3 col-xlg-3">
                                <div class="card" id="img-tarjeta">
                                    <div class="card-body bg-light text-center">
                                        <div>
                                            <h6>OP</h6>
                                        </div>
                                        <small>Confirma aqui tus OP</small>
                    
                                        <div>
                                            <img src="{% static 'img/checkOC.png' %}" alt=""
                                                style="max-width:100px; height:auto; margin: 5px;">
                                        </div>
                    
                                        <a href="{% url 'OC autorizadas' 0 %}"><button class="btn btn-primary">
                                                Ingresar</button></a>
                    
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        
    </div>
</div>


<style>
    #img-tarjeta:hover{
        transform: scale(1.07);
        box-shadow: 2px 4px 4px 1px rgba(0, 0, 0, 0.1)
    }

</style>

{% endblock %}

