{% extends "users/inicio2.html" %}

{% load static %}
{% load humanize %}

{% block content %}

<div class="container-fluid r-aside">
    <!-- ============================================================== -->
    <!-- Cabeza de la pagina -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Revisión y control de pagos</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item">Revisión</li>

            </ol>
        </div>

    </div>

  </div>

  <div class="col-lg-12 col-xlg-6 button-group">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Ordenes de compra autorizadas</h4>
            <h6 class="card-subtitle">Todas las listadas fueron previamente autorizadas por PL</h6>

            <div style="text-align: left;">

                <div class="dropdown">
                    <button class="dropbtn btn btn-primary">Estado</button>
                    <div class="dropdown-content">
                        <a href="{% url 'OC autorizadas' 0 %}">Todas</a>
                        <a href="{% url 'OC autorizadas' 2 %}">Observadas</a> 
                        <a href="{% url 'OC autorizadas' 4 %}">Vistas</a>
                        <a href="{% url 'OC autorizadas' 3 %}">No vistas</a>
              
                    </div>
                  </div>
            <a href= "{% url 'Comparativas' 5 0 %}" class="btn waves-effect waves-light btn-outline-primary"style="text-align: end; margin-top: 5px;" >Tus O.C</a>
        
        
     
            <div class ="dataTables_filter">

                <form method="POST">
        
                    {% csrf_token %}
                <label>
                    Search:
                    <input type="search" class placeholder aria-controls="example23" name="palabra">
                </label>

            </form>

            </div>

            {% if datos %} 

            <div class="table-responsive">

                <table class="table">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Proveedor</th>
                            <th>O.C</th>
                            <th>Valor</th>
                            <th>Fecha</th>
                            {% if request.user.username == "SP" or request.user.username == "AR" or request.user.username == "ar" %}
                            <th>Check</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>

                        {% for i in datos|slice:"120" %}
                        <tr>
                            <td>
                                <span class="round round-primary"><img src="{{i.0.imagenlogo.url}}"  alt="user" width="50"></span>
                                </td>
                            <td>{{i.2.proveedor.name|lower|capfirst}} <a href="{% url 'Mensajes en comparativas' i.2.id %}"><img src="{% if i.1 %}{% static 'img/charla.png' %}{% else %}{% static 'img/charlar.png' %}{% endif %}" alt="" style="max-width:15px; height:auto; margin: 1px;"></a> 
                                <h6 class="card-subtitle">{{i.2.proyecto|upper}} - {{i.2.numero|upper}}</h6>
                                <div><a href="{{ i.2.adjunto.url }}" class="btn btn-xs btn-warning">Adjunto</a>
                                    <a href="{{ i.2.adj_oc.url }}" class="btn btn-xs btn-success">O.C</a>

                            </td>
                            <td>
                                <div>{{i.2.o_c|upper}}</div>
                                
                                <div class="label label-table label-success">PL</div>
                                {% if i.2.estado == "ESPERA" %}
                                <div class="label label-table label-info">Espera</div></td>
                                
            
                                {% endif %}
            
                                {% if i.2.visto == "VISTO" %}
            
                                <div class="label label-table label-success">SP</div> </td>
                                                          
    
                                {% endif %}
            
                                {% if i.2.visto == "NO_VISTO" or i.2.visto == Null %}
                                <div class="label label-table label-danger">No vista</div> </td>
            
                                {% endif %}
            
                                {% if i.2.visto == "VISTO NO CONFORME" %}
                                <div class="label label-table label-warning">Observada</div> </td>
            
                                {% endif %}
                                <td>${{i.2.monto|floatformat:0|intcomma}}</td> 
                            <td><span class="text-muted"><i class="fa fa-clock-o"></i> {{i.2.fecha_c|date:"d M Y"}}</span> </td>
                            {% if request.user.username == "SP" or request.user.username == "AR" or request.user.username == "ar" %}
                            <td>
                        
                                <form action="" method="POST">
                                    {% csrf_token %}
        
                                    <div style="display: inline-block; max-width: 45%;">
        
                                        <button class="btn btn-sm btn-success" type="submit"  name = "APROBADA" value="{{i.2.id}}"><span class="hint--left hint--success" aria-label="Todo OK!">✓</span></button>
        
                                    </div>
        
                                    <div style="display: inline-block; max-width: 45%;">
        
                                        <button class="btn btn-sm btn-warning" type="submit"  name = "ADJAPROB" value="{{i.2.id}}"><span class="hint--left hint--warning" aria-label="Puedes dejar una consulta!, esta acción no frenara el circuito de pago!">?</span></button>
        
                                    </div>
        
        
                                </form>
        
                            </td>
                            {% endif %}
                        </tr>
                                

                        {% endfor %}

                    </tbody>
             
    
                </table>


            {% endif %}
            </div>
            </div>
        </div>
    </div>
</div>




 
    
{% endblock %}