{% extends "users/inicio.html" %}

{% load static %}
{% load humanize %}

{% block content %}

<div class = "jumbotron" style="background-color: white; margin-bottom: 0px; text-align: center;">

    <h3>Ordenes de compra autorizadas</h3>
    <h6> <small>Autororizadas por PL</small> </h6>
     <b><hr class = "my-4" style="width: 75%;"></b>



    {% if datos %} 


    <div class = "tableconteinerabel" style="margin-top: 2%;">


        
        <table class = "table table-hover" style="text-align: center;" >
            <thead>
    
                <tr class = "table-dark">
                    <th scope = "row" style="vertical-align: middle;"><strong>Nº O.C</strong></th>

                    <th scope = "row" style="vertical-align: middle;"><strong>PROYECTO</strong></th>
                    <th scope = "row" style="vertical-align: middle;"><strong>PROVEEDOR</strong></th>
                    
                    <th scope = "row" style="vertical-align: middle;"><strong>MONTO</strong></th>
                    <th scope = "row" style="vertical-align: middle;"><strong>ESTADO</strong></th>
                    <th scope = "row" style="vertical-align: middle;"><strong>FECHA</strong></th>
                    <th scope = "row" style="vertical-align: middle;"><strong>ARCHIVO</strong></th>
                    <th scope = "row" style="vertical-align: middle;"><strong>O.C</strong></th>

                    {% if request.user.username == "SP" or request.user.username == "AR" or request.user.username == "ar" %}

                    <th scope = "row" style="vertical-align: middle;"><strong>CHECK</strong></th>
                    
                    {% endif %}

                </tr>
            </thead>

               
    
            <tbody>

                
               
                {% for i in datos %}

                <tr class = "table-light">

                    {% if i.adj_oc %}

                    <td style="width: 3%;"> <small> <strong>{{i.o_c}}</strong></small></td>

                    {% else %}

                    <td style="width: 5%;"><small>S/C</small> </td>
                    

                    {% endif %}

                    <td style="width: 5%;" > <small><strong>{{i.proyecto|upper}}</strong></small></td>

                    <td style="width: 8%;" > <small>{{i.proveedor.name}}</small> </td>
                                      
                    <td style="width: 5%;" ><small>${{i.monto|floatformat:0|intcomma}}</small> </td>

                    {% if i.estado == "ESPERA" %}
                    <td style="width: 5%; color: rgb(83, 82, 65);" >  <small><strong>{{i.estado}}</strong></small></td>

                    {% endif %}

                    {% if i.estado == "AUTORIZADA" %}




                    <td style="width: 5%; color: rgb(50, 192, 74 );">  

                    {% if i.comentario %}
                        
                        

                    {% endif %}
                    
                    
                    
                    
                    <small><strong>{{i.estado}}</strong></small>

                    {% if i.comentario %}


                {% endif %}
                
                
                </td>

  
        
                    
                    {% endif %}

                    {% if i.estado == "NO AUTORIZADA" %}
                    <td style="width: 5%; color: rgb(192, 63, 50 );" >


                        {% if i.comentario %}
                        
                        


                            {% endif %}
                        
                        
                        <small><strong>{{i.estado}}</strong></small>

                        {% if i.comentario %}
                    
   

                            {% endif %}
                    
                    </td>

                    {% endif %}

                    {% if i.estado == "ADJUNTO ✓" %}
                    <td style="width: 5%; color: rgb(218, 207, 38);" >


                        {% if i.comentario %}
                        
       

                            {% endif %}
                        
                        
                        <small><strong>{{i.estado}}</strong></small>

                        {% if i.comentario %}
                    
   

                            {% endif %}
                    
                    </td>

                    {% endif %}
                    <td style="width: 8%;"><small>{{i.fecha_c}}</small> </td>
                    <td style="width: 5%;"><a href="{{ i.adjunto.url }}" class="btn btn-sm btn-warning"><span class="hint--left hint--warning" aria-label="Es una imagen de comparativas o remitos!">ADJUNTOS</span></a></td>
                    
                    {% if i.adj_oc %}
                    
                    <td style="width: 3%;"><a href="{{ i.adj_oc.url }}" class="btn btn-sm btn-success"><span class="hint--left hint--success" aria-label="Una copia de la O.C!, puedes buscarla en TANGO tambien!">O.C</span></a></td>
                    
                    {% else %}

                    <td style="width: 3%;"><small>S/C</small> </td>
                    

                    {% endif %}

                    {% if request.user.username == "PL" or request.user.username == "AR" or request.user.username == "ar" %}

                    <td style="width: 5%;" >
                        
                        <form action="" method="POST">
                            {% csrf_token %}

                            

                            <div style="display: inline-block; max-width: 45%;">

                                <button class="btn btn-sm btn-success" type="submit"  name = "APROBADA" value="{{i.id}}"><span class="hint--left hint--success" aria-label="Todo OK!">✓</span></button>

                            </div>

                            <div style="display: inline-block; max-width: 45%;">

                                <button class="btn btn-sm btn-warning" type="submit"  name = "ADJAPROB" value="{{i.id}}"><span class="hint--left hint--warning" aria-label="Puedes dejar una consulta!, esta acción no frenara el circuito de pago!">?</span></button>

                            </div>


                        </form>
                        

                    {% endif %}

                    
                {% endfor %}
            </tbody>
             
    
            </table>
    


    </div>

    <b><hr class = "my-4" style="width: 100%;"></b>


            {% endif %}






    <div style="margin-top: 2rem;">
        <p> <small>-- Link<strong>P</strong> --</small> </p>

     </div>
        
    

                    
</div>
 
    
{% endblock %}