{% extends "users/inicio.html" %}

{% load static %}
{% load humanize %}

{% block content %}

<div class = "jumbotron" style="background-color: white; margin-bottom: 0px; text-align: center;">

    <h3>Ordenes de compra autorizadas</h3>
    <h6> <small>Ordenes de compra autorizadas</small> </h6>
     <b><hr class = "my-4" style="width: 75%;"></b>

     <div style="text-align: left;">

        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-primary">Estado</button>
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" >
                    <div style="margin: 2px;">
    
                        <a href="{% url 'OC autorizadas' 0 %}" style="margin-top: 5px;" >Todas</a>
    
                    </div>

                    <div style="margin: 2px;">
    
                        <a href="{% url 'OC autorizadas' 2 %}" style="margin-top: 5px; color: rgb(208, 125, 32);" >Observadas</a> 
                    
                    </div>
    
                    <div style="margin: 2px;">
    
                        <a href="{% url 'OC autorizadas' 4 %}"  style="margin-top: 5px; color: rgb(37, 159, 76 );" >Vistas</a>
                    
                    </div>
    
                    <div style="margin: 2px;">
    
                        <a href="{% url 'OC autorizadas' 3 %}" style="margin-top: 5px; color: rgb(192, 63, 50 );" >No vistas</a>
                    
                    </div>
                    
                    
                                 
                    
                    
                </div>
            </div>
            </div>


            <a href= "{% url 'Comparativas' 5 0 %}" class="btn btn-outline-info"style="text-align: end; " > O.C para autorizar</a>


        <a href= "{% url 'Descargar estado' %}" class="btn btn-outline-success" style="text-align: end; " ><img src="{% static 'img/sobresalir.png' %}" alt="" style="max-width:20px; height:auto;"  > Descargar Excel</a>
    
    
        </div>



    {% if datos %} 


    <div class = "tableconteinerabel" style="margin-top: 0.05%;">


        
        <table class = "table table-hover" style="text-align: center;" >
            <thead>
    
                <tr class = "table-dark">
                    <th scope = "row" style="vertical-align: middle;"><strong></strong></th>
                    <th scope = "row" style="vertical-align: middle;"><strong></strong></th>
                    <th scope = "row" style="vertical-align: middle;"><strong>Nº O.C</strong></th>

                    <th scope = "row" style="vertical-align: middle;"><strong>PROYECTO</strong></th>
                    <th scope = "row" style="vertical-align: middle;"><strong>PROVEEDOR</strong></th>
                    
                    <th scope = "row" style="vertical-align: middle;"><strong>MONTO</strong></th>
                    <th scope = "row" style="vertical-align: middle;"><strong>ESTADO</strong></th>
                    <th scope = "row" style="vertical-align: middle;"><strong>FECHA</strong></th>
                    <th scope = "row" style="vertical-align: middle;"><strong>ARCHIVO</strong></th>
                    <th scope = "row" style="vertical-align: middle;"><strong>O.C</strong></th>

                    {% if request.user.username == "SP" or request.user.username == "AR" or request.user.username == "ar" %}

                    <th scope = "row" style="vertical-align: middle;"><strong>CHECK</strong></th>
                    
                    {% endif %}

                </tr>
            </thead>

               
    
            <tbody>

                
               
                {% for i in datos %}

                <tr class = "table-light">

                    <td style="width: 1%;" > <small> <strong> 


                        {% if i.1 %}
                        
                        
                        <a href="{% url 'Mensajes en comparativas' i.2.id%}"><img src="{% static 'img/charla.png' %}" alt="" style="max-width:20px; height:auto;"  ></a>         
                    
                        {% else %}


                        <a href="{% url 'Mensajes en comparativas' i.2.id%}"><img src="{% static 'img/charlar.png' %}" alt="" style="max-width:20px; height:auto;"  ></a>         
                    


                        {% endif %}
                    
                    
                    </a> </strong></small></td>
                    <td style="width: 1%;" >

                        {% if i.0 %}
                        
                        <img src="{{i.0.imagenlogo.url}}"  class="img-fluid" alt="..." style="max-width: 30px; height:auto;">

                        {% endif %}
                    
                    </td>

                    {% if i.2.adj_oc %}

                    <td style="width: 3%;"> <small> <strong>{{i.2.o_c}}</strong></small></td>

                    {% else %}

                    <td style="width: 5%;"><small>S/C</small> </td>
                    

                    {% endif %}

                    <td style="width: 5%;" > <small><strong>{{i.2.proyecto|upper}}</strong></small></td>

                    <td style="width: 8%;" > <small>{{i.2.proveedor.name}}</small> </td>
                                      
                    <td style="width: 5%;" ><small>${{i.2.monto|floatformat:0|intcomma}}</small> </td>

                    {% if i.2.estado == "ESPERA" %}
                    <td style="width: 5%; color: rgb(83, 82, 65);" >  <small><strong>{{i.2.estado}}</strong></small></td>

                    {% endif %}

                    {% if i.2.visto == "VISTO" %}

                    <td style="width: 5%; color: rgb(50, 192, 74 );">  
                                              
                    <small><strong>{{i.2.visto}}</strong></small>
                
                    </td>
                    
                    {% endif %}

                    {% if i.2.visto == "NO_VISTO" or i.2.visto == Null %}
                    <td style="width: 5%; color: rgb(192, 63, 50 );" >
                        
                    <small><strong>NO VISTO</strong></small>

                    </td>

                    {% endif %}

                    {% if i.2.visto == "VISTO NO CONFORME" %}
                    <td style="width: 5%; color: rgb(218, 207, 38);" >
                       
                    <small><strong>{{i.2.visto}}</strong></small>

                    </td>

                    {% endif %}
                    <td style="width: 8%;"><small>{{i.2.fecha_c}}</small> </td>
                    <td style="width: 5%;"><a href="{{ i.2.adjunto.url }}" class="btn btn-sm btn-warning"><span class="hint--left hint--warning" aria-label="Es una imagen de comparativas o remitos!">ADJUNTOS</span></a></td>
                    
                    {% if i.2.adj_oc %}
                    
                    <td style="width: 3%;"><a href="{{ i.2.adj_oc.url }}" class="btn btn-sm btn-success"><span class="hint--left hint--success" aria-label="Una copia de la O.C!, puedes buscarla en TANGO tambien!">O.C</span></a></td>
                    
                    {% else %}

                    <td style="width: 3%;"><small>S/C</small> </td>
                    

                    {% endif %}

                    {% if request.user.username == "SP" or request.user.username == "AR" or request.user.username == "ar" %}

                    <td style="width: 5%;" >
                        
                        <form action="" method="POST">
                            {% csrf_token %}

                            

                            <div style="display: inline-block; max-width: 45%;">

                                <button class="btn btn-sm btn-success" type="submit"  name = "APROBADA" value="{{i.2.id}}"><span class="hint--left hint--success" aria-label="Todo OK!">✓</span></button>

                            </div>

                            <div style="display: inline-block; max-width: 45%;">

                                <button class="btn btn-sm btn-warning" type="submit"  name = "ADJAPROB" value="{{i.2.id}}"><span class="hint--left hint--warning" aria-label="Puedes dejar una consulta!, esta acción no frenara el circuito de pago!">?</span></button>

                            </div>


                        </form>

                    </td>
                        

                    {% endif %}

                    
                {% endfor %}
            </tbody>
             
    
            </table>
    


    </div>

    <b><hr class = "my-4" style="width: 100%;"></b>

    

    {% else %}

    <b><hr class = "my-4" style="width: 100%;"></b>

    Todo limpio!


            {% endif %}


    <div style="margin-top: 2rem;">
        <p> <small>-- Link<strong>P</strong> --</small> </p>

     </div>
        
    

                    
</div>
 
    
{% endblock %}