{% extends "users/inicio.html" %}

{% load static %}

{% block content %}

<div class = "jumbotron" style="background-color: white; margin-bottom: 0px; text-align: center;">

    <h3>Listado de proveedores</h3>
     <b><hr class = "my-4" style="width: 75%;"></b>

     <form method="post" class="form-group" style="text-align: center;">

        {% csrf_token %}


        <div style="display: inline-block; margin-left: 1rem;">

            <label for="palabra"><h6>Buscar</h6></label>

        </div>
        
        <div style="display: inline-block; margin-left: 1rem; ">

            <input name="palabra" type="text" class="form-control form-control" placeholder="Buscar por palabra" list="art" style="width: 30rem;">

        </div>

        <div style="margin-top: 1rem;">
            <button class="btn btn-dark" type="submit">Buscar</button>

        </div>
  
     </form>

     <b><hr class = "my-4" style="width: 100%;"></b>
     

     {% if datos %}  

    <div>

    </div>


    <table class = "table table-hover">
        <thead>

            <tr class = "table-dark">
                <th scope = "row"> <font style = "vertical-align: heredar; width: 10%;">ID </font></th>
                <th scope = "row"> <font style = "vertical-align: heredar; width: 20%;">NOMBRE DEL PROVEEDOR</font></th>
                <th scope = "row"> <font style = "vertical-align: heredar; width: 10%;">TELEFONO</font></th>
                <th scope = "row"> <font style = "vertical-align: heredar; width: 20%;">ULTIMA ACTUALIZACIÓN</font></th>
                <th scope = "row"> <font style = "vertical-align: heredar; width: 20%;">DESCRIPCIÓN AUXILIAR</font></th>
                
            </tr>
        </thead>

        <tbody>

            

            {% for i in datos %}
            <tr class = "table-light">
                <td style="width: 10%;"> <b>{{i.id}}</b></td>
                <td style="width: 20%;">{{i.name}}</td>
                <td style="width: 10%;">{{i.phone}}</td>
                <td style="width: 20%;">{{i.update}}</td>
                <td style="width: 20%;">{{i.descrip}}</td>
                
            </tr>
        </tbody>

            {% endfor %}

        </table>

     {% else %}
            <div>
                <h3>No existe registros actualmente</h3>
            </div>
            

    {% endif %}

    <div style="margin-top: 2rem;">
        <p> <small>-- Link<strong>P</strong> --</small> </p>

        </div>


</div>

{% endblock %}