{% extends "users/inicio2.html" %}

{% load static %}

{% block content %}

<div class="container-fluid ">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Listado de proyectos</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item">Listado de proyectos</li>
            </ol>
        </div>
    </div>
</div>

<div class="row">
    <!-- column -->
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Listado de proyectos</h4>
                <h6 class="card-subtitle">Proyectos cargados</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="vertical-align: top;">Logo</th>
                                <th style="vertical-align: top;">Nombre</th>
                                <th style="vertical-align: top;">
                                    <div>
                                        <p class="mb-0">
                                            Inicio
                                        </p>
                                        <p class="text-secondary" style="font-size: 12px; margin-bottom: 0;">
                                        Inicio contrato
                                        </p>
                                    </div></th>
                                <th style="vertical-align: top;">
                                    <div>
                                        <p class="mb-0">
                                            Entrega
                                        </p>
                                        <p class="text-secondary"  style="font-size: 12px; margin-bottom: 0;">
                                            Entrega contrato
                                        </p>
                                    </div></th>
                                <th style="vertical-align: top;">Tamaño</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for i in datos %}

                            <tr>

                                {% if i.iamgen %}
                                <td> <b><img src="{{i.iamgen.url}}" class="img-fluid" alt="..."
                                            style="max-width: 50px; height:auto;"></b> </td>
                                {% else %}

                                <td> <b><img src="#" class="img-fluid" alt="..."
                                            style="max-width: 50px; height:auto;"></b> </td>
                                {% endif %}

                                <td>{{i.nombre}}</td>

                                {% if i.fecha_i %}
                                <td>
                                    <div>
                                        <div>
                                            <span>
                                                {{i.fecha_i|date:"d/m/Y"}}
                                            </span>
                                        </div>
                                        <div>
                                            <span style="font-size: 13px;">
                                                {{i.fecha_i_contrato|date:"d/m/Y"}}
                                            </span>
                                        </div>


                                    </div>
                                </td>

                                {% else %}

                                <td>--/--/----</td>

                                {% endif %}
                                <td>
                                    <div>
                                        <div>
                                            <span>
                                                {{i.fecha_f|date:"d/m/Y"}}
                                            </span>
                                        </div>
                                        <div>
                                            <span style="font-size: 13px;">
                                                {{i.fecha_f_contrato|date:"d/m/Y"}}
                                            </span>
                                        </div>


                                    </div>
                                </td>

                                <td><span class="label label-info" style="background-color: rgb({{i.color}});">{{i.m2}}
                                        m2</span></td>
                            </tr>


                            {% endfor %}



                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}