{% extends "users/inicio2.html" %}

{% load static %}

{% block content %}

<div class="row">
    <!-- column -->
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Listado de proyectos</h4>
                <h6 class="card-subtitle">Proyectos cargados</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Logo</th>
                                <th>Nombre</th>
                                <th>Inicio</th>
                                <th>Final</th>
                                <th>Tamaño</th>
                            </tr>
                        </thead>
                        <tbody>
                            <td> <b><img src="{{i.iamgen.url}}"  class="img-fluid" alt="..." style="max-width: 70px; height:auto;"></b> </td>
                <td style="color: rgb({{i.color}}); vertical-align: middle;"> <b>{{i.nombre}}</b> </td>
                <td class="priority-5">{{i.descrip}}</td>

                {% if i.fecha_i %}
                <td>{{i.fecha_i|date:"Y-m-d"}}</td>

                {% else %}

                <td>No definida</td>

                {% endif %}
                <td class="priority-5">{{i.fecha_f|date:"Y-m-d"}}</td>
                <td> <b>{{i.m2}} m2</b> </td>
            </tr>

            {% endif %}


            {% endfor %}

            {% elif request.user.username == "AR" or request.user.username == "PL"  %}

            {% for i in datos %}

            <tr class = "table-light">

                <td> <b><img src="{{i.iamgen.url}}"  class="img-fluid" alt="..." style="max-width: 50px; height:auto;"></b> </td>
                <td>{{i.nombre}}</td>
                {% if i.fecha_i %}
                <td>{{i.fecha_i|date:"d-M-Y"}}</td>

                {% else %}

                <td>No definida</td>

                {% endif %}
                <td>{{i.fecha_f|date:"d-M-Y"}}</td>
                <td><span class="label label-info" style="background-color: rgb({{i.color}});">{{i.m2}} m2</span></td>
            </tr>


            {% endfor %}

            {% else %}

            
            {% for i in datos %}

            {% if not "SEMINARIO" in i.nombre %}

            <tr class = "table-light">

                <td><img src="{{i.iamgen.url}}"  class="img-fluid" alt="..." style="max-width: 50px; height:auto;"></td>
                <td> {{i.nombre}}</td>
                {% if i.fecha_i %}
                <td>{{i.fecha_i|date:"d-M-Y"}}</td>

                {% else %}

                <td>No definida</td>

                {% endif %}
                <td>{{i.fecha_f|date:"d-M-Y"}}</td>
                <td><span class="label label-info" style="background-color: rgb({{i.color}});">{{i.m2}} m2</span></td>
            </tr>

            {% endif %}


            {% endfor %}

            
            {% endif %}


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

<
    
{% endblock %}