{% extends "users/inicio2.html" %}
{% load apptags_extras %}

{% load static %}

{% block content %}

<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Datos del personal</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item"><a href="{% url 'App de rrhh' %}">Panel</a></li>
                <li class="breadcrumb-item">Personal</li>
            </ol>
        </div>

    </div>

  </div>

  <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Información general</h4>
                <h6 class="card-subtitle">Estadisticas y datos generales</h6>
                <div class="row m-t-40">
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card">
                            <div class="box bg-info text-center">
                                <h1 class="font-light text-white">{{datos.0}}</h1>
                                <h6 class="text-white">Usuarios totales</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card">
                            <div class="box bg-success text-center">
                                <h1 class="font-light text-white">{{datos.1}}</h1>
                                <h6 class="text-white">Activos</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card">
                            <div class="box bg-primary text-center">
                                <h1 class="font-light text-white">{% for u in usuarios %} {% if u.0.fecha_nacimiento|este_mes %} <img src="{{u.0.imagenlogo.url}}" alt="user" class="img-circle" style="width: 35px;"/>{% endif %}{% endfor %}</h1>
                                <h6 class="text-white">Cumples del mes</h6>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card">
                            <div class="box bg-dark text-center">
                                <h1 class="font-light text-white">X?</h1>
                                <h6 class="text-white">Emm 2</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <div class="table-responsive">
                    <table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="10">
                        <thead>
                            <tr>
                                <th>Usuario</th>
                                <th>ID</th>
                                <th>Email</th>
                                <th>Área</th>
                                <th>Puesto</th>
                                <th>Estado</th>
                                <th style="text-align: center;">Ingreso</th>
                                <th style="text-align: center;"> <img src="{% static 'img/monedalink2.png' %}" alt="user" class="img-circle" style="width: 20px;"/></th>
         
                            </tr>
                        </thead>
                        <tbody style="font-size: 14px;">
                            {% for u in usuarios %}
                            <tr>
                                <td>
                                    <a type="button" style="text-decoration: none;" data-toggle="modal" data-target="#ModalTarjeta{{u.0.id}}">
                                    <img src="{{u.0.imagenlogo.url}}" alt="user" class="img-circle" style="width: 35px;" /> - {{u.0.nombre}}</a>
                                </td>

                                <!-- Modal anuncio -->
                                <div class="modal fade" id="ModalTarjeta{{u.0.id}}" tabindex="-1" role="dialog" aria-labelledby="ModalPremioTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header" style="background: rgb(36,160,237);
                                            background: linear-gradient(315deg, rgba(36,160,237,1) 0%, rgba(56,56,130,1) 22%, rgba(0,212,255,1) 100%);">
                                        <h5 class="modal-title text-light" id="exampleModalLongTitle">{{u.0.nombre}}</h5>
                                        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <div class="modal-body">
                                                                        
                                        <p style="white-space: pre-wrap;">Trabaja con Link desde {% if u.0.fecha_ingreso %} {{u.0.fecha_ingreso|date:"d-m-Y"}} {% else %} .. algún momento {% endif %}, pertenece al área de {{u.0.area|lower}} como {{u.0.cargo|lower}}. 

<b>Datos:</b>
Telefono: {% if u.0.Telefono %} {{u.0.Telefono}} {% else %} No lo tengo agendado {% endif %}
Email de la empresa: {% if u.0.email %} {{u.0.email}} {% else %} No lo anotaron {% endif %}
Cumpleaños: {% if u.0.fecha_nacimiento %} El {{u.0.fecha_nacimiento|date:"d"}} de {{u.0.fecha_nacimiento|date:"M"}} {% else %} No lo anotaron {% endif %}
Año de nacimiento: {% if u.0.fecha_nacimiento %} {{u.0.fecha_nacimiento|date:"Y"}} {% else %} No lo anotaron {% endif %}

<b>Comentarios de la oficina de RRHH:</b> 

{% if u.0.Comentarios %} {{u.0.Comentarios}} {% else %} Aun no se ha registrado nada {% endif %}</p>
                                    </div>
                                    </div>

                                </div>
                            </div>
                                <td>{{u.0.identificacion}}</td>
                                <td>{{u.0.email}}</td>
                                <td>{{u.0.area|lower|capfirst}}</td>
                                <td>{{u.0.cargo|lower|capfirst}}</td>
                                <td><span {% if u.0.estado == 'ACTIVO' %}class="label label-success"{% else %}class="label label-danger"{% endif %}>{{u.0.estado}}</span> </td>
                                <td>{{u.0.fecha_ingreso|date:"d-m-Y"}} <span class="label label-rouded label-info pull-right">{{u.0.fecha_ingreso|years}}</span></td>
                                <td style="text-align: center;">{{u.1}}</td>
 
                            </tr>
                            {% endfor %}

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

  {% endblock %}