{% extends "users/inicio2.html" %}

{% load static %}
{% load humanize %}

{% block content %}

<div class="container-fluid r-aside">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Editar correspondencia</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item">Editar correspondencia</li>
            </ol>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body row">
                <div class="col-12 justify-content-center">

                    <div class="row d-flex justify-content-center">
                        <div class="col col-md-12 col-lg-8">
                            <div class="row">
                                <div class="col bg-light border rounded p-3">


                                    <form role="form" enctype="multipart/form-data" action="" method="POST"
                                        id="upload-image-form" style="margin: 30px;">
                                        {% csrf_token %}

                                        <div>
                                            <label for="proyecto">
                                                <h6>Proyecto</h6>
                                            </label>
                                        </div>

                                        <div class="row d-flex justify-content-center my-3">
                                            <div class="col col-md-8 col-lg-8">

                                                <input name="proyecto" type="search" class="form-control form-control"
                                                    list="proy" value='{{datos.proyecto}}'>

                                            </div>
                                        </div>

                                        <div>
                                            <label for="titulo">
                                                <h6>Titulo</h6>
                                            </label>
                                        </div>

                                        <div class="row d-flex justify-content-center my-3">
                                            <div class="col col-md-8 col-lg-8">
                                                <input name="titulo" type="text" class="form-control form-control"
                                                    value="{{datos.titulo}}">
                                            </div>
                                        </div>

                                        <div>
                                            <label for="desti">
                                                <h6>Destinatario</h6>
                                            </label>
                                        </div>

                                        <div class="row d-flex justify-content-center my-3">
                                            <div class="col col-md-8 col-lg-8">
                                                <input name="desti" type="text" class="form-control form-control"
                                                    value='{{datos.destinatario}}'>

                                            </div>
                                        </div>

                                        <div>
                                            <label for="copia">
                                                <h6>En copia a</h6>
                                            </label>
                                        </div>

                                        <div class="row d-flex justify-content-center my-3">
                                            <div class="col col-md-8 col-lg-8">

                                                <input name="copia" type="text" class="form-control form-control"
                                                    value='{{datos.copia}}'>

                                            </div>
                                        </div>

                                        <div>
                                            <label for="fechareq">
                                                <h6>Fecha requerida</h6>
                                            </label>
                                        </div>

                                        <div class="row d-flex justify-content-center my-3">
                                            <div class="col col-md-8 col-lg-8">

                                                <input name="fechareq" type="text" class="form-control form-control"
                                                    value="{{datos.fecha_requerida}}">

                                            </div>
                                        </div>

                                        <div>
                                            <label for="comugral">
                                                <h6>¿Comunicación general?</h6>
                                            </label>
                                        </div>

                                        <div class="row d-flex justify-content-center my-3">
                                            <div class="col col-md-8 col-lg-8">
                                                <div class="row">
                                                    <div class="form-check col-6">
                                                        <input type="radio" class="form-check-input" name="comugral"
                                                            id="comugral" value="SI" {% if datos.comunicacion_general == "SI" %} checked="" {%endif%}>
                                                        <label class="form-check-label" for="comugral">
                                                            SI
                                                        </label>
                                                    </div>
                                                    <div class="form-check col-6">
                                                        <input type="radio" class="form-check-input" name="comugral"
                                                            id="comugral1" value="NO" {% if datos.comunicacion_general == "NO" %} checked="" {%endif%}>
                                                        <label class="form-check-label" for="comugral1">
                                                            NO
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div>
                                            <label for="camproy">
                                                <h6>¿Cambia el proyecto?</h6>
                                            </label>
                                        </div>

                                        <div class="row d-flex justify-content-center my-3">
                                            <div class="col col-md-8 col-lg-8">
                                                <div class="row">
                                                    <div class="form-check col-6">
                                                        <input type="radio" class="form-check-input" name="camproy"
                                                            id="camproy" value="SI" {% if datos.cambio_proyecto == "SI" %}
                                                            checked="" {%endif%}>
                                                        <label class="form-check-label" for="camproy">
                                                            SI
                                                        </label>
                                                    </div>
                                                    <div class="form-check col-6">
                                                        <input type="radio" class="form-check-input" name="camproy"
                                                            id="camproy1" value="NO" {% if datos.cambio_proyecto == "NO" %} checked="" {%endif%}>
                                                        <label class="form-check-label" for="camproy1">
                                                            NO
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div>
                                            <label for="envdoc">
                                                <h6>¿Envia documentación?</h6>
                                            </label>
                                        </div>

                                        <div class="row d-flex justify-content-center my-3">
                                            <div class="col col-md-8 col-lg-8">
                                                <div class="row">
                                                    <div class="form-check col-6">
                                                        <input type="radio" class="form-check-input" name="envdoc"
                                                            id="envdoc" value="SI" {% if datos.envio_documentacion == "SI" %} checked="" {%endif%}>
                                                        <label class="form-check-label" for="envdoc">SI</label>
                                                    </div>
                                                    <div class="form-check col-6">
                                                        <input type="radio" class="form-check-input" name="envdoc"
                                                            id="envdoc1" value="NO" {% if datos.envio_documentacion == "NO" %}checked="" {%endif%}><label class="form-check-label"
                                                            for="envdoc1">NO</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div>
                                            <label for="archivo">
                                                <h6>Adjunto </h6>
                                            </label>
                                        </div>

                                        <div class="row d-flex justify-content-center my-3">
                                            <div class="col col-md-8 col-lg-8">
                                                <input type="file" class="form-control-file" name="archivo"
                                                    aria-describedby="fileHelp">
                                            </div>
                                        </div>


                                        <div class="row d-flex justify-content-center my-3">
                                            <div class="col col-md-8 col-lg-8">

                                                <small style=" color: rgb(192, 63, 50 );">*Archivo actual:
                                                    {{datos.adjuntos}}</small>

                                            </div>
                                        </div>

                                        <div>
                                            <label for="descripcion">
                                                <h6>Descripción del problema</h6>
                                            </label>
                                        </div>

                                        <div class="row d-flex justify-content-center my-3">
                                            <div class="col">
                                                <textarea class="form-control" id="exampleTextarea" rows="3"
                                                    name="descripcion">{{datos.descripcion}}</textarea>

                                            </div>
                                        </div>

                                        <div class="row d-flex justify-content-center my-3">
                                            <div class="col-lg-6 text-center">
                                                <button type="submit" class="btn btn-primary">Subir</button>
                                            </div>
                                        </div>


                                        {{ form.as_p }}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <datalist id="proy">

                        {% for i in proyectos %}

                        <option value="{{ i.nombre }}">({{i.id}})</option>

                        {% endfor %}

                    </datalist>

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}