{% extends "users/inicio2.html" %}

{% load static %}
{% load humanize %}

{% block content %}

<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Correspondencia</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Principal Tecnica' %}">Panel</a></li>
                <li class="breadcrumb-item">Correspondencia</li>
            </ol>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 justify-content-center">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <div>
                                <h4 class="card-title"><span class="lstick m-r-20"></span>Lista de correspondencia</h4>
                                <h5 class="card-subtitle">Este panel está destinado para registrar todas las correspondencias hasta la fecha</h5>
                            </div>
                            {% if request.user.username != "HC" %}
                            <div>
                                <a class="btn text-info" href="{% url 'Crear correspondencia' %}" ><i class="fa fa-plus-circle  mr-2"></i>Añadir</a>
                            </div>
                            {% endif %}
                                
                        </div>

                        {% if request.user.username != "HC" %}

                        <div style="text-align: left;">

                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                <button type="button" class="btn btn-primary">Proyecto</button>
                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <div class="m-2">
                                            <a href="{% url 'Notas de pedido' '0' tipo %}"
                                                style="color: rgb({{i.color}})">TODOS</a>
                                        </div>

                                        {% for i in lista_proyectos %}
                                        <div class="m-2">
                                            <a href="{% url 'Notas de pedido' i.id tipo %}"
                                                style=" color: rgb({{i.color}})">{{i.nombre}}</a>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                <button type="button" class="btn btn-primary">Tipo</button>
                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <div class="m-2">
                                            <a href="{% url 'Notas de pedido' id_proyecto '0' %}" >Todo</a>
                                        </div>

                                        <div class="m-2">
                                            <a href="{% url 'Notas de pedido' id_proyecto '1' %}" >Notas de pedido</a>
                                        </div>

                                        <div class="m-2">
                                            <a href="{% url 'Notas de pedido' id_proyecto '2' %}" >Ordenes de servicio</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% endif %}


                        <div class="tableconteinerabel">
                            <table id="example" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Titulo</th>
                                        <th>Firma</th>
                                        <th>Tipo</th>
                                        <th>Nº</th>
                                        <th>Proyecto</th>
                                        <th>Creador</th>
                                        <th>Dest.</th>
                                        <th>Fecha</th>
                                        <th>Adj.</th>
                                        
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for i in datos %}

                                    <tr style="font-size: 14px;">
                                        <td><a href=" {% url 'Nota de pedido' i.id %}"><b>{{i.titulo|lower|capfirst}}</b></a></td>
                                        
                                        {% if user.username in i.copia or user.username in i.destinatario %}

                                        {% if user.username in i.visto %}

                                        <td style="color: rgb(59, 186, 39);"><b>Firmado!</b></td>

                                        {% else %}

                                        <td style="color: rgb(186, 55, 39);"><b>Pendiente!</b></td>

                                        {% endif %}

                                        {% else %}

                                        <td><b>No firmas</b></td>
                                        {% endif %}

                                        <td>{{i.tipo}}
                                        </td>
                                        <td>{{i.numero}}</td>
                                        <td>{{i.proyecto|lower|capfirst}}</td>
                                        <td>{{i.creador}}</td>
                                        <td>{{i.destinatario}}</td>
                                        <td>{{i.fecha_creacion|date:"d-m-Y"}}</td>

                                        {% if i.adjuntos %}

                                        <td><a href="{{i.adjuntos.url}}"><i class="fa fa-lg fa-paperclip text-info"></i></a></td>

                                        {% else %}

                                        <td>NO</td>

                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "language": {
            "lengthMenu": "Mostar _MENU_ documentos",
            "zeroRecords": "No se encontro nada - perdon ",
            "info": "Pagina _PAGE_ de _PAGES_",
            "infoEmpty": "Sin registros disponibles",
            "infoFiltered": "(filtrado de _MAX_ registros totales)",
            "search": "Buscar"
        },
            "paging": false,
            "ordering": false,
            "info": false,

        });
    });
</script>


{% endblock %}