{% extends "users/inicio.html" %}

{% load humanize %}

{% load static %}

{% block content %}

<div class = "jumbotron" style="background-color: white; margin-bottom: 0px; text-align: center;">



    {% if datos.tipo == "NP" %}

    <h3 style="text-align: center; color: rgb({{datos.proyecto.color}}); font-family: Arial, Helvetica, sans-serif;">Nota de pedido</h3>

    {% else %}


    <h3 style="text-align: center; color: rgb({{datos.proyecto.color}}); font-family: Arial, Helvetica, sans-serif;">Orden de servicio</h3>


    {% endif %}
    <div>

        <img src="{{datos.proyecto.iamgen.url}}"  class="img-fluid" alt="..." style="max-width:200px;width:auto;height:auto; margin-top: 1rem; margin-bottom: 10px;">
  


    </div>

    <h6 style="text-align: center; color: rgb({{datos.proyecto.color}}); font-family: Arial, Helvetica, sans-serif;">{{datos.proyecto.nombre}}</h6>

    

    <div style="text-align: center;">


        <small style="font-family: Arial, Helvetica, sans-serif;"> <b>Modulo:</b> Comunicación</small>
      
  
  
      </div>
    
     <b><hr class = "my-4" style="width: 100%; border-color: rgba({{datos.proyecto.color}}, 0.5;"></b>



     <div style="text-align: left;">

        <h6>Información general:</h6>

        <div>
            <small> <b>Nº: </b> {{datos.numero}}</small>
        </div>
        <div>
            <small> <b>REFERENCIA: </b>{{datos.titulo}}</small>
        </div>
        <div>
            <small> <b>CREADOR: </b>{{datos.creador}}</small>
        </div>
        <div>
            <small> <b>DESTINATARIO: </b>{{datos.destinatario}}</small>
        </div>
        <div>
            <small> <b>SE COPIA A: </b>{{datos.copia}}</small>
        </div>

        {% if datos.visto %}
        <div>
            <small> <b>FIRMADO POR: </b>{{datos.visto}}</small>
        </div>

        {% else %}

        <div>
            <small> <b>FIRMADO POR: </b>Aun nadie a firmado!</small>
        </div>


        {% endif %}

        <div>
            <small> <b>FECHA DE CREACIÓN: </b>{{datos.fecha_creacion}}</small>
        </div>


        <div>
            <small> <b>ULTIMA ACTUALZIACIÓN: </b>{{datos.fecha_actualiacion}}</small>
        </div>
        <div>
            <small> <b>FECHA REQUERIDA: </b>{{datos.fecha_requerida}}</small>
        </div>

     </div>

     <b><hr class = "my-4" style="width: 100%; border-color: rgba({{datos.proyecto.color}}, 0.5;"></b>

     <div style="display: inline-block; max-width: 300px;  margin: 20px;">

        <h6>Envio de documentación:

            {% if datos.envio_documentacion == "SI" %}
            
            
            <small style="color: rgb(186, 55, 39);"> SI</small>

            {% else %}

            <small> NO</small>

            {% endif %}
        
        
        
        </h6>

    </div>

    <div style="display: inline-block; max-width: 300px; margin: 20px;">


        <h6>Cambio de proyecto:

            {% if datos.cambio_proyecto == "SI" %}
            
            
            <small style="color: rgb(186, 55, 39);"> SI</small>

            {% else %}

            <small> NO</small>

            {% endif %}
        
        
        
        </h6>
    
    
    
    </div>


    <div style="display: inline-block; max-width: 300px;  margin: 20px;">


        <h6>Comunicación general:

            {% if datos.comunicacion_general == "SI" %}
            
            
            <small style="color: rgb(186, 55, 39);"> SI</small>

            {% else %}

            <small> NO</small>

            {% endif %}
        
        
        
        </h6>

    
    
    
    </div>

        

     <b><hr class = "my-4" style="width: 100%; border-color: rgba({{datos.proyecto.color}}, 0.5;"></b>

     <div style="text-align: justify;">

        {% if datos.adjuntos %}

        <div style="text-align: right;">

            <a href="{{ datos.adjuntos.url }}">

                <img src="{% static 'img/archivo-adjunto.png' %}" alt="" style="max-width:50px; height: auto; margin: 5px;"   >


            </a>
            
        </div>

        {% endif %}

        
        <h6>Descripción:</h6>

        <p style="white-space: pre-wrap;"> {{datos.descripcion}} </p>

     </div>

     


     <b><hr class = "my-4" style="width: 100%; border-color: rgba({{datos.proyecto.color}}, 0.5;"></b>


     {% if user.username in datos.copia or user.username in datos.destinatario %}


     {% if user.username in datos.visto %}

     <div style="text-align: right; margin: 20px;">

        <Small>Ya firmaste esta correspondencia!</Small>
    </div>

     {% else %}

     <div style="text-align: right; margin: 20px;">

        <form action="" method="POST">


            {% csrf_token %}

            <button class="btn btn-success" type="submit"  name = "FIRMA" value="{{user.username}}"><span class="hint--left hint--success" aria-label="Este boton representa tu firma!">FIRMAR</span></button>
    


        </form>

    </div>

    {% endif %}

    {% endif %}






    <div style="text-align: center;">
        <p style="font-family: Arial, Helvetica, sans-serif;"> <small>-- Link<strong>P</strong> --</small> </p>

     </div>
        

   
                    
</div>
 
    
{% endblock %}