{% extends "users/inicio2.html" %}
{% load apptags_extras %}

{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Editar personal</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'App de rrhh' %}">Panel</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Datos personal' %}">Datos personal</a></li>
                <li class="breadcrumb-item">Personal</li>
            </ol>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body bg-light">
                <div class="row">
                   
                    <div class="col-lg-4 col-xlg-3 col-md-5">
                        <div class="card">
                            <div class="card-body">
                                
                                <center class="m-t-30">
                                    {% if data.imagenlogo %}
                                    <img src="{{data.imagenlogo.url}}" class="img-circle" width="150" />
                                    {% else %}
                                    <img src="{% static 'img/anonimo2.png' %}" class="img-circle" width="150" />
                                    {% endif %}
                                    <h4 class="card-title m-t-10 {% if data.estado == 'ACTIVO' %}text-success{% else %}text-danger{% endif %}">{{data.estado|lower|capfirst}}</h4>
                                    <h4 class="card-title m-t-10">{{data.nombre}}</h4>
                                    <h6 class="card-subtitle">{{data.area}} - {{data.cargo}}</h6>

                                </center>
                            </div>
                            <div>
                                <hr> </div>
                            <div class="card-body">
                                 <small class="text-muted">Email corporativo</small>
                                <h6>{{data.email}}</h6>
                                 <small class="text-muted p-t-30 db">Telefono</small>
                                <h6>{{data.Telefono}}</h6>
                                 <small class="text-muted p-t-30 db">Fecha nacimiento</small>
                                <h6>{{data.fecha_nacimiento|date:'d-m-Y'}}</h6>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-xlg-9 col-md-7">
                        <div class="card">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs profile-tab" role="tablist">
                                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#datos" role="tab">Datos</a> </li>
                                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Editar</a> </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">

                                <div class="tab-pane active" id="datos" role="tabpanel">
                                    <div class="card-body">
                                        <h4>Datos generales</h4>
                                        <p>Ingreso a LINK: {{data.fecha_ingreso|date:'d-m-Y'}}</p>
                                        <h6>Comentarios</h6>
                                        <p style="white-space: pre-wrap;">{{data.Comentarios}}</p>

                                    </div>
                                </div>
                                
                                <div class="tab-pane" id="settings" role="tabpanel">
                                    <div class="card-body">
                                        <form method="POST">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label class="col-md-12">Nombre</label>
                                                <div class="col-md-12">
                                                    <input type="text" value="{{data.nombre}}"  class="form-control form-control-line" name="nombre">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="example-email" class="col-md-12">Email</label>
                                                <div class="col-md-12">
                                                    <input type="email" value="{{data.email}}" class="form-control form-control-line" name="email">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-12">Área</label>
                                                <div class="col-md-12">
                                                    <input type="text" value="{{data.area}}" class="form-control form-control-line" name="area">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-12">Cargo</label>
                                                <div class="col-md-12">
                                                    <input type="text" value="{{data.cargo}}" class="form-control form-control-line" name="cargo">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-12">Estado</label>
                                                <div class="col-sm-12">
                                                    <select class="form-control form-control-line" name="estado">
                                                        <option {% if data.estado == "ACTIVO" %} selected {% endif %}>ACTIVO</option>
                                                        <option {% if data.estado == "NO ACTIVO" %} selected {% endif %}>NO ACTIVO</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-12">Telefono</label>
                                                <div class="col-md-12">
                                                    <input type="text" value="{{data.Telefono}}" class="form-control form-control-line" name="telefono">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-12">Fecha de nacimiento</label>
                                                <div class="col-md-12">
                                                    <input type="date" value="{{data.fecha_nacimiento|date:'Y-m-d'}}"  class="form-control form-control-line" name="fecha_nacimiento">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-12">Fecha de ingreso</label>
                                                <div class="col-md-12">
                                                    <input type="date" value="{{data.fecha_ingreso|date:'Y-m-d'}}"  class="form-control form-control-line" name="fecha_ingreso">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-12">Comentarios</label>
                                                <div class="col-md-12">
                                                    <textarea rows="5" class="form-control form-control-line" name="comentarios">{{data.Comentarios}}</textarea>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <button class="btn btn-success">Actualizar</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}