{% extends "users/inicio.html" %}

{% load static %}
{% load humanize %}

{% block content %}

{% if perms.ventas.view_pricing %} 

<div class = "jumbotron" style="background-color: white; margin-bottom: 0px; text-align: center;">


    <div>

        <img src="{{cuota.cuenta_corriente.venta.unidad.proyecto.iamgen.url}}"  class="img-fluid" alt="..." style="max-width:20%;width:auto;height:auto; margin-top: 1rem; margin-bottom: 3%;">


    </div>
    
    <h2 style="color: rgb({{cuota.cuenta_corriente.venta.unidad.proyecto.color}})" >Cuenta corriente cliente: {{cuota.cuenta_corriente.venta.comprador}} </h2>

    <small><strong>{{cuota.cuenta_corriente.venta.unidad.proyecto.nombre}}: {{cuota.cuenta_corriente.venta.unidad.piso_unidad}} - {{cuota.cuenta_corriente.venta.unidad.nombre_unidad}}</strong></small>

    <div>

        <small> Cuota del mes: {{cuota.fecha}}</small>


    </div>
    <b><hr class = "my-4" style="width: 75%;"></b>

    <div>
        <h6>Agregar un pago</h6>

    </div>

    <b><hr class = "my-4" style="width: 75%;"></b>

    <div style=" background-color: rgba(63, 95, 179, 0.3); width: 50%; margin-left: 25%;">



                <form method="POST">
        
                    {% csrf_token %}
        
        
                    <b><hr class = "my-4" style="width: 100%; "></b>

                    <div class = "campoctacte">

                        <div class = "campo">


                            <div style="display: inline-block;">
            
                                <label for="fecha"><h6>Fecha del pago</h6></label>
                    
                            </div>
                    
                            <div style="margin-bottom: 2%; width: 30%; margin-left: 35%;">
                    
                                <input name="fecha" type="date" class="form-control form-control">
                    
                            </div>
        
            
            
                    <div style="display: inline-block;">
            
                        <label for="precio1"><h6>Valor aportado en moneda dura</h6></label>
            
                    </div>
            
                    <div class="input-group mb-3" style="margin-bottom: 2%; width: 50%; margin-left: 25%;">
        
                        <div class="input-group-prepend">
        
                            <span class="input-group-text">$</span>
        
                        </div>
        
                        <input name="precio1" type="number" step="0.01" class="form-control form-control" aria-label="Amount">
                        
                    </div>

                    <div style="display: inline-block;">
            
                        <label for="precio2"><h6>Valor aportado en pesos</h6></label>
            
                    </div>
            
                    <div class="input-group mb-3" style="margin-bottom: 2%; width: 50%; margin-left: 25%;">
        
                        <div class="input-group-prepend">
        
                            <span class="input-group-text">$</span>
        
                        </div>
        
                        <input name="precio2" type="number" step="0.01" class="form-control form-control" aria-label="Amount">
                        
                    </div>

                    <div style="display: inline-block;">
            
                        <label for="documento1"><h6>Documento 1</h6></label>
            
                    </div>
            
                    <div class="input-group mb-3" style="margin-bottom: 2%; width: 50%; margin-left: 25%;">
        
        
                        <input name="documento1" type="text" class="form-control form-control" aria-label="Amount" placeholder="Documento de referencia">
                        
                    </div>

                    <div style="display: inline-block;">
            
                        <label for="documento2"><h6>Documento 2</h6></label>
            
                    </div>
            
                    <div class="input-group mb-3" style="margin-bottom: 2%; width: 50%; margin-left: 25%;">
        
        
                        <input name="documento2" type="text" class="form-control form-control" aria-label="Amount" placeholder="Documento de referencia">
                        
                    </div>
    
        
                      <b><hr class = "my-4" style="width: 100%; "></b>

        </div>
        
    </div>
                  
              <div style="margin-top: 2%; ">
    
                <button type="submit" class="btn btn-primary" >Agregar</button>
    
              </div>
        

        </form>

        <b><hr class = "my-4" style="width: 100%; "></b>

    
    </div>



    <b><hr class = "my-4" style="width: 50%;"></b>



    <div style="text-align: center; margin-top: 2rem;">
        <p> <small>-- Link<strong>P</strong> --</small> </p>

     </div>

                    
</div>


{% endif %} 
 
    
{% endblock %}