{% extends "users/inicio.html" %}

{% load static %}
{% load humanize %}

{% block content %}



<div class = "jumbotron" style="background-color: white; margin-bottom: 0px; text-align: center;" > 

    <div style="text-align: center;">
        <h2>Panel de control - Almacenero</h2>

        <small>Responsable del panel: </small><small><strong>VI</strong></small>


        <b><hr class = "my-4" style="width: 75%; border-color: black ;"></b>
    
    </div>

    {% if datos.proyectos %}

    <div style="text-align: center; margin-bottom: 20%;">
       <form method="POST">

           {% csrf_token %}

           <select name="proyecto" class="custom-select" style="width: 20%;">

               {% if request.user.username != "HC" %}

               {% for i in datos.proyectos %}

               {% if not "DIANCO" in i.nombre %}

               <option value="{{i.id}}">{{i.nombre}}</option>

               {% endif %}

               {% endfor %}

               {% else %}

               {% for i in datos.proyectos %}

               {% if "DIANCO" in i.nombre %}
               <option value="{{i.id}}">{{i.nombre}}</option>

               {% endif %}

               {% endfor %}

               
               {% endif %}


             </select>
             <div>
               <small> Seleccione un proyecto del listado para acceder a los datos</small>
             </div>
             

             <div>
               <button class="btn btn-dark" type="submit" style="margin-top: 1%;">Buscar datos</button>          
           </div>
           
       </form>

       
       
   </div>

   

   {% endif %}

   {% if datos.mensaje == 1 %}

   <div  style="margin-top: -15%;">
    <h6> Este proyecto no tiene todos los requerimientos cargados </h6>
    <small> Contactar con AR/VI</small>
</div>

<div style="text-align: center; margin-top: 2%; margin-bottom: 10%;">
    
    <img src="{% static 'img/comunicaciones.png' %}" style="max-width:10%;width:auto;height:auto; margin-top: 1rem;">

</div>

   {% endif %}



   {% if datos.proyectos == 0 %}

    <div style="margin-bottom: 2rem;">

    <img src="{{datos.datos.0.iamgen.url}}"  class="img-fluid" alt="..." style="max-width:20%;width:auto;height:auto; margin-bottom: 2rem;">


    <h3 style="color: rgb({{datos.datos.0.color}});">Evaluación de {{datos.datos.0.nombre}}</h3>

    
    </div>

    <hr class = "my-4" style="width: 100%; border-color: rgba({{datos.datos.0.color}}, 0.5);">

    <div  style="text-align: left;">

    <h4 style="margin-bottom: 2rem; color: rgb({{datos.datos.0.color}})"> Resumen de los datos </h4>

    <h6>Saldo de caja a la fecha: <small>$ {{datos.datos.3.5|floatformat:0|intcomma}}</small>  </h6>
    <h6>Costos del proyecto: <small>$ {{datos.datos.3.2|floatformat:0|intcomma}}</small>  </h6>
    <h6>Ingresos del proyecto: <small>$ {{datos.datos.3.3|floatformat:0|intcomma}}</small>  </h6>
    <h6>Saldo del proyecto: <small>$ {{datos.datos.3.6|floatformat:0|intcomma}}</small>  </h6>
    <h6>Rentabilidad: <small>{{datos.datos.3.4|floatformat:0|intcomma}}%</small>  </h6>
    <p><small style="color: #5DB150;">Valor del USD BLUE: $ {{datos.usd.valor}}</small></p>

    </div>

    

    <hr class = "my-4" style="width: 100%; border-color: rgba({{datos.datos.0.color}}, 0.5);">

    <h4 style="text-align: left; margin-bottom: 2rem; color: rgb({{datos.datos.0.color}})"> Desglose completo </h4>

    <div style="display: inline-block; width: 45%; vertical-align: top;">
             
        <h5>Costos del proyecto</h5>
        <hr class = "my-4" style="width: 45%; border-color: rgba({{datos.datos.0.color}}, 0.3);">
        <h6>Cheques emitidos: $ {{datos.datos.2.cheques_emitidos|floatformat:0|intcomma}}  </h6>
        <h6>Gastos a la fecha: $ {{datos.datos.2.gastos_fecha|floatformat:0|intcomma}}  </h6>
        <h6>Pendiente de gastar: $ {{datos.datos.3.0|floatformat:0|intcomma}}   </h6>
        <h6><small>Administración: $ {{datos.datos.2.pendiente_admin|floatformat:0|intcomma}}   </small></h6>
        <h6><small>Comisión: $ {{datos.datos.2.pendiente_comision|floatformat:0|intcomma}}   </small></h6>
        <h6><small>Materiales: $ {{datos.datos.1.saldo_mat|floatformat:0|intcomma}}  </small></h6>
        <h6><small>Mano de obra y subcontratos: $ {{datos.datos.1.saldo_mo|floatformat:0|intcomma}}  </small></h6>
        <h6><small>Imprevistos: $ {{datos.datos.1.imprevisto|floatformat:0|intcomma}}  </small></h6>
        <h6><small>Creditos de materiales: $ {{datos.datos.1.credito|floatformat:0|intcomma}}  </small></h6>
        <h6><small>Fondos de reparo: ${{datos.datos.1.fdr|floatformat:0|intcomma}} ${{datos.datos.1.fdr|floatformat:0|intcomma}}  </small></h6>
        <h6><small>Adelantos: $ {{datos.datos.2.pendiente_adelantos|floatformat:0|intcomma}}   </small></h6>
        <h6><small>I.V.A sobre ventas: $ {{datos.datos.2.pendiente_iva_ventas|floatformat:0|intcomma}}   </small></h6>
        <h6><small>II.BB + T.E.M: $ {{datos.datos.2.pendiente_iibb_tem|floatformat:0|intcomma}}</small></h6>
        <h6>Prestamos dados: $ {{datos.datos.2.Prestamos_dados|floatformat:0|intcomma}}  </h6>
        
    </div>

    <div style="display: inline-block; width: 45%; vertical-align: top;">
             
        <h5>Ingresos del proyecto</h5>
        <hr class = "my-4" style="width: 45%; border-color: rgba({{datos.datos.0.color}}, 0.3);">
        <h6>Prestamos a cobrar: $ {{datos.datos.3.1|floatformat:0|intcomma}}   </h6>
        <h6><small>Prestamos a proyectos: $ {{datos.datos.2.prestamos_proyecto|floatformat:0|intcomma}}  </small></h6>
        <h6><small>Prestamos a otros: $ {{datos.datos.2.prestamos_otros|floatformat:0|intcomma}}</small></h6>
        <h6>Cuotas cobradas: $ {{datos.datos.2.cuotas_cobradas|floatformat:0|intcomma}}  </h6>
        <h6>Cuotas a cobrar: $ {{datos.datos.2.cuotas_a_cobrar|floatformat:0|intcomma}}  </h6>
        <h6>Ingreso por unid. en venta: $ {{datos.datos.2.ingreso_ventas|floatformat:0|intcomma}}  </h6>
        
    </div>

    <div style="display: inline-block; width: 45%; vertical-align: top;">
        <h6 style="color: #E12B20 ; vertical-align: bottom;" >Total del costo: ${{datos.datos.3.2|floatformat:0|intcomma}}</h6>

    </div>

    <div style="display: inline-block; width: 45%; vertical-align: top;">
        <h6 style="color: #32A41B;">Ingresos totales: ${{datos.datos.3.3|floatformat:0|intcomma}}</h6>

    </div >

    {% endif %}

    
    


    <div style="text-align: center; margin-top: 10%;">
        <p> <small>-- Link<strong>P</strong> --</small> </p>

     </div>


</div>
{% endblock %}