{% extends "users/inicio.html" %}

{% load static %}
{% load humanize %}

{% block content %}



<div class = "jumbotron" style="background-color: white; margin-bottom: 0px; text-align: center;" > 

    <div >
        <h2 style="font-family: Arial, Helvetica, sans-serif;">Arqueos diarios</h2>

        <h6 style="font-family: Arial, Helvetica, sans-serif;"> Fecha del arqueo: {{ data_cruda.0.fecha }}</h6>

        <small style="font-family: Arial, Helvetica, sans-serif;"><b>Modulo:</b> Finanzas - Arqueo </small>


        <b><hr class = "my-4" style="width: 100%; "></b>
    
    </div>

    <div style="text-align: left;">

        <h5 style="font-family: Arial, Helvetica, sans-serif;">Resumen de los datos</h5>

        <h6>Total de la caja consolidada: <small>$ {{otros_datos.2|floatformat:0|intcomma}}</small></h6>
        <h6>Total de Dolares: <small> U$D {{otros_datos.0|floatformat:0|intcomma}}</small></h6>
        <h6>Total de Euros: <small>€ {{otros_datos.1|floatformat:0|intcomma}}</small></h6>
    </div>


    <b><hr class = "my-4" style="width: 100%; "></b>


    <div>

        <div style="margin-bottom: 2rem;">
            <h5 style="font-family: Arial, Helvetica, sans-serif;">Detalle por proyecto</h5>
        </div>

        <table class = "table table-hover" style="text-align: center;">
            <thead>
    
                <tr class = "table-dark">
                    <th scope = "row" style="vertical-align: middle;" colspan="2">  PROYECTO </th>                   
                    <th scope = "row" style="vertical-align: middle;"> CAJA CONSOLIDADA</th>
                    <th scope = "row" style="vertical-align: middle;"> EUROS</th>
                    <th scope = "row" style="vertical-align: middle;"> DOLARES</th>
                   
                </tr>
            </thead>
            {% for i in datos %}   
            <tbody>
    
                <tr class = "table-light">


                    {% if i.0 %}


                    <td style="vertical-align: middle;"> <img src="{{i.0.iamgen.url}}"  class="img-fluid" alt="..." style="max-width: 70px; height:auto;"> </td>
                    
                    {% else %}

                    <td style="width: 5%; vertical-align: middle;"> <b>NO</b> </td> 
                    

                    {% endif %}
                    
                    
                    <td style="width: 15%; vertical-align: middle;"> {{ i.1 }}</td> 
                    <td style="width: 10%; vertical-align: middle;">${{ i.2|floatformat:0|intcomma }}</td>
                    <td style="width: 10%; vertical-align: middle;">U$S {{ i.3|floatformat:0|intcomma }}</td>
                    <td style="width: 10%; vertical-align: middle;">€ {{ i.4|floatformat:0|intcomma }}</td> 
                   

                </tr>
            </tbody>

            {% endfor %}

        </table> 


          
   </div>

   <b><hr class = "my-4" style="width: 100%; "></b>

   <canvas id="myChart" height="70px" width="auto"></canvas>


   <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
   <script>
       var ctx = document.getElementById('myChart').getContext('2d');
       var chart = new Chart(ctx, {
           // The type of chart we want to create
           type: 'bar',

           // The data for our dataset
           data: {

               labels: [
                   {% for i in grafico %}
                   '{{i.0}}',                   
                   {% endfor %}
  
                   ],
               datasets: [{
                   label: 'Stock de dolares',
                   backgroundColor: 'rgb(56, 229, 98 , 0.5)',
                   borderColor: 'rgb(56, 229, 98)',
                   borderWidth: 1,
                   data: [
                   {% for i in grafico  %}
                   Math.round({{i.1|floatformat:0}})/1000,  
                                    
                   {% endfor %}

                   ]
               }],

           },

           // Configuration options go here
           options: {

               scales: {

                   xAxes: [
                       {

                           stacked: true,
                           display: false,
                           barThickness: 40,

                       }
                   ],
                   yAxes: [
                       {
                           ticks: {
                                beginAtZero: true,
                               min: 0,
                               stepSize: 100,
                               callback: function(label, index, labels) {
                                   return '$ '+ label + 'Mil';
                                   
                               }
                           },
                           scaleLabel: {
                               display: true,
                    
                           },

                           stacked: false
                       }
                   ],
               },
           }

       });
       

       
   </script>


    <div>
        <p style="font-family: Arial, Helvetica, sans-serif;"> <small>-- Link<strong>P</strong> --</small> </p>

     </div>


</div>
{% endblock %}
