{% extends "users/inicio2.html" %}

{% load static %}
{% load humanize %}

{% block content %}

<div class="container-fluid r-aside">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Arqueo diario</h3>
        </div>

    </div>

  </div>

  <div class="row">
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <span class="lstick"></span>Resumen de datos</h4></div>

                </div>

                <div class="m-t-10">
                    <h5 class="m-b-0 font-medium">Ultimo arqueo: {{ data_cruda.0.fecha }}</h5>
                    <h6 class="text-muted">De esta fecha se alimenta los datos</h6>
                </div>
                <div class="m-t-10">
                    <h5 class="m-b-0 font-medium">Efectivo: $ {{otros_datos.2|floatformat:0|intcomma}}</h5>
                    <h6 class="text-muted">Liquides en pesos</h6>
                </div>
                <div class="m-t-10">
                    <h5 class="m-b-0 font-medium">Bancos: $ {{otros_datos.4|floatformat:0|intcomma}}</h5>
                    <h6 class="text-muted">Suma de todos los bancos</h6>
                </div>
                <div class="m-t-10">
                    <h5 class="m-b-0 font-medium">Cheques: $ {{otros_datos.3|floatformat:0|intcomma}}</h5>
                    <h6 class="text-muted">Suma de valores cheques a cobrar</h6>
                </div>
                <div class="m-t-10">
                    <h5 class="m-b-0 font-medium">Dolares: U$D {{otros_datos.0|floatformat:0|intcomma}}</h5>
                    <h6 class="text-muted">Liquides en dolares</h6>
                </div>
                <div class="m-t-10">
                    <h5 class="m-b-0 font-medium">Euros: € {{otros_datos.1|floatformat:0|intcomma}}</h5>
                    <h6 class="text-muted">Liquides en Euros</h6>
                </div>
                <div class="m-t-10">
                    <h5 class="m-b-0 font-medium">Total: $ {{otros_datos.5|floatformat:0|intcomma}}</h5>
                    <h6 class="text-muted">Canja consolidada en pesos</h6>
                </div>
                <div style="margin-top: 15px;">
                    <button type="button" data-toggle="modal" data-target="#ModalArqueo" class="btn waves-effect waves-light btn-rounded btn-sm btn-secondary" ><img src="{% static 'img/anadir.png' %}" alt="" style="max-width:25px; height:auto; vertical-align: bottom;"> Nuevo arqueo</button>
        
                </div>

                <!-- Modal fecha estado Subitem -->
                <div class="modal fade" id="ModalArqueo" tabindex="-1" role="dialog" aria-labelledby="ModalArqueo" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Cargar un archivo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">                                    
                        <form method="POST" style="margin: 15px;" enctype="multipart/form-data" id="upload-image-form">

                            {% csrf_token %}

                            <h6>Fecha del arqueo</h6>  

                            <div class="input-group mb-3">
                                    
                                <input name="fecha" type="date" class="form-control form-control" style="width: 300px;">
                            </div>

                            <h6>Archivo</h6>  

                            <div class="input-group mb-3">
                                    
                                <input name="adjunto" type="file" class="form-control form-control" style="width: 300px;">
                            </div>

                            <button type="submit" class="btn btn-light">
                            <img src="{% static 'img/upload.png' %}" alt="" style="max-width:20px; height:auto;">
                            <b>Cargar</b></button>

                            {{ form.as_p }}
                        
                        </form>
                        
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                
                        </div>
                    </div>
                    </div>

                </div>

                <!-- Final del modal -->

            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <h4 class="card-title"><span class="lstick"></span>Proporción</h4></div>

                </div>

                <div style="display: inline-block; width: 310px; margin: 10px;">

                    <canvas id="myChart2"></canvas>
                
                </div>

                <table class="table vm font-14">
                    <tr>
                        <td class="b-0">Moneda extranjera</td>
                        <td class="text-right font-medium b-0"><script>window.print(Math.round({{grafico.0.1|floatformat:0}})/Math.round({{otros_datos.5|floatformat:0}})*100)</script>%</td>
                    </tr>
                    <tr>
                        <td>Efectivo</td>
                        <td class="text-right font-medium">30.8%</td>
                    </tr>
                    <tr>
                        <td>Banco</td>
                        <td class="text-right font-medium">7.7%</td>
                    </tr>
                    <tr>
                        <td>Cheque</td>
                        <td class="text-right font-medium">23.1%</td>
                    </tr>
                </table>

                

            </div>
        </div>
    </div>


    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Detalle por proyecto</h4>
                <h6 class="card-subtitle">Resumen de datos</h6>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Proyecto</th>
                                <th>Efectivo</th>
                                <th>Banco</th>
                                <th>Cheques</th>
                                <th>Moneda Ext.</th>
                                <th>Caja consolidada</th>
                                <th>Dolares</th>
                                <th>Euros</th>
      
                            </tr>
                        </thead>

                        <tbody>

                            {% for i in datos %}  
                
                            <tr class = "table-light">
            
            
                                
            
            
                                <td style="vertical-align: middle;">
                                    
                                    <div>
                                        {% if i.0 %}
        
                                        <span class="label label-success">{{ i.1 }}</span>
                                        {% else %}
            
                                        <span class="label label-info">{{ i.1 }}</span>
                                        
                    
                                        {% endif %}
                                    </div></td>
                                
                                <td style="width: 10%; vertical-align: middle;">${{ i.2|floatformat:0|intcomma }}</td>
                                <td style="width: 10%; vertical-align: middle;">${{ i.7|floatformat:0|intcomma }}</td>
                                <td style="width: 10%; vertical-align: middle;">${{ i.5|floatformat:0|intcomma }}</td>
                                <td style="width: 10%; vertical-align: middle;">${{ i.6|floatformat:0|intcomma }}</td>
                                <td style="width: 10%; vertical-align: middle;">${{ i.8|floatformat:0|intcomma }}</td>
                                <td style="width: 10%; vertical-align: middle; color: rgb(89, 171, 70);">U$S {{ i.3|floatformat:0|intcomma }}</td>
                                <td style="width: 10%; vertical-align: middle; color: rgb(76, 88, 173)">€ {{ i.4|floatformat:0|intcomma }}</td>
                               
            
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

   


   <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
   
       <script>
            
            var ctx = document.getElementById('myChart2').getContext('2d');
            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'doughnut',
                // The data for our dataset
                data: {
                datasets: [{        
                    data: [Math.round({{grafico.0.1|floatformat:0}})/1000000, Math.round({{grafico.0.2|floatformat:0}})/1000000, Math.round({{grafico.0.3|floatformat:0}})/1000000, Math.round({{grafico.0.4|floatformat:0}})/1000000],
                    backgroundColor: ['rgb(56, 229, 98 , 0.5)', 'rgb(25, 71, 175 , 0.5)', 'rgb(222, 65, 37  , 0.5)', 'rgb(231, 206, 27  , 0.5)'],    
                }],
      
                labels: ['Moneda extranjera', 'Efectivo', 'Banco', 'Cheque' ]
              },
                options: {
                  legend: {
                      position: 'right'
                  },
                },
      
              });
      
        </script>
        <script>
       var ctx = document.getElementById('myChart').getContext('2d');
       var chart = new Chart(ctx, {
           // The type of chart we want to create
           type: 'bar',

           // The data for our dataset
           data: {

               labels: [
                   {% for i in grafico %}
                   '{{i.0}}',                   
                   {% endfor %}
  
                   ],
               datasets: [{
                   label: 'Moneda extranjera',
                   backgroundColor: 'rgb(56, 229, 98 , 0.5)',
                   borderColor: 'rgb(56, 229, 98)',
                   borderWidth: 1,
                   data: [
                   {% for i in grafico  %}
                   Math.round({{i.1|floatformat:0}})/1000000,  
                                    
                   {% endfor %}

                   ]
               },
               {
                   label: 'Efectivo',
                   backgroundColor: 'rgb(25, 71, 175 , 0.5)',
                   borderColor: 'rgb(25, 71, 175)',
                   borderWidth: 1,
                   data: [
                   {% for i in grafico  %}
                   Math.round({{i.2|floatformat:0}})/1000000,  
                                    
                   {% endfor %}

                   ]
               },
               {
                   label: 'Banco',
                   backgroundColor: 'rgb(222, 65, 37  , 0.5)',
                   borderColor: 'rgb(222, 65, 37 )',
                   borderWidth: 1,
                   data: [
                   {% for i in grafico  %}
                   Math.round({{i.3|floatformat:0}})/1000000,  
                                    
                   {% endfor %}

                   ]
               },
               {
                   label: 'Cheque',
                   backgroundColor: 'rgb(231, 206, 27  , 0.5)',
                   borderColor: 'rgb(231, 206, 27)',
                   borderWidth: 1,
                   data: [
                   {% for i in grafico  %}
                   Math.round({{i.4|floatformat:0}})/1000000,  
                                    
                   {% endfor %}

                   ]
               },],

           },

           // Configuration options go here
           options: {

               scales: {

                   xAxes: [
                       {

                           stacked: true,
                           display: false,
                           barThickness: 40,

                       }
                   ],
                   yAxes: [
                       {
                            stacked: true,
                           ticks: {
                                beginAtZero: true,
                               min: 0,
                               stepSize: 10,
                               callback: function(label, index, labels) {
                                   return '$ '+ label + 'Millones';
                                   
                               }
                           },
                           scaleLabel: {
                               display: true,
                    
                           },

                       }
                   ],
               },
           }

       });
       

       
   </script>


{% endblock %}
