{% extends "users/inicio.html" %}

{% load static %}
{% load humanize %}

{% block content %}



<div class = "jumbotron" style="background-color: white; margin-bottom: 0px; text-align: center;" > 

    <div >
        <h2>Panel de control - Consolidado de los CBA</h2>

        <small>Panel integral</small>


        <b><hr class = "my-4" style="width: 100%; "></b>
    
    </div>


    <div>

        <div style="margin-bottom: 2rem;">
            <h5>Detalle por proyecto</h5>
        </div>
        <table class = "table table-hover" style="text-align: center;">
            <thead>
    
                <tr class = "table-dark">
                    <th scope = "row" colspan="2">  PROYECTO </th>
                    <th scope = "row"> INGRESOS</th>
                    <th scope = "row"> COSTOS</th>
                    <th scope = "row"> BENEFICIOS</th>
                    <th scope = "row"> RENDIMIENTO</th>
                    <th scope = "row"> PRICING</th>
                    <th scope = "row"> PRESUPUESTO</th>

                   
                </tr>
            </thead>
            {% for i in datos_completos %}   
            <tbody>
    
                <tr class = "table-light">


                    <td style="width: 15%; vertical-align: middle;"> <img src="{{i.0.proyecto.iamgen.url}}"  class="img-fluid" alt="..." style="max-width: 50%;width:auto;height:auto;"> </td>
                    
                    {% if "#300" in i.0.proyecto.nombre %}

                    <td style="width: 10%; color: rgb({{i.0.proyecto.color}}); vertical-align: middle;"> <b>#300 (PROYECTO COMPLETO)</b> </td> 
                    
                    {% else %}

                    <td style="width: 10%; color: rgb({{i.0.proyecto.color}}); vertical-align: middle;"> <b>{{ i.0.proyecto.nombre}}</b> </td> 
                    

                    {% endif %}
                    
                    <td style="width: 5%; vertical-align: middle;"> ${{ i.2|floatformat:0|intcomma }}</td> 
                    <td style="width: 10%; vertical-align: middle;">${{ i.1|floatformat:0|intcomma }}</td> 
                    <td style="width: 10%; vertical-align: middle; vertical-align: middle;">${{ i.3|floatformat:0|intcomma }}</td> 
                    <td style="width: 10%; vertical-align: middle;">{{ i.4|floatformat:0|intcomma }}%  </td> 
                    
                    {% if i.6 > 0 %}
                    
                    <td style="width: 10%; vertical-align: middle; color: #3FB360;"><b>  CARGADO</b></td> 
                    
                    {% else %}

                    <td style="width: 10%; vertical-align: middle; color: #B3513F ;"> <b>NO CARGADO</b></td> 

                    {% endif %}

                    {% if i.5 > 200 %}
                    
                    <td style="width: 10%; vertical-align: middle; color: #3FB360;"><b>CALCULADO</b></td> 

                    
                    {% elif i.5 > 100 %}
                    
                    <td style="width: 10%; vertical-align: middle; color: #DBCD23 ;"><b>SEMI-CALCULADO</b></td> 
                    
                    {% else %}

                    <td style="width: 10%; vertical-align: middle; color: #B3513F ;"> <b>EXTRAPOLADO</b></td> 

                    {% endif %}

                </tr>
            </tbody>

            {% endfor %}

            <tbody>
    
                <tr class = "table-light">
                    <td style="width: 15%; vertical-align: middle;" colspan="2"> RESULTADO CONJUNTO DE PROYECTOS </td>
                    <td style="width: 5%; vertical-align: middle;"> ${{ datos_finales.0.0|floatformat:0|intcomma }}</td> 
                    <td style="width: 10%; vertical-align: middle;"> ${{  datos_finales.0.1|floatformat:0|intcomma }}</td> 
                    <td style="width: 10%; vertical-align: middle; vertical-align: middle;"> ${{  datos_finales.0.2|floatformat:0|intcomma }}</td> 
                    <td style="width: 10%; vertical-align: middle;"> {{  datos_finales.0.3|floatformat:0|intcomma }}% </td> 
                    


                </tr>
            </tbody>

            <tbody>
    
                <tr class = "table-light">
                    <td style="width: 15%; vertical-align: middle;" colspan="2"> DESCUENTO DEL 6% SOBRE UNIDADES </td>
                    <td style="width: 5%; vertical-align: middle;"></td> 
                    <td style="width: 10%; vertical-align: middle;"></td> 
                    <td style="width: 10%; vertical-align: middle; vertical-align: middle;">  - ${{ datos_finales.0.4|floatformat:0|intcomma }} </td> 
                    <td style="width: 10%; vertical-align: middle;"></td> 
                    


                </tr>
            </tbody>

            <tbody>
    
                <tr class = "table-dark">
                    <td style="width: 15%; vertical-align: middle;" colspan="2"> <b>RESULTADO CONSIDERANDO DESCUENTO</b> </td>
                    <td style="width: 5%; vertical-align: middle;"></td> 
                    <td style="width: 10%; vertical-align: middle;"></td> 
                    <td style="width: 10%; vertical-align: middle; vertical-align: middle;"> <b>${{datos_finales.0.6|floatformat:0|intcomma }}</b></td> 
                    <td style="width: 10%; vertical-align: middle;"> <b>{{  datos_finales.0.5|floatformat:0|intcomma }}%</b>  </td> 
                    


                </tr>
            </tbody>


        </table> 


        <b><hr class = "my-4" style="width: 100%; "></b>   
        <p style="text-align: left;"><small> <b>Presupuesto:</b> Ese valor indica si el proyecto tiene calculos realizados </small></p>
        <p style="text-align: left;"><small> <b>Pricing:</b> Ese valor indica las unidades que tienen un pricing asociado</small></p>
    </div>

    <div style="margin-top: 0.5rem; width: 70%;">

        <div style= "text-align: center;">
            <small><strong>-- Analisis historico de rendimiento --</strong></small>
        </div>

        <canvas id="myChart" width="400" height="150rem"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {

                labels: [
                    {% for i in fechas %}
                    '{{i}}',                   
                    {% endfor %}
                    'Hoy'
                    ],
                datasets: [{
                    label: 'Rendimiento despues del descuento',
                    backgroundColor: 'rgb(225, 213, 28  , 0.8)',
                    borderColor: 'rgb(225, 213, 28  )',
                    fill: true,
                    lineTension: 0,
                    data: [
                    {% for i in datos_registro  %}
                    Math.round({{i.1.0.6|floatformat:0}}/1000000),  
                                     
                    {% endfor %}
                    Math.round({{ datos_finales.0.6|floatformat:0 }}/1000000),
                    ]
                },
                {
                    label: 'Rendimiento total',
                    backgroundColor: 'rgb(28, 180, 51, 0.5)',
                    borderColor: 'rgb(28, 180, 51)',
                    fill: true,
                    lineTension: 0,
                    data: [
                    {% for i in datos_registro %}
                    Math.round({{i.1.0.2|floatformat:0}}/1000000),                   
                    {% endfor %}
                    Math.round({{ datos_finales.0.2|floatformat:0 }}/1000000),
                    ]
                }],

            },

            // Configuration options go here
            options: {

                scales: {

                    xAxes: [
                        {

                            stacked: true,

                        }
                    ],
                    yAxes: [
                        {
                            ticks: {
                                mon: 0,
                                callback: function(label, index, labels) {
                                    return '$ '+label+ ' M';
                                    
                                }
                            },
                            scaleLabel: {
                                display: true,
                                labelString: '1M = $1.000.000'
                            },

                            stacked: false
                        }
                    ],
                },
            }

        });
        

        
    </script>


    </div>

    <div style="margin-top: 0.5rem; width: 70%;">

        <div style= "text-align: center;">
            <small><strong>-- Historico del ingreso/costo conjunto --</strong></small>
        </div>

        <canvas id="myChart2" width="400" height="150rem"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>
        var ctx = document.getElementById('myChart2').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: [
                    {% for i in fechas %}
                    '{{i}}',                   
                    {% endfor %}
                    'Hoy'
                    ],
                datasets: [{
                    label: 'Costo del proyecto',
                    backgroundColor: 'rgb(225, 40, 28 , 0.8)',
                    borderColor: 'rgb(225, 40, 28 )',
                    fill: true,
                    lineTension: 0,
                    data: [
                    {% for i in datos_registro  %}
                    Math.round({{i.1.0.1|floatformat:0}}/1000000),
                    {% endfor %}  
                    Math.round({{ datos_finales.0.1|floatformat:0 }}/1000000),                 
                    
                    ]
                },
                {
                    label: 'Ingresos del proyecto',
                    backgroundColor: 'rgb(28, 180, 51, 0.5)',
                    borderColor: 'rgb(28, 180, 51)',
                    fill: true,
                    lineTension: 0,
                    data: [
                    {% for i in datos_registro %}
                    Math.round({{i.1.0.0|floatformat:0}}/1000000),                   
                    {% endfor %}
                    Math.round({{ datos_finales.0.0|floatformat:0 }}/1000000),
                    ]
                }],

            },

            // Configuration options go here
            options: {

                scales: {

                    xAxes: [
                        {

                            stacked: true,

                        }
                    ],
                    yAxes: [
                        {
                            ticks: {
                                min: 0,
                                callback: function(label, index, labels) {
                                    return '$ '+label + ' M';
                                    
                                }
                            },
                            scaleLabel: {
                                display: true,
                                labelString: '1 M = $1.000.000'
                            },

                            stacked: false
                        }
                    ],
                },
                }
        });
        

        
    </script>


    </div>

    <div>
        <p> <small>-- Link<strong>P</strong> --</small> </p>

     </div>


</div>
{% endblock %}