{% extends "users/inicio.html" %}

{% load static %}
{% load humanize %}

{% block content %}



<div class = "jumbotron" style="background-color: white; margin-bottom: 0px; text-align: center;" > 

    <div >
        <h2 style="font-family: Arial, Helvetica, sans-serif;">Indice LINK</h2>

        <small style="font-family: Arial, Helvetica, sans-serif;"><b>Modulo:</b> Finanzas </small>


        <b><hr class = "my-4" style="width: 100%; "></b>
    
    </div>


    <div>


        <div style="text-align: left;">

            <a class="badge badge-dark" href="{% url 'Consolidado' %}" >PESOS</a>
    
            <a class="badge badge-secondary" href="{% url 'Consolidado H' %}" >HORMIGON</a>

            </div>
        <table class = "table table-hover" style="text-align: center;">
            <thead>
    
                <tr class = "table-dark">
                    <th scope = "row" style="vertical-align: middle;"><small><b>PROYECTO</b></small></th>                   
                    <th scope = "row" style="vertical-align: middle;" class="priority-4"><small><b>INGRESOS</b></small></th>
                    <th scope = "row" style="vertical-align: middle;" class="priority-4"><small><b>COSTOS</b></small></th>
                    <th scope = "row" style="vertical-align: middle;"><small><b>BENEFICIO</b></small></th>
                    <th scope = "row" style="vertical-align: middle;"><small><b>REND.</b></small> </th>
                    <th scope = "row" style="vertical-align: middle;"><small><b>DESCUENTOS</b></small></th>
                    <th scope = "row" style="vertical-align: middle;"><small><b>RETIROS</b></small></th>
                    <th scope = "row" style="vertical-align: middle;"><small><b>BENEFICIO 2</b></small> </th>
                    <th scope = "row" style="vertical-align: middle;"><small><b>REND. 2</b></small> </th>
                    <th scope = "row" style="vertical-align: middle;"><small><b>PROM. CONT</b></small> </th>

                   
                </tr>
            </thead>
            {% for i in datos_completos %}   
            <tbody>
    
                <tr class = "table-light">


                    {% if "#300" in i.0.proyecto.nombre %}

                    <td style="color: rgb({{i.0.proyecto.color}}); vertical-align: middle;"> 
                        
                        <div>

                            <img src="{{i.0.proyecto.iamgen.url}}"  class="img-fluid" alt="..." style="max-width: 70px; height:auto;">
                        
                        </div>

                        <small><b>#300</b></small>
                         
                    
                    </td> 
                    
                    {% else %}

                    <td style="width: 10%; color: rgb({{i.0.proyecto.color}}); vertical-align: middle;">


                        <div>

                            <img src="{{i.0.proyecto.iamgen.url}}"  class="img-fluid" alt="..." style="max-width: 70px; height:auto;">
                        
                        </div>

                        <small><b>{{ i.0.proyecto.nombre}}</b> </small>                  
                    
                    </td> 
                    

                    {% endif %}
                    
                    
                    <td style="width: 10%; vertical-align: middle;"><small>$ {{ i.2|floatformat:0|intcomma }}</small> </td> 
                    <td style="width: 10%; vertical-align: middle;"><small>$ {{ i.1|floatformat:0|intcomma }}</small> </td> 
                    <td style="width: 10%; vertical-align: middle; vertical-align: middle;"><small><b>$ {{ i.3|floatformat:0|intcomma }}</b></small></td> 
                    <td style="width: 8%; vertical-align: middle;"><small>{{ i.4|floatformat:0|intcomma }}%</small></td>
                    <td style="width: 10%; vertical-align: middle;"><small>- $ {{ i.11|floatformat:0|intcomma }}</small> </td> 
                    <td style="width: 10%; vertical-align: middle;"><small>- $ {{ i.10|floatformat:0|intcomma }}</small> </td> 
                    <td style="width: 10%; vertical-align: middle;"><small><b>$ {{ i.7|floatformat:0|intcomma }}</b></small> </td> 
                    <td style="width: 8%; vertical-align: middle;"><small>{{ i.8|floatformat:0|intcomma }}%</small></td> 
                    <td style="width: 10%; vertical-align: middle; color: #323BA9;">
                        
                        
                        <small><b>$ {{ i.9|floatformat:0|intcomma }}</b> </small> 


                        <div>

                            {% if i.6 > 0 %}

                            <small style="color:#2FD627;"><b>PRG</b></small>


                            {% else %}

                            <small style="color: #D64127;"><b>PRG</b></small>


                            {% endif %}


                            {% if i.5 > 180 %}

                            <small style="color: #2FD627;"><b> PRP</b></small>

                            {% elif i.5 > 100 %}

                            <small style="color: #D6C127;"><b> PRP</b></small>

                            {% else %}

                            <small style="color: #D64127;"><b >PRP</b></small>


                            {% endif %}



                        </div>
                    
                    </td>

                </tr>
            </tbody>

            {% endfor %}

            <tbody>
    
                <tr class = "table-dark">
                    <td style="width: 10%; vertical-align: middle;"><small><b>RESULTADO PROYECTOS</b></small> </td>
                    <td  class="priority-5" style="width: 5%; vertical-align: middle;"><small><b>$ {{datos_finales.0.0|floatformat:0|intcomma }}</b> </small> </td> 
                    <td  class="priority-5" style="width: 10%; vertical-align: middle;"><small><b>$ {{datos_finales.0.1|floatformat:0|intcomma }}</b></small> </td> 
                    <td style="width: 10%; vertical-align: middle; vertical-align: middle;"><small><b>$ {{datos_finales.0.2|floatformat:0|intcomma}}</b></small> </td> 
                    <td style="width: 10%; vertical-align: middle;"><small><b>{{datos_finales.0.3|floatformat:0|intcomma }}%</b></small> </td>
                    <td style="width: 10%; vertical-align: middle; vertical-align: middle;"><small><b>- $ {{ datos_finales.0.4|floatformat:0|intcomma}}</b></small> </td> 
                    <td style="width: 10%; vertical-align: middle; vertical-align: middle;"><small><b>- $ {{ datos_finales.0.7|floatformat:0|intcomma }}</b></small> </td>

                    <td style="width: 10%; vertical-align: middle; vertical-align: middle;"><small><b>$ {{datos_finales.0.6|floatformat:0|intcomma }}</b></small> </td> 
                    <td style="width: 10%; vertical-align: middle;"><small><b>{{datos_finales.0.5|floatformat:0|intcomma }}%</b></small></td>
                    <td style="width: 10%; vertical-align: middle;"></td>
                </tr>
                <tr class = "table-light">
                    <td style="width: 10%; vertical-align: middle;"><small><b>HONORARIOS</b></small></td>
                    <td  class="priority-5" style="width: 5%; vertical-align: middle;"><small>$ {{datos_finales_2.1|floatformat:0|intcomma }}</small></td> 
                    <td  class="priority-5" style="width: 10%; vertical-align: middle;"><small>$ {{datos_finales_2.2|floatformat:0|intcomma }}</small></td> 
                    <td style="width: 10%; vertical-align: middle; vertical-align: middle;"><small><b>$ {{datos_finales_2.0|floatformat:0|intcomma }}</b></small></td> 
                    <td style="width: 10%; vertical-align: middle;"></td>
                    <td style="width: 10%; vertical-align: middle; vertical-align: middle;"></td> 
                    <td style="width: 10%; vertical-align: middle; vertical-align: middle;"><small>- $ {{datos_finales_2.3|floatformat:0|intcomma }}</small></td>

                    <td style="width: 10%; vertical-align: middle; vertical-align: middle;"><small><b>$ {{datos_finales_2.4|floatformat:0|intcomma }}</b></small></td> 
                    <td style="width: 10%; vertical-align: middle;"></td>
                    <td style="width: 10%; vertical-align: middle;"></td>
                </tr>
                <tr class = "table-dark">
                    <td style="width: 10%; vertical-align: middle;"> <small><b>RESULTADO COMPLETO</b></small> </td>
                    <td  class="priority-5" style="width: 5%; vertical-align: middle;"><small><b>$ {{datos_finales_2.5|floatformat:0|intcomma }}</b></small></td> 
                    <td  class="priority-5" style="width: 10%; vertical-align: middle;"><small><b>$ {{datos_finales_2.6|floatformat:0|intcomma }}</b></small></td> 
                    <td style="width: 10%; vertical-align: middle; vertical-align: middle;"><small><b>$ {{datos_finales_2.7|floatformat:0|intcomma }}</b></small></td> 
                    <td style="width: 10%; vertical-align: middle;"><small><b>{{datos_finales_2.8|floatformat:0|intcomma }}%</b></small></td>
                    <td style="width: 10%; vertical-align: middle; vertical-align: middle;"><small><b>- $ {{datos_finales_2.9|floatformat:0|intcomma }}</b></small> </td> 
                    <td style="width: 10%; vertical-align: middle; vertical-align: middle;"><small><b>- $ {{datos_finales_2.10|floatformat:0|intcomma }}</b></small> </td>

                    <td style="width: 10%; vertical-align: middle; vertical-align: middle;"><small><b>$ {{datos_finales_2.12|floatformat:0|intcomma }}</b></small> </td> 
                    <td style="width: 10%; vertical-align: middle;"><small><b>{{datos_finales_2.11|floatformat:0|intcomma }}%</b></small></td>
                    <td style="width: 10%; vertical-align: middle;"></td>
                </tr>
            </tbody>



        </table> 


          
   </div>

   <b><hr class = "my-4" style="width: 100%; "></b> 

   <div style="margin-bottom: 2rem;">
    <h5 style="font-family: Arial, Helvetica, sans-serif;">Variación historica</h5>
</div>

    <div style="margin-top: 0.5rem; width: 100%;">

        <div style= "text-align: center;">
            <small><strong>-- Composición del margen --</strong></small>
        </div>

        <canvas id="myChart" height="70px" width="auto"></canvas>


    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {

                labels: [
                    {% for i in fechas %}
                    '{{i}}',                   
                    {% endfor %}
                    'Hoy'
                    ],
                datasets: [

                

                {
                    label: 'Margen final',
                    backgroundColor: 'rgb(35, 211, 27 , 0.5)',
                    borderColor: 'rgb(35, 211, 27 )',
                    fill: true,
                    borderWidth: 1,
                    lineTension: 0,
                    data: [
                    {% for i in datos_registro %}
                    Math.round({{i.1.0.7|floatformat:0}}/1000000),                   
                    {% endfor %}
                    Math.round({{ datos_finales.0.6|floatformat:0 }}/1000000),
                    ]
                },

                {
                    label: 'Retiros',
                    backgroundColor: 'rgb(83, 45, 213  , 0.5)',
                    borderColor: 'rgb(83, 45, 213 )',
                    fill: '-1',
                    borderWidth: 1,
                    lineTension: 0,
                    data: [
                    {% for i in datos_registro  %}
                    Math.round({{i.1.0.6|floatformat:0}}/1000000),  
                                     
                    {% endfor %}
                    Math.round({{ datos_finales.0.8|floatformat:0 }}/1000000),
                    ]
                },

                {
                    label: 'Margen sin descuento',
                    backgroundColor: 'rgb(211, 194, 27 , 0.5)',
                    borderColor: 'rgb(211, 194, 27 )',
                    fill: '-1',
                    borderWidth: 1,
                    lineTension: 0,
                    data: [
                    {% for i in datos_registro %}
                    Math.round({{i.1.0.2|floatformat:0}}/1000000),                   
                    {% endfor %}
                    Math.round({{ datos_finales.0.2|floatformat:0 }}/1000000),
                    ]
                },

                
                ],

            },

            // Configuration options go here
            options: {

                scales: {

                    xAxes: [
                        {

                            stacked: true,
                            display: false,

                        }
                    ],
                    yAxes: [
                        {
                            ticks: {
                                min: 0,
                                stepSize: 50,
                                callback: function(label, index, labels) {
                                    return '$ '+label+ ' M';
                                    
                                }
                            },
                            scaleLabel: {
                                display: true,
                                labelString: '1M = $1.000.000'
                            },

                            stacked: false
                        }
                    ],
                },
            }

        });
        

        
    </script>


    </div>

    <div style="margin-top: 5px;">

        <div style= "text-align: center;">
            <small><strong>-- Variación costos e ingresos --</strong></small>
        </div>

        <canvas id="myChart2" height="70px" width="auto"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>
        var ctx = document.getElementById('myChart2').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: [
                    {% for i in fechas %}
                    '{{i}}',                   
                    {% endfor %}
                    'Hoy'
                    ],
                datasets: [{
                    label: 'Costo del proyecto',
                    backgroundColor: 'rgb(206, 38, 21 , 0.5)',
                    borderColor: 'rgb(206, 38, 21 )',
                    fill: true,
                    borderWidth: 1,
                    lineTension: 0,
                    data: [
                    {% for i in datos_registro  %}
                    Math.round({{i.1.0.1|floatformat:0}}/1000000),
                    {% endfor %}  
                    Math.round({{ datos_finales.0.1|floatformat:0 }}/1000000),                 
                    
                    ]
                },
                {
                    label: 'Ingresos del proyecto',
                    backgroundColor: 'rgb(35, 211, 27 , 0.5)',
                    borderColor: 'rgb(35, 211, 27)',
                    fill: '-1',
                    borderWidth: 1,
                    lineTension: 0,
                    data: [
                    {% for i in datos_registro %}
                    Math.round({{i.1.0.0|floatformat:0}}/1000000),                   
                    {% endfor %}
                    Math.round({{ datos_finales.0.0|floatformat:0 }}/1000000),
                    ]
                }],

            },

            // Configuration options go here
            options: {

                scales: {

                    xAxes: [
                        {

                            stacked: true,
                            display: false,

                        }
                    ],
                    yAxes: [
                        {
                            ticks: {
                                min: 2000,
                                stepSize: 100,
                                callback: function(label, index, labels) {
                                    return '$ '+label + ' M';
                                    
                                }
                            },
                            scaleLabel: {
                                display: true,
                                labelString: '1 M = $1.000.000'
                            },

                            stacked: false
                        }
                    ],
                },
                }
        });
        

        
    </script>


    </div>

    <div>
        <p style="font-family: Arial, Helvetica, sans-serif;"> <small>-- Link<strong>P</strong> --</small> </p>

     </div>


</div>
{% endblock %}