
{% extends "users/inicio.html" %}

{% load static %}
{% load humanize %}

{% block content %}


<div class = "jumbotron" style="background-color: white; margin-bottom: 0px;">
    <div style="text-align: center;">
        <h2 style="color: rgb({{proyecto.color}}); font-family: Arial, Helvetica, sans-serif;">Cuentas corrientes de {{ proyecto.nombre }}</h2>
        
        <div>

            <img src="{{proyecto.iamgen.url}}"  class="img-fluid" alt="..." style="max-width:200px;width:auto;height:auto; margin-top: 5px; margin-bottom: 5px;">
  

        </div>
        
        
        
        <small style="font-family: Arial, Helvetica, sans-serif,"><b>Modulo</b>: Cuentas corrientes </small><small>
        
        
        
        
    </div>

    <b><hr class = "my-4" style="width: 100%; "></b>
    

    <div style="text-align: center;">
    
    <h6 style="font-family: Arial, Helvetica, sans-serif;">Crear cuenta corriente</h6>


    <a href="{% url 'Crear cuenta corriente' proyecto.id %}" class="btn btn-primary">Ingresar</a>
    
    </div>


    <b><hr class = "my-4" style="width: 100%; "></b>


    <form method="POST">

        {% csrf_token %}

        <div style="display: inline-block;  vertical-align: middle; margin-top: 5px;">

            <h6 style="font-family: Arial, Helvetica, sans-serif;">Cuentas corrientes activas</h6>
    
        </div>
        
        <div style="display: inline-block; margin-left: 1%;  vertical-align: middle; margin-top: 5px; width: 300px%;">
    
            <input name="palabra" type="text" class="form-control form-control" placeholder="Buscar por palabra" list="art" >
    
        </div>
    
        <div style="display: inline-block; margin-left: 1%; vertical-align: middle; margin-top: 5px;">
            <button class="btn btn-dark" type="submit">Buscar</button>          
        </div>  



    </form>



    
    <table class = "table table-hover" style="text-align: center; margin-top: 2%;">
        <thead>

            <tr class = "table-dark">
                <th scope = "row" class="priority-3" style="vertical-align: middle;"> <small>FECHA</small></th>
                <th scope = "row" style="vertical-align: middle;"> <small>COMPRADOR</small></th>
                <th scope = "row" style="vertical-align: middle;" class="priority-5"> <small>PISO</small></th>
                <th scope = "row" style="vertical-align: middle;" class="priority-5"> <small> NOM </small></th>
                <th scope = "row" style="vertical-align: middle;" class="priority-5"> <small> TIPO </small></th>
                <th scope = "row" style="vertical-align: middle;" class="priority-4"> <small> SUPERFICIE </small></th>
                <th scope = "row" style="vertical-align: middle;"> <small>  ASIGNACION </small></th>
                <th scope = "row" style="vertical-align: middle;" class="priority-3"> <small>PRECIO DE VENTA</small>   </th>
                <th scope = "row" style="vertical-align: middle;" class="priority-4"> <small> ANOTACIONES</small></th>
                <th scope = "row" style="vertical-align: middle;"> <small> DETALLES</small></th>

                 

            </tr>
        </thead>

        <tbody>   

            {% for i in datos %}
            <tr class = "table-light">
                <td class="priority-3"> <b> <small>{{i.venta.fecha}}</small> </b></td>    
                <td> <b> <small>{{i.venta.comprador}}</small> </b> </td>
                <td class="priority-5"> <b> <small>{{i.venta.unidad.piso_unidad}}</small> </b> </td>

                {% if "0" in i.unidad.nombre_unidad %}

                <td class="priority-5"> <b> <small>{{i.venta.unidad.nombre_unidad|floatformat:0}}</small> </b> </td>

                {% else %}

                <td class="priority-5"> <b> <small>{{i.venta.unidad.nombre_unidad}}</small> </b> </td>

                {% endif %}
                <td class="priority-5"> <b> <small>{{i.venta.unidad.tipologia}}</small> </b> </td>
                <td class="priority-4"> <b> <small>{{i.venta.m2|floatformat:2}}m2</small> </b> </td>
                <td> <b> <small>{{i.venta.asignacion}}</small></b> </td>
                <td class="priority-3"> <b>  <small>${{i.venta.precio_venta|floatformat:0|intcomma}}</small></b> </td>
                <td class="priority-4"> <b><a href="{% url 'Detalle venta' i.venta.id %}" class="btn btn-sm btn-info" >Ver detalles</a>
                </b> </td>
                <td> <b><a href="{% url 'Cuenta corriente venta' i.id %}" class="btn btn-sm btn-success" >Ingresar</a>
                </b> </td>



            </tr>
            {% endfor %}
        </tbody>
     


    </table>





    <b><hr class = "my-4" style="width: 100%;"></b>


    <div style="text-align: center; margin-top: 2rem;">
        <p> <small>-- Link<strong>P</strong> --</small> </p>

     </div>

                    
</div>

 
    
{% endblock %}