{% extends "users/inicio.html" %}

{% load static %}
{% load humanize %}

{% block content %}



<div class = "jumbotron" style="background-color: white; margin-bottom: 0px; text-align: center;" > 

    <div style="text-align: center;">

        <h2 style="font-family: Arial, Helvetica, sans-serif;">Cuentas corrientes</h2>

        <div>

            <img src="{{ctacte.venta.unidad.proyecto.iamgen.url}}"  class="img-fluid" alt="..." style="max-width:200px;width:auto;height:auto; margin-top: 5px; margin-bottom: 5px;">
  

        </div>

        <div>

            <small style="color: rgb({{ctacte.venta.unidad.proyecto.color}}); font-family: Arial, Helvetica, sans-serif;"><b>{{ctacte.venta.comprador}} ({{ctacte.venta.unidad.piso_unidad}} - {{ctacte.venta.unidad.nombre_unidad}}) </b> </small>
        

        </div>

        

        <div>
            <small><b>Modulo:</b> Cuentas corrientes </small>
        </div>
        <b><hr class = "my-4" style="width: 100%; "></b>
    

    <div class = "tableconteinerabel">

        <div style="text-align: left;">

            <a href="{% url 'Resumen cuenta corriente' ctacte.id %}" class="btn btn-outline-primary"><img src="{% static 'img/reportar.png' %}" alt="" style="max-width:20px; height:auto;"> Resumen</a>

            <a href="{% url 'Cuenta corriente venta boleto' ctacte.id %}" class="btn btn-outline-primary"><img src="{% static 'img/buscar.png' %}" alt="" style="max-width:20px; height:auto;"> Boleto</a>

            <a href="{% url 'Agregar cuota' ctacte.id %}" class="btn btn-outline-info"><img src="{% static 'img/agregar-archivo.png' %}" alt="" style="max-width:20px; height:auto;"> Nueva cuota</a>

            <a href= "{% url 'Descargar cuenta' id_cuenta=ctacte.id %}" class="btn btn-outline-success" style="text-align: end; margin-top: 5px;" > <img src="{% static 'img/sobresalir.png' %}" alt="" style="max-width:20px; height:auto;"  > Descargar Excel</a>

        </div>

        <table class = "table table-hover" style="text-align: center; margin-top: 5px;">
            <thead>
    
                <tr class = "table-dark">
                    <th style="vertical-align: middle;" scope = "row"> <small>FECHA CUOTA</small></th>
                    <th style="vertical-align: middle;"  scope = "row" class="priority-3"> <small>BOLETO</small></th>
                    <th style="vertical-align: middle;"  scope = "row" class="priority-3"> <small>CONCEPTO</small></th>
                    <th style="vertical-align: middle;"  scope = "row" class="priority-5" > <small>MONEDA (MD) </small></th>
                    <th style="vertical-align: middle;"  scope = "row" class="priority-4"> <small> VALOR EN (MD) </small></th>
                    <th style="vertical-align: middle;"  scope = "row" class="priority-4"> <small> PAGADO EN (MD) </small></th>
                    <th style="vertical-align: middle;"  scope = "row"> <small> SALDO EN (MD) </small></th>
                    <th style="vertical-align: middle;"  scope = "row"> <small> VALOR DE MD</small></th>
                    <th style="vertical-align: middle;"  scope = "row"> <small> SALDO EN PESOS </small></th>
                    <th style="vertical-align: middle;"  scope = "row"> <small> INGRESAR PAGO </small></th>
                    <th style="vertical-align: middle;"  scope = "row" class="priority-3"> <small> EDITAR </small></th>
                    <th style="vertical-align: middle;"  scope = "row" class="priority-3"> <small> ELIMINAR </small></th>

                </tr>
            </thead>
    
            <tbody>   
    
                {% for i in datos_cuenta %}
                <tr class = "table-light">
                    
                    <td> <b> <small> <b>{{i.0.fecha}}</b> </small> </b></td>    
                    <td class="priority-3"> <b> <small>

                        

                            {% if i.0.boleto == "NO BOLETO" %}
                        
                        <a href="{% url 'Boleto en cuota' ctacte.id i.0.id %}"><b style="color: #CE2615;"> ⚫ </b></a>    

                        {% else %}

                        <a href="{% url 'Boleto en cuota' ctacte.id i.0.id %}"><b style="color: #34CE15;">{{i.0.porc_boleto|floatformat:2}} </b></a>

                        {% endif %}


                        

                    </small> </b> </td>

                    <td class="priority-3"> <b> <small>{{i.0.concepto|upper}}</small> </b> </td>
                    <td class="priority-5"> <b> <small>{{i.0.constante.nombre}}</small> </b> </td>

                    <td class="priority-4"> <b> <small>{{i.0.precio|floatformat:2}}</small> </b> </td>

                    <td class="priority-4"> <b> <small>{{i.1|floatformat:2}}</small> </b> </td>
                    <td> <b> <small>{{i.2|floatformat:2}}</small> </b> </td>

                    {% if i.5 == 0 %}
                    <td> <b> <small>${{i.0.constante.valor|floatformat:0|intcomma}}</small> </b> </td>

                    {% else %}

                    <td> <b> <small>${{i.5|floatformat:0|intcomma}}</small> </b> </td>

                    {% endif %}
                    <td> <b> <small> <b>${{i.3|floatformat:0|intcomma}}</b> </small></b> </td>
                    <td> <b><a href="{% url 'Pagos' i.0.id %}" class="btn btn-sm btn-success" >Ingresar</a>
                    </b> </td>
                    <td class="priority-3"> <b><a href="{% url 'Editar cuota' i.0.id %}"><img src="{% static 'img/documento.png' %}" alt="" style="max-width:20px; height:auto;"></a>
                    </b> </td>
                    <td class="priority-3"> <b><a href="{% url 'Eliminar cuota' i.0.id %}"><img src="{% static 'img/borrar.png' %}" alt="" style="max-width:20px; height:auto;"></a>
                    </b> </td>
                   
    
    
    
                </tr>
                {% endfor %}
            </tbody>
         
    
    
        </table>
    
        </div>


    <div style="text-align: center; margin-top: 10%;">
        <p style="font-family: Arial, Helvetica, sans-serif;"> <small>-- Link<strong>P</strong> --</small> </p>

     </div>

    
    

</div>

    
{% endblock %}