{% extends "users/inicio.html" %}

{% load static %}
{% load humanize %}

{% block content %}



<div class = "jumbotron" style="background-color: white; margin-bottom: 0px; text-align: center;" > 

    <div style="text-align: center;">

        <h2 style="font-family: Arial, Helvetica, sans-serif;">Cuentas corrientes</h2>

        <div>

            <img src="{{ctacte.venta.unidad.proyecto.iamgen.url}}"  class="img-fluid" alt="..." style="max-width:200px;width:auto;height:auto; margin-top: 5px; margin-bottom: 5px;">
  

        </div>

        <div>

            <small style="color: rgb({{ctacte.venta.unidad.proyecto.color}}); font-family: Arial, Helvetica, sans-serif;"><b>{{ctacte.venta.comprador}} ({{ctacte.venta.unidad.piso_unidad}} - {{ctacte.venta.unidad.nombre_unidad}}) </b> </small>
        

        </div>

        <div>
            <small><b>Modulo:</b> Cuentas corrientes </small>
        </div>
        <b><hr class = "my-4" style="width: 100%; "></b>

    

    <div class = "tableconteinerabel">

        <div style="text-align: left;">


            <a class="btn btn-outline-primary" type="button" data-toggle="modal" data-target="#exampleModalCenter" ><img src="{% static 'img/reportar.png' %}" alt="" style="max-width:20px; height:auto;"> Resumen boleto</a>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                        <div class="card border-secondary mb-3" style="display: inline-block; width: 300px; height: 250px; vertical-align: top;  margin: 10px;">
                            <div class="card-header">Resumen</div>  
                                <div class="card-body">
      
                                <div>
                      
                                  <small style="font-family: Arial, Helvetica, sans-serif;"><b>Operación real:</b> $ {{datos_totales.0|floatformat:0|intcomma}}</small> 
                      
                                </div>
                    
                                <div>
                      
                                    <small style="font-family: Arial, Helvetica, sans-serif;"><b>Operación boleto:</b> $ {{datos_totales.1|floatformat:0|intcomma}} </small> 
                        
                                  </div>
                    
                                  <div>
                      
                                    <small style="font-family: Arial, Helvetica, sans-serif;"><b>Pagado:</b> $ {{datos_totales.2|floatformat:0|intcomma}} </small> 
                        
                                  </div>
                    
                                  
                                  <div>
                      
                                    <small style="font-family: Arial, Helvetica, sans-serif;"><b>Saldo:</b> $ {{datos_totales.3|floatformat:0|intcomma}} </small> 
                        
                                  </div>

                                  <div style="text-align: right; margin: 5px;">

                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                     


                                  </div>


                                  

                                  
                    
                         
                              </div>

                              
                          </div>

                    
                  </div>
                </div>
            </div>

            </div>

            <a href="{% url 'Cuenta corriente venta' ctacte.id %}" class="btn btn-outline-primary"><img src="{% static 'img/pagina-principal.png' %}" alt="" style="max-width:20px; height:auto;"> Principal</a>

            <a href="{% url 'Agregar cuota' ctacte.id %}" class="btn btn-outline-info"><img src="{% static 'img/agregar-archivo.png' %}" alt="" style="max-width:20px; height:auto;"> Nueva cuota</a>

            <a href= "{% url 'Descargar cuenta' id_cuenta=ctacte.id %}" class="btn btn-outline-success" style="text-align: end; margin-top: 5px;" > <img src="{% static 'img/sobresalir.png' %}" alt="" style="max-width:20px; height:auto;"  > Descargar Excel</a>

        </div>

        <table class = "table table-hover" style="text-align: center; margin-top: 5px;">
            <thead>
    
                <tr class = "table-dark">
                    <th style="vertical-align: middle;" scope = "row"> <small>FECHA CUOTA</small></th>
                    <th style="vertical-align: middle;"  scope = "row" class="priority-3"> <small>CONCEPTO</small></th>
                    <th style="vertical-align: middle;"  scope = "row" class="priority-5" > <small>MONEDA (MD) </small></th>
                    <th style="vertical-align: middle;"  scope = "row" class="priority-4"> <small> PAGADO EN PESOS </small></th>
                    <th style="vertical-align: middle;"  scope = "row" class="priority-4"> <small> SALDO EN PESOS </small></th>

                </tr>
            </thead>
    
            <tbody>   
    
                {% for i in datos_cuenta %}
                <tr class = "table-light">
                    <td> <b> <small> <b>{{i.0.fecha}}</b> </small> </b></td>    
                    <td class="priority-3"> <b> <small>

                        {{i.0.concepto|upper}}

                    <td class="priority-5"> <b> <small>{{i.0.constante.nombre}}</small> </b> </td>

                    <td class="priority-4"> <b> <small>$ {{i.1|floatformat:0|intcomma}}</small> </b> </td>
                    <td class="priority-4"> <b> <small>$ {{i.3|floatformat:0|intcomma}}</small> </b> </td>


                
                </tr>
                {% endfor %}
            </tbody>
         
    
    
        </table>
    
        </div>


    <div style="text-align: center; margin-top: 10%;">
        <p style="font-family: Arial, Helvetica, sans-serif;"> <small>-- Link<strong>P</strong> --</small> </p>

     </div>

    
    

</div>

    
{% endblock %}