
{% extends "users/inicio.html" %}

{% load static %}
{% load humanize %}

{% block content %}


<div class = "jumbotron" style="background-color: white; margin-bottom: 0px;">
    <div style="text-align: center;">
        <h2 style="color: rgb({{proyecto.color}})">Cuentas corrientes de {{ proyecto.nombre }}</h2>
        <small>Responsable del panel: </small><small><strong>Área de administración</strong></small>
        
        <div>

            <img src="{{proyecto.iamgen.url}}"  class="img-fluid" alt="..." style="max-width:20%;width:auto;height:auto; margin-top: 1rem;">
  

        </div>
        
        
    </div>

    <b><hr class = "my-4" style="width: 100%; "></b>
    

    <div style="text-align: center;">
    
    <h6>Nueva cuenta corriente</h6>


    <a href="{% url 'Crear cuenta corriente' %}" class="btn btn-primary">Crear cuenta</a>
    
    </div>


    <b><hr class = "my-4" style="width: 100%; "></b>


    <form method="POST">

        {% csrf_token %}

        <div style="display: inline-block;  vertical-align: middle;">

            <h6>Cuentas corrientes activas</h6>
    
    
        </div>
        
        <div style="display: inline-block; margin-left: 1%;  vertical-align: middle;">
    
            <input name="palabra" type="text" class="form-control form-control" placeholder="Buscar por palabra" list="art" style="width: 30rem;">
    
        </div>
    
        <div style="display: inline-block; margin-left: 1%; vertical-align: middle;">
            <button class="btn btn-dark" type="submit">Buscar</button>          
        </div>  



    </form>

    <div class = "tableconteinerabel">

             


    <table class = "table table-hover" style="text-align: center; margin-top: 2%;">
        <thead>

            <tr class = "table-dark">
                <th scope = "row"> <small>FECHA</small></th>
                <th scope = "row"> <small>COMPRADOR</small></th>
                <th scope = "row"> <small>PISO</small></th>
                <th scope = "row"> <small> NOM </small></th>
                <th scope = "row"> <small> TIPO </small></th>
                <th scope = "row"> <small> SUPERFICIE </small></th>
                <th scope = "row"> <small>  ASIGNACION </small></th>
                <th scope = "row"> <small>PRECIO DE VENTA</small>   </th>
                <th scope = "row"> <small> ANOTACIONES (VENTAS) </small></th>
                <th scope = "row"> <small> DETALLE DE CUENTA </small></th>

                 

            </tr>
        </thead>

        <tbody>   

            {% for i in datos %}
            <tr class = "table-light">
                <td> <b> <small>{{i.venta.fecha}}</small> </b></td>    
                <td> <b> <small>{{i.venta.comprador}}</small> </b> </td>
                <td> <b> <small>{{i.venta.unidad.piso_unidad}}</small> </b> </td>

                {% if "0" in i.unidad.nombre_unidad %}

                <td> <b> <small>{{i.venta.unidad.nombre_unidad|floatformat:0}}</small> </b> </td>

                {% else %}

                <td> <b> <small>{{i.venta.unidad.nombre_unidad}}</small> </b> </td>

                {% endif %}
                <td> <b> <small>{{i.venta.unidad.tipologia}}</small> </b> </td>
                <td> <b> <small>{{i.venta.m2|floatformat:2}}m2</small> </b> </td>
                <td> <b> <small>{{i.venta.asignacion}}</small></b> </td>
                <td> <b>  <small>${{i.venta.precio_venta|floatformat:0|intcomma}}</small></b> </td>
                <td> <b><a href="{% url 'Detalle venta' i.venta.id %}" class="btn btn-sm btn-info" >Ver detalles</a>
                </b> </td>
                <td> <b><a href="{% url 'Cuenta corriente venta' i.id %}" class="btn btn-sm btn-success" >Ingresar</a>
                </b> </td>



            </tr>
            {% endfor %}
        </tbody>
     


    </table>

    </div>



    <b><hr class = "my-4" style="width: 100%;"></b>


    <div style="text-align: center; margin-top: 2rem;">
        <p> <small>-- Link<strong>P</strong> --</small> </p>

     </div>

                    
</div>

 
    
{% endblock %}