{% extends "users/inicio2.html" %}

{% load static %}
{% load humanize %}

{% block content %}



<div class="container-fluid r-aside">

    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Cuentas corrientes</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item"><a
                    href="{% url 'Cuenta corriente proyecto' ctacte.venta.unidad.proyecto.id %}">Panel</a>
            </li>
                <li class="breadcrumb-item">Cuenta</li>
            </ol>
        </div>

    </div>

</div>

<div class="row ">
    <div class="col-12">
        <div class="card overflow-auto">
            <div class="card-body">

                <div style="text-align: center; margin-bottom: 50px;">
                    <img src="{{ctacte.venta.unidad.proyecto.iamgen.url}}" class="img-fluid" alt="..."
                        style="max-width:200px;width:auto;height:auto; margin-top: 5px; margin-bottom: 5px;">
                </div>


                

                    <div style="text-align: left; display: inline-block;">

                        <a href="{% url 'Agregar cuota' ctacte.id %}" style="text-decoration: none;"data-toggle="tooltip" data-placement="right" title="" data-original-title="Agregar cuota"><img
                            src="{% static 'img/add.png' %}" alt=""
                            style="max-width:20px; height:auto;"></a>

                        <a href="{% url 'Resumen cuenta corriente' ctacte.id %}" style="text-decoration: none; margin-left: 10px;" data-toggle="tooltip" data-placement="right" title="" data-original-title="Resumen de la cuenta"><img
                                src="{% static 'img/reporte.png' %}" alt="" style="max-width:20px; height:auto;"></a>

                        <a href="{% url 'Cuenta corriente venta boleto' ctacte.id %}"
                        style="text-decoration: none;  margin-left: 10px;" data-toggle="tooltip" data-placement="right" title="" data-original-title="Panel de boleto"><img src="{% static 'img/cuenta.png' %}" alt=""
                                style="max-width:20px; height:auto;"></a>

                        

                        <a href="{% url 'Descargar cuenta' id_cuenta=ctacte.id %}"
                            style="text-align: end; margin-top: 5px; text-decoration: none;  margin-left: 10px;" data-toggle="tooltip" data-placement="right" title="" data-original-title="Descargar Excel"> <img src="{% static 'img/sobresalir.png' %}"
                                alt="" style="max-width:20px; height:auto;"></a>

                        

                    </div>

                    <div style="text-align: left; display: inline-block; margin-left: 20px;">

                        <h5
                                style="color: rgb({{ctacte.venta.unidad.proyecto.color}})">{{ctacte.venta.comprador}}
                                    ({{ctacte.venta.unidad.piso_unidad}} - {{ctacte.venta.unidad.nombre_unidad}}) 
                            </h5>
    
                    </div>

                    <table id="example" class="table table-striped table-bordered" style="width:100%">
                        <thead>

                            <tr>
                                <th>Concepto</th>
                                <th style="text-align: center;">B</th>
                                <th>Fecha</th>
                                <th>Moneda</th>
                                <th>Total</th>
                                <th>Pago</th>
                                <th>Saldo</th>
                                <th>Cotización</th>
                                <th>  Saldo en pesos </th>
                                <th>  Pagos </th>

                            </tr>
                        </thead>

                        <tbody style="font-size: 12px;">

                            {% for i in datos_cuenta %}
                            <tr>
                                <td>
                                    <div style="display: inline-block;"><a href="{% url 'Eliminar cuota' i.0.id %}"><img src="{% static 'img/eliminar.png' %}" alt=""
                                        style="max-width:13px; height:auto;"></a></div>
                                    <div style="display: inline-block;"><a href="{% url 'Editar cuota' i.0.id %}" ><img src="{% static 'img/editar.png' %}" alt=""
                                        style="max-width:10px; height:auto;"></a></div>
                                    <div style="display: inline-block;"> {{i.0.concepto|upper}}</div>
                                    
                                    
                                        
                                        </td>
                                <td style="text-align: center;" >



                                    {% if i.0.boleto == "NO BOLETO" %}

                                    <a href="{% url 'Boleto en cuota' ctacte.id i.0.id %}"><b
                                            style="color: #CE2615;"> ⚫ </a>

                                    {% else %}

                                    <a href="{% url 'Boleto en cuota' ctacte.id i.0.id %}"><b
                                            style="color: #34CE15;">{{i.0.porc_boleto|floatformat:2}} </a>

                                    {% endif %}


                                  </td>

                        

                                <td>{{i.0.fecha|date:"j-m-Y"}}</td>
                                
                                <td> {{i.0.constante.nombre}}</td>

                                <td> {{i.0.precio|floatformat:2}}</td>

                                <td> {{i.1|floatformat:2}}</td>
                                <td> {{i.2|floatformat:2}}</td>

                                {% if i.5 == 0 %}
                                <td> ${{i.0.constante.valor|floatformat:0|intcomma}}</td>

                                {% else %}

                                <td> ${{i.5|floatformat:0|intcomma}}</td>

                                {% endif %}
                                <td> ${{i.3|floatformat:0|intcomma}} </td>
                                <td><a href="{% url 'Pagos' i.0.id %}" class="btn btn-sm btn-success">Ingresar</a>
                                     </td>
                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>


            </div>

        </div>

    </div>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js" defer></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js" defer></script>



<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "paging": false,
            "searching": false,
            "info": false
        });
    });
</script>



{% endblock %}