{% extends "users/inicio.html" %}

{% load static %}
{% load humanize %}

{% block content %}



<div class = "jumbotron" style="background-color: white; margin-bottom: 0px; text-align: center;" > 

    <div style="text-align: center;">

        <h2 style="font-family: Arial, Helvetica, sans-serif,">Seguimiento de cuentas corrientes</h2>

        <div>
            <small style="font-family: Arial, Helvetica, sans-serif,"><b>Modulo</b>: Cuentas corrientes </small>
        
        </div>
    </div>

        <b><hr class = "my-4" style="width: 100%;"></b>

        <small style="font-family: Arial, Helvetica, sans-serif,"><b>Deuda total</b>: $ {{deuda_total|floatformat:0|intcomma}}</small>

        <b><hr class = "my-4" style="width: 100%;"></b>

        <div style="text-align: left;">

            <div style="display: inline-block;">
    
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <button type="button" class="btn btn-primary">{{mensaje}}</button>
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="">
                            <div style="margin: 2px;">
            
                                <a href="{% url 'Panel de pagos total' 0 %}" style="margin-top: 5px;" >Todos</a>
            
                            </div>
            
                            {% for i in list_proyectos %}
            
                            <div style="margin: 2px;">
            
                                <a href="{% url 'Deudores' i.0.id %}" style="margin-top: 5px;" >{{i.0.nombre}} ({{i.1}})</a> 
                            
                            </div>
            
                            {% endfor %}
            
            
                                                      
                        </div>
                    </div>
                    </div>
        
            </div>

            <div style="display: inline-block;">

                <form method="POST" style="text-align: left;">
       
                    {% csrf_token %}
            
                    
                    
                    <div style="display: inline-block; margin-left: 1rem; ">
            
                        <input name="palabra" type="text" class="form-control form-control" placeholder="Buscar por palabra" list="art" style="width: 250px;">
            
                    </div>

                    <div style="display: inline-block; margin-left: 1rem;">
            
                        <button type="submit" class="btn btn-sm btn-light"><img src="{% static 'img/buscar2.png' %}" alt="" style="max-width:25px; height:auto; margin: 2px;" ></button>
            
                    </div>
                   
                  
            
                 </form>
    
            </div>
    
            
            

        </div>


    


    {% if datos %}


    <div class = "tableconteinerabel">

        <table class = "table table-hover" style="text-align: center; margin-top: 5px;">
            <thead>
    
                <tr class = "table-dark">
                    <th scope = "row"> <small>COMPRADOR </small></th>
                    <th scope = "row"> <small>PROYECTO</small></th> 
                    <th scope = "row"> <small>CUOTAS</small></th> 
                    <th scope = "row"> <small>PAGOS</small></th>                    
                    <th scope = "row"> <small> DEUDA </small></th>
                    <th scope = "row"> <small> DEUDA PESOS </small></th>

                </tr>
            </thead>
    
            <tbody>   
    
                {% for i in datos|slice:"200" %}
                <tr class = "table-light">
                    <td style="text-align: left"> <b> <small><a href="{% url 'Cuenta corriente venta' i.0.id %}" style="text-decoration:none; color: rgb(56, 60, 57);">{{i.0.venta.comprador}}</a> </small> </b> </td>
                    <td style="color: rgb({{i.0.venta.proyecto.color}});"> <b> <small> <b>{{i.0.venta.proyecto.nombre}}</b> </small> </b></td>    
                    <td> <b> <small>{{i.1|floatformat:0|intcomma}} M3</small> </b> </td>
                    <td> <b> <small>{{i.2|floatformat:0|intcomma}} M3</small> </b> </td>
                    <td> <b> <small>{{i.3|floatformat:0|intcomma}} M3</small> </b> </td>
                    <td> <b> <small>$ {{i.4|floatformat:0|intcomma}}</small> </b> </td>
                </tr>
                {% endfor %}
            </tbody>
         
    
    
        </table>
    


        {% else %}

        <b><hr class = "my-4" style="width: 100%; "></b>

        <div style="margin: 15px;">
        
        
        <h6 style="font-family: Arial, Helvetica, sans-serif,">No se registraron cuentas corrientes!</h6>
        </div>


        {% endif %}

        


    <div style="text-align: center; margin-top: 10%;">
        <p style="font-family: Arial, Helvetica, sans-serif,">  <small>-- Link<strong>P</strong> --</small> </p>

     </div>

    
    

</div>

    
{% endblock %}