{% extends "users/inicio2.html" %}

{% load static %}

{% block content %}

<div class="container-fluid r-aside">

    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Eliminar Cuota</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">

                <li class="breadcrumb-item"><a href="{% url 'Panel cuentas corrientes' %}">Panel</a></li>
                <li class="breadcrumb-item"><a
                    href="{% url 'Cuenta corriente proyecto' cuota.cuenta_corriente.venta.unidad.proyecto.id %}">Admin</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Cuenta corriente venta' cuota.cuenta_corriente.id %}">Cuenta</a></li>
                <li class="breadcrumb-item">Eliminar Cuota</li>
            </ol>
        </div>

    </div>

</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body row">
                <div class="col-12 justify-content-center">

                    <div class="row d-flex justify-content-center">
                        <div class="col col-md-12 col-lg-12 ">

                            <h3> ¿Estás seguro de eliminar la cuota?</h3>
                            <div style="margin-top: 15px;">
                                <h6>Esta acción no se puede restaurar, piensalo bien</h6>

                            </div>
                            <div style="margin-top: 15px;">

                                <form method="post">
                                    {% csrf_token %}
                                    <div class="row d-flex justify-content-center">

                                    <button type='submit' class="btn btn-danger">Si, seguro!</button>
                                    </div>
                                </form>


                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<aside class="right-side-panel">
    <h3 class="p-relative"><span class="lstick"></span>Hey!</h3>
    <div class="row">
        
        <div class="col-md-12 m-t-10">
          <div class="card">
            <div class="card-body">
            <img src="{% static 'img/animation_500_kmuydpt0.gif' %}" alt="Funny image" width="150px">
            <p>Estas por eliminar <b class="text-danger">datos</b> de forma permanente</p>

        </div>
            </div>
        </div>
    </div>


    </div>
  </aside>

{% endblock %}