{% extends "users/inicio.html" %}

{% load static %}

{% load humanize %}


{% block content %}


<div class = "jumbotron" style="background-color: white; margin-bottom: 0px;">

    <div class = "jumbotron" style="width: 70%; text-align: center; margin-left: 15%;">

        <h3> ¿Desea eliminar el pago del {{pago.fecha}} por un valor de ${{pago.pago_pesos|floatformat:0|intcomma}}?</h3>
        <b><hr class = "my-4" style="width: 100%;"></b>

        <div>

            <form method="post">
                {% csrf_token %}
        
                <button type='submit' class = "btn btn-outline-danger">Eliminar</button>
                <a class = "btn btn-outline-success" href="{% url 'Cuenta corriente venta' pago.cuota.cuenta_corriente.id %}">Volver</a>
        
            </form>


        </div>

        

    </div>
</div>

{% endblock %}