{% extends "users/inicio2.html" %}

{% load static %}

{% load humanize %}


{% block content %}

<div class="container-fluid">

    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Eliminar Pago</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Cuenta corriente venta' pago.cuota.cuenta_corriente.id %}">Cuenta</a>
                    <li class="breadcrumb-item"><a href="{% url 'Pagos' pago.cuota.id %}">Pagos realizados</a>
                <li class="breadcrumb-item">Eliminar Pago</li>
            </ol>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body row">
                <div class="col-12 justify-content-center">

                    <div class="row d-flex justify-content-center">
                        <div class="col col-md-12 col-lg-12 text-center">

                            <h3> ¿Desea eliminar el pago del {{pago.fecha}} por un valor de
                                ${{pago.pago_pesos|floatformat:0|intcomma}}?</h3>

                            <div>

                                <form method="post">
                                    {% csrf_token %}
                                    <div class="row d-flex justify-content-center">

                                        <button type='submit' class="btn btn-danger">Eliminar</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}