{% extends "users/inicio2.html" %}

{% load static %}

{% load humanize %}


{% block content %}

<div class="container-fluid r-aside">

    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Eliminar cuenta</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item"><a
                        href="{% url 'Cuenta corriente proyecto' datos.venta.proyecto.id %}">Biblioteca de A.P.U</a>
                </li>
                <li class="breadcrumb-item">Eliminar cuenta</li>
            </ol>
        </div>

    </div>

</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body row">
                <div class="col-12 justify-content-center">

                    <div class="row d-flex justify-content-center">
                        <div class="col col-md-12 col-lg-12 text-center">

                            <h3> ¿Está seguro de eliminar la cuenta
                                corriente de
                                {{datos.venta.comprador}}?</h3>

                            <div>
                                <h6>Tenga en cuenta que esta cuenta tiene
                                    asociada:</h6>

                                <div>
                                    <small><b>Cuotas:</b>
                                        {{otros_datos.0}}</small>
                                </div>

                                <div>
                                    <small><b>Pagos:</b>
                                        {{otros_datos.1}}</small>
                                </div>
                            </div>

                            <div>

                                <form method="post">
                                    {% csrf_token %}
                                    <div class="row d-flex justify-content-center">
                                        <button type='submit' class="btn btn-danger">Si, seguro!</button>
                                    </div>
                                </form>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}