{% extends "users/inicio2.html" %}


{% load static %}
{% load humanize %}

{% block content %}

<div class="container-fluid r-aside">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Analisis historico</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Indice Link' 0 0 %}">Indice</a></li>
                <li class="breadcrumb-item">Historico</li>
            </ol>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body row">
                <div class="col-12 justify-content-center">

                    <div>
                        <h2>Analisis de la variación del indice</h2>
                        <small>Según datos almacenados</small>
                    </div>


                    <div class="row d-flex justify-content-center mt-3">
                        <div class="col col-md-12 col-lg-6">
                            <div class="row">
                                <div class="col bg-light border rounded">

                                    <form method="POST">

                                        {% csrf_token %}
                                        <div class="row">

                                            <div class="col col-lg-6 my-2">

                                                <div style="display: inline-block;">

                                                    <label for="fechafinal">
                                                        <h6>Fecha 2 (Base)</h6>
                                                    </label>

                                                </div>

                                                <div style="margin-bottom: 2%; width: 100%; ">

                                                    <input name="fechafinal" type="date"
                                                        class="form-control form-control">

                                                </div>

                                            </div>


                                            <div class="col col-lg-6 my-2">

                                                <div style="display: inline-block;">

                                                    <label for="fechainicial">
                                                        <h6>Fecha 1 (Estudio)</h6>
                                                    </label>

                                                </div>

                                                <div style="margin-bottom: 2%; width: 100%; ">

                                                    <input name="fechainicial" type="date"
                                                        class="form-control form-control">

                                                </div>

                                            </div>

                                            

                                        </div>

                                        <div class="row d-flex justify-content-center my-3">
                                            <div class="col-lg-6 text-center">
                                                <button class="btn btn-info" type="submit"
                                                    style="margin-top: 1%; margin-bottom: 2%;">Buscar
                                                    datos</button>
                                            </div>
                                        </div>
                                    </form>

                                    

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body row">
                <div class="col-12 justify-content-center">

                {% if mensaje %}

                <div>
                    <h3 class="text-info">Estado de la solicitud</h3>
                    <h6 {% if mensaje.0 == 1 %}class="text-danger"{% elif mensaje.0 == 2 %}class="text-success"{% endif %}>{{mensaje.1}}</h6>
                </div>

                <div style="margin-top: 25px;">
                    <h4 class="text-info">Variación generales</h4>
                    <h6>Valor en {{datos.1.0}}: $ {{datos.0.0|floatformat:0|intcomma}}</h6>
                    <h6>Valor en {{datos.1.1}}: $ {{datos.0.1|floatformat:0|intcomma}}</h6>
                    <h6>Diferencia: $ {{datos.0.3|floatformat:0|intcomma}}</h6>
                    <h6>Variación del indice: {{datos.0.2|intcomma}} %</h6>

                </div>

                <div style="margin-top: 25px;">
                    <h4 class="text-info">Variación medias</h4>
                    <h6>Pendiente de gastar: {{datos.2.3|intcomma}} %</h6>
                    <h6>Pendiente de ingresar: {{datos.2.0|intcomma}} %</h6>
                    <h6>Saldo de caja: {{datos.2.2|intcomma}} %</h6>
                    <h6>Descuentos: {{datos.2.1|intcomma}} %</h6>
                    <h6>Honorarios: {{datos.2.4|intcomma}} %</h6>

                </div>

                <div style="margin-top: 25px;">
                    <h4 class="text-info">Variación especificas</h4>
                    <h6>Honorarios: $ {{datos.2.5|intcomma}}</h6>
                    <h6>Descripción de los proyectos</h6>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Proyecto</th>
                                    <th>Margen</th>
                                    <th>Ingresos</th>
                                    <th>Gastos</th>
                                    <th>Caja</th>

                                </tr>
                            </thead>
                            <tbody style="font-size: 14px;">
                                {% for v in var_especifica %}  
            
                                <tr>

                                    <th>{{v.0|lower|capfirst}}</th>
                                    <th>$ <span class="margen">{{v.1.0|floatformat:0|intcomma}}</span></th>
                                    <th><a href="#" data-toggle="modal" data-target="#ModalIngresos{{v.0.id}}">$ <span class="ingresos">{{v.1.1|floatformat:0|intcomma}}</span></a> </th>

                                    <!-- Modal lista de ingresos-->
                                    <div class="modal fade" id="ModalIngresos{{v.0.id}}" tabindex="-1" role="dialog" aria-labelledby="ModalIngresos{{v.0.id}}" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Gastos de {{v.0|lower|capfirst}}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <div class="modal-body">
                                            <h6 class="text-info">----- Administración -----</h6> 
                                            
                                            <h6> Cuotas a cobrar: $ {{v.1.7.1|floatformat:0|intcomma}}</h6>
                                            <h6> Ingresos por venta: $ {{v.1.7.2|floatformat:0|intcomma}}</h6>
                                            <h6> Financiación: $ {{v.1.7.3|floatformat:0|intcomma}}</h6> 
                                            <h6> Inmuebles a vender: $ {{v.1.7.4|floatformat:0|intcomma}}</h6> 
                                            <h6> Prestamos: $ {{v.1.7.0|floatformat:0|intcomma}}</h6>

                                            
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    
                                            </div>
                                        </div>
                                        </div>

                                    </div>
                                    <th><a href="#" data-toggle="modal" data-target="#ModalGastos{{v.0.id}}">$ <span class="gastos">{{v.1.2|floatformat:0|intcomma}}</span></a></th>

                                    <!-- Modal lista de gastos-->
                                    <div class="modal fade" id="ModalGastos{{v.0.id}}" tabindex="-1" role="dialog" aria-labelledby="ModalGastos{{v.0.id}}" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Gastos de {{v.0|lower|capfirst}}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <div class="modal-body">
                                            <h6 class="text-info">----- Administración -----</h6> 
                                            <h6> Pendientes de admin: $ {{v.1.5.0|floatformat:0|intcomma}}</h6>
                                            <h6> Pendientes de comisión: $ {{v.1.5.2|floatformat:0|intcomma}}</h6>
                                            <h6> Prestamos: $ {{v.1.5.8|floatformat:0|intcomma}}</h6>
                                            <h6> Cheques emitidos: $ {{v.1.5.11|floatformat:0|intcomma}}</h6> 
                                            <h6 class="text-danger">----- Obra -----</h6>                                   
                                            <h6> Saldo de materiales: $ {{v.1.5.3|floatformat:0|intcomma}}</h6>
                                            <h6> Saldo de mano de obra: $ {{v.1.5.4|floatformat:0|intcomma}}</h6>
                                            <h6> Saldo de imprevisto: $ {{v.1.5.5|floatformat:0|intcomma}}</h6>
                                            <h6> Creditos de obra: $ {{v.1.5.6|floatformat:0|intcomma}}</h6>
                                            <h6> Fondos de reparo: $ {{v.1.5.7|floatformat:0|intcomma}}</h6>
                                            <h6 class="text-warning">----- Impuestos -----</h6> 
                                            <h6> IVA: $ {{v.1.5.9|floatformat:0|intcomma}}</h6>
                                            <h6> IIBB: $ {{v.1.5.10|floatformat:0|intcomma}}</h6>
                                            
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    
                                            </div>
                                        </div>
                                        </div>

                                    </div>
                                    <th><a href="#" data-toggle="modal" data-target="#ModalCaja{{v.0.id}}">$ <span class="caja">{{v.1.3|floatformat:0|intcomma}} </span> </a> </th>
                                    <!-- Modal lista de caja -->
                                    <div class="modal fade" id="ModalCaja{{v.0.id}}" tabindex="-1" role="dialog" aria-labelledby="ModalCaja{{v.0.id}}" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Gastos de {{v.0|lower|capfirst}}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <div class="modal-body">
                                            <h6 class="text-info">----- Administración -----</h6> 
                                            <h6> Cuotas cobradas: $ {{v.1.6.0|floatformat:0|intcomma}}</h6>
                                            <h6> Gastos a la fecha: $ {{v.1.6.1|floatformat:0|intcomma}}</h6>
                                            <h6> Prestamos: $ {{v.1.6.2|floatformat:0|intcomma}}</h6>
                                            <h6> Retiros: $ {{v.1.6.3|floatformat:0|intcomma}}</h6>
                                            <h6> Tenencias: $ {{v.1.6.4|floatformat:0|intcomma}}</h6> 
         
                                            
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    
                                            </div>
                                        </div>
                                        </div>

                                    </div>
                
                                </tr>

                                {% endfor %}
                            </tbody>
                            <tfoot>

                                    <th></th>
                                    <th>$ <span id = 'margen'></span></th>
                                    <th>$ <span id = 'ingresos'></span></th>
                                    <th>$ <span id = 'gastos'></span></th>
                                    <th>$ <span id = 'caja'></span></th>

                            </tfoot>
                
                           
                        </table>
                    </div>
                    <div style="margin-top: 25px;">

                        <p>Ingresos se componen por: Cuotas a cobrar, ingresos por ventas, financiación, inmuebles a vender y prestamos a cobrar</p>
                        <p>Gastos se componen por: Gastos administrativos, comisión por ventas, cheques emitidos, pendiente de IVA o IIBB y gasto de obra (materiales y mano de obras)</p>
                        <p>Caja se compone por: Cuotas cobradas, gastos a la fecha, tenencia y retiros de socios</p>

                    </div>
                    
                </div>
                
                


                {% endif %}
            </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js" defer></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js" defer></script>

<script>
    var numbers = [];

    var testElements = document.getElementsByClassName('margen').item(0).innerHTML;
    var testElements = parseFloat(testElements)
    numbers.push(testElements)

    var sum = numbers.reduce(function (a, b) {
        return a + b;
    }, 0);

    document.getElementById("margen").innerHTML = sum

    var numbers = [];

    var testElements = document.getElementsByClassName('ingresos').item(0).innerHTML;
    var testElements = parseFloat(testElements)
    numbers.push(testElements)

    var sum = numbers.reduce(function (a, b) {
        return a + b;
    }, 0);

    document.getElementById("ingresos").innerHTML = sum

    var numbers = [];

    var testElements = document.getElementsByClassName('gastos').item(0).innerHTML;
    var testElements = parseFloat(testElements)
    numbers.push(testElements)

    var sum = numbers.reduce(function (a, b) {
        return a + b;
    }, 0);

    document.getElementById("gastos").innerHTML = sum

    var numbers = [];

    var testElements = document.getElementsByClassName('caja').item(0).innerHTML;
    var testElements = parseFloat(testElements)
    numbers.push(testElements)

    var sum = numbers.reduce(function (a, b) {
        return a + b;
    }, 0);

    document.getElementById("caja").innerHTML = sum
</script>

<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "paging": false,
            "ordering": false,
            "info": false
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#example1').DataTable({
            "paging": false,
            "ordering": false,
            "info": false
        });
    });
</script>

{% endblock %}