{% extends "users/inicio.html" %}

{% load static %}
{% load humanize %}

{% block content %}

<div class = "jumbotron" style="background-color: white; margin-bottom: 0px;">
    <div style="text-align: center;">
        <h2>Panel de control - Ingreso de unidades</h2>
        <small>Ingresa unidades señadas por el área de ventas</small>  
    </div>

    <b><hr class = "my-4" style="width: 100%; "></b>
    


    <div class = "tableconteinerabel">

             


    <table class = "table table-hover" style="text-align: center; margin-top: 2%;">
        <thead>

            <tr class = "table-dark">
                <th scope = "row"> <small>FECHA</small></th>
                <th scope = "row"> <small>PROYECTO</small></th>
                <th scope = "row"> <small>COMPRADOR</small></th>
                <th scope = "row"> <small>PISO</small></th>
                <th scope = "row"> <small> NOM </small></th>
                <th scope = "row"> <small> TIPO </small></th>
                <th scope = "row"> <small> SUPERFICIE </small></th>
                <th scope = "row"> <small>  ASIGNACION </small></th>
                <th scope = "row"> <small>PRECIO DE VENTA</small>   </th>
                <th scope = "row"> <small> ANOTACIONES </small></th>
                <th scope = "row"> <small> INGRESAR </small></th>
                 

            </tr>
        </thead>

        <tbody>   

            {% for i in datos|slice:"40" %}
            <tr class = "table-light">
                <td> <b> <small>{{i.fecha}}</small> </b></td>
                <td> <b> <small>{{i.unidad.proyecto.nombre}}</small> </b></td>       
                <td> <b> <small>{{i.comprador}}</small> </b> </td>
                <td> <b> <small>{{i.unidad.piso_unidad}}</small> </b> </td>
                <td> <b> <small>{{i.unidad.nombre_unidad}}</small> </b> </td>
                <td> <b> <small>{{i.unidad.tipologia}}</small> </b> </td>
                <td> <b> <small>{{i.m2|floatformat:2}}m2</small> </b> </td>
                <td> <b> <small>{{i.asignacion}}</small></b> </td>
                <td> <b>  <small>${{i.precio_venta|floatformat:0|intcomma}}</small></b> </td>
                <td><a href="{% url 'Detalle venta' i.id %}" class="btn btn-sm btn-info" >Ver detalles</a></td>
                <td>
                    
                    <form method="POST">

                        {% csrf_token %}


                        <button class="btn btn-sm btn-success" type="submit" name="ingresar" value="{{i.unidad.id}}" >Ingresar</button>


                    </form>

                    
                </td>


            </tr>
            {% endfor %}
        </tbody>
     


    </table>

    </div>



    <b><hr class = "my-4" style="width: 100%;"></b>


    <div style="text-align: center;">
        <small>El listado puede continuar, se limita el numero de filas visibles</small>
    </div>



    <div style="text-align: center; margin-top: 2rem;">
        <p> <small>-- Link<strong>P</strong> --</small> </p>

     </div>

                    
</div>
 
    
{% endblock %}