{% extends "users/inicio.html" %}

{% load static %}
{% load humanize %}

{% block content %}

<div class = "jumbotron" style="background-color: white; margin-bottom: 0px;">
    <div style="text-align: center;">
        <h2>Panel de control - Ingreso de unidades</h2>
        <small>Ingresa unidades señadas por el área de ventas</small>  
    </div>

    <b><hr class = "my-4" style="width: 100%; "></b>

    <div style="text-align: left;">

        <a class="badge badge-secondary" href="{% url 'Unidades señadas' 0 proyecto %}" >Todas</a>

        <a class="badge badge-warning" href="{% url 'Unidades señadas' 1 proyecto %}" >Señadas (S)</a>

        <a class="badge badge-dark" href="{% url 'Unidades señadas' 3 proyecto %}" >Pend. Comisión (C)</a>

        <a class="badge badge-dark" href="{% url 'Unidades señadas' 2 proyecto %}" >Pend. IIBB (IB)</a>

        

    
        </div>

        <div style="text-align: left; margin-top: 0.5%;">

            <a class="badge badge-secondary" href="{% url 'Unidades señadas' estado 0 %}" >Todos los proyectos</a>

            {% for i in listado %}
    
            <a class="badge badge-warning" style="background-color: rgb({{i.color}});" href="{% url 'Unidades señadas' estado i.id %}" >{{i.nombre}}</a>
    


            {% endfor %}
    
            
    
        
            </div>
    


    <div class = "tableconteinerabel">

             


    <table class = "table table-hover" style="text-align: center; margin-top: 0.5%;">
        <thead>

            <tr class = "table-dark">
                <th scope = "row"> <small>FECHA</small></th>
                <th scope = "row"> <small>PROYECTO</small></th>
                <th scope = "row"> <small>COMPRADOR</small></th>
                <th scope = "row"> <small>PISO</small></th>
                <th scope = "row"> <small> ESTADO </small></th>
                <th scope = "row"> <small> IIBB </small></th>
                <th scope = "row"> <small> COMISION </small></th>
                <th scope = "row"> <small> SUPERFICIE </small></th>
                <th scope = "row"> <small>  ASIGNACION </small></th>
            
                <th scope = "row"> <small> INGRESAR </small></th>
                 

            </tr>
        </thead>

        <tbody>   

            {% for i in datos|slice:"100" %}
            <tr class = "table-light">
                <td> <b> <small>{{i.fecha}}</small> </b></td>
                <td> <b> <small>{{i.unidad.proyecto.nombre}}</small> </b></td>       
                <td> <b> <small>{{i.comprador}}</small> </b> </td>
                <td> <b> <small>{{i.unidad.piso_unidad}} - {{i.unidad.nombre_unidad}} </small> </b> </td>
                <td> <b> <small> <b>{{i.unidad.estado}}</b>  </small> </b> </td>
                <td> <b> <small> <b>{{i.unidad.estado_iibb}}</b> </small> </b> </td>
                <td> <b> <small> <b>{{i.unidad.estado_comision}}</b> </small> </b> </td>
                <td> <b> <small>{{i.m2|floatformat:2}}m2</small> </b> </td>
                <td> <b> <small>{{i.asignacion}}</small></b> </td>
            
                <td>
                    
                    <form method="POST">

                        {% csrf_token %}


                        <button class="btn btn-sm btn-warning" type="submit" name="ingresar" value="{{i.unidad.id}}" >S</button>

                        

                        <button class="btn btn-sm btn-dark" type="submit" name="comision" value="{{i.unidad.id}}" >C</button>

                        <button class="btn btn-sm btn-dark" type="submit" name="iibb" value="{{i.unidad.id}}" >IB</button>

                    </form>

                    
                </td>


            </tr>
            {% endfor %}
        </tbody>
     


    </table>

    </div>



    <b><hr class = "my-4" style="width: 100%;"></b>


    <div style="text-align: center;">
        <small>El listado puede continuar, se limita el numero de filas visibles</small>
    </div>



    <div style="text-align: center; margin-top: 2rem;">
        <p> <small>-- Link<strong>P</strong> --</small> </p>

     </div>

                    
</div>
 
    
{% endblock %}