{% extends "users/inicio2.html" %}

{% load static %}
{% load humanize %}

{% block content %}

<div class="container-fluid r-aside">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Panel de administración de unidades</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item">Panel</li>

            </ol>
        </div>

    </div>

  </div>

  <div class="col-lg-12 col-xlg-6 button-group">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Listado de unidades</h4>
            <h6 class="card-subtitle">Este panel modifica propiedades de la unidad</h6>

            <div style="text-align: left;">
                <div class="dropdown">
                    <button class="dropbtn btn btn-primary">{{proyecto_marcado}}</button>
                    <div class="dropdown-content">
                        <a href="{% url 'Unidades señadas' estado 0 %}" >Todos</a>

                        {% for i in listado %}
                
                        <a href="{% url 'Unidades señadas' estado i.id %}" >{{i.nombre}}</a>
                
                        {% endfor %}
                    </div>
                  </div>
        

            <div class ="dataTables_filter">

                <form method="POST">
        
                    {% csrf_token %}
                <label>
                    Search:
                    <input type="search" class placeholder aria-controls="example23" name="palabra">
                </label>

            </form>

            </div>
            <div class="table-responsive">

                <table class="table">
                    <thead>
                        <tr>
                            <th>Unidad</th>
                            <th>Asignación</th>
                            <th>Estado</th>
                            <th>II.BB pagados</th>
                            <th>Comisión pagada</th>
                            <th>Modificar</th>
 
                        </tr>
                    </thead>
                    <tbody>

                        {% for i in datos|slice:"100" %}
                        <tr>
          
                        <td>
                            <span class="label label-info" style="background-color: rgb({{i.unidad.proyecto.color}});">{{i.unidad.proyecto.nombre}}</span>
                            <div>
                                {{i.unidad.piso_unidad}} - {{i.unidad.nombre_unidad}} 
                            <h6 class="card-subtitle">{{i.comprador}}</h6>

                            </div>
                            
                        </td>
                        

                        <form method="POST">
                            {% csrf_token %}
                        <td><select name="asig" class="custom-select form-control">
                            <option value="PROYECTO" {% if i.unidad.asig == 'PROYECTO'%} selected {% endif %}>PROYECTO</option>
                            <option value="TERRENO" {% if i.unidad.asig == 'TERRENO'%} selected {% endif %}>TERRENO</option>
                            <option value="HON. LINK" {% if i.unidad.asig == 'HON. LINK'%} selected {% endif %}>HON. LINK</option>
                            <option value="SOCIOS" {% if i.unidad.asig == 'SOCIOS'%} select {% endif %}>SOCIOS</option>
                        </select></td>
                        <td><select name="estado" class="custom-select form-control">
                            <option value="SEÑADA" {% if i.unidad.estado == 'SEÑADA'%} selected {% endif %}>SEÑADA</option>
                            <option value="VENDIDA" {% if i.unidad.estado == 'VENDIDA'%} selected {% endif %}>VENDIDA</option>
                            <option value="DISPONIBLE" {% if i.unidad.estado == 'DISPONIBLE'%} selected {% endif %}>DISPONIBLE</option>
                        </select></td>
                        <td>
                            {% if i.unidad.estado_iibb == 'SI' %}
                            <div class="switch">
                            <label ><b style="color: green;">SI</b>  
                                <input type="checkbox" name="iibbno"><span class="lever switch-col-red"></span><b style="color: red;">NO</b></label>
                            </div>

                            {% else %}
                            <div class="switch">
                                <label><b style="color: red;">NO</b>
                                    <input type="checkbox" name="iibbsi"><span class="lever"></span><b style="color: green;">SI</b></label>
                            </div>

                            {% endif %}
                        
                        </td>
                        <td>
                            {% if i.unidad.estado_comision == 'SI' %}
                            <div class="switch">
                            <label ><b style="color: green;">SI</b>  
                                <input type="checkbox" name="comisionno"><span class="lever switch-col-red"></span><b style="color: red;">NO</b></label>
                            </div>

                            {% else %}
                            <div class="switch">
                                <label><b style="color: red;">NO</b>
                                    <input type="checkbox" name="comisionsi"><span class="lever"></span><b style="color: green;">SI</b></label>
                            </div>

                            {% endif %}
                        
                            </td>
                        <td style="text-align: center;"><button type="submit" name="nombre" value="{{i.unidad.id}}" class="btn btn-info btn-circle"><i class="fa fa-check"></i></button></td>

                        </form>

                    </tr>

                    {% endfor %}

                    </tbody>
                    </table>
            </div>
            </div>
        </div>
    </div>
  </div>

                        


 
    
{% endblock %}