{% extends "users/inicio2.html" %}

{% load static %}
{% load humanize %}

{% block content %}


<div class="container-fluid r-aside">

    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Enviar correo cuenta</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item"><a
                        href="{% url 'Cuenta corriente proyecto' datos.venta.proyecto.id %}">Panel</a>
                </li>
                <li class="breadcrumb-item">Enviar correo cuenta</li>
            </ol>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body row">
                <div class="col-12 justify-content-center">

                    <div class="row d-flex justify-content-center">
                        <div class="col col-md-12 col-lg-12 text-center">

                            <img src="{{datos.venta.proyecto.iamgen.url}}" class="img-fluid" alt="..."
                                style="max-width:200px;width:auto;height:auto; margin-top: 5px; margin-bottom: 5px;">
                        </div>
                        <div class="text-center mt-3">
                            <h5 style="color: rgb({{datos.venta.proyecto.color}})">
                                {{ datos.venta.proyecto.nombre}}
                            </h5>
                            <h5>{{ datos.venta.comrpador }}</h5>
                        </div>
                    </div>
                    <form role="form" enctype="multipart/form-data" action="" method="POST" id="upload-image-form"
                        style="margin: 30px;">
                        {% csrf_token %}

                        <div>
                            <div style="display: inline-block; margin: 10px; width: 200px;">

                                <label for="email">
                                    <h6>Email de la cuenta</h6>
                                </label>

                            </div>

                            <div style="display: inline-block; margin: 10px; ">

                                <input name="email" type="text" class="form-control form-control"
                                    value="{{datos.venta.email}}" list="provee" style="width: 300px;">

                            </div>
                        </div>

                        <button type="submit" class="btn btn-info"><img
                                src="{% static 'img/correo-electronico.png' %}" alt=""
                                style="max-width:22px; height:auto; vertical-align: top;"> Enviar</button>

                        {{ form.as_p }}
                    </form>

                    {% if mensaje %}

                    {% if mensaje == "ok" %}

                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            <img src="{% static 'img/aceptado.png' %}" class="img-fluid" alt="..."
                                style="max-width:30px;width:auto;">

                        </div>

                        <div class="col d-flex justify-content-center text-success">
                            <small"><b>Email
                                    enviado exitosamente!</b> </small>

                        </div>
                    </div>

                    {% else %}
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">

                            <img src="{% static 'img/rechazado.png' %}" class="img-fluid" alt="..."
                                style="max-width:30px;width:auto;height:auto; margin-bottom: 5px;">

                        </div>

                        <div class="col d-flex justify-content-center text-danger">
                            <small><b>Ocurrio

                                    un error durante el envio!</b> </small>

                        </div>
                    </div>

                    {% endif %}

                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}