{% extends "users/inicio2.html" %}

{% load static %}
{% load humanize %}

{% block content %}

<div class="container-fluid r-aside">

    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Modificar honorarios</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item">Modificar honorarios</li>
            </ol>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body row">
                <div class="col-12 justify-content-center">

                    <div class="row d-flex justify-content-center">
                        <div class="col col-md-12 col-lg-6">
                            <div class="row">
                                <div class="col bg-light border rounded">

                                    <form role="form" enctype="multipart/form-data" action="" method="POST"
                                        id="upload-image-form">
                                        {% csrf_token %}


                                        <div class="mt-3">

                                            <label for="cuotas">
                                                <h6>Cuotas a cobrar</h6>
                                            </label>

                                        </div>

                                        <div class="row d-flex justify-content-center mt-3">
                                            <div class="col col-md-8 col-lg-8">
                                                <div>

                                                    <input name="cuotas" step="0.001" type="number"
                                                        class="form-control form-control"
                                                        placeholder="{{honorarios.0.cuotas|floatformat:2}} M3">

                                                </div>
                                            </div>
                                        </div>

                                        <div class="mt-3">

                                            <label for="ventas">
                                                <h6>Ventas proyectadas</h6>
                                            </label>

                                        </div>

                                        <div class="row d-flex justify-content-center mt-3">
                                            <div class="col col-md-8 col-lg-8">
                                                <div>

                                                    <input name="ventas" step="0.001" type="number"
                                                        class="form-control form-control"
                                                        placeholder="{{honorarios.0.ventas|floatformat:2}} M3">

                                                </div>
                                            </div>
                                        </div>

                                        <div class="mt-3">

                                            <label for="creditos">
                                                <h6>Creditos</h6>
                                            </label>

                                        </div>

                                        <div class="row d-flex justify-content-center mt-3">
                                            <div class="col col-md-8 col-lg-8">
                                                <div>

                                                    <input name="creditos" step="0.001" type="number"
                                                        class="form-control form-control"
                                                        placeholder="{{honorarios.0.creditos|floatformat:2}} M3">

                                                </div>
                                            </div>
                                        </div>

                                        <div class="mt-3">

                                            <label for="estructura_gio">
                                                <h6>Gastos de estructura y GIO</h6>
                                            </label>

                                        </div>

                                        <div class="row d-flex justify-content-center mt-3">
                                            <div class="col col-md-8 col-lg-8">
                                                <div>

                                                    <input name="estructura_gio" step="0.001" type="number"
                                                        class="form-control form-control"
                                                        placeholder="{{honorarios.0.estructura_gio|floatformat:2}} M3">

                                                </div>
                                            </div>
                                        </div>

                                        <div class="mt-3">

                                            <label for="aportes">
                                                <h6>Aportes</h6>
                                            </label>

                                        </div>

                                        <div class="row d-flex justify-content-center mt-3">
                                            <div class="col col-md-8 col-lg-8">
                                                <div>

                                                    <input name="aportes" step="0.001" type="number"
                                                        class="form-control form-control"
                                                        placeholder="{{honorarios.0.aportes|floatformat:2}} M3">

                                                </div>
                                            </div>
                                        </div>

                                        <div class="mt-3">
                                            <label for="socios">
                                                <h6>Socios</h6>
                                            </label>

                                        </div>

                                        <div class="row d-flex justify-content-center mt-3">
                                            <div class="col col-md-8 col-lg-8">
                                                <div>

                                                    <input name="socios" step="0.001" type="number"
                                                        class="form-control form-control"
                                                        placeholder="{{honorarios.0.socios|floatformat:2}} M3">

                                                </div>
                                            </div>
                                        </div>

                                        <div class="mt-3">

                                            <label for="comision_venta">
                                                <h6>% de comisión de venta</h6>
                                            </label>

                                        </div>

                                        <div class="row d-flex justify-content-center mt-3">
                                            <div class="col col-md-8 col-lg-8">
                                                <div>

                                                    <input name="comision_venta" step="0.001" type="number"
                                                        class="form-control form-control"
                                                        placeholder="{{honorarios.0.comision_venta|floatformat:2}}">

                                                </div>
                                            </div>
                                        </div>

                                        <div class="mt-3">

                                            <label for="deudas">
                                                <h6>Deudas</h6>
                                            </label>

                                        </div>

                                        <div class="row d-flex justify-content-center mt-3">
                                            <div class="col col-md-8 col-lg-8">
                                                <div>

                                                    <input name="deudas" step="0.001" type="number"
                                                        class="form-control form-control"
                                                        placeholder="{{honorarios.0.deudas|floatformat:2}} M3">

                                                </div>
                                            </div>
                                        </div>

                                        <div class="mt-3">

                                            <label for="retiro_socios">
                                                <h6>Retiro de socios</h6>
                                            </label>

                                        </div>

                                        <div class="row d-flex justify-content-center mt-3">
                                            <div class="col col-md-8 col-lg-8">
                                                <div>

                                                    <input name="retiro_socios" step="0.001" type="number"
                                                        class="form-control form-control"
                                                        placeholder="{{honorarios.0.retiro_socios|floatformat:2}} M3">

                                                </div>
                                            </div>
                                        </div>

                                        <div class="mt-3">

                                            <label for="caja_actual">
                                                <h6>Caja actual</h6>
                                            </label>

                                        </div>

                                        <div class="row d-flex justify-content-center mt-3">
                                            <div class="col col-md-8 col-lg-8">
                                                <div>

                                                    <input name="caja_actual" step="0.001" type="number"
                                                        class="form-control form-control"
                                                        placeholder="{{honorarios.0.caja_actual|floatformat:2}} M3">

                                                </div>
                                            </div>
                                        </div>

                                        <div class="row d-flex justify-content-center my-3">
                                            <div class="col-lg-6 text-center">
                                                <button type="submit" class="btn btn-primary">Subir</button>

                                            </div>
                                        </div>

                                        {{ form.as_p }}
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}