{% extends "users/inicio.html" %}

{% load static %}
{% load humanize %}

{% block content %}



<div class = "jumbotron" style="background-color: white; margin-bottom: 0px; text-align: center;" > 

    <div style="text-align: center;">

        <h2 style="font-family: Arial, Helvetica, sans-serif,">Pagos realizados</h2>

        <h3 style="color: rgb({{cuota.cuenta_corriente.venta.unidad.proyecto.color}}); font-family: Arial, Helvetica, sans-serif,">{{cuota.cuenta_corriente.venta.comprador}}</h3>


        <div>

            <img src="{{cuota.cuenta_corriente.venta.unidad.proyecto.iamgen.url}}"  class="img-fluid" alt="..." style="max-width:20%;width:auto;height:auto; margin-top: 1rem; margin-bottom: 3%;">
  

        </div>
        
        
        <small style="font-family: Arial, Helvetica, sans-serif,"><strong>{{cuota.cuenta_corriente.venta.unidad.proyecto.nombre}}: {{cuota.cuenta_corriente.venta.unidad.piso_unidad}} - {{cuota.cuenta_corriente.venta.unidad.nombre_unidad}}</strong></small>

        <div>

            <small style="font-family: Arial, Helvetica, sans-serif,"> Cuota del mes: {{cuota.fecha}}</small>


        </div>

        <div>
            <small style="font-family: Arial, Helvetica, sans-serif,"><b>Modulo</b>: Cuentas corrientes </small>
        
        </div>


        <b><hr class = "my-4" style="width: 100%; "></b>
    
    
    </div>

    <div style="text-align: left;" >

        <a href="{% url 'Agregar pagos' cuota.id %}" class="badge badge-primary">Agregar pago</a>

        <a href="{% url 'Cuenta corriente venta' cuota.cuenta_corriente.id %}" class="badge badge-info">Regresar al panel del cliente</a>
    

    </div>


    {% if datos %}


    <div class = "tableconteinerabel">

        <table class = "table table-hover" style="text-align: center; margin-top: 5px;">
            <thead>
    
                <tr class = "table-dark">
                    <th scope = "row"> <small>FECHA PAGO</small></th>
                    <th scope = "row"> <small>MONEDA (MD) </small></th>
                    <th scope = "row"> <small>COTIZACIÓN</small></th> 
                    <th scope = "row"> <small>MONTO PESOS</small></th>                    
                    <th scope = "row"> <small> DOCUMENTO 1 </small></th>
                    <th scope = "row"> <small> DOCUMENTO 2 </small></th>
                    <th scope = "row"> <small> EDITAR </small></th>
                    <th scope = "row"> <small> ELIMINAR </small></th>

                </tr>
            </thead>
    
            <tbody>   
    
                {% for i in datos %}
                <tr class = "table-light">

                    <td> <b> <small> <b>{{i.0.fecha}}</b> </small> </b></td>    
                    <td> <b> <small>{{i.0.pago|floatformat:2}}</small> </b> </td>

                    <td> <b> <small>${{i.1|floatformat:0|intcomma}}</small> </b> </td>

                    <td> <b> <small>${{i.0.pago_pesos|floatformat:0|intcomma}}</small> </b> </td>
                    <td> <b> <small>{{i.0.documento_1}}</small> </b> </td>
                    <td> <b> <small>{{i.0.documento_2}}</small> </b> </td>

                    <td> <b><a href="#" class="btn btn-sm btn-info" >Editar</a>
                    </b> </td>
                    <td> <b><a href="{% url 'Eliminar pago' i.0.id %}" class="btn btn-sm btn-danger" >Eliminar</a>
                    </b> </td>

                    
    
                </tr>
                {% endfor %}
            </tbody>
         
    
    
        </table>
    
        </div>

        {% else %}

        <b><hr class = "my-4" style="width: 100%; "></b>

        <div style="margin: 15px;">
        
        
        <h6 style="font-family: Arial, Helvetica, sans-serif,">No se registraron pagos todavia!</h6>
        </div>


        {% endif %}

        


    <div style="text-align: center; margin-top: 10%;">
        <p style="font-family: Arial, Helvetica, sans-serif,">  <small>-- Link<strong>P</strong> --</small> </p>

     </div>

    
    

</div>

    
{% endblock %}