{% extends "users/inicio2.html" %}

{% load static %}
{% load humanize %}
{% load apptags_extras %}
{% block content %}

<div class="container-fluid r-aside">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Panel de cuentas corrientes</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item">Panel</li>
            </ol>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-3 col-xlg-3">
        <div class="card">
            <div class="card-body text-center">

                <div>
                    <h6>Panel de administración</h6>
                </div>

                {% if request.user|has_group:"ADMIN NIVEL 1" %}

                <form method="POST" style="margin-top: 30px;">

                    {% csrf_token %}

                    
                    <select name="proyecto" class="custom-select">

                        {% for i in datos %}

                        <option value="{{i.0}}">{{i.1}}</option>

                        {% endfor %}
                    </select>

                    <div class="my-4" >
                        <button class="btn btn-info" type="submit">
                            Buscar</button>
                    </div>

                </form>

                {% else %}

                <div>
                    <img src="{% static 'img/animation_500_kmuydpt0.gif' %}" alt="" style="max-width:100px; height:auto; margin: 5px;">
                </div>

                <a href="#"><button class="btn btn-info">
                    Sin permisos</button></a>
                {% endif %}

            </div>
        </div>
    </div>

    <div class="col-lg-3 col-xlg-3">
        <div class="card">
            <div class="card-body text-center">
                <div>
                    <h6>Estados de cuenta</h6>
                </div>

                <div>
                    <img src="{% static 'img/InformeArea.png' %}" alt="" style="max-width:100px; height:auto; margin: 5px;">
                </div>

                {% if request.user|has_group:"ADMIN NIVEL 1" %}

                <a href="{% url 'Resumen de cuentas' %}"><button class="btn btn-success">
                        Ingresar</button></a>

                {% else %}

                <a href="#"><button class="btn btn-secondary">
                    Sin permisos</button></a>
                {% endif %}

            </div>
        </div>
    </div>



    <div class="col-lg-3 col-xlg-4">
        <div class="card">
            <div class="card-body text-center">
                <div>
                    <h6>Flujo de ingresos</h6>
                </div>

                <div>
                    <img src="{% static 'img/FlujoIngresos.png' %}" alt="" style="max-width:100px; height:auto; margin: 5px;">
                </div>
                {% if request.user|has_group:"ADMIN NIVEL 1" %}

                <a href="{% url 'Total cuenta' 1 0 0 0 %}"><button class="btn btn-primary">
                        Ingresar</button></a>
                {% else %}

                <a href="#"><button class="btn btn-secondary">
                    Sin permisos</button></a>
                {% endif %}

            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-xlg-3">
        <div class="card">
            <div class="card-body text-center">
                <div>
                    <h6>Registro de pagos</h6>
                </div>

                <div>
                    <img src="{% static 'img/RegistroPagos.png' %}" alt="" style="max-width:100px; height:auto; margin: 5px;">
                </div>
                {% if request.user|has_group:"ADMIN NIVEL 1" %}

                <a href="{% url 'Panel de pagos total' 0 %}"><button class="btn btn-dark">
                        Ingresar</button></a>
                        {% else %}

                        <a href="#"><button class="btn btn-secondary">
                            Sin permisos</button></a>
                        {% endif %}
            </div>

        </div>
    </div>

    <div class="col-lg-3 col-xlg-3">
        <div class="card">
            <div class="card-body text-center">
                <div>
                    <h6>Calculadora</h6>
                </div>

                <div>
                    <img src="{% static 'img/Calculadora.png' %}" alt="" style="max-width:100px; height:auto; margin: 5px;">
                </div>
                {% if request.user|has_group:"ADMIN NIVEL 1" %}

                <a href="{% url 'Calculadora' %}"><button class="btn btn-info">
                        Ingresar</button></a>
                        {% else %}

                        <a href="#"><button class="btn btn-secondary">
                            Sin permisos</button></a>
                        {% endif %}
            </div>

        </div>
    </div>

    <div class="col-lg-3 col-xlg-4">
        <div class="card">
            <div class="card-body text-center">
                <div>
                    <h6>Totalizador total Renta</h6>
                </div>

                <div>
                    <img src="{% static 'img/analisisperiodos.png' %}" alt="" style="max-width:100px; height:auto; margin: 5px;">
                </div>
                {% if request.user|has_group:"ADMIN NIVEL 1" %}

                <a href="{% url 'totalizadorrentaanticipadatotal' %} "><button class="btn btn-success">
                        Ingresar</button></a>
                {% else %}

                <a href="#"><button class="btn btn-secondary">
                    Sin permisos</button></a>
                {% endif %}

            </div>

        </div>
    </div>
    
</div>

<aside class="right-side-panel">
    <h3 class="p-relative"><span class="lstick"></span>¿Cómo se usa?</h3>
    <div class="row">
        
        <div class="col-md-12 m-t-10">
          <div class="card">
            <div class="card-body">
            <img src="{% static 'img/animation_500_kmv3afam.gif' %}" alt="Funny image" width="200px">
            <p><b class="text-primary">Panel de administración</b> te permite crear cuentas corrientes, incorporar cuotas y pagos</p>
            <p><b class="text-success">Estados de cuenta</b> es un resumen con los datos mas importantes de tus cuentas</p>
            <p><b class="text-info">Flujo de ingresos</b> mostrará el flujo de ingresos a 24 meses</p>
            <p><b class="text-dark">Registro de pagos</b> registro de todos los pagos cargados</p>
            <p><b class="text-warning">Deudores en M3</b> mostrará la deuda en nuestra moneda oficial</p>
        </div>
            </div>
        </div>
    </div>
  </aside>



{% endblock %}