{% extends "users/inicio2.html" %}

{% load static %}
{% load humanize %}

{% block content %}

<div class="container-fluid r-aside">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Administración de Cuentas Corrientes</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item">Administración de Cuentas Corrientes</li>
            </ol>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-6 col-xlg-4">
        <div class="card p-1">
            <div class="card-body">

                <form method="POST">

                    {% csrf_token %}

                    <label>Cuentas de un proyecto</label>
                    <select name="proyecto" class="custom-select">

                        {% for i in datos %}

                        <option value="{{i.0}}">{{i.1}}</option>

                        {% endfor %}
                    </select>

                    <div class="my-4" style="text-align: right;">
                        <button class="btn btn-primary" type="submit">
                            Buscar</button>
                    </div>

                </form>

            </div>
        </div>
    </div>



    <div class="col-lg-6 col-xlg-4">
        <div class="card">
            <div class="card-body text-center">
                <div>
                    <h6>Resumen de cuentas</h6>
                </div>

                <div>
                    <img src="{% static 'img/capas.png' %}" alt="" style="max-width:70px; height:auto; margin: 15px;">
                </div>

                <a href="{% url 'Total cuenta' 0 %}"><button class="btn btn-dark">
                        Ver reporte!</button></a>

            </div>

        </div>
    </div>
</div>




{% endblock %}