{% load static %}
{% load humanize %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/hint.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleabel.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>


<div class = "jumbotron" style="background-color: white; margin-bottom: 0px; text-align: center;" > 

    <div style="text-align: center;">

        <div style="text-align: left;">

            <img src="{{logo}}"  class="img-fluid" alt="..." style="width:30mm; height:auto; margin-top: 5px; margin-bottom: 5px;">
  

        </div>


        <div>

            <img src="{{ctacte.venta.unidad.proyecto.iamgen.url}}"  class="img-fluid" alt="..." style="width: 50mm; height:auto; margin-top: 5px; margin-bottom: 20mm;">
  

        </div>

        <div>

            <h4 style="color: rgb({{ctacte.venta.unidad.proyecto.color}}); font-family: Arial, Helvetica, sans-serif;">{{ ctacte.venta.unidad.proyecto.nombre }} </h4>
        

        </div>

        <b><hr class = "my-4" style="width: 100%;"></b>

        <div style="text-align: center;">
            <h1 style="font-family: Arial, Helvetica, sans-serif;"> Resumen de la cuenta </h1>
        </div>
        

        <div style="text-align: left; margin-top: 2%;">

            <p><b>FECHA: </b>{{fecha}}</p>
            <p><b>CLIENTE: </b>{{ctacte.venta.comprador}} </p>
            <p><b>UNIDAD: </b>{{ctacte.venta.unidad.piso_unidad}} - {{ctacte.venta.unidad.nombre_unidad}} </p>
            
            {% if ctacte.venta.unidad.tipo == "DEPARTAMENTO" %}

            <p><b>TIPO: </b>{{ctacte.venta.unidad.tipo}} {{ctacte.venta.unidad.tipologia}} de {{ctacte.venta.m2|floatformat:2}} m2 </p>
            

            {% elif  ctacte.venta.unidad.tipo == "COCHERA" %}

            <p><b>TIPO: </b><small>{{ctacte.venta.unidad.tipo}} de {{ctacte.venta.m2|floatformat:2}} m2</small></p>
            

            {% elif  ctacte.venta.unidad.tipo == "LOCAL" %}

            <p><b>TIPO: </b><small>{{ctacte.venta.unidad.tipo}} de {{ctacte.venta.m2|floatformat:2}} m2</small></p>
           

            {% endif %}
            

        </div>
        
        <b><hr class = "my-4" style="width: 100%;"></b>


        <div style="text-align: center;">
            <h1 style="font-family: Arial, Helvetica, sans-serif;"> Estado de las cuotas </h1>
        </div>
   
    
    </div>

    {% for i in datos %}

    {% if i.5 < 1 %}

    <h6 style="font-family: Arial, Helvetica, sans-serif; text-align: left;">{{i.0|upper}}</h6> 
  
            <div style="text-align: left;">
  
                <p style="font-family: Arial, Helvetica, sans-serif;"><b>Moneda:</b> {{i.1.nombre}} ($ {{i.1.valor|floatformat:2}}) | <b>Total:</b> {{i.2|floatformat:2}} | <b>Pagado:</b> {{i.4|floatformat:2}} | <b>Saldo:</b> {{i.5|floatformat:2}} </p>  
                <p style="font-family: Arial, Helvetica, sans-serif; color:#319537 ;"><b>Saldo en pesos:</b> $ -</p> 
      
    
            </div>
      {% elif  i.4 > 0 %}


      <h6 style="font-family: Arial, Helvetica, sans-serif; text-align: left;">{{i.0|upper}}</h6> 
  
            <div style="text-align: left;">
  
              <p style="font-family: Arial, Helvetica, sans-serif;"><b>Moneda:</b> {{i.1.nombre}} ($ {{i.1.valor|floatformat:2}}) | <b>Total:</b> {{i.2|floatformat:2}} | <b>Pagado:</b> {{i.4|floatformat:2}} | <b>Saldo:</b> {{i.5|floatformat:2}} </p>  
              <p style="font-family: Arial, Helvetica, sans-serif; color: #2D61BD;"><b>Saldo en pesos:</b> $ {{i.6|floatformat:0|intcomma}} </p> 
    
            </div>



      {% else %}

            <h6 style="font-family: Arial, Helvetica, sans-serif; text-align: left;">{{i.0|upper}}</h6> 
  
            <div style="text-align: left;">
  
                <p style="font-family: Arial, Helvetica, sans-serif;"><b>Moneda:</b> {{i.1.nombre}} ($ {{i.1.valor|floatformat:2}}) | <b>Total:</b> {{i.2|floatformat:2}} | <b>Pagado:</b> {{i.4|floatformat:2}} | <b>Saldo:</b> {{i.5|floatformat:2}} </p>  
                <p style="font-family: Arial, Helvetica, sans-serif;"><b>Saldo en pesos:</b> $ {{i.6|floatformat:0|intcomma}} </p> 
      
    
            </div>



      {% endif %}

      {% endfor %}


      <b><hr class = "my-4" style="width: 100%; "></b>

      <div>

        <h2 style="color: rgb({{ctacte.venta.unidad.proyecto.color}});">Saldo total de la cuenta: $ {{saldo_total_pesos|floatformat:0|intcomma}}</h2>

        <h3 style="color: rgb({{ctacte.venta.unidad.proyecto.color}});">Proxima cuota: $ {{datos_cuotas.0.1|floatformat:0|intcomma}}** vence en {{datos_cuotas.0.0|date:"F Y"}}</h3>

      </div>



        <b><hr class = "my-4" style="width: 100%; "></b>

    <div style="text-align: left;">

        <div>
            <small>VALOR M3 DE HORMIGON Y EQUIVALENTE EN PESOS CALCULADO SEGÚN REVISTA VIVIENDA MES EN CURSO </small>
        </div>
        <div>
            <small>Sección CI (CI RUBROS DE OBRA) Código 544 – HORMIGONES – ELABORADO 0130 (Hormigón H21) </small>
        </div>
        <div>
            <small><b>Importante: Precio vigente hasta el ultimo dia del mes corriente</b> </small>
        </div>


    </div>
    


</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

