{% load static %}
{% load humanize %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/hint.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleabel.css' %}">
    <!-- Hojas de estilos AdminPro -->
    <link rel="stylesheet" href="{% static 'css/styleabel.css' %}"> 
    <link href="{% static 'adminpro/assets/plugins/bootstrap-select/bootstrap-select.min.css' %}" rel="stylesheet" />
    <link href="{% static 'adminpro/assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'adminpro/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css' %}" rel="stylesheet">
    <link href="{% static 'adminpro/assets/plugins/chartist-js/dist/chartist.min.css' %}" rel="stylesheet">
    <link href="{% static 'adminpro/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css' %}" rel="stylesheet">
    <link href="{% static 'adminpro/assets/plugins/c3-master/c3.min.css' %}" rel="stylesheet">
    <link href="{% static 'adminpro/assets/plugins/toast-master/css/jquery.toast.css' %}" rel="stylesheet">
    <link href="{% static 'adminpro/main/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'adminpro/main/css/pages/dashboard1.css' %}" rel="stylesheet">
    <link href="{% static 'adminpro/main/css/colors/default.css' %}" id="theme" rel="stylesheet">
    <link href="{% static 'adminpro/main/css/pages/chat-app-page.css' %}" rel="stylesheet">
    <link href="{% static 'adminpro/main/css/pages/file-upload.css' %}" rel="stylesheet">
    <link href="{% static 'adminpro/assets/plugins/multiselect/css/multi-select.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'adminpro/assets/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css' %}" rel="stylesheet" />
    <link href="{% static 'adminpro/assets/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css' %}" rel="stylesheet" />
    <link href="{% static 'adminpro/assets/plugins/multiselect/css/multi-select.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'adminpro/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'adminpro/assets/plugins/select2/dist/css/select2.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'adminpro/assets/plugins/switchery/dist/switchery.min.css' %}" rel="stylesheet" />
    <link href="{% static 'adminpro/assets/plugins/bootstrap-select/bootstrap-select.min.css' %}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>

<body>
    <div style="text-align: left; margin-bottom: 20px;">
    
        <img src="{{cabecera}}"  class="img-fluid" alt="..." style="width:100%; height:auto;">


    </div>

    <div style="margin-bottom: 0px;"> 

        <div style="text-align: center;">

            <img src="{{ctacte.venta.unidad.proyecto.iamgen.url}}"  class="img-fluid" alt="..." style="width: 40mm; height:auto; margin-top: 5px; margin-bottom: 20mm;">
    

        </div>
    
        <div style="text-align: center;">

            <h4 style="color: rgb({{ctacte.venta.unidad.proyecto.color}}); font-family: sans-serif">{{ ctacte.venta.unidad.proyecto.nombre }} </h4>
        

        </div>
    
            <b><hr class = "my-4" style="width: 100%;"></b>

                    <div style="text-align: center;">
                        <h1 style="font-family: sans-serif"> Resumen de la cuenta </h1>
                    </div>
                    
            
                    <div style="margin-top: 2%; width: 50%;">

                        <table>
                            <tbody>
                                <th>

                                    <td style="width: 300;">

                                        <p style="font-family: sans-serif"><b>FECHA DEL RESUMEN: </b>{{fecha}}</p>
                                        <p style="font-family: sans-serif"><b>CLIENTE: </b>{{ctacte.venta.comprador}} </p>
                                        <p style="font-family: sans-serif"><b>UNIDAD: </b>{{ctacte.venta.unidad.piso_unidad}} - {{ctacte.venta.unidad.nombre_unidad}} </p>
                                        
                                        {% if ctacte.venta.unidad.tipo == "DEPARTAMENTO" %}
                            
                                        <p><b>TIPO: </b>{{ctacte.venta.unidad.tipo}} {{ctacte.venta.unidad.tipologia}} de {{ctacte.venta.m2|floatformat:2}} m2 </p>
                                        
                            
                                        {% elif  ctacte.venta.unidad.tipo == "COCHERA" %}
                            
                                        <p><b>TIPO: </b>{{ctacte.venta.unidad.tipo}} de {{ctacte.venta.m2|floatformat:2}} m2</p>
                                        
                            
                                        {% elif  ctacte.venta.unidad.tipo == "LOCAL" %}
                            
                                        <p><b>TIPO: </b>{{ctacte.venta.unidad.tipo}} de {{ctacte.venta.m2|floatformat:2}} m2</p>
                                    
                            
                                        {% endif %}
                                    </td>

                                    <td style="width: 250; text-align: center;">

                                        <img src="{{ctacte.venta.unidad.proyecto.imagen.url}}"  class="img-fluid" alt="..." style="width: 70mm; height:auto; margin-top: 5px; margin-bottom: 20mm;">

                                    </td>
                                    

                                    

                                </th>
                            </tbody>
                        </table>
            
                        
                        
            
                    </div>

            <b><hr class = "my-4" style="width: 100%;"></b>
    
    
            <div style="text-align: center;">
                <h1 style="font-family: Arial, Helvetica, sans-serif;"> Pago actual</h1>
            </div>
    
            <table class = "table table-hover" style="text-align: left;" >
                <thead>
        
                    <tr style="background-color: rgb(81, 75, 74); text-align: left; height: 28px; vertical-align: bottom;">
                        <th scope = "row" style="color: rgb(247, 241, 240);" colspan="3"><b>DATOS DEL PAGO ACTUAL</b></th>                        
                    </tr>
                </thead>
        
                <tbody>
        
                    <tr style="height: 25px; background-color: rgb(229, 224, 223);">
                        <td><small><b></b></small></td>
                        <td><small><b>CUOTA</b></small></td>
                        <td><small><b>MONEDA (M)</b></small></td>
                        <td><small><b>TOTAL (M)</b></small></td>
                        <td><small><b>VALOR (M)</b></small></td>
                        <td><small><b>TOTAL PESOS</b></small></td>
                        <td><small><b>VENCIMIENTO</b></small></td>
        
                    </tr>
    
                    {% for i in datos_vencimiento.0 %}
    
                    <tr style="height: 25px; ">
                        <td style="width: 20px;"><small><b></b></small></td>
                        <td><small>{{i.0.concepto|upper}}</small></td>
                        <td><small>{{i.0.constante.nombre}}</small></td>
                        <td><small>{{i.0.precio}}</small></td>
                        <td><small>$ {{i.0.constante.valor|floatformat:2}}</small></td>
                        <td><small>$ {{i.1|floatformat:0|intcomma}}</small></td>
                        <td><small>{{datos_vencimiento.1|date:"Y-m-d"}}</small></td>
              
                    </tr>
                   
                    {% endfor %}

                    <tr style="height: 25px; ">
                        <td style="width: 20px;"><small><b></b></small></td>
                        <td><small><b>Total a pagar</b> </small></td>
                        <td><small></small></td>
                        <td><small></small></td>
                        <td><small></small></td>
                        <td><small><b>$ {{total_mes|floatformat:0|intcomma}}</b></small></td>
                        <td><small></small></td>
              
                    </tr>
                </tbody>
        
            </table>
            
            <b><hr class = "my-4" style="width: 100%;"></b>
    
    
            <div style="text-align: center;">
                <h1 style="font-family: Arial, Helvetica, sans-serif;"> Estado de cuenta</h1>
            </div>
       
        
        </div>
    
        <table class = "table table-hover" style="text-align: left;" >
            <thead>
    
                <tr style="background-color: rgb(81, 75, 74); text-align: left; height: 28px; vertical-align: bottom;">
                    <th scope = "row" style="color: rgb(247, 241, 240);" colspan="3"><b>RESUMEN DE CUENTA</b></th>                        
                </tr>
            </thead>
    
            <tbody>
    
                <tr style="height: 25px; background-color: rgb(229, 224, 223);">
                    <td><small><b></b></small></td>
                    <td><small><b>CUOTA</b></small></td>
                    <td><small><b>MONEDA (M)</b></small></td>
                    <td><small><b>VALOR (M)</b></small></td>
                    <td><small><b>TOTAL</b></small></td>
                    <td><small><b>PAGADO</b></small></td>
                    <td><small><b>SALDO</b></small></td>
                    <td><small><b>SALDO PESOS</b></small></td>
    
                </tr>
    
                {% for i in datos %}
               
                <tr style="height: 25px; ">
                    <td style="width: 20px;"><small><b></b></small></td>
                    <td><small>{{i.0|upper}}</small></td>
                    <td><small>{{i.1.nombre}}</small></td>
                    <td><small>$ {{i.1.valor|floatformat:2}}</small></td>
                    <td><small>{{i.2|floatformat:2}}</small></td>
                    <td><small>{{i.4|floatformat:2}}</small></td>
                    <td><small>{{i.5|floatformat:2}}</small></td>
                    {% if i.5 < 1 %}
                    <td style="font-family: Arial, Helvetica, sans-serif; color:#319537 ;"><small><b>PAGADO</b></small></td>
                    {% elif  i.4 > 0 %}
                    <td style="font-family: Arial, Helvetica, sans-serif; color:#2D61BD ;"><small><b>$ {{i.6|floatformat:0|intcomma}}</b></small></td>
                    {% else %}
                    <td style="font-family: Arial, Helvetica, sans-serif;"><small><b>$ {{i.6|floatformat:0|intcomma}}</b></small></td>
                    {% endif %}
    
          
                </tr>
    
                {% endfor %}
    
                <tr style="height: 25px; background-color: rgb(81, 75, 74);">
                    <td style="text-align: center; color: rgb(247, 241, 240);" colspan="6"><b>SALDO TOTAL DE LA CUENTA</b></td>
                    <td style="color: rgb(247, 241, 240);"><b>$ {{saldo_total_pesos|floatformat:0|intcomma}}</b></td>
    
                </tr>
            
            </tbody>
    
        </table>
    
    
            <h3>Proxima cuota: $ {{datos_cuotas.0.1|floatformat:0|intcomma}}** vence en {{datos_cuotas.0.0|date:"F Y"}}</h3>
    
          </div>
    
    
    
            <b><hr class = "my-4" style="width: 100%; "></b>
    
        <div style="text-align: left;">
    
            <div>
                <small>VALOR M3 DE HORMIGON Y EQUIVALENTE EN PESOS CALCULADO SEGÚN REVISTA VIVIENDA MES EN CURSO </small>
            </div>
            <div>
                <small>Sección CI (CI RUBROS DE OBRA) Código 544 – HORMIGONES – ELABORADO 0130 (Hormigón H21) </small>
            </div>
            <div>
                <small><b>Importante: Precio vigente hasta el ultimo dia del mes corriente</b> </small>
            </div>
    
    
        </div>
        
    
    
    </div>
    
</body>




<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<!-- scripts AdminPro -->

<script src="{% static 'adminpro/assets/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'adminpro/assets/plugins/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'adminpro/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'adminpro/main/js/perfect-scrollbar.jquery.min.js' %}"></script>
<script src="{% static 'adminpro/main/js/waves.js' %}"></script>
<script src="{% static 'adminpro/main/js/sidebarmenu.js' %}"></script>
<script src="{% static 'adminpro/main/js/custom.min.js' %}"></script>
<script src="{% static 'adminpro/assets/plugins/sparkline/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'adminpro/assets/plugins/chartist-js/dist/chartist.min.js' %}"></script>
<script src="{% static 'adminpro/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js' %}"></script>
<script src="{% static 'adminpro/assets/plugins/d3/d3.min.js' %}"></script>
<script src="{% static 'adminpro/assets/plugins/c3-master/c3.min.js' %}"></script>
<script src="{% static 'adminpro/main/js/dashboard1.js' %}"></script>
<script src="{% static 'adminpro/assets/plugins/styleswitcher/jQuery.style.switcher.js' %}"></script>
<script src="{% static 'adminpro/main/js/chat.js' %}"></script>
<script src="{% static 'assets/plugins/switchery/dist/switchery.min.js' %}"></script>
<script src="{% static 'assets/plugins/select2/dist/js/select2.full.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/plugins/bootstrap-select/bootstrap-select.min.js' %}" type="text/javascript"></script>
<script src="{% static 'adminpro/assets/plugins/bootstrap-select/bootstrap-select.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'assets/plugins/multiselect/js/jquery.multi-select.js' %}"></script>

