{% load static %}
{% load humanize %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/hint.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleabel.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>


<div class = "jumbotron" style="background-color: white; margin-bottom: 0px; text-align: center;" > 

    <div style="text-align: center;">

        <div style="text-align: left;">

            <img src="{{logo}}"  class="img-fluid" alt="..." style="width:30mm; height:auto; margin-top: 5px; margin-bottom: 5px;">
  

        </div>


        <div>

            <img src="{{ctacte.venta.unidad.proyecto.iamgen.url}}"  class="img-fluid" alt="..." style="width: 60mm; height:auto; margin-top: 5px; margin-bottom: 20mm;">
  

        </div>

        <div>

            <h4 style="color: rgb({{ctacte.venta.unidad.proyecto.color}}); font-family: Arial, Helvetica, sans-serif;">{{ ctacte.venta.unidad.proyecto.nombre }} </h4>
        

        </div>

        <div style="text-align: left; margin-top: 2%;">

            <h3>Fecha: {{fecha}}</h3>
            <h3>Cliente: {{ctacte.venta.comprador}} </h3>
            <h3>Unidad: {{ctacte.venta.unidad.piso_unidad}} - {{ctacte.venta.unidad.nombre_unidad}} </h3>
            
            {% if ctacte.venta.unidad.tipo == "DEPARTAMENTO" %}

            <h3>Tipo: {{ctacte.venta.unidad.tipo}} {{ctacte.venta.unidad.tipologia}} de {{ctacte.venta.m2|floatformat:2}} m2 </h3>
            

            {% elif  ctacte.venta.unidad.tipo == "COCHERA" %}

            <h6>Tipo: <small>{{ctacte.venta.unidad.tipo}} de {{ctacte.venta.m2|floatformat:2}} m2</small></h6>
            

            {% elif  ctacte.venta.unidad.tipo == "LOCAL" %}

            <h6>Tipo: <small>{{ctacte.venta.unidad.tipo}} de {{ctacte.venta.m2|floatformat:2}} m2</small></h6>
           

            {% endif %}
            

        </div>
        
        <b><hr class = "my-4" style="width: 100%;"></b>
    
    
    </div>

    {% for i in datos %}

    {% if i.5 < 1 %}

    <div class="card border-success mb-3" style="display: inline-block; width: 310px; height: 250px; vertical-align: top;  margin: 10px;">
                
        <div class="card-body">

            
          
            <div style="display: inline-block; text-align: left; vertical-align: top; margin-top: 10px;">
  
            <h6 style="font-family: Arial, Helvetica, sans-serif;"> {{i.0|upper}}</h6> 
          
            </div>

            <div>
  
              <small style="font-family: Arial, Helvetica, sans-serif;"><b>Moneda:</b> {{i.1.nombre}} ($ {{i.1.valor|floatformat:2}}) </small> 
  
            </div>

            <div>
  
                <small style="font-family: Arial, Helvetica, sans-serif;"><b>Monto total:</b> {{i.2|floatformat:2}} </small> 
    
              </div>

              <div>
  
                <small style="font-family: Arial, Helvetica, sans-serif;"><b>Pagado:</b> {{i.4|floatformat:2}} </small> 
    
              </div>

              
              <div>
  
                <small style="font-family: Arial, Helvetica, sans-serif;"><b>Saldo:</b> {{i.5|floatformat:2}} </small> 
    
              </div>

              <div>
  
                <small style="font-family: Arial, Helvetica, sans-serif;"><b>Saldo en pesos:</b> $ {{i.6|floatformat:0|intcomma}} </small> 
    
              </div>

              <div>
  
                <small style="font-family: Arial, Helvetica, sans-serif;"><b>Cuotas:</b> {{i.3}} </small> 
    
              </div>

              <div style="text-align: center; vertical-align: top;">

                <img src="{% static 'img/cheque.png' %}" alt="" style="max-width:20px; height:auto;">

            </div>
  
  
  
          </div>
      </div>

      {% elif  i.4 > 0 %}


      <div class="card border-primary mb-3" style="display: inline-block; width: 310px; height: 250px; vertical-align: top;  margin: 10px;">
                
        <div class="card-body">
          <div style="display: inline-block; text-align: left; vertical-align: middle; margin-top: 10px;">
  
            <h6 style="font-family: Arial, Helvetica, sans-serif;">{{i.0|upper}}</h6> 
          </div>
  
  
    
            <div>
  
              <small style="font-family: Arial, Helvetica, sans-serif;"><b>Moneda:</b> {{i.1.nombre}} ($ {{i.1.valor|floatformat:2}}) </small> 
  
            </div>

            <div>
  
                <small style="font-family: Arial, Helvetica, sans-serif;"><b>Monto total:</b> {{i.2|floatformat:2}} </small> 
    
              </div>

              <div>
  
                <small style="font-family: Arial, Helvetica, sans-serif;"><b>Pagado:</b> {{i.4|floatformat:2}} </small> 
    
              </div>

              
              <div>
  
                <small style="font-family: Arial, Helvetica, sans-serif;"><b>Saldo:</b> {{i.5|floatformat:2}} </small> 
    
              </div>

              <div>
  
                <small style="font-family: Arial, Helvetica, sans-serif;"><b>Saldo en pesos:</b> $ {{i.6|floatformat:0|intcomma}} </small> 
    
              </div>

              <div>
  
                <small style="font-family: Arial, Helvetica, sans-serif;"><b>Cuotas:</b> {{i.3}} </small> 
    
              </div>
  
  
  
          </div>
      </div>



      {% else %}

      <div class="card border-secondary mb-3" style="display: inline-block; width: 310px; height: 250px; vertical-align: top;  margin: 10px;">
                
        <div class="card-body">
          <div style="display: inline-block; text-align: left; vertical-align: middle; margin-top: 10px;">
  
            <h6 style="font-family: Arial, Helvetica, sans-serif;">{{i.0|upper}}</h6> 
          </div>
  
  
    
            <div>
  
              <small style="font-family: Arial, Helvetica, sans-serif;"><b>Moneda:</b> {{i.1.nombre}} ($ {{i.1.valor|floatformat:2}}) </small> 
  
            </div>

            <div>
  
                <small style="font-family: Arial, Helvetica, sans-serif;"><b>Monto total:</b> {{i.2|floatformat:2}} </small> 
    
              </div>

              <div>
  
                <small style="font-family: Arial, Helvetica, sans-serif;"><b>Pagado:</b> {{i.4|floatformat:2}} </small> 
    
              </div>

              
              <div>
  
                <small style="font-family: Arial, Helvetica, sans-serif;"><b>Saldo:</b> {{i.5|floatformat:2}} </small> 
    
              </div>

              <div>
  
                <small style="font-family: Arial, Helvetica, sans-serif;"><b>Saldo en pesos:</b> $ {{i.6|floatformat:0|intcomma}} </small> 
    
              </div>

              <div>
  
                <small style="font-family: Arial, Helvetica, sans-serif;"><b>Cuotas:</b> {{i.3}} </small> 
    
              </div>
  
  
  
          </div>
      </div>


      {% endif %}

      {% endfor %}


      <b><hr class = "my-4" style="width: 100%; "></b>


      <h2>Saldo total de la cuenta: $ {{saldo_total_pesos|floatformat:0|intcomma}}</h2>

      <h3>Proxima cuota: $ {{datos_cuotas.0.1|floatformat:0|intcomma}} vence en {{datos_cuotas.0.0|date:"F Y"}}</h3>



        <b><hr class = "my-4" style="width: 100%; "></b>

    <div style="text-align: left;">

        <div>
            <small>VALOR M3 DE HORMIGON Y EQUIVALENTE EN PESOS CALCULADO SEGÚN REVISTA VIVIENDA MES EN CURSO </small>
        </div>
        <div>
            <small>Sección CI (CI RUBROS DE OBRA) Código 544 – HORMIGONES – ELABORADO 0130 (Hormigón H21) </small>
        </div>
        <div>
            <small><b>Importante:</b> </small>
        </div>


    </div>
    


</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

