{% extends "users/inicio.html" %}

{% load static %}
{% load humanize %}

{% block content %}



<div class = "jumbotron" style="background-color: white; margin-bottom: 0px; text-align: center;" > 

    <div style="text-align: center;">

        <div>

            <img src="{{ctacte.venta.unidad.proyecto.iamgen.url}}"  class="img-fluid" alt="..." style="max-width:20%;width:auto;height:auto; margin-top: 1rem;">
  

        </div>
        
        <div style="text-align: left; margin-top: 2%;">

            <h6>Fecha de la venta: {{ctacte.venta.fecha}}</h6>
            <h6>Cliente: {{ctacte.venta.comprador}}</h6>
            <h6>Unidad: {{ctacte.venta.unidad.piso_unidad}} - {{ctacte.venta.unidad.nombre_unidad}} - {{ctacte.venta.unidad.tipo}} - {{ctacte.venta.unidad.tipologia}}</h6>
            <h6>Tamaño de la unidad: {{ctacte.venta.m2}} </h6> 


        </div>
        <b><hr class = "my-4" style="width: 100%; "></b>
    
    
    </div>


    <div class = "tableconteinerabel">

             


        <table class = "table table-hover" style="text-align: center; margin-top: 2%;">
            <thead>
    
                <tr class = "table-dark">
                    <th scope = "row"> <small>CONCEPTO</small></th>
                    <th scope = "row"> <small>MONEDA</small></th>
                    <th scope = "row"> <small>VALOR MONEDA</small></th>
                    <th scope = "row"> <small>TOTAL (MD)</small></th>
                    <th scope = "row"> <small>CUOTAS</small></th>
                    <th scope = "row"> <small> PAGADO (MD)</small></th>
                    <th scope = "row"> <small> SALDO (MD)</small></th>
                    <th scope = "row"> <small> SALDO (PESOS) </small></th>


                </tr>
            </thead>
    
            <tbody>   
    
                {% for i in datos %}
                <tr class = "table-light">
                    <td> <b> <small> <b>{{i.0}}</b> </small> </b></td>    
                    <td> <b> <small>{{i.1.nombre}}</small> </b> </td>
                    <td> <b> <small>${{i.1.valor|floatformat:2}}</small> </b> </td>
                    <td> <b> <small>{{i.2|floatformat:2}}</small> </b> </td>
                    <td> <b> <small>{{i.3}}</small> </b> </td>
                    <td> <b> <small>{{i.4|floatformat:2}}</small> </b> </td>
                    <td> <b> <small>{{i.5|floatformat:2}}</small> </b> </td>
                    <td> <b> <small> <b>${{i.3|floatformat:0|intcomma}}</b> </small></b> </td>


                </tr>
                {% endfor %}
            
            </tbody>
         
    
    
        </table>
    
        </div>

        <small>*MD. Moneda dura de referencia para las cuotas </small>

        <b><hr class = "my-4" style="width: 100%; "></b>

        <div style="text-align: left;">

            <h6>Datos de la cuota a vencer</h6>


        </div>



    <div style="text-align: center; margin-top: 10%;">
        <p> <small>-- Link<strong>P</strong> --</small> </p>

     </div>

    
    

</div>

    
{% endblock %}