{% extends "users/inicio.html" %}

{% load static %}
{% load humanize %}

{% block content %}



<div class = "jumbotron" style="background-color: white; margin-bottom: 0px; text-align: center;" > 

    <div style="text-align: center;">

        <div>

            <img src="{{ctacte.venta.unidad.proyecto.iamgen.url}}"  class="img-fluid" alt="..." style="max-width:20%;width:auto;height:auto; margin-top: 1rem;">
  

        </div>

        <h6 style="color: rgb({{ctacte.venta.unidad.proyecto.color}}); font-family: Arial, Helvetica, sans-serif;" >{{ctacte.venta.unidad.proyecto.nombre}} </h6>
        
        <div style="text-align: left; margin-top: 2%;">

            <h6>Fecha de la venta: <small>{{ctacte.venta.fecha}}</small> </h6>
            <h6>Cliente: <small>{{ctacte.venta.comprador}}</small> </h6>
            <h6>Unidad: <small>{{ctacte.venta.unidad.piso_unidad}} - {{ctacte.venta.unidad.nombre_unidad}}</small></h6>
            
            {% if ctacte.venta.unidad.tipo == "DEPARTAMENTO" %}

            <h6>Tipo: <small>{{ctacte.venta.unidad.tipo}} {{ctacte.venta.unidad.tipologia}} de {{ctacte.venta.m2}} m2</small></h6>
            

            {% elif  ctacte.venta.unidad.tipo == "COCHERA" %}

            <h6>Tipo: <small>{{ctacte.venta.unidad.tipo}} de {{ctacte.venta.m2}} m2</small></h6>
            

            {% elif  ctacte.venta.unidad.tipo == "LOCAL" %}

            <h6>Tipo: <small>{{ctacte.venta.unidad.tipo}} de {{ctacte.venta.m2|floatformat:2}} m2</small></h6>
           

            {% endif %}
            

        </div>
        <b><hr class = "my-4" style="width: 100%; "></b>
    
    
    </div>

    {% for i in datos %}

    {% if i.5 < 1 %}

    <div class="card border-success mb-3" style="display: inline-block; width: 310px; height: 250px; vertical-align: top;  margin: 10px;">
                
        <div class="card-body">

            
          
            <div style="display: inline-block; text-align: left; vertical-align: top; margin-top: 10px;">
  
            <h6 style="font-family: Arial, Helvetica, sans-serif;"> {{i.0|upper}}</h6> 
          
            </div>

            <div>
  
              <small style="font-family: Arial, Helvetica, sans-serif;"><b>Moneda:</b> {{i.1.nombre}} ($ {{i.1.valor|floatformat:2}}) </small> 
  
            </div>

            <div>
  
                <small style="font-family: Arial, Helvetica, sans-serif;"><b>Monto total:</b> {{i.2|floatformat:2}} </small> 
    
              </div>

              <div>
  
                <small style="font-family: Arial, Helvetica, sans-serif;"><b>Pagado:</b> {{i.4|floatformat:2}} </small> 
    
              </div>

              
              <div>
  
                <small style="font-family: Arial, Helvetica, sans-serif;"><b>Saldo:</b> {{i.5|floatformat:2}} </small> 
    
              </div>

              <div>
  
                <small style="font-family: Arial, Helvetica, sans-serif;"><b>Saldo en pesos:</b> $ {{i.6|floatformat:0|intcomma}} </small> 
    
              </div>

              <div>
  
                <small style="font-family: Arial, Helvetica, sans-serif;"><b>Cuotas:</b> {{i.3}} </small> 
    
              </div>

              <div style="text-align: center; vertical-align: top;">

                <img src="{% static 'img/cheque.png' %}" alt="" style="max-width:20px; height:auto;">

            </div>
  
  
  
          </div>
      </div>

      {% elif  i.4 > 0 %}


      <div class="card border-primary mb-3" style="display: inline-block; width: 310px; height: 250px; vertical-align: top;  margin: 10px;">
                
        <div class="card-body">
          <div style="display: inline-block; text-align: left; vertical-align: middle; margin-top: 10px;">
  
            <h6 style="font-family: Arial, Helvetica, sans-serif;">{{i.0|upper}}</h6> 
          </div>
  
  
    
            <div>
  
              <small style="font-family: Arial, Helvetica, sans-serif;"><b>Moneda:</b> {{i.1.nombre}} ($ {{i.1.valor|floatformat:2}}) </small> 
  
            </div>

            <div>
  
                <small style="font-family: Arial, Helvetica, sans-serif;"><b>Monto total:</b> {{i.2|floatformat:2}} </small> 
    
              </div>

              <div>
  
                <small style="font-family: Arial, Helvetica, sans-serif;"><b>Pagado:</b> {{i.4|floatformat:2}} </small> 
    
              </div>

              
              <div>
  
                <small style="font-family: Arial, Helvetica, sans-serif;"><b>Saldo:</b> {{i.5|floatformat:2}} </small> 
    
              </div>

              <div>
  
                <small style="font-family: Arial, Helvetica, sans-serif;"><b>Saldo en pesos:</b> $ {{i.6|floatformat:0|intcomma}} </small> 
    
              </div>

              <div>
  
                <small style="font-family: Arial, Helvetica, sans-serif;"><b>Cuotas:</b> {{i.3}} </small> 
    
              </div>
  
  
  
          </div>
      </div>



      {% else %}

      <div class="card border-secondary mb-3" style="display: inline-block; width: 310px; height: 250px; vertical-align: top;  margin: 10px;">
                
        <div class="card-body">
          <div style="display: inline-block; text-align: left; vertical-align: middle; margin-top: 10px;">
  
            <h6 style="font-family: Arial, Helvetica, sans-serif;">{{i.0|upper}}</h6> 
          </div>
  
  
    
            <div>
  
              <small style="font-family: Arial, Helvetica, sans-serif;"><b>Moneda:</b> {{i.1.nombre}} ($ {{i.1.valor|floatformat:2}}) </small> 
  
            </div>

            <div>
  
                <small style="font-family: Arial, Helvetica, sans-serif;"><b>Monto total:</b> {{i.2|floatformat:2}} </small> 
    
              </div>

              <div>
  
                <small style="font-family: Arial, Helvetica, sans-serif;"><b>Pagado:</b> {{i.4|floatformat:2}} </small> 
    
              </div>

              
              <div>
  
                <small style="font-family: Arial, Helvetica, sans-serif;"><b>Saldo:</b> {{i.5|floatformat:2}} </small> 
    
              </div>

              <div>
  
                <small style="font-family: Arial, Helvetica, sans-serif;"><b>Saldo en pesos:</b> $ {{i.6|floatformat:0|intcomma}} </small> 
    
              </div>

              <div>
  
                <small style="font-family: Arial, Helvetica, sans-serif;"><b>Cuotas:</b> {{i.3}} </small> 
    
              </div>
  
  
  
          </div>
      </div>


      {% endif %}

      {% endfor %}


      <b><hr class = "my-4" style="width: 100%; "></b>


      <h5>Saldo total de la cuenta: <small>${{saldo_total_pesos|floatformat:0|intcomma}}</small> </h5>

      <h6>Proxima cuota: <small>${{datos_cuotas.0.1|floatformat:0|intcomma}} vence en {{datos_cuotas.0.0|date:"F Y"}} </small> </h6>



        <b><hr class = "my-4" style="width: 100%; "></b>




    <div style="text-align: center; margin-top: 10%;">
        <p> <small>-- Link<strong>P</strong> --</small> </p>

     </div>

    
    

</div>

    
{% endblock %}