{% extends "users/inicio.html" %}

{% load static %}
{% load humanize %}

{% block content %}



<div class = "jumbotron" style="background-color: white; margin-bottom: 0px; text-align: center;" > 

    <div style="text-align: center;">

        <div>

            <img src="{{ctacte.venta.unidad.proyecto.iamgen.url}}"  class="img-fluid" alt="..." style="max-width:20%;width:auto;height:auto; margin-top: 1rem;">
  

        </div>
        
        <div style="text-align: left; margin-top: 2%;">

            <h6>Fecha de la venta: <small>{{ctacte.venta.fecha}}</small> </h6>
            <h6>Cliente: <small>{{ctacte.venta.comprador}}</small> </h6>
            <h6>Unidad: <small>{{ctacte.venta.unidad.piso_unidad}} - {{ctacte.venta.unidad.nombre_unidad}}</small></h6>
            
            {% if ctacte.venta.unidad.tipo == "DEPARTAMENTO" %}

            <h6>Tipo: <small>{{ctacte.venta.unidad.tipo}} {{ctacte.venta.unidad.tipologia}} de {{ctacte.venta.m2}} m2</small></h6>
            

            {% elif  ctacte.venta.unidad.tipo == "COCHERA" %}

            <h6>Tipo: <small>{{ctacte.venta.unidad.tipo}} de {{ctacte.venta.m2}} m2</small></h6>
            

            {% elif  ctacte.venta.unidad.tipo == "LOCAL" %}

            <h6>Tipo: <small>{{ctacte.venta.unidad.tipo}} de {{ctacte.venta.m2}} m2</small></h6>
           

            {% endif %}
            

        </div>
        <b><hr class = "my-4" style="width: 100%; "></b>
    
    
    </div>

    {% for i in datos %}

    {% if i.5 < 1 %}

    <div class="card text-white bg-success mb-3" style="display: inline-block; width: 310px; height: 250px; vertical-align: top;  margin: 10px;">
                
        <div class="card-body">
          <div style="display: inline-block; text-align: left; vertical-align: middle; margin-top: 15px;">
  
            <h6 style="font-family: Arial, Helvetica, sans-serif;">{{i.0|upper}}</h6> 
          </div>
  
  
    
            <div>
  
              <small style="font-family: Arial, Helvetica, sans-serif;"><b>Moneda:</b> {{i.1.nombre}} ($ {{i.1.valor|floatformat:2}}) </small> 
  
            </div>

            <div>
  
                <small style="font-family: Arial, Helvetica, sans-serif;"><b>Monto total:</b> {{i.2|floatformat:2}} </small> 
    
              </div>

              <div>
  
                <small style="font-family: Arial, Helvetica, sans-serif;"><b>Pagado:</b> {{i.4|floatformat:2}} </small> 
    
              </div>

              
              <div>
  
                <small style="font-family: Arial, Helvetica, sans-serif;"><b>Saldo:</b> {{i.5|floatformat:2}} </small> 
    
              </div>

              <div>
  
                <small style="font-family: Arial, Helvetica, sans-serif;"><b>Saldo en pesos:</b> $ {{i.6|floatformat:0|intcomma}} </small> 
    
              </div>

              <div>
  
                <small style="font-family: Arial, Helvetica, sans-serif;"><b>Cuotas:</b> {{i.3}} </small> 
    
              </div>
  
  
  
          </div>
      </div>

      {% elif  i.4 > 0 %}


      <div class="card bg-light mb-3" style="display: inline-block; width: 310px; height: 250px; vertical-align: top;  margin: 10px;">
                
        <div class="card-body">
          <div style="display: inline-block; text-align: left; vertical-align: middle; margin-top: 15px;">
  
            <h6 style="font-family: Arial, Helvetica, sans-serif;">{{i.0|upper}}</h6> 
          </div>
  
  
    
            <div>
  
              <small style="font-family: Arial, Helvetica, sans-serif;"><b>Moneda:</b> {{i.1.nombre}} ($ {{i.1.valor|floatformat:2}}) </small> 
  
            </div>

            <div>
  
                <small style="font-family: Arial, Helvetica, sans-serif;"><b>Monto total:</b> {{i.2|floatformat:2}} </small> 
    
              </div>

              <div>
  
                <small style="font-family: Arial, Helvetica, sans-serif;"><b>Pagado:</b> {{i.4|floatformat:2}} </small> 
    
              </div>

              
              <div>
  
                <small style="font-family: Arial, Helvetica, sans-serif;"><b>Saldo:</b> {{i.5|floatformat:2}} </small> 
    
              </div>

              <div>
  
                <small style="font-family: Arial, Helvetica, sans-serif;"><b>Saldo en pesos:</b> $ {{i.6|floatformat:0|intcomma}} </small> 
    
              </div>

              <div>
  
                <small style="font-family: Arial, Helvetica, sans-serif;"><b>Cuotas:</b> {{i.3}} </small> 
    
              </div>
  
  
  
          </div>
      </div>



      {% else %}

      <div class="card text-white bg-secondary mb-3" style="display: inline-block; width: 310px; height: 250px; vertical-align: top;  margin: 10px;">
                
        <div class="card-body">
          <div style="display: inline-block; text-align: left; vertical-align: middle; margin-top: 15px;">
  
            <h6 style="font-family: Arial, Helvetica, sans-serif;">{{i.0|upper}}</h6> 
          </div>
  
  
    
            <div>
  
              <small style="font-family: Arial, Helvetica, sans-serif;"><b>Moneda:</b> {{i.1.nombre}} ($ {{i.1.valor|floatformat:2}}) </small> 
  
            </div>

            <div>
  
                <small style="font-family: Arial, Helvetica, sans-serif;"><b>Monto total:</b> {{i.2|floatformat:2}} </small> 
    
              </div>

              <div>
  
                <small style="font-family: Arial, Helvetica, sans-serif;"><b>Pagado:</b> {{i.4|floatformat:2}} </small> 
    
              </div>

              
              <div>
  
                <small style="font-family: Arial, Helvetica, sans-serif;"><b>Saldo:</b> {{i.5|floatformat:2}} </small> 
    
              </div>

              <div>
  
                <small style="font-family: Arial, Helvetica, sans-serif;"><b>Saldo en pesos:</b> $ {{i.6|floatformat:0|intcomma}} </small> 
    
              </div>

              <div>
  
                <small style="font-family: Arial, Helvetica, sans-serif;"><b>Cuotas:</b> {{i.3}} </small> 
    
              </div>
  
  
  
          </div>
      </div>


      {% endif %}

      {% endfor %}


    <div class = "tableconteinerabel">

             


        <table class = "table table-hover" style="text-align: center; margin-top: 2%;">
            <thead>
    
                <tr class = "table-dark">
                    <th scope = "row"> CONCEPTO </th>
                    <th scope = "row"> MONEDA</th>
                    <th scope = "row"> VALOR MONEDA</th>
                    <th scope = "row"> TOTAL (MD)</th>
                    <th scope = "row"> CUOTAS</th>
                    <th scope = "row"> PAGADO (MD)</th>
                    <th scope = "row"> SALDO (MD)</th>
                    <th scope = "row"> SALDO (PESOS)</th>


                </tr>
            </thead>
    
            <tbody>   
    
                {% for i in datos %}
                <tr class = "table-light">
                    <td> <b> <small> <b>{{i.0|upper}}</b> </small> </b></td>    
                    <td> <b> <small>{{i.1.nombre}}</small> </b> </td>
                    <td> <b> <small>${{i.1.valor|floatformat:2}}</small> </b> </td>
                    <td> <b> <small>{{i.2|floatformat:2}}</small> </b> </td>
                    <td> <b> <small>{{i.3}}</small> </b> </td>
                    <td> <b> <small>{{i.4|floatformat:2}}</small> </b> </td>
                    <td> <b> <small>{{i.5|floatformat:2}}</small> </b> </td>
                    <td> <b> <small> <b>${{i.6|floatformat:0|intcomma}}</b> </small></b> </td>


                </tr>
                {% endfor %}

                <tr class = "table-light">
                    <td colspan="7"> <b> <b>TOTAL</b></b></td>    
                    <td> <b> <b>${{saldo_total_pesos|floatformat:0|intcomma}}</b></b> </td>


                </tr>
            
            </tbody>
         
    
    
        </table>
    
        </div>

        <small>*MD. Moneda dura de referencia para las cuotas </small>

        <b><hr class = "my-4" style="width: 100%; "></b>

        <div style="text-align: left;">

            <h6>Datos de cuotas a vencer:</h6>


        </div>

        <div class = "tableconteinerabel">

             


            <table class = "table table-hover" style="text-align: center; margin-top: 2%; width: 100%;">
                <thead>
        
                    <tr class = "table-dark">
                        <th scope = "row" style="width: 10%; vertical-align: middle;"> FECHA </th>

                        {% if datos_cuotas %}

                        {% for i in datos_cuotas|slice:"9" %}

                        <th scope = "row" style="width: 10%;  vertical-align: middle;"> {{i.0|date:"F Y" }}</th>

                        {% endfor %}

                        {% else %}

                        <th scope = "row" style="width: 10%;  vertical-align: middle;"> PAGOS COMPLETADOS</th>


                        {% endif %}

                    </tr>
                </thead>
        
                <tbody>   
        
                    
                    <tr class = "table-light">
                        <td style="width: 10%;"> <b> <small> <b>MONTO</b> </small> </b></td>
                        
                        {% if datos_cuotas %}
                        
                        {% for i in datos_cuotas|slice:"9" %}

                        <td style="width: 10%;">  <b> <small>${{i.1|floatformat:0|intcomma}}</small> </b> </td>  

                        {% endfor %}

                        {% else %}

                        <td style="width: 10%;">  <b> <small>NO HAY MONTO ADEUDADO</small> </b> </td>  


                        {% endif %}
    
                    </tr>
                    
                
                </tbody>
             
        
        
            </table>
        
            </div>


            <b><hr class = "my-4" style="width: 75%; "></b>



    <div style="text-align: center; margin-top: 10%;">
        <p> <small>-- Link<strong>P</strong> --</small> </p>

     </div>

    
    

</div>

    
{% endblock %}