{% extends "users/inicio2.html" %}

{% load static %}
{% load humanize %}
{% load apptags_extras %}
{% block content %}


<div class="container-fluid">

    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Flujo de ingresos</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Panel cuentas corrientes' %}">Panel</a></li>
                <li class="breadcrumb-item">Flujo</li>
            </ol>
        </div>
    </div>

    {% if request.user|has_group:"ADMIN NIVEL 1" %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div>

                    <div class="d-flex align-items-center">
                        <div>
    
                            <h4 class="card-title"><span class="lstick m-r-20"></span><b style="color: rgb({{proyecto.color}});">{{proyecto.nombre}} plan de cuotas</b> <a href="#" class="fa fa-question-circle ml-2" data-toggle="modal" data-target="#ModalInfo"></a></h4>
                            <h6 class="card-subtitle"></span>Ingresos programados en los plan de cuotas</h6>
                        </div>
                        <div class="btn-group ml-auto">
                            <a href="JavaScript:void(0)" class="icon-options-vertical link" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#ModalProyecto"><i
                                        class="fa fa-plus-circle mr-2"></i>Elegir proyecto</a>

    
                            </div>
                        </div>
                    </div>

                    <!-- modal proyecto -->
                    <div class="modal fade" id="ModalProyecto" tabindex="-1" role="dialog" aria-labelledby="ModalProyecto"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #2a3e52;">
                                <h5 class="modal-title text-light" id="exampleModalLongTitle">Seleccionar un proyecto</h5>
                                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="POST">
                                    {% csrf_token %}
                                    <span>Proyectos</span>
                                    <div class="mb-3">
                                        <select name="proyecto" class="form-control">
                                            {% for i in listado %}
                                            <option>{{i.id}}-{{i.nombre}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div>
                                        <button class="btn btn-info mt-1" type="submit">Buscar</button>
                                    </div>
                                </form>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                    </div>

                    <div class="modal fade" id="ModalInfo" tabindex="-1" role="dialog" aria-labelledby="ModalInfo"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header" style="background-color: #2a3e52;">
                                    <h5 class="modal-title text-light" id="exampleModalLongTitle">Información</h5>
                                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p class="font-bold">Al momento de leer los cuadros ten presente:</p>
                                    <p>* La mora no incluye vencimientos del presente dia</p>
                                    <p>* Lo cobrado no considera adelantos de cuotas futuras</p>
                                    <p>* Lo pendiente ya descuenta adelantos</p>
                                    <p>* En los calculos no se condiera cuentas dadas de baja</p>
                                   

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-between my-4 text-center mr-2 ml-2">

                        <div class="col-2 bg-light shadow p-4 rounded-3">
                            <h6><b>Cuentas activas</b></h6>
                            <h6>{{informacion_general|intcomma}}</h6>
                        </div>
                        <div class="col-2 bg-light shadow p-4 rounded-3">
                            <h6><b>Hº cobrado</b></h6>
                            <h6>{{data_cuadro.context_data_proyecto.m3_pagado|floatformat:2|intcomma}}ºM3</h6>
                        </div>
                        <div class="col-2 bg-light shadow p-4 rounded-3">
                            <h6><b>Hº adeudado</b></h6>
                            <h6>{{data_cuadro.context_data_proyecto.m3_mora|floatformat:2|intcomma}}ºM3</h6>
                        </div>
                        <div class="col-2 bg-light shadow p-4 rounded-3">
                            <h6><b>Hº pendiente</b></h6>
                            <h6>{{data_cuadro.context_data_proyecto.m3_deuda|floatformat:2|intcomma}}ºM3</h6>
                        </div>

                     
                    </div>


                    <div class="table-responsive">

                        {% if cliente == "1" %}

                        <table id="cliente" class="table table-bordered mt-1">
                            <thead style="font-size: 12px;">
                                <th class="sticky bg-body">Cliente</th>
                                <th class="sticky bg-body">Unidad</th>
                                <th class="sticky bg-body">Asignación</th>
                                {% for f in fechas %}
                                <th class="sticky bg-body">{{f|slice:"8:10"}}/{{f|slice:"5:7"}}/{{f|slice:"2:4"}}</th>
                                {% endfor %}

                            </thead>

                            <tbody>

                                {% for cuenta in cuentas_informacion %}

                                <tr style="font-size: 12px;">
                                    <td class="sticky bg-body">{{cuenta.0|lower|capfirst}}</td>
                                    <td style="min-width: 100px;">{{cuenta.0.venta.unidad}}</td>
                                    <td>{{cuenta.0.venta.unidad.asig|lower|capfirst}}</td>
                                    {% for ingreso in cuenta.1 %}
                                    {% if moneda == "0" %}
                                    <td>${{ingreso|floatformat:2|intcomma}}</td>
                                    {% else %}
                                    <td>{{ingreso|floatformat:2|intcomma}}</td>
                                    {% endif %}
                                    {% endfor %}
                                    
                                </tr>

                                {% endfor %}

                            </tbody>
                            
                        </table>

                        {% else %}


                        <table id="example" class="table table-striped table-bordered mt-1">
                            <thead style="font-size: 12px;">
                                <tr>
                                    <th class="sticky bg-body">Fecha</th>
                                    <th class="text-center">M3ºLink</th>
                                    <th class="text-center">M3ºProyecto</th>
                                    <th class="text-center">M3ºTotal</th>
                                    <th class="text-center">M3ºLink(b)</th>
                                    <th class="text-center">M3ºProyecto(b)</th>
                                    <th class="text-center">M3ºTotal(b)</th>
                                    <th class="text-center">$Link</th>
                                    <th class="text-center">$Proyecto</th>
                                    <th class="text-center">$Total</th>
                                    <th class="text-center">$Link(b)</th>
                                    <th class="text-center">$Proyecto(b)</th>
                                    <th class="text-center">$Total(b)</th>
                                    
   
                                </tr>

                            </thead>

                            <tbody style="text-align: center; font-size: 12px;">

                                {% for key, value in flujo_proyecto.0.items %}
                                <tr>
                                    <td class="sticky bg-body" style="width: 150px;">{{key|date:"d/m/Y"}}</td>
                                    <td>{{value.M3ºLink|floatformat:2|intcomma}}</td>
                                    <td>{{value.M3ºProyecto|floatformat:2|intcomma}}</td>
                                    <td>{{value.M3ºTotal|floatformat:2|intcomma}}</td>
                                    <td>{{value.M3ºLinkb|floatformat:2|intcomma}}</td>
                                    <td>{{value.M3ºProyectob|floatformat:2|intcomma}}</td>
                                    <td>{{value.M3ºTotalb|floatformat:2|intcomma}}</td>
                                    <td>${{value.PLink|floatformat:2|intcomma}}</td>
                                    <td>${{value.PProyecto|floatformat:2|intcomma}}</td>
                                    <td>${{value.PTotal|floatformat:2|intcomma}}</td>                                   
                                    <td>${{value.PLinkb|floatformat:2|intcomma}}</td>
                                    <td>${{value.PProyectob|floatformat:2|intcomma}}</td>
                                    <td>${{value.PTotalb|floatformat:2|intcomma}}</td>
                                    
   
                                </tr>
                                {% endfor %}


                            </tbody>

                            <tfoot style="text-align: center; font-size: 12px;">


                                <tr class="font-bold">
                                    <td class="sticky bg-body" style="width: 150px;">Total</td>
                                    <td>{{flujo_proyecto.1.M3ºLink|floatformat:2|intcomma}}</td>
                                    <td>{{flujo_proyecto.1.M3ºProyecto|floatformat:2|intcomma}}</td>
                                    <td>{{flujo_proyecto.1.M3ºTotal|floatformat:2|intcomma}}</td>
                                    <td>{{flujo_proyecto.1.M3ºLinkb|floatformat:2|intcomma}}</td>
                                    <td>{{flujo_proyecto.1.M3ºProyectob|floatformat:2|intcomma}}</td>
                                    <td>{{flujo_proyecto.1.M3ºTotalb|floatformat:2|intcomma}}</td>
                                    <td>${{flujo_proyecto.1.PLink|floatformat:2|intcomma}}</td>
                                    <td>${{flujo_proyecto.1.PProyecto|floatformat:2|intcomma}}</td>
                                    <td>${{flujo_proyecto.1.PTotal|floatformat:2|intcomma}}</td>          
                                    <td>${{flujo_proyecto.1.PLinkb|floatformat:2|intcomma}}</td>
                                    <td>${{flujo_proyecto.1.PProyectob|floatformat:2|intcomma}}</td>
                                    <td>${{flujo_proyecto.1.PTotalb|floatformat:2|intcomma}}</td>
                                    
   
                                </tr>


                            </tfoot>

                        </table>

                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body row">
                <div class="col-12 justify-content-center">

                    <div class="row justify-content-center text-center">
                        <div class="col-6">
                            <img src="{% static 'img/Linkp.png' %}" alt="" style="width: 120px;">
                            <span>
                                Lo sentimos, no tienes permisos para ver esta página.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endif %}
</div>



<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js" defer></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js" defer></script>

<!-- <script>
    $('#rotar').click(function(){
        $("table").each(function() {
            var $this = $(this);
            var newrows = [];
            $this.find("tr").each(function(){
                var i = 0;
                $(this).find("td, th").each(function(){
                    i++;
                    if(newrows[i] === undefined) { newrows[i] = $("<tr></tr>"); }
                    if(i == 1)
                        newrows[i].append("<th>" + this.innerHTML  + "</th>");
                    else
                        newrows[i].append("<td>" + this.innerHTML  + "</td>");
                });
            });
            $this.find("tr").remove();
            $.each(newrows, function(){
                $this.append(this);
            });
        });
        
        return false;
    });
    
    </script> -->

<script>

    $(document).ready(function () {
        $('#example').DataTable({
            "language": {
            "lengthMenu": "Mostar _MENU_ documentos",
            "zeroRecords": "No se encontro nada - perdon ",
            "info": "Pagina _PAGE_ de _PAGES_",
            "infoEmpty": "Sin registros disponibles",
            "infoFiltered": "(filtrado de _MAX_ registros totales)",
            "search": "Buscar"
        },

            "info": false,
            "ordering": false,

            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'excelHtml5',
                    title: 'Flujo de ingresos',
                    className: "btn btn-info",

                init: function(api, node, config) {
                    $(node).removeClass('dt-button buttons-excel buttons-html5')
                    }
                },
            ]

        });
    });
</script>

<script>

    $(document).ready(function () {
        $('#cliente').DataTable({
            "language": {
            "lengthMenu": "Mostar _MENU_ documentos",
            "zeroRecords": "No se encontro nada - perdon ",
            "info": "Pagina _PAGE_ de _PAGES_",
            "infoEmpty": "Sin registros disponibles",
            "infoFiltered": "(filtrado de _MAX_ registros totales)",
            "search": "Buscar"
        },
            "paging": false,
            "info": false,
            "ordering": false,
            "searching": false,
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'excelHtml5',
                    title: 'Flujo de ingresos en pesos por cliente',
                    className: "btn btn-info",

                init: function(api, node, config) {
                    $(node).removeClass('dt-button buttons-excel buttons-html5')
                    }
                },
            ]

        });
    });
</script>


{% endblock %}