{% extends "users/inicio.html" %}

{% load static %}
{% load humanize %}

{% block content %}



<div class = "jumbotron" style="background-color: white; margin-bottom: 0px; text-align: center;" > 

    <div style="text-align: center;">


        <h2 style="color: rgb({{ctacte.venta.unidad.proyecto.color}})" >Resumen de cuentas corrientes</h2>


        {% if proy %}

        <div>

            <img src="{{proy.iamgen.url}}"  class="img-fluid" alt="..." style="max-width:20%;width:auto;height:auto; margin-top: 1rem;">
  

        </div>


        {% endif %}

        <b><hr class = "my-4" style="width: 100%; "></b>
    

        <div style="text-align: left;">
        
        <h6>Cantidad de cuentas cargadas: <small>{{cantidad_cuentas|intcomma}}</small></h6>
        <h6>Monto en Hº cobrado: <small>{{otros_datos.0|floatformat:0|intcomma}} M3</small></h6>
        <h6>Monto en Hº adeudado: <small> {{otros_datos.1|floatformat:0|intcomma}} M3</small></h6>
        <h6>Monto en Hº pendiente: <small>{{otros_datos.2|floatformat:0|intcomma}} M3</small></h6>


        <b><hr class = "my-4" style="width: 75%; "></b>
    
    </div>


    <div style="text-align: left; margin-top: 0.5%;">

        <a class="badge badge-secondary" href="{% url 'Total cuenta' 0 %}" >Todos los proyectos</a>


        {% for i in listado %}
    
            <a class="badge badge-warning" style="background-color: rgb({{i.color}});" href="{% url 'Total cuenta' i.id %}" >{{i.nombre}}</a>
    


            {% endfor %}

            <a class="badge badge-info" href="{% url 'Descargar resumen total de cuenta' %}" >Descargar Excel</a>
    


    
    
        </div>


    <div class = "tableconteinerabel">


        <table class = "table table-hover" style="text-align: center; margin-top: 0.0%;">
            <thead>
    
                <tr class = "table-dark">

                    <th scope = "row"> <b><small>FECHA</small></b> </th>

                    <th scope = "row"> <b><small>TOTAL INGRESOS</small></b> </th>

                    <th scope = "row"> <b><small>TOTAL INGRESOS Hº</small></b> </th>

                    <th scope = "row"> <b><small>TOTAL INGRESOS LINK</small></b> </th>

                    <th scope = "row"> <b><small>TOTAL INGRESOS LINK (Hº)</small></b> </th>

                    <th scope = "row"> <b><small>TOTAL INGRESOS PROYECTO</small></b> </th>

                    <th scope = "row"> <b><small>TOTAL INGRESOS PROYECTO (Hº)</small></b> </th>


                </tr>


            
            
            
            
            </thead>


    
            <tbody>  
                
                {% for i in datos %}
    
                <tr class = "table-light">

                    <td> <b> <small> <b>{{i.0.0.0|date:"F, Y" }}</b> </small> </b></td>

                    <td> <b> <small> <b>${{i.1|floatformat:0|intcomma}}</b> </small> </b></td>

                    <td> <b> <small> <b>{{i.2|floatformat:3}} M3</b> </small> </b></td>

                    <td> <b> <small> <b>${{i.3|floatformat:0|intcomma}}</b> </small> </b></td>

                    <td> <b> <small> <b>{{i.4|floatformat:3}} M3</b> </small> </b></td>

                    <td> <b> <small> <b>${{i.5|floatformat:0|intcomma}}</b> </small> </b></td>

                    <td> <b> <small> <b>{{i.6|floatformat:3}} M3</b> </small> </b></td>
                    
    
                </tr>

                {% endfor %}



            </tbody>
         
    
    
        </table>
    
        </div>


    <div style="text-align: center; margin-top: 10%;">
        <p> <small>-- Link<strong>P</strong> --</small> </p>

     </div>

    
    

</div>

    
{% endblock %}