{% extends "users/inicio.html" %}

{% load static %}
{% load humanize %}

{% block content %}



<div class = "jumbotron" style="background-color: white; margin-bottom: 0px; text-align: center;" > 

    <div style="text-align: center;">


        <h2 style="color: rgb({{ctacte.venta.unidad.proyecto.color}})" >Resumen de cuentas corrientes</h2>

        <b><hr class = "my-4" style="width: 100%; "></b>
    

        <div style="text-align: center;">
        
        <h6>Ingreso mes a mes</h6>


        <b><hr class = "my-4" style="width: 75%; "></b>
    
    </div>


    <div class = "tableconteinerabel">


        <table class = "table table-hover" style="text-align: center; margin-top: 2%;">
            <thead>
    
                <tr class = "table-dark">

                    <th scope = "row"> <b><small>FECHA</small></b> </th>

                    <th scope = "row"> <b><small>TOTAL INGRESOS</small></b> </th>

                    <th scope = "row"> <b><small>TOTAL INGRESOS Hº</small></b> </th>

                    <th scope = "row"> <b><small>TOTAL INGRESOS LINK</small></b> </th>

                    <th scope = "row"> <b><small>TOTAL INGRESOS LINK (Hº)</small></b> </th>

                    {% for i in datos_primero %}

                    <th scope = "row"> <b><small>{{i.nombre}}</small></b> </th>


                    {% endfor %}

                </tr>


            
            
            
            
            </thead>


    
            <tbody>  
                
                {% for i in datos %}
    
                <tr class = "table-light">

                    <td> <b> <small> <b>{{i.0.0.1|date:"F, Y" }}</b> </small> </b></td>

                    <td> <b> <small> <b>${{i.1|floatformat:0|intcomma}}</b> </small> </b></td>

                    <td> <b> <small> <b>{{i.2|floatformat:3}} M3</b> </small> </b></td>

                    <td> <b> <small> <b>${{i.3|floatformat:0|intcomma}}</b> </small> </b></td>

                    <td> <b> <small> <b>{{i.4|floatformat:3}} M3</b> </small> </b></td>

                    
                    {% for d in i.0 %}

                    <td> <b> <small> ${{d.2|floatformat:0|intcomma}}</small> </b></td>

                    {% endfor %}
                    
    
                </tr>

                {% endfor %}



            </tbody>
         
    
    
        </table>
    
        </div>


    <div style="text-align: center; margin-top: 10%;">
        <p> <small>-- Link<strong>P</strong> --</small> </p>

     </div>

    
    

</div>

    
{% endblock %}