{% extends "users/inicio2.html" %}

{% load static %}
{% load apptags_extras %}

{% block content %}
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">
                {% if request.user|has_group:"PRESUPUESTO NIVEL 3" %}
                <a class="btn btn-secondary btn-outline" href="/presupuestos/cons_panel">
                    
                    <img src="{% static 'img/iniciar-sesion.png' %}" alt="" style="max-width:20px; height:auto; vertical-align: middle;">
                    
                </a>{% endif %} Base de datos de constantes</h4>
            <h6 class="card-subtitle">Estas constantes actualizan las variables pesificadas en la BBDD</code></h6>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Valor</th>
                            <th>Ultima Act</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in constantes %}
                        <tr>
                            <td>{{i.nombre}}</td>
                            <td>${{i.valor|floatformat:2}}</td>
                            <td><span class="text-muted"><i class="fa fa-clock-o"></i> {{i.fecha_a|date:"d M Y"}}</span> </td>
                            
      
                        </tr>

                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


    
{% endblock %}