{% extends "users/inicio.html" %}

{% load static %}
{% load humanize %}

{% block content %}

<div class = "jumbotron" style="background-color: white; margin-bottom: 0px;">
    <div style="text-align: center;">
        <h2>Historico de indices</h2>
        <small>Evolución de los indices mas significativos</small>  

    </div>


    {% for d in datos %}

    <b><hr class = "my-4" style="width: 100%; "></b>

    

    <div style="margin-top: 0.5rem; display: inline-block; width: 100%;">

        <div style= "text-align: center;">
            <small><strong>Evolución {{ d.0.nombre }}</strong></small>
        </div>

        <canvas id="myChart" width="400" height="150rem"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: [
                    {% for i in d.1 %}
                    '{{i.0.fecha}}',                   
                    {% endfor %}
                    ],
                datasets: [{
                    label: 'Dolar',
                    backgroundColor: 'rgb(9, 10, 9)',
                    borderColor: 'rgb(9, 10, 9)',
                    fill: false,
                    data: [
                    {% for i in d.1 %}
                    {{i.0.valor|floatformat:0}},                   
                    {% endfor %}
                    ]
                }],

            },

            // Configuration options go here
            options: {}
        });
    </script>


    </div>

    {% endfor %}

    


    <div style="text-align: center; margin-top: 2rem;">
        <p> <small>-- Link<strong>P</strong> --</small> </p>

     </div>

                    
</div>
 
    
{% endblock %}