{% extends "users/inicio2.html" %}

{% load static %}
{% load humanize %}

{% block content %}

<div class="container-fluid r-aside">

    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Formulario para crear cuentas corrientes</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item"><a href="{% url 'tareas' %}">Panel</a>
                </li>
                <li class="breadcrumb-item">Crear cuenta</li>
            </ol>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body row">
                <div class="col-12 justify-content-center">

                    <div class="row d-flex justify-content-center">
                        <div class="col col-md-12 col-lg-12 text-center">
                            <h3>Formulario para crear tarea</h3>

                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col col-md-12 col-lg-6">
                            <div class="row">
                                <div class="col bg-light border rounded">


                                    <form role="form" enctype="multipart/form-data" action="" method="POST"
                                        id="upload-image-form">
                                        {% csrf_token %}


                                        <div class="mt-2">
                                            <label for="nombre">
                                                <h6>Nombre de la tarea</h6>
                                            </label>
                                        </div>
                                        <div class="row d-flex justify-content-center mt-1">
                                            <div class="col col-md-10 col-lg-10">
                                                <div>
                                                    <input name="nombre" type="text" class="form-control form-control"
                                                        placeholder="Nombre de la tarea">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mt-2">
                                            <label for="unidad">
                                                <h6>Unidad</h6>
                                            </label>
                                        </div>

                                        <div class="row d-flex justify-content-center mt-1">
                                            <div class="col col-md-10 col-lg-10">
                                                <div>
                                                    <input name="unidad" type="text" class="form-control form-control"
                                                        placeholder="Ejemplo M2, M3, UN">

                                                </div>


                                            </div>
                                        </div>

                                        <div class="mt-2">
                                            <label for="rend">
                                                <h6>Rendimiento esperado</h6>
                                            </label>
                                        </div>

                                        <div class="row d-flex justify-content-center mt-1">
                                            <div class="col col-md-10 col-lg-10">
                                                <div>
                                                    <div class="input-group mb-3">
                                                        <input name="rend" type="number" step="0.01"
                                                            class="form-control"
                                                            aria-label="Amount (to the nearest dollar)">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text">Hs/Unidad</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mt-2">
                                            <label for="descripcion">
                                                <h6>Descripción</h6>
                                            </label>
                                        </div>

                                        <div class="row d-flex justify-content-center mt-1">
                                            <div class="col col-md-10 col-lg-10">
                                                <div>
                                                    <textarea name="descripcion" class="form-control"
                                                        id="exampleTextarea"></textarea>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row d-flex justify-content-center my-3">
                                            <div class="col-lg-6 text-center">

                                                <button type="submit" class="btn btn-primary">Subir</button>
                                            </div>
                                        </div>

                                        {{ form.as_p }}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}