{% extends "users/inicio.html" %}

{% load static %}

{% block content %}


<div class = "jumbotron" style="background-color: white; margin-bottom: 0px;">

    <div class = "jumbotron" style="width: 70%; text-align: center; margin-left: 15%;">

        <h3> ¿Está seguro que quiere eliminar la siguiente subtarea?</h3>
        <h4 style="color: rgb(232, 109, 87);"> {{datos.nombre}}</h4>
        <h6>Tarea madre: {{datos.vinculacion.nombre}}</h6>
        <b><hr class = "my-4" style="width: 100%;"></b>

        <div>

            <form method="post">
                {% csrf_token %}

                <a class = "btn btn-outline-secondary" href="{% url 'tareas' %}"> <img src="{% static 'img/flecha-izquierda.png' %}" alt="" style="max-width:20px; height:auto;"> Volver</a>
        
        
                <button type='submit' class = "btn btn-outline-danger">Eliminar</button>
                
            </form>


        </div>

        

    </div>
</div>

{% endblock %}