{% extends "users/inicio2.html" %}

{% load humanize %}
{% load apptags_extras %}
{% load static %}

{% block content %}


<div class="container-fluid">

    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Inventario de Equipos y Herramientas</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item">Inventario</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body row">
                    <div class="col-12 justify-content-center">

                        <div class="row d-flex justify-content-center">
                            <div class="col col-md-12 col-lg-12 text-center">

                                <img src="{% static 'img/sigma.png' %}" class="img-fluid" alt="..."
                                    style="max-width:200px;width:auto;height:auto; margin: 20px;">
                            </div>

                            <h6
                                style="text-align: center; color: rgb({{datos.proyecto.color}}); font-family: Arial, Helvetica, sans-serif;">
                                Valor actual de los activos no corrientes:
                                <b id="valor_inventario"></b>
                            </h6>

                        </div>

                        <div class="row d-flex justify-content-between">


                            <div class="col-12 col-lg-5 bg-light mt-4" style="max-height: 450px; overflow-y: auto;">
                                <h4 class="card-title" onclick="service_consulta_resumen()"><span class="lstick m-r-20"></span><b>Resumen del stock</b></h4>
                
                                <div id="contenedor_resumen">

                

                                    
                                </div>

                                
                            </div>
                            <div class="col-12 col-lg-6 bg-light mt-4" style="max-height: 450px; overflow-y: auto;">
                                <h4 class="card-title"><span class="lstick m-r-20"></span><b>Listado del articulo</b></h4>
                                <h5 class="card-subtitle">Articulo seleccionado</h5>

                                <div id="contenedor_listado">
         
                               
                                </div>
                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalModificarArticulo" tabindex="-1" role="dialog" aria-labelledby="ModalModificarArticuloo" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <form method="POST">

                    <div class="modal-body">
                        <button type="button" class="close text-dark"
                            data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                        {% csrf_token %}
                        <div class="row">
                            <div class="col-2">
                                <img src="{% static 'img/bot.png' %}"
                                    width="40px" alt="">
                            </div>
                            <div class="col-10 mb-3">
                                <h4 class="my-2 text-title text-center">
                                    Modificar articulo</h4>
                            </div>
                            
                            <span>N° inventario</span>
                            <div class="mb-3">
                                <input class="form-control" type="number" name="numero_inventario">
                            </div>
                            
                            <span>Articulo</span>
                            <div class="mb-3">
                                <input class="form-control" type="search" name="numero_inventario" list="lista_articulos">
                            </div>


                            
                            <span>Valor</span>
                            <div class="mb-3">
                                <input class="form-control" type="number" name="valor">
                            </div>
                            
                            <span>Moneda dura</span>
                            <div class="mb-3">
                                <select name="moneda_dura" class="form-control"> 
                                    <option value="1">USD</option>
                                    <option value="2">Hormigon</option>
                                </select>
                            </div>
                            
                            <span>Fecha compra</span>
                            <div class="mb-3">
                                <input class="form-control" type="date" name="fecha_compra">
                            </div>
                            
                            <span>Amortizacion</span>
                            <div class="mb-3">
                                <input class="form-control" type="number" name="amortizacion">
                            </div>



                        </div>
                    </div>
                    <div class="text-center mb-3">
                        <button class="btn btn-info" type="submit"
                            style="margin-top: 10px;">Modificar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalAgregarArticulo" tabindex="-1" role="dialog" aria-labelledby="ModalAgregarArticuloo" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <form id="crear_inventario">

                    <div class="modal-body">
                        <button type="button" class="close text-dark"
                            data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                        <div class="row">
                            <div class="col-2">
                                <img src="{% static 'img/bot.png' %}"
                                    width="40px" alt="">
                            </div>
                            <div class="col-10 mb-3">
                                <h4 class="my-2 text-title text-center">
                                    Agregar articulo</h4>
                            </div>
                            
                            <span>N° inventario</span>
                            <div class="mb-3">
                                <input class="form-control" 
                                type="text" 
                                id="new_num_inv">
                            </div>
                            
                            <span>Articulo</span>
                            <div class="mb-3">
                                <input class="form-control" 
                                type="search" id="new_articulo" 
                                list="lista_articulos">
                            </div>
                            
                            <span>Valor</span>
                            <div class="mb-3">
                                <input class="form-control" 
                                type="number" id="new_precio_md">
                            </div>
                            
                            <span>Moneda dura</span>
                            <div class="mb-3">
                                <select id="new_constante" class="form-control"> 
                                    <option value="1">USD</option>
                                    <option value="2">Hormigon</option>
                                </select>
                            </div>
                            
                            <span>Fecha compra</span>
                            <div class="mb-3">
                                <input class="form-control" type="date" id="new_fecha_compra">
                            </div>
                            
                            <span>Amortizacion</span>
                            <div class="mb-3">
                                <input class="form-control" type="number" id="new_amortizacion">
                            </div>



                        </div>
                    </div>
                    <div class="text-center mb-3">
                        <button class="btn btn-info" onclick="service_create_inventario()"
                            style="margin-top: 10px;">Crear</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<datalist id="lista_articulos">
    {% for articulo in articulos %}
    <option value="{{articulo.codigo}}">{{articulo.nombre}}</option>
    {% endfor %}
</datalist>


<input type="hidden" id = "token" value="{{ csrf_token }}">
<input type="hidden" id = "host" value="{% host %}">

<a id="add"
data-toggle="modal" data-target="#ModalAgregarArticulo"

data-toggle="tooltip" data-placement="left" title="Agregar articulo"

class="btn btn-info btn-circle fa fa-plus text-light"></a>

<style>


    #add{
        position: fixed;
        bottom: 30px;
        right: 20px;
        z-index: 3;

    }

</style>


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="{% static 'js/f_sigma.js' %}"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "language": {
                "lengthMenu": "Mostar MENU documentos",
                "zeroRecords": "No se encontro nada - perdon ",
                "info": "Pagina PAGE de PAGES",
                "infoEmpty": "Sin registros disponibles",
                "infoFiltered": "(filtrado de MAX registros totales)",
                "search": "Buscar"
            },
            "paging": false,
            "ordering": false,
            "info": false

        });
    });
</script>

{% endblock %}