{% extends "users/inicio.html" %}

{% load static %}
{% load humanize %}

{% block content %}

<div class = "jumbotron" style="background-color: white; margin-bottom: 0px; text-align: center;">

    <div>

        <img src="{{datos.proyecto.iamgen.url}}"  class="img-fluid" alt="..." style="max-width:200px;width:auto;height:auto; margin-top: 5px; margin-bottom: 5px;">


    </div>

    <div>

        <small style="color: rgb({{datos.proyecto.color}}); font-family: Arial, Helvetica, sans-serif;"><b>{{ datos.proyecto.nombre }}</b> </small>
    


    </div>

    <div>

        <small style="font-family: Arial, Helvetica, sans-serif;"><b>{{ datos.nombre }}</b> </small>
    


    </div>
    <small style="font-family: Arial, Helvetica, sans-serif;"><b>Modulo:</b> Documentación O.T</small>



    <form  role="form"  enctype="multipart/form-data" action="" method="POST" id="upload-image-form" style="margin: 30px;"> 
        {% csrf_token %}


        <div style="margin: 5px">

            <div style="display: inline-block; margin: 10px; width: 200px;">

                <label for="nombre"><h6>Nombre del SubSubitem</h6></label>
    
            </div>
            
            <div style="display: inline-block; margin: 10px; ">
    
                <input name="nombre" type="text" class="form-control form-control" placeholder="Nombre del Subsubitem" list="provee" style="width: 300px;">
    
            </div>


        </div>


          <button type="submit" class="btn btn-primary">Subir</button>


        {{ form.as_p }}
    </form>

    <a href="{% url 'Documentacion' %}" class="btn btn-secondary"><img src="{% static 'img/flecha-izquierda.png' %}" alt="" style="max-width:15px; height:auto; margin: 2px;"> Volver</a>


<div style="margin-top: 2rem;">
    <p> <small>-- Link<strong>P</strong> --</small> </p>

 </div>
    
                
</div>


{% endblock %}