{% extends "users/inicio.html" %}

{% load static %}
{% load humanize %}

{% block content %}

<div class = "jumbotron" style="background-color: white; margin-bottom: 0px; text-align: center;">

    <h1 class="titulopagina">Seguimiento de documentación</h1>
    <p class="modulo"><b>Modulo: </b>Documentación O.T</p>

    <b><hr class = "my-4" style="width: 100%; border-color: rgba({{datos.proyecto.color}}, 0.5;"></b>


        {% for i in datos %}

        <div class="card bg-light mb-3" style="display: inline-block; width: 310px; height: 180px; vertical-align: top;  margin: 10px;">
                
            <div class="card-body">
                <div>

                    <img src="{{i.0.iamgen.url}}"  class="img-fluid" alt="..." style="max-height:50px; width:auto; margin-top: 1rem; margin-bottom: 10px;">
            

                  </div>
            
            
                  <h6 style="color: rgb({{i.0.color}}); font-family: Arial, Helvetica, sans-serif;">{{i.0.nombre}}</h6>

                  <div>

                    <a href="{% url 'Documentacion Amp' i.0.id 0 1 %}" class="btn btn-light">

            
                        <img src="{% static 'img/agrandar.png' %}" alt="" style="max-width:20px; height:auto; vertical-align: bottom;"> <b>Planificación</b>
    
                    </a>


                </div>

              </div>
          </div>

        <div class="card text-white bg-dark mb-3" style="display: inline-block; width: 310px; height: 180px; vertical-align: top;  margin: 10px;">
                
            <div class="card-body">
              <div style="display: inline-block; text-align: left; vertical-align: middle; margin-top: 15px;">
      
                <h6 style="font-family: Arial, Helvetica, sans-serif;">Lider de proyecto: </h6> 
              </div>
      
              {% if i.5 %}
          
                <div style="display: inline-block; vertical-align: middle;">
          
                  <img src="{{i.5.responsable.imagenlogo.url}}"  class="img-fluid" alt="..." style="max-width: 40px; height:auto; vertical-align: middle;">
              
                </div>
      
                {% else %}
      
                <div style="display: inline-block; text-align: left; vertical-align: middle; margin-top: 15px;">
      
                  <h6 style="font-family: Arial, Helvetica, sans-serif;">S/A </h6> 
                </div>
      
                {% endif %}
      
                <div>
      
                  <small style="font-family: Arial, Helvetica, sans-serif;">Superficie estimada: {{i.0.m2|floatformat:0}}m2 </small> 
      
                </div>

                <div>
      
                    <small style="font-family: Arial, Helvetica, sans-serif;">Inicio de obra: 
                        {% if i.4 == "NO DEFINIDO"%}

                        No definido
                        
                        {% else %}
                        
                            {% if i.4 > 0 %}
                            <b>{{i.4}} dias</b>
                            {% elif i.4 == 0 %}
                            <b style="color: rgb(243, 239, 108);">HOY INICIA</b>
                            {% else %}
                            <b style="color: rgb(135, 243, 108);">INICIADO</b>
                            {% endif %}

                        {% endif %}
                    </small> 
        
                  </div>
      
      
                <div>
      
                  <small style="font-family: Arial, Helvetica, sans-serif;">Final de obra: 
                    {% if i.2 > 0 %}
                    <b>{{i.2}} dias</b>
                    {% elif i.2 == 0 %}
                    <b style="color: rgb(243, 239, 108);">HOY SE ENTREGA</b>
                    {% else %}
                    <b style="color: rgb(135, 243, 108);">ENTREGADO</b>
                    {% endif %}</small> 
      
                </div>
              </div>
          </div>

          <div class="card bg-light mb-3" style="display: inline-block; width: 310px; height: 180px; vertical-align: top;  margin: 10px;">
                
            <div class="card-body">
                      
                  <h6 style="font-family: Arial, Helvetica, sans-serif;"><small>Avance general: <b>{{i.3}}%</b></small></h6>

                  <div>

                    {% for c in i.1 %}

                    <small style="font-size: 10px;">{{c.0.nombre}}</small>

                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{c.3|floatformat:0}}%; background-color: rgba({{i.0.color}}, 0.6)"></div>
                      </div>
                
                
                    {% endfor %}

                </div>
            </div>

        </div>

        <b><hr class = "my-4" style="width: 100%; border-color: rgba({{datos.proyecto.color}}, 0.5;"></b>


        {% endfor %}
        
      </div>

    <div style="margin-top: 2rem;">
        <p> <small>-- Link<strong>P</strong> --</small> </p>

     </div>
        
    

                    
</div>
 
    
{% endblock %}