{% extends "users/inicio.html" %}

{% load static %}
{% load humanize %}

{% block content %}

<div class = "jumbotron" style="background-color: white; margin-bottom: 0px; text-align: center;">

    <h3 style="font-family: Arial, Helvetica, sans-serif;">Seguimiento de proyectos</h3>
    <small style="font-family: Arial, Helvetica, sans-serif;"><b>Modulo:</b> Documentación O.T</small>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">


        {% for i in datos %}

        <div style="border: 2px solid rgb(192, 202, 190); margin: 10px;">
       
        <div class="panel panel-default" style="margin: 5px;">
          <div class="panel-heading" role="tab" id="heading{{i.0.id}}">
            <h4 class="panel-title"  style="text-align: left;">

                <a href="{% url 'Gantt ET' i.0.id %}" style="text-decoration:none">

                    <img src="{% static 'img/grafico-de-gantt.png' %}" alt="" style="max-width:20px; height:auto; margin: 5px; vertical-align: top;">

                </a>
                
              <a style="font-family: Arial, Helvetica, sans-serif;  text-decoration:none" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{i.0.id}}" aria-expanded="false" aria-controls="collapse{{i.0}}">

                <div style="display: inline-block; width: 350px; vertical-align: middle;">

                    <h5 style="font-family: Arial, Helvetica, sans-serif; color: rgb({{i.0.color}});">{{i.0.nombre}}</h5>
                    <h6 style="font-family: Arial, Helvetica, sans-serif; color: rgb(75, 79, 74)"><small>Dias faltantes: 
                        
                        {% if i.2 > 0 %}
                        <b>{{i.2}}</b>

                        {% elif i.2 == 0 %}
                        <b>HOY SE ENTREGA</b>
                        {% else %}
                        <b>ENTREGADO</b>
                        {% endif %}
                    
                    </small></h6>


                    <h6 style="font-family: Arial, Helvetica, sans-serif; color: rgb(75, 79, 74)"><small>Avance general: <b>{{i.3}}%</b></small></h6>

                </div>


                {% for c in i.1 %}
                
                <div style="display: inline-block; width: 200px; margin: 5px; vertical-align: middle;">

                    <canvas id="myChart{{c.0.id}}"></canvas>
                
                  </div>
                   
                  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
                  <script>
                
                      var ctx = document.getElementById('myChart{{c.0.id}}').getContext('2d');
                      var chart = new Chart(ctx, {
                          // The type of chart we want to create
                          type: 'doughnut',
                          // The data for our dataset
                          data: {
                          datasets: [{        
                              data: [{{c.3}}, {{c.4}}],
                              backgroundColor: ['rgba({{i.0.color}}, 0.6), rgba(236, 240, 235,1)'],    
                          }],
                
                          labels: ["{{c.0.nombre}}"]
                        },
                          options: {
                            legend: {
                                position: 'top'
                            },
                          },
                
                        });
                
                  </script>

                {% endfor %}

              </a>

              
            </h4>
          </div>
          <div id="collapse{{i.0.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{i.0.id}}">
            <div class="panel-body">

                <!-- Aqui entra el segundo acordeon -->

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                    {% for c in i.1 %}
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingetapa{{c.0.id}}">
                        <h4 class="panel-title"  style="text-align: left;">
                            <a style="font-family: Arial, Helvetica, sans-serif; text-decoration:none" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseetapa{{c.0.id}}" aria-expanded="false" aria-controls="collapse{{c.id}}">
                                <table class = "table table-hover" style="text-align: left;" >
                                    <thead>
                            
                                        <tr class = "table-dark">
                                            <th scope = "row" style="vertical-align: middle;" ><small><img src="{% static 'img/anadir.png' %}" alt="" style="max-width:20px; height:auto; vertical-align: bottom;"> <b>{{c.0.nombre}} ({{c.2}})</b></small></th>                        
                                        </tr>
                                    </thead>
                                </table>
                            </a>
                        </h4>
                        </div>
                        <div id="collapseetapa{{c.0.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingetapa{{c.0.id}}">
                        <div class="panel-body">

                            

                            <table class = "table table-hover" style="text-align: left;" >
                                <tbody>

                                    <tr class = "table-active">
                                        <td><small><b>NOMBRE DEL ITEM</b></small></td>
                                        <td><small><b></b></small></td>
                                        <td><small><b>ESTADO</b></small></td>
                                        <td><small><b>RESP.</b></small></td>
                                        <td><small><b>INICIO (P)</b></small></td>
                                        <td><small><b>FINAL (P)</b></small></td>
                                        <td><small><b>INICIO</b></small></td>
                                        <td><small><b>FINAL</b></small></td>
                                        <td><small><b>ADJ.</b></small></td>
                                        <td><small><b></b></small></td>

                                    </tr>

                                    {% for t in c.1 %}

                                    <tr class = "table-light">  
                                        
                                        
                                        

                                        <td style="width: 30%;">

                                            
                                                       
                                            <small><b>{{t.orden|floatformat:0}}.</b> {{t.nombre}}</small>

                                            <a href="{% url 'Sub item' t.id %}"><img src="{% static 'img/liza.png' %}" alt="" style="max-width:15px; height:auto; margin: 2px;"></a> 

                                        
                                        
                                        </td>

                                        <td style="width: 5%;"><small>

                                            <a href="{% url 'Mensaje item' t.id %}"><img src="{% static 'img/charlar.png' %}" alt="" style="max-width:20px; height:auto; margin: 2px;"></a>
                                                                                 
                                        </small></td>

                                        {% if t.estado == 'LISTO' %}
                                        <td style="width: 10%; color: rgb(124, 209, 107)"><small>


                                            <b>{{t.estado}}</b> 
                                        
                                        
                                        </small></td>

                                        {% elif t.estado == 'TRABAJANDO' %}

                                        <td style="width: 10%; color: rgb(209, 176, 107)"><small>


                                            <b>{{t.estado}}</b> 
                                        
                                        
                                        </small></td>

                                        {% elif t.estado == 'PROBLEMAS' %}

                                        <td style="width: 10%; color: rgb(209, 119, 107)"><small>


                                            <b>{{t.estado}}</b> 
                                        
                                        
                                        </small></td>

                                        {% else %}

                                        <td style="width: 10%;"><small>


                                            <b>{{t.estado}}</b> 
                                        
                                        
                                        </small></td>

                                        {% endif %}


                                        <td style="width: 5%;"><small>

                                            {% if t.responsable %}
                                            
                                            <img src="{{t.responsable.imagenlogo.url}}"  class="img-fluid" alt="..." style="max-width: 30px; height:auto;">
                                            
                                            {% else %}

                                            S/A

                                            {% endif %}

                                        </small></td>

                                        {% if t.fecha_estimada_i %}
                                        <td style="width: 10%;"><small>{{t.fecha_estimada_i|date:"Y-m-d"}}</small></td>
                                        {% else %}

                                        <td style="width: 10%;"><small>NO DEFINIDIO</small></td>

                                        {% endif %}
                                        {% if t.fecha_estimada_f %}
                                        <td style="width: 10%;"><small>{{t.fecha_estimada_f|date:"Y-m-d"}}</small></td>
                                        {% else %}

                                        <td style="width: 10%;"><small>NO DEFINIDIO</small></td>

                                        {% endif %}

                                        {% if t.fecha_inicio %}
                                        <td style="width: 10%;"><small>{{t.fecha_inicio|date:"Y-m-d"}}</small></td>
                                        {% else %}

                                        <td style="width: 10%;"><small>NO DEFINIDIO</small></td>

                                        {% endif %}
                                        {% if t.fecha_final %}
                                        <td style="width: 10%;"><small>{{t.fecha_final|date:"Y-m-d"}}</small></td>
                                        {% else %}

                                        <td style="width: 10%;"><small>NO DEFINIDIO</small></td>

                                        {% endif %}

                                        {% if t.archivo_vigente %}
                                        <td style="width: 5%;"><small>

                                            <a href="{{ t.archivo_vigente.url }}">

                                                <img src="{% static 'img/archivo-adjunto.png' %}" alt="" style="max-width:20px; height:auto; margin: 2px;"  >
                                        
                                            </a>


                                        </small></td>

                                        {% else %}

                                        <td style="width: 5%;"><small>S/D</small></td>

                                        {% endif %}

                                        <td style="width: 5%;">

                                            <a href="{% url 'Editar Item' t.id %}" class="btn btn-sm btn-light"><img src="{% static 'img/documento.png' %}" alt="" style="max-width:15px; height:auto;"></a>
                                        </td>


                                        </tr>


                                        {% endfor %}

                                        

                                        </tbody>

                            </table>

                            <div style="text-align: left; margin: 5px;">

                                <a href="{% url 'Agregar Item' c.0.id %}" style="text-decoration:none" class="btn btn-sm btn-light"><img src="{% static 'img/agregar-archivo.png' %}" alt="" style="max-width:20px; height:auto; margin: 2px;"> <small><b>Agregar item</b> </small> </a>

                            </div>

                        </div>
                        </div>
                    </div>

                    {% endfor %}


                </div>
                
            </div>
          </div>
        </div>
    </div>

        {% endfor %}
        
      </div>

    <div style="margin-top: 2rem;">
        <p> <small>-- Link<strong>P</strong> --</small> </p>

     </div>
        
    

                    
</div>
 
    
{% endblock %}