{% extends "users/inicio.html" %}

{% load static %}
{% load humanize %}
{% load apptags_extras %}

{% block content %}

<div class = "jumbotron" style="background-color: white; margin-bottom: 0px; text-align: center;">

    <h3 style="font-family: Arial, Helvetica, sans-serif;">Seguimiento de proyectos</h3>

    <div>

        <img src="{{datos.0.iamgen.url}}"  class="img-fluid" alt="..." style="max-width:200px;width:auto;height:auto; margin-top: 5px; margin-bottom: 5px;">


    </div>

    <div>

        <small style="color: rgb({{datos.0.color}}); font-family: Arial, Helvetica, sans-serif;"><b>{{ datos.0.nombre }}</b> </small>
    


    </div>

    <small style="font-family: Arial, Helvetica, sans-serif;"><b>Modulo:</b> Documentación O.T</small>

    <b><hr class = "my-4" style="width: 100%; border-color: rgba({{datos.proyecto.color}}, 0.5;"></b>

    <div style="text-align: left; margin: 2px;">

        
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-primary">{{mensaje}}</button>
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="">
                    <div style="margin: 2px;">
    
                        <a href="{% url 'Documentacion Amp' datos.0.id  0 1 %}" style="margin-top: 5px;" >Todas</a>
    
                    </div>
                    
    
                    <div style="margin: 2px;">
    
                        <a href="{% url 'Documentacion Amp' datos.0.id  2 1 %}" style="margin-top: 5px; color: rgb(208, 125, 32);" >Trabajando</a> 
                    
                    </div>
    
                    <div style="margin: 2px;">
    
                        <a href="{% url 'Documentacion Amp' datos.0.id  1 1 %}" style="margin-top: 5px; color: rgb(37, 159, 76 );" >Listo</a>
                    
                    </div>
    
                    <div style="margin: 2px;">
    
                        <a href="{% url 'Documentacion Amp' datos.0.id  3 1 %}" style="margin-top: 5px; color: rgb(192, 63, 50 );" >Con problemas</a>
                    
                    </div>
                    
                    
                                 
                    
                    
                </div>
            </div>
            </div>

            <a href="{% url 'BBDD group' datos.0.id %}" class="btn btn-sm btn-light">


                <img src="{% static 'img/blockchain.png' %}" alt="" style="max-width:20px; height:auto; margin: 5px; vertical-align: middle;">
                <b>BBDD Group</b>
            </a>

            {% if week %}

            <a href="{% url 'Documentacion Amp' datos.0.id  0 0 %}" class="btn btn-sm btn-light">


                <img src="{% static 'img/cita.png' %}" alt="" style="max-width:20px; height:auto; margin: 5px; vertical-align: middle;">
                <b>Esta semana</b>
            </a>

            {% else %}

            <a href="{% url 'Documentacion Amp' datos.0.id  0 1 %}" class="btn btn-sm btn-light">


                <img src="{% static 'img/cita.png' %}" alt="" style="max-width:20px; height:auto; margin: 5px; vertical-align: middle;">
                <b>Total</b>
            </a>

            {% endif %}

            <a href="{% url 'Documentacion' %}" class="btn btn-sm btn-light">


                <img src="{% static 'img/achicar.png' %}" alt="" style="max-width:20px; height:auto; margin: 5px; vertical-align: middle;">
                <b>Comprimir</b>
            </a>


    </div>

    

    <div class="contendorplanificacion">

        <table class = "table table-hover" style="text-align: left; " >
            <thead>
                                
                <tr class = "table-dark">
                <td class="sticky" style="min-width: 250px;"><small><b>TAREA</b></small></td>
                <td class="celdacharlaplanif"><small><b></b></small></td>
                <td class="celdacharlaplanif"><small><b></b></small></td>
                <td class="celdaestadoplanif"><small><b>ESTADO</b></small></td>
                <td class="celdarespplanif"><small><b>RESP.</b></small></td>
                <td class="celdafechaplanif"><small><b>INICIO (P)</b></small></td>
                <td class="celdafechaplanif"><small ><b>FINAL (P)</b></small></td>
                <td class="celdafechaplanif"><small><b>INICIO</b></small></td>
                <td class="celdafechaplanif"><small><b>FINAL</b></small></td>
                <td class="celdaadjplanif"><small><b>ADJ.</b></small></td>
                
                {% for f in fechas_semana %}

                <td class="diaplanificacion celdagantplanif">{{f|date:"d-m-Y"}}</td> 
                
                {% endfor %}
                </tr>

            </thead>
        </table>

                <tbody>

                    <!--  EMPIEZA EL PRIMERO ACORDEON -> NIVEL ITEM  -->

                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                        <div class="panel panel-default" style="margin: 5px;">
                            

                    {% for i in datos.1 %} 

                    <div class="panel-heading" role="tab" id="heading{{i.0.id}}">


                        <a style="font-family: Arial, Helvetica, sans-serif;  text-decoration:none" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{i.0.id}}" aria-expanded="false" aria-controls="collapse{{i.0.id}}">
                            <table class = "table table-hover" style="text-align: left; " >

                                <tr class = "table-secondary">                       
                                    <td class="sticky" style="min-width: 250px;"><small><b>{{i.0.nombre}} ({{i.2}})</b></small></td>
                                    <td  class="celdacharlaplanif"> </td>
                                    <td  class="celdacharlaplanif"> </td>
                                    <td class="celdaestadoplanif"><small><b></b></small></td>
                                    <td class="celdarespplanif"><small><b></b></small></td>
                                    <td class="celdafechaplanif"><small><b></b></small></td>
                                    <td class="celdafechaplanif"><small><b></b></small></td>
                                    <td class="celdafechaplanif"><small><b></b></small></td>
                                    <td class="celdafechaplanif"><small><b></b></small></td>
                                    <td class="celdaadjplanif"><small><b></b></small></td>
                                    {% for f in fechas_semana %}
    
                                    <td class="celdagantplanif"></td> 
                            
                                    {% endfor %}
                    
                                </tr>
    
                            
                            
                            </table>
                        </a>

                    </div>

                    <!--  CONTENEDOR DEL PRIMER ACORDEON -> NIVEL ITEM  -->

                    <div id="collapse{{i.0.id}}" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="heading{{i.0.id}}">

                    {% for t in i.1 %}

                    <table>

                        <!--  NIVEL ITEM -->

                        <tr class = "table-light filaitem">  
            
                            <td class="sticky item" style="min-width: 250px;"><a href="#" style="text-decoration: none"><img src="{% static 'img/anadir.png' %}" alt="" style="max-width:15px; height:auto; margin: 2px;"></a> {{t.0.nombre}}</td>                 
                            <td  class="celdacharlaplanif">
                                <div style="display: inline-block;">
                                    <form action="" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-light" style="padding: 0px;" name="subir_item" value="{{t.0.id}}"><img src="{% static 'img/flecha-hacia-arriba.png' %}" alt="" style="max-width:15px; height:auto;"></button>

                                    </form>
                                    
                                </div>

                                <div style="display: inline-block;">
                                    <form action="" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-light" style="padding: 0px;" name="bajar_item" value="{{t.0.id}}"><img src="{% static 'img/flecha-hacia-abajo.png' %}" alt="" style="max-width:15px; height:auto;"></button>

                                    </form>
                                    
                                </div>
                            </td>
                            <td  class="celdacharlaplanif"><small>
                                <a href="{% url 'Mensaje item' t.0.id %}"><img src="{% static 'img/charlar.png' %}" alt="" style="max-width:18px; height:auto; margin: 2px;"></a>                                     
                            </small></td>
                
                            <td class="celdaestadoplanif" style="color: rgb({{t.0.estado|estadoplan}})"><b>{{t.0.estado}}</b></td>            
                            <td class="celdarespplanif"><small>
                
                                {% if t.0.responsable %}
                                
                                <img src="{{t.0.responsable.imagenlogo.url}}"  class="img-fluid imagenlogoplanif" alt="...">
                                
                                {% else %}
                
                                S/A
                
                                {% endif %}
                
                            </small></td>
                
                            {% if t.0.fecha_estimada_i %}
                            <td class="celdafechaplanif" style="color: rgb({% fecha_inicio_planif t.0.fecha_estimada_i t.0.estado%});">{{t.0.fecha_estimada_i|date:"d-m-Y"}}</td>
                            {% else %}
                
                            <td class="celdafechaplanif">---</td>
                
                            {% endif %}
                            {% if t.0.fecha_estimada_f %}
                            <td class="celdafechaplanif">{{t.0.fecha_estimada_f|date:"d-m-Y"}}</td>
                            {% else %}
                
                            <td class="celdafechaplanif">---</td>
                
                            {% endif %}
                
                            {% if t.0.fecha_inicio %}
                            <td class="celdafechaplanif" style="color: rgb({% fecha_inicio_planif t.0.fecha_inicio t.0.estado%});">{{t.0.fecha_inicio|date:"d-m-Y"}}</td>
                            {% else %}
                
                            <td class="celdafechaplanif">---</td>
                
                            {% endif %}
                            {% if t.0.fecha_final %}
                            <td class="celdafechaplanif" style="color: rgb({% fecha_final_planif t.0.fecha_final t.0.estado%});">{{t.0.fecha_final|date:"d-m-Y"}}</td>
                            {% else %}
                
                            <td class="celdafechaplanif">---</td>
                
                            {% endif %}
                
                            {% if t.0.archivo_vigente %}
                            <td class="celdaadjplanif"><small>
                
                                <a href="{{ t.0.archivo_vigente.url }}">
                
                                    <img src="{% static 'img/archivo-adjunto.png' %}" alt="" style="max-width:20px; height:auto; margin: 2px;"  >
                            
                                </a>
                
                
                            </small></td>
                
                            {% else %}
                
                            <td class="celdaadjplanif"><small>S/D</small></td>
                
                            {% endif %}
                
                            {% for f in fechas_semana %}

                            <td class="celdagantplanif" style="{% gannt f t.0.fecha_inicio  t.0.fecha_final %}"><span class="hint--top hint--danger" aria-label="{{f}}"><small>⚫⚫⚫⚫⚫</small></span></td>
                                     
                            {% endfor %}
                
                
                            </tr>
    
                            {% for h in t.1 %}


                            <!--  NIVEL SUBITEM  -->
    
                        <tr class = "table-light filasubsubitem">  
    
                            <td class="sticky subitem" style="min-width: 250px"><a href="{% url 'Agregar Subsubitem' h.0.id %}" style="text-decoration: none"><img src="{% static 'img/anadir.png' %}" alt="" style="max-width:13px; height:auto; margin: 2px;"></a> {{h.0.nombre}}</td>
                                <td  class="celdacharlaplanif">
                                    <div style="display: inline-block;">
                                        <form action="" method="POST">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-light" style="padding: 0px;" name="subir_subitem" value="{{h.0.id}}"><img src="{% static 'img/flecha-hacia-arriba.png' %}" alt="" style="max-width:13px; height:auto;"></button>

                                        </form>
                                        
                                    </div>

                                    <div style="display: inline-block;">
                                        <form action="" method="POST">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-light" style="padding: 0px;" name="bajar_subitem" value="{{h.0.id}}"><img src="{% static 'img/flecha-hacia-abajo.png' %}" alt="" style="max-width:13px; height:auto;"></button>

                                        </form>
                                        
                                    </div>
                                     
                    
                                </td>
                                <td  class="celdacharlaplanif"></td>                    
                                <td class="celdaestadoplanif" style="color: rgb({{h.0.estado|estadoplan}})"><a type="button" data-toggle="modal" data-target="#ModalEstadoSubItem{{h.0.id}}"><b>{{h.0.estado}}</b></a></td>                  
                                <!-- Modal fecha estado Subitem -->
                                <div class="modal fade" id="ModalEstadoSubItem{{h.0.id}}" tabindex="-1" role="dialog" aria-labelledby="ModalEstadoSubItem{{h.0.id}}Title" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Estado del subitem</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <div class="modal-body">
                                        <h6><small>Se modificara el estado del subitem {{h.0.nombre}}</small> </h6>                                    
                                        <form method="POST" style="margin: 15px;">
    
                                            {% csrf_token %}
                        
                                            <div class="input-group mb-3">
                                                       
                                                    <select name="{{h.0.id}}-estado_subitem" class="custom-select" style="width: 300px;">
    
                                                        {% if h.0.estado == "ESPERA" %}
                                    
                                                        <option value="ESPERA" selected>ESPERA</option>
                                    
                                                        {% else %}
                                    
                                                        <option value="ESPERA">ESPERA</option>
                                    
                                                        {% endif %}
                                    
                                                        {% if h.0.estado == "TRABAJANDO" %}
                                    
                                                        <option value="TRABAJANDO" selected>TRABAJANDO</option>
                                    
                                                        {% else %}
                                    
                                                        <option value="TRABAJANDO">TRABAJANDO</option>
                                    
                                                        {% endif %}
                                    
                                                        {% if h.0.estado == "PROBLEMAS" %}
                                    
                                                        <option value="PROBLEMAS" selected>PROBLEMAS</option>
                                    
                                                        {% else %}
                                    
                                                        <option value="PROBLEMAS">PROBLEMAS</option>
                                    
                                                        {% endif %}
                                    
                                                        {% if h.0.estado == "LISTO" %}
                                    
                                                        <option value="LISTO" selected>LISTO</option>
                                    
                                                        {% else %}
                                    
                                                        <option value="LISTO">LISTO</option>
                                    
                                                        {% endif %}
                                    
                                    
                                                    </select>
                                            </div>
    
                                            <button type="submit" class="btn btn-light">Modificar</button>
                                        
                                        </form>
                                        
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                
                                        </div>
                                    </div>
                                    </div>
    
                                </div>
                    
                    
                                <td class="celdarespplanif"><small>
                    
                                    {% if h.0.responsable %}
                                    
                                    <img src="{{h.0.responsable.imagenlogo.url}}"  class="img-fluid imagenlogoplanif" alt="...">
                                    
                                    {% else %}
                    
                                    S/A
                    
                                    {% endif %}
                    
                                </small></td>
                    
                                {% if h.0.fecha_estimada_i %}
                                <td class="celdafechaplanif" style="color: rgb({% fecha_inicio_planif h.0.fecha_estimada_i h.0.estado %});">{{h.0.fecha_estimada_i|date:"d-m-Y"}}</td>
                                {% else %}
                    
                                <td class="celdafechaplanif">---</td>
                    
                                {% endif %}
                                {% if h.0.fecha_estimada_f %}
                                
                                <td class="celdafechaplanif" style="color: rgb({% fecha_final_planif h.0.fecha_estimada_f h.0.estado %});">{{h.0.fecha_estimada_f|date:"d-m-Y"}}</td>
                                {% else %}
                    
                                <td class="celdafechaplanif">---</td>
                    
                                {% endif %}
                    
                                {% if h.0.fecha_inicio %}
                                <td class="celdafechaplanif">
                                    <a type="button" data-toggle="modal" data-target="#ModalFechaInicioSubItem{{h.0.id}}" style="color: rgb({% fecha_inicio_planif h.0.fecha_inicio h.0.estado %});">{{h.0.fecha_inicio|date:"d-m-Y"}}</a>
                                    </td>
                                {% else %}
                
                                <td class="celdafechaplanif"><a type="button" data-toggle="modal" data-target="#ModalFechaInicioSubItem{{h.0.id}}">---</a></td>
                    
                                {% endif %}
                                <!-- Modal fecha final Subitem -->
                                <div class="modal fade" id="ModalFechaInicioSubItem{{h.0.id}}" tabindex="-1" role="dialog" aria-labelledby="ModalFechaInicioSubItem{{h.0.id}}Title" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Fecha inicio SUB-item</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <div class="modal-body">
                    
                
                                        <h6><small>Se modificara la fecha del SUB-subitem {{h.0.nombre}}</small> </h6>
                                        
                                        <form method="POST" style="margin: 15px;">
    
                                            {% csrf_token %}
                        
                                            <div class="input-group mb-3">
                                            
                                                    <input name="{{h.0.id}}-fecha_inicio_subitem" type="date" class="form-control form-control" value="{{h.0.fecha_inicio|date:"Y-m-d"}}" aria-label="Amount" style="width: 100px;">
                                                
                                            </div>
    
                                            <button type="submit" class="btn btn-light">Modificar</button>
                                        
                                        </form>
                                        
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                
                                        </div>
                                    </div>
                                    </div>
    
                                </div>
                                                   
                                {% if h.0.fecha_final %}
                                <td class="celdafechaplanif">
                                    <a type="button" data-toggle="modal" data-target="#ModalSubItem{{h.0.id}}" style="color: rgb({% fecha_final_planif h.0.fecha_final h.0.estado%});">{{h.0.fecha_final|date:"d-m-Y"}}</a>
                                {% else %}
    
                                <td class="celdafechaplanif"><a type="button" data-toggle="modal" data-target="#ModalSubItem{{h.0.id}}">---</a></td>
                    
                                {% endif %}
                                    <!-- Modal fecha final Subitem -->
                                    <div class="modal fade" id="ModalSubItem{{h.0.id}}" tabindex="-1" role="dialog" aria-labelledby="ModalSubItem{{h.id}}Title" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Fecha final SUB-item</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <div class="modal-body">
                        
                    
                                            <h6><small>Se modificara la fecha del SUB-subitem {{h.0.nombre}}</small> </h6>
                                            
                                            <form method="POST" style="margin: 15px;">
    
                                                {% csrf_token %}
                            
                                                <div class="input-group mb-3">
                                                
                                                        <input name="{{h.0.id}}-fecha_final_subitem" type="date" class="form-control form-control" value="{{h.fecha_final|date:"Y-m-d"}}" aria-label="Amount" style="width: 100px;">
                                                    
                                                </div>
    
                                                <button type="submit" class="btn btn-light">Modificar</button>
                                            
                                            </form>
                                            
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    
                                            </div>
                                        </div>
                                        </div>
    
                                    </div>
                                </td>
                                                
                                {% if h.0.archivo_vigente %}
                                <td class="celdaadjplanif"><small>
                    
                                    <a href="{{ h.0.archivo_vigente.url }}">
                    
                                        <img src="{% static 'img/archivo-adjunto.png' %}" alt="" style="max-width:20px; height:auto; margin: 2px;"  >
                                
                                    </a>
                    
                    
                                </small></td>
                    
                                {% else %}
                    
                                <td class="celdaadjplanif"><small>S/D</small></td>
                    
                                {% endif %}
                    
                                {% for f in fechas_semana %}
        
                                <td class="celdagantplanif" style="{% gannt f h.0.fecha_inicio  h.0.fecha_final %}"><span class="hint--top hint--danger" aria-label="{{f}}"><small>⚫⚫⚫⚫⚫</small></span></td>
                                  
                                {% endfor %}
    
                                {% for k in h.1 %}
    
                                <tr class ="table-light filasubsubitem">  
            
                                    <td class="sticky subsubitem">{{k.nombre}}</td>
                                    <td  class="celdacharlaplanif">
                                        <div style="display: inline-block;">
                                            <form action="" method="POST">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-light" style="padding: 0px;" name="subir_subsubitem" value="{{k.id}}"><img src="{% static 'img/flecha-hacia-arriba.png' %}" alt="" style="max-width:10px; height:auto;"></button>
    
                                            </form>
                                            
                                        </div>
    
                                        <div style="display: inline-block;">
                                            <form action="" method="POST">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-light" style="padding: 0px;" name="bajar_subsubitem" value="{{k.id}}"><img src="{% static 'img/flecha-hacia-abajo.png' %}" alt="" style="max-width:10px; height:auto;"></button>
    
                                            </form>
                                            
                                        </div>
                                    </td>
                                    <td  class="celdacharlaplanif"></td>
                                    <td class="celdaestadoplanif" style="color: rgb({{k.estado|estadoplan}})"><a type="button" data-toggle="modal" data-target="#ModalEstadoSubSubItem{{k.id}}"><b>{{k.estado}}</b></a></td>

                                        <!-- Modal fecha estado SubSubitem -->
                                <div class="modal fade" id="ModalEstadoSubSubItem{{k.id}}" tabindex="-1" role="dialog" aria-labelledby="ModalEstadoSubSubItem{{k.id}}Title" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Estado del Sub-subitem</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <div class="modal-body">
                                        <h6><small>Se modificara el estado del subitem {{k.nombre}}</small> </h6>                                    
                                        <form method="POST" style="margin: 15px;">
    
                                            {% csrf_token %}
                        
                                            <div class="input-group mb-3">
                                                       
                                                    <select name="{{k.id}}-estado_subsubitem" class="custom-select" style="width: 300px;">
    
                                                        {% if k.estado == "ESPERA" %}
                                    
                                                        <option value="ESPERA" selected>ESPERA</option>
                                    
                                                        {% else %}
                                    
                                                        <option value="ESPERA">ESPERA</option>
                                    
                                                        {% endif %}
                                    
                                                        {% if k.estado == "TRABAJANDO" %}
                                    
                                                        <option value="TRABAJANDO" selected>TRABAJANDO</option>
                                    
                                                        {% else %}
                                    
                                                        <option value="TRABAJANDO">TRABAJANDO</option>
                                    
                                                        {% endif %}
                                    
                                                        {% if k.estado == "PROBLEMAS" %}
                                    
                                                        <option value="PROBLEMAS" selected>PROBLEMAS</option>
                                    
                                                        {% else %}
                                    
                                                        <option value="PROBLEMAS">PROBLEMAS</option>
                                    
                                                        {% endif %}
                                    
                                                        {% if k.estado == "LISTO" %}
                                    
                                                        <option value="LISTO" selected>LISTO</option>
                                    
                                                        {% else %}
                                    
                                                        <option value="LISTO">LISTO</option>
                                    
                                                        {% endif %}
                                    
                                    
                                                    </select>
                                            </div>
    
                                            <button type="submit" class="btn btn-light">Modificar</button>
                                        
                                        </form>
                                        
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                
                                        </div>
                                    </div>
                                    </div>
    
                                </div>
                    
                            
                            
                                        <td class="celdarespplanif"><small>
                            
                                            {% if k.responsable %}
                                            
                                            <img src="{{k.responsable.imagenlogo.url}}"  class="img-fluid imagenlogoplanif" alt="...">
                                            
                                            {% else %}
                            
                                            S/A
                            
                                            {% endif %}
                            
                                        </small></td>
                            
                                        {% if k.fecha_estimada_i %}
                                        <td class="celdafechaplanif"style="color: rgb({% fecha_inicio_planif k.fecha_estimada_i k.estado%});">{{k.fecha_estimada_i|date:"d-m-Y"}}</td>
                                        {% else %}
                            
                                        <td class="celdafechaplanif">---</td>
                            
                                        {% endif %}
                                        {% if k.fecha_estimada_f %}
                                        <td class="celdafechaplanif" style="color: rgb({% fecha_final_planif k.fecha_estimada_i k.estado%});">{{k.fecha_estimada_f|date:"d-m-Y"}}</td>
                                        {% else %}
                            
                                        <td class="celdafechaplanif">---</td>
                            
                                        {% endif %}                            
                                        {% if k.fecha_inicio %}
                                        <td class="celdafechaplanif" style="color: rgb({% fecha_inicio_planif k.fecha_inicio k.estado %});"><a type="button" data-toggle="modal" data-target="#ModalFechaInicioSubSubItem{{k.id}}">{{k.fecha_inicio|date:"d-m-Y"}}</a></td>                                                
                                        {% else %}                            
                                        <td class="celdafechaplanif"><a type="button" data-toggle="modal" data-target="#ModalFechaInicioSubSubItem{{k.id}}">---</a></td>                                
                                        {% endif %}
                                        <!-- Modal fecha final Subitem -->
                                        <div class="modal fade" id="ModalFechaInicioSubSubItem{{k.id}}" tabindex="-1" role="dialog" aria-labelledby="ModalFechaInicioSubSubItem{{k.id}}Title" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Fecha inicio SUB-subitem</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                </div>
                                                <div class="modal-body">
                            
                        
                                                <h6><small>Se modificara la fecha del SUB-subitem {{k.nombre}}</small> </h6>
                                                
                                                <form method="POST" style="margin: 15px;">
            
                                                    {% csrf_token %}
                                
                                                    <div class="input-group mb-3">
                                                    
                                                            <input name="{{k.id}}-fecha_inicio_subsubitem" type="date" class="form-control form-control" value="{{k.fecha_inicio|date:"Y-m-d"}}" aria-label="Amount" style="width: 100px;">
                                                        
                                                    </div>
            
                                                    <button type="submit" class="btn btn-light">Modificar</button>
                                                
                                                </form>
                                                
                                                </div>
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        
                                                </div>
                                            </div>
                                            </div>
            
                                        </div>                                        
                                        {% if k.fecha_final %}    
                                        <td class="celdafechaplanif" style="width: 10%; color: rgb({% fecha_final_planif k.fecha_inicio k.estado%});"><a type="button" data-toggle="modal" data-target="#ModalSubSubItem{{k.id}}">{{k.fecha_final|date:"d-m-Y"}}</a></td>                                            
                                        {% else %}    
                                        <td class="celdafechaplanif"><a type="button" data-toggle="modal" data-target="#ModalSubSubItem{{k.id}}">---</a></td>                            
                                        {% endif %}    
                                        <!-- Modal fecha final SUB-Subitem -->
                                        <div class="modal fade" id="ModalSubSubItem{{k.id}}" tabindex="-1" role="dialog" aria-labelledby="ModalSubSubItem{{k.id}}Title" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Fecha final SUB-subitem</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                </div>
                                                <div class="modal-body">
                            
                        
                                                <h6><small>Se modificara la fecha del SUB-subitem {{k.nombre}}</small> </h6>
                                                
                                                <form method="POST" style="margin: 15px;">
        
                                                    {% csrf_token %}
                                
                                                    <div class="input-group mb-3">
                                                    
                                                            <input name="{{k.id}}-fecha_final_subsubitem" type="date" class="form-control form-control" value="{{k.fecha_final|date:"Y-m-d"}}" aria-label="Amount" style="width: 100px;">
                                                        
                                                    </div>
        
                                                    <button type="submit" class="btn btn-light">Modificar</button>
                                                
                                                </form>
                                                
                                                </div>
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        
                                                </div>
                                            </div>
                                            </div>
        
                                        </div>                                    
                                        {% if k.archivo_vigente %}
                                        <td class="celdaadjplanif"><small>                            
                                            <a href="{{ k.archivo_vigente.url }}">                           
                                                <img src="{% static 'img/archivo-adjunto.png' %}" alt="" style="max-width:20px; height:auto; margin: 2px;"  >
                                            </a>                           
                                        </small></td>
                                        {% else %}                            
                                        <td class="celdaadjplanif"><small>S/D</small></td>                            
                                        {% endif %}                            
                                        {% for f in fechas_semana %}
                                        <td class="celdagantplanif" style="{% gannt f k.fecha_inicio k.fecha_final %}"><span class="hint--top hint--danger" aria-label="{{f}}"><small>⚫⚫⚫⚫⚫</small></span> </td>                                                 
                                        {% endfor %}                                                       
                                        </tr>
                                        {% endfor %}
                    
                    
                                </tr>

                        
                        </tr>
    
                        {% endfor %}
    

                    </table>

                    

                    {% endfor %}


                </div>

                    


                    {% endfor %}

                    <!--  FINAL DEL PRIMER ACORDEON -> NIVEL ITEM  -->

                </div>
            </div>

                </tbody>
            </thead>
        </table>
    </div>




    <b><hr class = "my-4" style="width: 100%; border-color: rgba({{datos.proyecto.color}}, 0.5;"></b>



        

    <div style="margin-top: 2rem;">
        <p> <small>-- Link<strong>P</strong> --</small> </p>

     </div>
        
    

                    
</div>
 
    
{% endblock %}