{% extends "users/inicio2.html" %}

{% load static %}
{% load humanize %}
{% load apptags_extras %}
{% block content %}

<div class="container-fluid r-aside">
    <div class="row page-titles">
        <div class="col-md-5 col-lg-5 align-self-center">
            <h3 class="text-themecolor">Panel de oficina tecnica</h3>
        </div>

        <div class="col-md-7 col-lg-4 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item">Panel</li>
            </ol>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-3 col-xlg-4">
        <div class="card">
            <div class="card-body text-center">
                <div>
                    <h6>Correspondencia</h6>
                </div>

                <div>
                    <img src="{% static 'img/Correspondencia.png' %}" alt="" style="max-width:100px; height:auto; margin: 5px;">
                </div>

                {% if request.user|has_group:"TECNICA NIVEL 1" %}

                <a href="{% url 'Notas de pedido' 0 0 %}"><button class="btn btn-info">
                        Ingresar</button></a>
 
                {% else %}

                <a href="#"><button class="btn btn-secondary">
                    Sin permisos</button></a>
                {% endif %}

            </div>

        </div>
    </div>

    <div class="col-lg-3 col-xlg-6">
        <div class="card">
            <div class="card-body text-center">
                <div>
                    <h6>Registro de desvios</h6>
                </div>

                <div>
                    <img src="{% static 'img/RegistroDesvios.png' %}" alt="" style="max-width:100px; height:auto; margin: 5px;">
                </div>

                {% if request.user|has_group:"TECNICA NIVEL 1" %}


                <a href="{% url 'Registros de desvios' %}"><button class="btn btn-success">
                        Ingresar</button></a>

                {% else %}

                <a href="#"><button class="btn btn-secondary">
                    Sin permisos</button></a>
                {% endif %}

            </div>

        </div>
    </div>



    <div class="col-lg-3 col-xlg-6">
        <div class="card">
            <div class="card-body text-center">
                <div>
                    <h6>Planficación O.T</h6>
                </div>

                <div>
                    <img src="{% static 'img/registrocompras.png' %}" alt="" style="max-width:100px; height:auto; margin: 5px;">
                </div>

                {% if request.user|has_group:"TECNICA NIVEL 2" %}

                <a href="/tecnica/documentacion"><button class="btn btn-primary">
                        Ingresar</button></a>

                {% else %}

                <a href="#"><button class="btn btn-secondary">
                    Sin permisos</button></a>
                {% endif %}

            </div>

        </div>
    </div>
</div>


<aside class="right-side-panel">
    <h3 class="p-relative"><span class="lstick"></span>¿Cómo se usa?</h3>
    <div class="row">
        
        <div class="col-md-12 m-t-10">
          <div class="card">
            <div class="card-body">
            <img src="{% static 'img/animation_500_kmv3afam.gif' %}" alt="Funny image" width="200px">
            <p><b class="text-info">Correspondencia</b> haz notas de pedidos u ordenes de servicio</p>
            <p><b class="text-primary">Desvios</b> anota las causas que puede demorar la entrega!</p>
            <p><b class="text-danger">Planificación</b> de documentación de O.T</p>

        </div>
            </div>
        </div>
    </div>
  </aside>



{% endblock %}