{% extends "users/inicio.html" %}

{% load static %}

{% block content %}

<div class = "jumbotron" style="background-color: white; margin-bottom: 0px; text-align: center;">

    <h1 class="titulopagina">Panel maestro de Articulos</h1>
    <p class="modulo"><b>Modulo: </b>Presupuestos</p>

     <b><hr class = "my-4" style="width: 75%;"></b>

        <form method="get" class="form-group" style="text-align: center;">
        <div class="form-control">
            {{ myfilter.form }}

        </div>
        <div>
            <button class="btn btn-dark" type="submit" style="margin-top: 1%;">Buscar</button>          
        </div>
     </form>
    
     <b><hr class = "my-4" style="width: 100%;"></b>
     <div style="margin: 2px; text-align: left;">
        <a href="{% url 'Lista de insumos' %}" class="btn btn-secondary"><img src="{% static 'img/flecha-izquierda.png' %}" alt="" style="max-width:15px; height:auto;"> Volver</a>
        <a href="/presupuestos/insumcreate" class="btn btn-light">
            <img src="{% static 'img/anadir.png' %}" alt="" style="max-width:20px; height:auto; vertical-align: middle;">
                <b>Añadir</b></a></a>  

     </div>
      

    <table class = "table table-hover" style="text-align: center;">
        <thead>

            <tr class = "table-dark"> 
                <th style="text-align: left;">NOMBRE</th>
                <th scope = "row"> CODIGO </th>
                <th scope = "row"> UN </th>
                <th scope = "row"> VALOR </th>
                <th scope = "row"> CREACIÓN </th>
                <th scope = "row"> CONSTANTE </th> 


            </tr>
        </thead>

        <tbody>

            {% for i in articulos|slice:"20" %}
            <tr class = "table-light" style="font-size: 12px;">
                
                <td style="text-align: left;">
                    <a href="{% url 'Editar_insumo' i.codigo %}" class="btn btn-light" style="padding: 1px;">
                    <img src="{% static 'img/editar.png' %}" alt="" style="max-width:15px; height:auto; vertical-align: top;">
                    </a></a> 
                    <a href="{% url 'Eliminar_insumo' i.codigo %}" class="btn btn-light" style="padding: 1px;">
                    <img src="{% static 'img/eliminar.png' %}" alt="" style="max-width:15px; height:auto; vertical-align: top; ">
                    </a></a> 
                    {{i.nombre}}</td>
                    <td> <b>{{i.codigo}}</b> </td>
                <td>{{i.unidad}}</td>
                <td>${{i.valor|floatformat:2}}</td>
                <td>{{i.fecha_c}}</td>
                <td>{{i.constante}}</td>
               
            </tr>
        </tbody>

            {% endfor %}

        </table>


        <div style="text-align: center;">
            <p> <small>-- Link<strong>P</strong> --</small> </p>
    
         </div>

                    
</div>

    
{% endblock %}