{% extends "users/inicio.html" %}

{% load static %}
{% load humanize %}

{% block content %}

<div class = "jumbotron" style="background-color: white; margin-bottom: 0px;">

    <h3 style="text-align: center; color: #17B5B5 ;">Creditos del proyecto {{datos.proyecto}}</h3>
     <b><hr class = "my-4" style="width: 75%; border-color: #17B5B5 ;"></b>

     <form method="POST" style="text-align: center;">

        {% csrf_token %}

        <div style="display: inline-block; margin-left: 1rem;">

            <label for="palabra"><h6>Buscar</h6></label>

        </div>
        
        <div style="display: inline-block; margin-left: 1rem; ">

            <input name="palabra" type="text" class="form-control form-control" placeholder="Buscar por palabra" list="art" style="width: 30rem;">

        </div>

        <div>
            <button class="btn btn-info" type="submit" style="margin-top: 1%;">Buscar</button>          
        </div>       

     </form>

     <hr class = "my-4" style="width: 100%; border-color: #17B5B5 ;"></b>
    {% if datos.datos %} 

    <div>

        <table class = "table table-hover" style="text-align: center;">
            <thead>
    
                <tr class = "table-info">
                    <th scope = "row" style="vertical-align: middle;">ARTICULO</th>                    
                    <th scope = "row" style="vertical-align: middle;">VALOR </th>
                    <th scope = "row" style="vertical-align: middle;">REQUERIDO </th>
                    <th scope = "row" style="vertical-align: middle;">COMPRADO</th>
                    <th scope = "row" style="vertical-align: middle;">SOBRANTE</th>                      
                    <th scope = "row" style="vertical-align: middle;">CREDITO</th>            
                </tr>
            </thead>
    
            <tbody>
    
                
    
                {% for i in datos.datos %}
    
                <tr class = "table-light">
                    <td style="width: 40%;"><b>{{i.0}}</b></td>                    
                    <td style="width: 15%;"> ${{i.0.valor|floatformat:0|intcomma}}</td>
                    <td style="width: 15%;"> ${{i.1|floatformat:0|intcomma}} ({{i.0.unidad}})</td>
                    <td style="width: 15%;"> {{i.2|floatformat:0|intcomma}} ({{i.0.unidad}})</td>
                    <td style="width: 15%;"> {{i.3|floatformat:0|intcomma}} ({{i.0.unidad}})</td>                     
                    <td style="width: 15%;"> ${{i.4|floatformat:0|intcomma}}</td>                        
                </tr>
            </tbody>
    
                {% endfor %}
    
            </table>

    </div>

    <div style="text-align: center;">
        <h6>Valor de reposición del proyecto: ${{datos.valor_saldo|floatformat:0|intcomma}} <strong>(${{datos.valor_proyecto|floatformat:2}} Millones)</strong> </h6>
    </div>


    <div style="text-align: center;">
        <p> <small>-- Link<strong>P</strong> --</small> </p>

     </div>

    


     {% else %}
     <div style="text-align: center;">
        <h6> Este proyecto no tiene creditos </h6>
        <small> Sigue asi</small>
    </div>

    <div style="text-align: center; margin-top: 2%; margin-bottom: 10%;">
        <img src="{% static 'img/comunicaciones.png' %}" style="width: 10%; height: 10%;">
    </div>
        
    {% endif %}
        

   
                    
</div>
 
    
{% endblock %}