{% extends "users/inicio2.html" %}

{% load static %}
{% load humanize %}

{% block content %}

<div class="container-fluid r-aside">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Creditos del proyecto</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item">Creditos</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body row">
                    <div class="col-12 justify-content-center">

                        <div class="d-flex align-items-center">
                            <div>
        
                                <h4 class="card-title"><span class="lstick m-r-20"></span><b style="color: rgb({{proyecto.color}});">{{proyecto.nombre}} creditos</b> <a href="#" class="fa fa-question-circle ml-2" data-toggle="modal" data-target="#ModalInfo"></a></h4>
                                <h6 class="card-subtitle"></span>Credito generado por compras</h6>
                            </div>

                        </div>
    
    
                        <div class="table-responsive">
    
                            <table id="example" class="table table-striped table-bordered" style="width:100%">
    
                                <thead>
                                    <tr style="font-size: 14px;">
                                        <th>Articulo</th>
                                        <th>Unidad</th>
                                        <th>Valor </th>
                                        <th>Requerido </th>
                                        <th>Comprado</th>
                                        <th>Sobrante</th>
                                        <th>Credito</th>
                                    </tr>
                                </thead>
    
                                <tbody>
    
                                    {% for i in explosion %}
                                        {% if i.4 < 0 %}
    
                                        <tr style="font-size: 13px;">
                                            <td><b>{{i.0|lower|capfirst}}</b></td>
                                            <td>${{i.0.valor|floatformat:2|intcomma}}</td>
                                            <td>{{i.0.unidad}}</td>
                                            <td>{{i.1|floatformat:2|intcomma}}</td>
                                            <td>{{i.2|floatformat:2|intcomma}}</td>
                                            <td>{{i.3|floatformat:2|intcomma}}</td>
                                            <td>{% if i.4 < 0 %}-${{i.4|floatformat:2|intcomma|cut:"-"}}{% else %}${{i.4|floatformat:2|intcomma}}{% endif %}</td>
                                        </tr>
                                        {% endif %}
                                    {% endfor %}

                                    {% for i in explosion_no %}
                                        <tr style="font-size: 13px;">
                                            <td><b>{{i.0|lower|capfirst}}</b></td>
                                            <td>${{i.0.valor|floatformat:2|intcomma}}</td>
                                            <td>{{i.0.unidad}}</td>
                                            <td>{{i.1|floatformat:2|intcomma}}</td>
                                            <td>{{i.2|floatformat:2|intcomma}}</td>
                                            <td>{{i.3|floatformat:2|intcomma}}</td>
                                            <td>{% if i.4 < 0 %}-${{i.4|floatformat:2|intcomma|cut:"-"}}{% else %}${{i.4|floatformat:2|intcomma}}{% endif %}</td>
                                        </tr>
   
                                    {% endfor %}
                                </tbody>

                                <tfoot>
                                    <tr class="font-bold" style="font-size: 13px;">
                                        <td colspan="6"><b>Valor total del credito</b></td>
                                        <td>{% if valor_credito < 0 %}-${{valor_credito|floatformat:2|intcomma|cut:"-"}}{% else %}${{valor_credito|floatformat:2|intcomma}}{% endif %}</td>
                                    </tr>
                                    <tr class="font-bold" style="font-size: 13px;">
                                        <td colspan="6"><b>Valor total del saldo</b></td>
                                        <td>{% if valor_saldo < 0 %}-${{valor_saldo|floatformat:2|intcomma|cut:"-"}}{% else %}${{valor_saldo|floatformat:2|intcomma}}{% endif %}</td>
                                    </tr>
                                </tfoot>
                            </table>
    
                        </div>
    
      

    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "language": {
            "lengthMenu": "Mostar _MENU_ documentos",
            "zeroRecords": "No se encontro nada - perdon ",
            "info": "Pagina _PAGE_ de _PAGES_",
            "infoEmpty": "Sin registros disponibles",
            "infoFiltered": "(filtrado de _MAX_ registros totales)",
            "search": "Buscar"
        },

            "ordering": false,
            "info": false
        });
    });
</script>


{% endblock %}