{% extends "users/inicio2.html" %}

{% load static %}
{% load humanize %}

{% block content %}

<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Creditos del proyecto</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Panel de presupuestos' %}">Panel</a></li>
                <li class="breadcrumb-item">Creditos</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body row">
                    <div class="col-12 justify-content-center">

                        <div class="d-flex align-items-center">
                            <div>
        
                                <h4 class="card-title"><span class="lstick m-r-20"></span><b style="color: rgb({{proyecto.color}});">{{proyecto.nombre}} creditos</b> <a href="#" class="fa fa-question-circle ml-2" data-toggle="modal" data-target="#ModalInfo"></a></h4>
                                <h6 class="card-subtitle"></span>Credito generado por compras</h6>
                            </div>

                        </div>
    
    
                        <div class="table-responsive">
    
                            <table id="example" class="table table-striped table-bordered" style="width:100%">
    
                                <thead>
                                    <tr style="font-size: 14px;">
                                        <th>Articulo</th>
                                        <th>Unidad</th>
                                        <th>Valor </th>
                                        <th>Requerido </th>
                                        <th>Comprado</th>
                                        <th>Sobrante</th>
                                        <th>Credito</th>
                                        <th></th>
                                    </tr>
                                </thead>
    
                                <tbody>
    
                                    {% for i in explosion %}
                                        {% if i.4 < 0 %}
    
                                        <tr style="font-size: 13px;">
                                            <td><b>{{i.0|lower|capfirst}}</b></td>
                                            <td>${{i.0.valor|floatformat:2|intcomma}}</td>
                                            <td>{{i.0.codigo}}</td>
                                            <td>{{i.1|floatformat:2|intcomma}}</td>
                                            <td>{{i.2|floatformat:2|intcomma}}</td>
                                            <td>{{i.3|floatformat:2|intcomma}}</td>
                                            <td>{% if i.4 < 0 %}-${{i.4|floatformat:2|intcomma|cut:"-"}}{% else %}${{i.4|floatformat:2|intcomma}}{% endif %}</td>
                                            <td>
                                                <div class="btn-group ml-auto">
                                                    <a href="JavaScript:void(0)" class="icon-options-vertical link" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false"></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        
                                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#Modalcapitulo{{i.0.id}}"><i
                                                            class="fa fa-pencil-square-o mr-2"></i>Modificar capitulo</a>
                                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#Modalanalisis{{i.0.id}}"><i
                                                            class="fa fa-pencil-square-o mr-2"></i>Modificar analisis</a>
                                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#Modalnuevo{{i.0.id}}"><i
                                                            class="fa fa-pencil-square-o mr-2"></i>Crear nuevo</a>
                                                           
                                                    </div>
                                                </div>
                                            </td>
                                            <div class="modal fade" id="Modalcapitulo{{i.0.id}}" tabindex="-1" role="dialog"
                                            aria-labelledby="Modalcapitulo{{i.0.id}}" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header" style="background-color: #2a3e52;">
                                                            <h5 class="modal-title text-light" id="exampleModalLongTitle">Modificar capitulo</h5>
                                                            <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form  method="POST">
                                                                <input type="text" name="sobrante" value="{{i.3}}" hidden>
                                                                {% csrf_token %}
                                                                <p>Capitlo</p>
                                                                <select name="capitulo" id="" class="form-control">
                                                                   
                                                                                          
                                                                 {% if i.6|length > 0 %}
                                                                 
                                                                    {% for x in i.6  %}
                                                                    
                                                                        <option value="{{x.id}}">{{x.nombre}}</option>
                                                                            
                                                                    {% endfor %}
                                                                </select>
                                                                       
                                                            </select>
                                                            <div>
                                                                <button class="btn btn-info" type="submit" name="modificar-capitulo" value="{{i.0.id}}"
                                                                    style="margin-top: 10px;">Modificar</button>
        
                                                            </div>
                                                                {% else %}
                                                                    <option value="">No hay capitulos</option>
                                                                     
                                                                 {% endif %}
                                                                     
                                                                </select>
                                                                       
                                                                </select>
                                                                <div>

            
                                                                </div>
                                                            </form>
            
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Cerrar</button>
            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- analisis -->
                                            <div class="modal fade" id="Modalanalisis{{i.0.id}}" tabindex="-1" role="dialog"
                                            aria-labelledby="Modalanalisis{{i.0.id}}" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header" style="background-color: #2a3e52;">
                                                            <h5 class="modal-title text-light" id="exampleModalLongTitle">Modificar analisis</h5>
                                                            <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form action="#" method="POST">
                                                                    <input type="text" name="sobrante" value="{{i.3}}" hidden>
                                                                {% csrf_token %}
                                                 
                                                                <p>Analisis</p>
                                                                <select name="analisis"  class="form-control">
                                                                   
                                                                    {% if i.5|length > 0 %}
                                                                        {% for j in i.5  %}
                                                                            <option value="{{j.codigo}}">{{j}}</option>
                                                                        {% endfor %}
                                                                    {% else %}
                                                                    <option value=""> No hay analisis</option>
                                                                   
                                                                    {% endif %}
                                                                       
                                                                  
                                                                       
                                                                </select>

                                                                <div>
                                                                    <button class="btn btn-info" type="submit" name="modificar-analisis" value="{{i.0.codigo}}"
                                                                        style="margin-top: 10px;">Modificar</button>
            
                                                                </div>
                                                            </form>
            
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Cerrar</button>
            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- nuevo -->
                                            <div class="modal fade" id="Modalnuevo{{i.0.id}}" tabindex="-1" role="dialog"
                                            aria-labelledby="Modalnuevo{{i.0.id}}" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header" style="background-color: #2a3e52;">
                                                            <h5 class="modal-title text-light" id="exampleModalLongTitle">Crear analisis</h5>
                                                            <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form  method="POST">
                                                                <input type="text" name="sobrante" value="{{i.3}}" hidden>

                                                                {% csrf_token %}
                                                                <p>Capitulo existente</p>
                                                                <select name="capitulo" class="form-control">
                                                                 
                                                                    {% if i.6|length > 0 %}
                                                                    
                                                                    {% for x in i.6  %}
                                                                    <option value="">Seleccione capitulo</option>
                                                                    <option value="{{x.id}}">{{x.nombre}}</option>
                                                                        
                                                                    {% endfor %}
                                                                   {% else %}
                                                               <option value="">No hay capitulos</option>
                                                                        
                                                                    {% endif %}
                                                                        
                                                                   </select>
                                                                    
                                                                <p>Capitulo nuevo</p>
                                                                <input type="text" name="nombre-capitulo" class="form-control" placeholder="Nombre del capitulo" required>
                                                                <p>Analisis</p>
                                                                <input type="text" name="nombre-analisis" class="form-control" placeholder="Nombre del analisis" required>

                                                                <p>Codigo</p>
                                                                <input type="text" name="codigo-analisis" class="form-control" placeholder="Codigo del analisis" required>

                                                                <p>Unidad</p>
                                                                <input type="text" name="unidad-analisis" class="form-control" placeholder="Unidad del analisis" required>

                                                                <div>
                                                                    <button class="btn btn-info" type="submit" name="crear" value="{{i.0.codigo}}"
                                                                        style="margin-top: 10px;">Crear</button>
            
                                                                </div>
                                                            </form>
            
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Cerrar</button>
            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </tr>
                                        {% endif %}
                                    {% endfor %}

                                    {% for i in explosion_no %}
                                        <tr style="font-size: 13px;">
                                            <td><b>{{i.0|lower|capfirst}}</b></td>
                                            <td>${{i.0.valor|floatformat:2|intcomma}}</td>
                                            <td>{{i.0.unidad}}</td>
                                            <td>{{i.1|floatformat:2|intcomma}}</td>
                                            <td>{{i.2|floatformat:2|intcomma}}</td>
                                            <td>{{i.3|floatformat:2|intcomma}}</td>
                                            <td>{% if i.4 < 0 %}-${{i.4|floatformat:2|intcomma|cut:"-"}}{% else %}${{i.4|floatformat:2|intcomma}}{% endif %}</td>
                                            <td>
                                                <div class="btn-group ml-auto">
                                                    
                                                    <a href="JavaScript:void(0)" class="icon-options-vertical link" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false"></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <!-- 
                                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#Modalcapitulo{{i.0.id}}"><i
                                                            class="fa fa-pencil-square-o mr-2"></i>Modificar capitulo</a>
                                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#Modalanalisis{{i.0.id}}"><i
                                                            class="fa fa-pencil-square-o mr-2"></i>Modificar analisis</a>
                                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#Modalnuevo{{i.0.id}}"><i
                                                            class="fa fa-pencil-square-o mr-2"></i>Crear nuevo</a>
                                                            -->
                                                    <p>Proximamente</p>
                                                    </div>
                                                    
                                                </div>
                                            </td>
                                            <div class="modal fade" id="Modalcapitulo{{i.0.id}}" tabindex="-1" role="dialog"
                                            aria-labelledby="Modalcapitulo{{i.0.id}}" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header" style="background-color: #2a3e52;">
                                                            <h5 class="modal-title text-light" id="exampleModalLongTitle">Modificar capitulo</h5>
                                                            <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form action="#" method="POST">
            
                                                                {% csrf_token %}
                                                                <p>Capitlo</p>
                                                                <select name="capitulo" id="" class="form-control">
                                                                  
                                                           
                                                                      
                                                                </select>
                                                                <div>
                                                                    <button class="btn btn-info" type="submit" name="modificar-capitulo" value="{{i.1.id}}"
                                                                        style="margin-top: 10px;">Modificar</button>
            
                                                                </div>
                                                            </form>
            
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Cerrar</button>
            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- analisis -->
                                            <div class="modal fade" id="Modalanalisis{{i.0.id}}" tabindex="-1" role="dialog"
                                            aria-labelledby="Modalanalisis{{i.0.id}}" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header" style="background-color: #2a3e52;">
                                                            <h5 class="modal-title text-light" id="exampleModalLongTitle">Modificar analisis</h5>
                                                            <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form action="#" method="POST">
            
                                                                {% csrf_token %}
                                                                <p>Capitlo</p>
                                                                <select name="capitulo" id="" class="form-control">
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                    <option value="3">3</option>
                                                                    <option value="4">4</option>
                                                                </select>
                                                                <p>Analisis</p>
                                                                <select name="capitulo" id="" class="form-control">
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                    <option value="3">3</option>
                                                                    <option value="4">4</option>
                                                                </select>

                                                                <div>
                                                                    <button class="btn btn-info" type="submit" name="modificar-analisis" value="{{i.1.id}}"
                                                                        style="margin-top: 10px;">Modificar</button>
            
                                                                </div>
                                                            </form>
            
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Cerrar</button>
            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- nuevo -->
                                            <div class="modal fade" id="Modalnuevo{{i.0.id}}" tabindex="-1" role="dialog"
                                            aria-labelledby="Modalnuevo{{i.0.id}}" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header" style="background-color: #2a3e52;">
                                                            <h5 class="modal-title text-light" id="exampleModalLongTitle">Modificar precio</h5>
                                                            <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form action="#" method="POST">
            
                                                                {% csrf_token %}
                                                                <p>Capitlo</p>
                                                                <input type="text" name="capitulo" class="form-control" required>
                                                                <p>Analisis</p>
                                                                <input type="text" name="analisis" class="form-control" required>

                                                                <div>
                                                                    <button class="btn btn-info" type="submit" name="crear" value="{{i.1.id}}"
                                                                        style="margin-top: 10px;">Crear</button>
            
                                                                </div>
                                                            </form>
            
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Cerrar</button>
            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </tr>
   
                                    {% endfor %}
                                </tbody>

                                <tfoot>
                                    <tr class="font-bold" style="font-size: 13px;">
                                        <td colspan="6"><b>Valor total del credito</b></td>
                                        <td>{% if valor_credito < 0 %}-${{valor_credito|floatformat:2|intcomma|cut:"-"}}{% else %}${{valor_credito|floatformat:2|intcomma}}{% endif %}</td>
                                    </tr>
                                    <tr class="font-bold" style="font-size: 13px;">
                                        <td colspan="6"><b>Valor total del saldo</b></td>
                                        <td>{% if valor_saldo < 0 %}-${{valor_saldo|floatformat:2|intcomma|cut:"-"}}{% else %}${{valor_saldo|floatformat:2|intcomma}}{% endif %}</td>
                                    </tr>
                                </tfoot>
                            </table>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>

    $(document).ready(function () {
        $('#example').DataTable({
            "language": {
                "lengthMenu": "Mostar _MENU_ documentos",
                "zeroRecords": "No se encontro nada - perdon ",
                "info": "Pagina _PAGE_ de _PAGES_",
                "infoEmpty": "Sin registros disponibles",
                "infoFiltered": "(filtrado de _MAX_ registros totales)",
                "search": "Buscar"
            },
            "info": false,
            "ordering": false,
            "pading": false
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'excelHtml5',
                    title: 'Creditos-proyecto',
                    className: "btn btn-info",

                    init: function(api, node, config) {
                        $(node).removeClass('dt-button buttons-excel buttons-html5')
                        }
                },
            ]

        });
    });
</script>

{% endblock %}