{% extends "users/inicio.html" %}

{% load static %}
{% load humanize %}

{% block content %}

<div class = "jumbotron" style="background-color: white; margin-bottom: 0px; text-align: center;">

    <h3 style="text-align: center; color: rgb({{datos.proyecto.color}});">Fondos de reparo {{datos.proyecto}}</h3>
    <img src="{{datos.proyecto.iamgen.url}}"  class="img-fluid" alt="..." style="max-width:20%;width:auto;height:auto; margin-top: 1rem;">
  
     <b><hr class = "my-4" style="width: 75%; border-color: rgba({{datos.proyecto.color}}, 0.5) ;"></b>

     
    {% if datos.datos %} 

    <div class = "tableconteinerabel">

        <table class = "table table-hover" style="text-align: center;">
            <thead>
    
                <tr class = "table-dark">
                    <th scope = "row" style="vertical-align: middle;">PROVEEDOR</th>
                    <th scope = "row" style="vertical-align: middle;">DESCRPCIÓN</th>
                    <th scope = "row" style="vertical-align: middle;">CONTACTO</th>                       
                    <th scope = "row" style="vertical-align: middle;">MONDO ADEUDADO</th>           
                </tr>
            </thead>
    
            <tbody>
  
                {% for i in datos.datos %}
    
                <tr class = "table-light">
                    <td style="width: 20%;"><b>{{i.0.name}}</b></td>                    
                    <td style="width: 30%;"> {{i.0.descrip}}</td>
                    <td style="width: 30%;"> {{i.0.phone}}</td>
                    <td style="width: 20%;"> ${{i.1|floatformat:0|intcomma}}</td>                     
                </tr>
            </tbody>
    
                {% endfor %}
    
            </table>

    </div>

    <div>
        <h6 style="color: rgb({{datos.proyecto.color}})">Valor total en fondos a devolver: ${{datos.valor_fdr|floatformat:0|intcomma}}</h6>
    </div>


     {% else %}

     <div>
        <h6> Este proyecto no tiene fondos de reparo </h6>
        <small> Revise los contratos</small>
    </div>

    <div style="text-align: center; margin-top: 2%; margin-bottom: 10%;">
        
        <img src="{% static 'img/comunicaciones.png' %}" style="max-width:10%;width:auto;height:auto; margin-top: 1rem;">

    </div>
        
    {% endif %}

    <div style="text-align: center; margin-top: 2rem;">
        <p> <small>-- Link<strong>P</strong> --</small> </p>

     </div>
        

   
                    
</div>
 
    
{% endblock %}