{% extends "users/inicio.html" %}

{% load static %}
{% load humanize %}

{% block content %}



<div class = "jumbotron" style="background-color: white; margin-bottom: 0px;" > 

    <div style="text-align: center;">
        <h2 style="font-family: Arial, Helvetica, sans-serif;">Panel de control - Área de presupuestos</h2>

        <small style="font-family: Arial, Helvetica, sans-serif;"><b>Modulo:</b> Presupuestos</small>


        <b><hr class = "my-4" style="width: 100% "></b>
    
    </div>

    <div style="margin-bottom: 15px;">

        <h5 style="font-family: Arial, Helvetica, sans-serif;">Información general</h5>

    </div>

    <div style="display: inline-block; vertical-align: top;  margin: 10px;">


        <h6 style="font-family: Arial, Helvetica, sans-serif;"> Avance de presupuesto </h6>

        <div>
            
        </div>


        {% for i in datos_barras|slice:"4" %}
        <div style="display: inline-block; width: 300px; margin: 5px; vertical-align: middle;">

            <canvas id="myChart{{i.0.proyecto.id}}"></canvas>
        
          </div>
           
          <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
          <script>
        
              var ctx = document.getElementById('myChart{{i.0.proyecto.id}}').getContext('2d');
              var chart = new Chart(ctx, {
                  // The type of chart we want to create
                  type: 'doughnut',
                  // The data for our dataset
                  data: {
                  datasets: [{        
                      data: [{{i.1|floatformat:0}}, Math.round(100 - {{i.1|floatformat:0}})],
                      backgroundColor: ['rgba({{i.0.proyecto.color}}, 0.6), rgba(236, 240, 235,1)'],    
                  }],
        
                  labels: ["{{i.0.proyecto.nombre}}"]
                },
                  options: {
                    legend: {
                        position: 'top'
                    },
                  },
        
                });
        
          </script>

        {% endfor %}



      </div>

 

    <b><hr class = "my-4" style="width: 100%;"></b>

    <div>

        <div style="margin-bottom: 10px;">

            <h5 style="font-family: Arial, Helvetica, sans-serif;">Información de reposición/saldos</h5>

        </div>
        <table class = "table table-hover" style="text-align: center;">
            <thead>
    
                <tr class = "table-dark">
                    <th scope = "row" colspan="2" style="  vertical-align: middle;"> <small>PROYECTO</small> </th>
                    <th scope = "row" style="  vertical-align: middle;"><span class="hint--top hint--danger" aria-label= "Valor de reposición del proyecto NETO"> <small>V.R*</small> </span></th>
                    <th scope = "row" style="  vertical-align: middle;"><small>V:R/M2</small></th>
                    <th scope = "row" style="  vertical-align: middle;"><small>SALDO MAT</small></th>
                    <th scope = "row" style="  vertical-align: middle;"><small>CREDITO</small></th>
                    <th scope = "row" style="  vertical-align: middle;"><small>PIMPREVISTO</small></th>
                    <th scope = "row" style="  vertical-align: middle;"><small>SALDO MO</small></th>
                    <th scope = "row" style="  vertical-align: middle;"><small>FDR </small></th>
                    <th scope = "row" style="  vertical-align: middle;"><small>ANTICIPO</small> </th>
                    <th scope = "row" style="  vertical-align: middle;"><small>SALDO TOTAL</small> </th>
                   
                </tr>
            </thead>
            {% for i in datos.datos %}   
            <tbody>
    
                <tr class = "table-light">
                    <td style="vertical-align: middle;"> <img src="{{i.0.iamgen.url}}" class="img-fluid" alt="..." style="max-width: 80px; height:auto;"> </td>

                    {% if "300" in i.0.nombre  %}

                    <td style="width: 11%; color: rgb({{i.0.color}}); vertical-align: middle;"> <small><b>#300</b> </small></b> </td>




                    {% else  %}

                    <td style="width: 11%; color: rgb({{i.0.color}}); vertical-align: middle;"> <small><b>{{ i.0.nombre }}</b> </small></b> </td>

                    {% endif  %}
                    
                    <td style="width: 10%; vertical-align: middle;"> <small> ${{ i.1|floatformat:0|intcomma }}</small></td> 
                    <td style="width: 5%; vertical-align: middle;"> <small> <b>${{ i.2|floatformat:0|intcomma }}</b> </small> </td> 
                    <td style="width: 8%; vertical-align: middle; "> <small>${{ i.3|floatformat:0|intcomma }}</small> </td> 
                    <td style="width: 8%; vertical-align: middle;"> <small>${{ i.5|floatformat:0|intcomma }}</small> </td> 
                    <td style="width: 8%; vertical-align: middle;"> <small>${{ i.9|floatformat:0|intcomma }}</small>   </td> 
                    <td style="width: 8%; vertical-align: middle;"> <small>${{ i.4|floatformat:0|intcomma }}</small> </td> 
                    <td style="width: 8%; vertical-align: middle;"> <small>${{ i.7|floatformat:0|intcomma }}</small> </td> 
                    <td style="width: 8%; vertical-align: middle;"> <small>${{ i.8|floatformat:0|intcomma }}</small></td> 
                    <td style="width: 8%; vertical-align: middle;"> <small> <b>${{ i.6|floatformat:0|intcomma }} </b></small> </td> 
              
                </tr>
            </tbody>

            {% endfor %}
        </table> 

    
        <b><hr class = "my-4" style="width: 100%"></b>   
    </div>



    <div style="text-align: center;">
        <p> <small>-- Link<strong>P</strong> --</small> </p>

     </div>



</div>
{% endblock %}