{% extends "users/inicio2.html" %}

{% load humanize %}

{% load static %}

{% block content %}


<div class="container-fluid">

    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Panel de control</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item">Panel de control</li>
            </ol>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body row">
                <div class="col-12 justify-content-center">

                    <div class="col-12 col-md-12 col-lg-11">
                        <h4 class="card-title"><span class="lstick m-r-20"></span>Información general</h4>

                        <h5 class="card-subtitle"> Avance de presupuesto </h5>

                    </div>

                    <div>

                        {% for i in datos_barras|slice:"4" %}
                        <div style="display: inline-block; width: 300px; margin: 5px; vertical-align: middle;">

                            <canvas id="myChart{{i.0.proyecto.id}}"></canvas>

                        </div>

                        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
                        <script>
                        
                            var ctx = document.getElementById('myChart{{i.0.proyecto.id}}').getContext('2d');
                            var chart = new Chart(ctx, {
                                // The type of chart we want to create
                                type: 'doughnut',
                                // The data for our dataset
                                data: {
                                datasets: [{        
                                    data: [{{i.1|floatformat:0}}, Math.round(100 - {{i.1|floatformat:0}})],
                                    backgroundColor: ['rgba({{i.0.proyecto.color}}, 0.6), rgba(236, 240, 235,1)'],    
                                }],
                        
                                labels: ["{{i.0.proyecto.nombre}}"]
                                },
                                options: {
                                    legend: {
                                        position: 'top'
                                    },
                                },
                        
                                });
                        
                        </script>

                        {% endfor %}
                    </div>

                    <b>
                        <hr class="my-4" style="width: 100%;">
                    </b>

                    <div>
                        <div class="my-3">

                            <h4 class="card-title">Información de reposición/saldos</h4>

                        </div>
                        <div class="table-responsive">

                            <table id="example" class="table table-striped table-bordered" style="width:99%; font-size: 14px;">
                                <thead>
                                    <tr>
                                        <th class="text-center">Proyecto</th>
                                        <th class="text-center"><span class="hint--top hint--danger"
                                                aria-label="Valor de reposición del proyecto NETO"> V.R*
                                            </span></th>
                                        <th class="text-center">V:R/M2</th>
                                        <th class="text-center">Saldo Mat</th>
                                        <th class="text-center">Credito</th>
                                        <th class="text-center">Imprevisto</th>
                                        <th class="text-center">Saldo MO</th>
                                        <th class="text-center">FDR </th>
                                        <th class="text-center">Anticipo </th>
                                        <th class="text-center">Saldo Total </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in datos.datos %}

                                    <tr class="text-center">
                                        <td>
                                            <div class="row">
                                                <div class="col-2 text-start">

                                                    <img src="#" class="img-fluid" alt="..."
                                                    style="max-width: 80px; height:auto;">
                                                </div>
                                               <div class="col">
                                                {% if "300" in i.0.nombre %}

                                                <span style="width: 11%; color: rgb({{i.0.color}});">
                                                    <b>#300</b></span>
                                               
        
                                                {% else %}
        
                                                <span style="width: 11%; color: rgb({{i.0.color}});">
                                                    <b>{{ i.0.nombre }}</b></span>
        
                                                {% endif %}
                                               </div>
                                            </div>
                                        </td>
                                       

                                        <td style="width: 10%;">${{ i.1|floatformat:0|intcomma }}</td>
                                        <td style="width: 5%;"><b>${{ i.2|floatformat:0|intcomma }}</b></td>
                                        <td style="width: 8%; ">${{ i.3|floatformat:0|intcomma }}</td>
                                        <td style="width: 8%;">${{ i.5|floatformat:0|intcomma }}</td>
                                        <td style="width: 8%;">${{ i.9|floatformat:0|intcomma }}</td>
                                        <td style="width: 8%;">${{ i.4|floatformat:0|intcomma }}</td>
                                        <td style="width: 8%;">${{ i.7|floatformat:0|intcomma }}</td>
                                        <td style="width: 8%;">${{ i.8|floatformat:0|intcomma }}</td>
                                        <td style="width: 8%;"><b>${{ i.6|floatformat:0|intcomma }}</b></td>

                                    </tr>
                                    {% endfor %}
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}