{% extends "users/inicio2.html" %}

{% load humanize %}

{% load static %}

{% block content %}


<div class="container-fluid">

    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Panel de control</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Panel de presupuestos' %}">Panel</a></li>
                <li class="breadcrumb-item">Panel de control</li>
            </ol>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body row">
                        <div class="col-12 justify-content-center">
 
                            <div>
                                <div class="my-3">
                                    <h4 class="card-title"><span class="lstick m-r-20"></span>Información de reposición/saldos</h4>
                                </div>
                                <div class="table-responsive">
    
                                    <table id="example" class="table table-striped table-bordered" style="width:99%; font-size: 14px;">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Proyecto</th>
                                                <th class="text-center"><span class="hint--top hint--danger"
                                                        aria-label="Valor de reposición del proyecto NETO"> V.R*
                                                    </span></th>
                                                <th class="text-center">V:R/M2</th>
                                                <th class="text-center">Saldo Mat</th>
                                                <th class="text-center">Credito</th>
                                                <th class="text-center">Imprevisto</th>
                                                <th class="text-center">Saldo MO</th>
                                                <th class="text-center">FDR </th>
                                                <th class="text-center">Anticipo </th>
                                                <th class="text-center">Saldo Total </th>
    
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for i in datos.datos %}
    
                                            <tr style="font-size: 13px;">
                                                <td>
                                                    {% if "300" in i.0.nombre %}
    
                                                        <h6 style="color: rgb({{i.0.color}});">
                                                            <b>#300</b></h6>
                                                        {% else %}
                
                                                        <h6 style="color: rgb({{i.0.color}});">
                                                            <b>{{ i.0.nombre }}</b></h6>
                                                        {% endif %}
                                 
                                                </td>
                                            
    
                                                <td style="width: 10%;">${{ i.1|floatformat:0|intcomma }}</td>
                                                <td style="width: 5%;"><b>${{ i.2|floatformat:0|intcomma }}</b></td>
                                                <td style="width: 8%; ">${{ i.3|floatformat:0|intcomma }}</td>
                                                <td style="width: 8%;">${{ i.5|floatformat:0|intcomma }}</td>
                                                <td style="width: 8%;">${{ i.9|floatformat:0|intcomma }}</td>
                                                <td style="width: 8%;">${{ i.4|floatformat:0|intcomma }}</td>
                                                <td style="width: 8%;">${{ i.7|floatformat:0|intcomma }}</td>
                                                <td style="width: 8%;">${{ i.8|floatformat:0|intcomma }}</td>
                                                <td style="width: 8%;"><b>${{ i.6|floatformat:0|intcomma }}</b></td>
    
                                            </tr>
                                            {% endfor %}
                                        </tbody>
    
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>

    $(document).ready(function () {
        $('#example').DataTable({
            "language": {
                "lengthMenu": "Mostar _MENU_ documentos",
                "zeroRecords": "No se encontro nada - perdon ",
                "info": "Pagina _PAGE_ de _PAGES_",
                "infoEmpty": "Sin registros disponibles",
                "infoFiltered": "(filtrado de _MAX_ registros totales)",
                "search": "Buscar"
            },
            "info": false,
            "ordering": false,
            "pading": false,
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'excelHtml5',
                    title: 'CInforme del área',
                    className: "btn btn-info",

                    init: function(api, node, config) {
                        $(node).removeClass('dt-button buttons-excel buttons-html5')
                        }
                },
            ]

        });
    });
</script>
{% endblock %}