{% extends "users/inicio2.html" %}

{% load humanize %}
{% load static %}
{% load apptags_extras %}
{% block content %}


<div class="container-fluid">
  <div class="row page-titles">
    <div class="col-md-5 align-self-center">
      <h3 class="text-themecolor">Presupuesto del proyecto</h3>
    </div>

    <div class="col-md-7 align-self-center">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
        <li class="breadcrumb-item"><a href="{% url 'Panel de presupuestos' %}">Panel</a></li>
        <li class="breadcrumb-item">Presupuesto</li>
      </ol>
    </div>
  </div>

  <div id="activo_off" {% if proyecto.presupuesto != 'SIN_MOVIMIENTO' %} style = "display: none;" {% endif %}>

    <div class="row">
      <div class="col-12">
        <div class="card mb-2">

          <div class="card-body">
            <h4 class="card-title"><span class="lstick m-r-20"></span><b
              style="color: rgb({{proyecto.color}});">{{proyecto.nombre}}</b></h4>

              <div style="height: 65vh; text-align: center; ">

                <img class="mt-4" src="{% static 'img/bot.png' %}"
                        width="80px" alt="">

                        <p class="mt-3">Empecemos a configurar el proyecto</p>

                  <button class="btn btn-lg btn-circle btn-outline-info fa fa-power-off" onclick="service_configurar_proyecto()"
                  data-toggle="tooltip" data-placement="bottom" title="Activar el proyecto"></button>


              </div>

      

          </div>
        </div>
      </div>
    </div>


  </div>

  <div id="activo_on" {% if proyecto.presupuesto == 'SIN_MOVIMIENTO' %} style = "display: none;" {% endif %}>

    <div class="row">
      <div class="col-12">
        <div class="card mb-2">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="col-6">
                <h4 class="card-title"><span class="lstick m-r-20"></span>Proyecto: <b
                    style="color: rgb({{proyecto.color}});">{{proyecto.nombre}}</b></h4>
   
                <h6></span>Estado: <b id="proyecto_estado_referencia">{{proyecto.presupuesto}}</b></h6>
              </div>

              <div class="col-6" style="text-align: center;">
                <h4 class="card-title"><b>Opciones de consola</b></h4>
   
                <select id="consola" class="form-control" onchange="activar_consola()"> 
                    <option style="display: none;" selected>Selecione una opción para inciar</option>
                    <option value="GESTOR">Gestión del proyecto</option>
                    <option value="DATOS">Consultar datos</option>
                    <option value="TOOLS">Herramientas de presupuesto</option>
                    <option>Reporte</option>
                </select>
              </div>
  
              <div class="mr-2" id="actions-hover" style="display: none;">
                <span style="font-size: smaller;" class="bg-light p-2 rounded  border ">Opciones panel</span>
                <div id="actions-hover-after"></div>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id = "presupuestos_home" class="row">
      <div class="col-12 my-2" >
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title m-b-5"><b>Home de la consola</b></h4>
            <div class="row col-12">
              <div class="col-5 p-2" style="height: 30vh;">
                <img src="{% static 'img/rocket.gif' %}"
                          width="200px" alt="">

              </div>

              <div class="col-7 p-3 text-center" style="height: 30vh;">
                <p><b class="text-primary font-bold">Consola de presupuestos</b></p>
                <i>La consola esta diseñada para tener multiples herramientras inegradas en una <b class="text-success font-bold">unica pantaña</b>
                  , las distintas operaciones te permitiran manipular y controlar los datos del presupuesto. Si necesitas una guia puedes ingresar <a href="https://docs.google.com/document/d/1OTutkJ7f5PFQ6TGARM3QGdOLnwA6YJbbFvFzsxIIzgk/edit?usp=sharing" class="text-info font-bold">aqui</a>

                </i>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div id = "presupuestos_datos" style="display: none;" class="row">
      <div class="col-6 my-2" >
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title m-b-5"><b>Desglose por capitulo</b></h4>
            <small>Esta parte esta en desarrollo, versión 1 <a href="{% url 'Saldo por capitulo' proyecto.id %}" class="text-primary font-bolt">aqui</a></small>
            <div id="contenedor_CD_detalle">
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 my-2" >
        <div class="card h-100">
          <div class="card-body" style="height: 75vh;">
            <h4 class="card-title m-b-5"><b>Datos del presupuesto</b></h4>
            <h6 class="mt-4">Valor del proyecto: <b class="box" onclick="mostrar_input_CD_valor()" id="valor_presupuesto_CD"></b></h6>
            <input id="CD_valor" onblur="service_actualizar_valores_proyecto()" style="display: none;" step="any" type="number" class="form-control mb-2 mt-1">
            <h6>Saldo completo: <b class="box" onclick="mostrar_input_CD_saldo()" id="saldo_total_CD"></b></h6>
            <input id="CD_saldo" onchange="service_actualizar_valores_proyecto()" style="display: none;" step="any" type="number" class="form-control">
            <h6>Saldo solo de materiales: <b class="box" onclick="mostrar_input_CD_saldo_mat()" id="saldo_material_CD"></b></h6>
            <input id="CD_saldo_mat" onchange="service_actualizar_valores_proyecto()" style="display: none;" step="any" type="number" class="form-control">
            <h6>Saldo solo de mano de obra: <b class="box" onclick="mostrar_input_CD_saldo_mo()" id="saldo_mo_CD"></b></h6>
            <input id="CD_saldo_mo" onchange="service_actualizar_valores_proyecto()" style="display: none;" step="any" type="number" class="form-control">
            <h6>Imprevistos: <b class="box" onclick="mostrar_input_CD_imprevisto()" id="imprevisto_CD"></b></h6>
            <input id="CD_imprevisto" onblur="service_actualizar_valores_proyecto()" style="display: none;" step="any" type="number" class="form-control">
            <div>
                <button class="btn btn-primary btn-xs m-1 fa fa-refresh" onclick="service_recalcular_presupuesto()"></button>
                <a href="{% url 'Descarga Exp' proyecto.id %}" class="btn btn-success btn-xs m-1 fa fa-file-excel-o" ></a>
                <a href="{% url 'Descarga Exp Cap' proyecto.id %}" class="btn btn-success btn-xs m-1 fa fa-sitemap" ></a>
            </div>
            <hr>
          </div>
        </div>
        
      </div>

      
      
    </div>

    <div id = "presupuestos_gestor" style="display: none;"  class="row">
      <div class="col-6 my-2" >
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title m-b-5"><b>Gestión del proyecto</b></h4>
            <div class="mt-3" style="height: 50vh;">
              <h6>Estado del presupuesto: <b id="id_gp_estado" class="box" onclick="mostrar_select_estados()"></b></h6>
                  <select id="select_estado_presupuesto" style="display: none;" class="form-control mt-1 mb-4" onchange="service_cambio_estado()">
                    <option value="EXTRAPOLADO">Extrapolado</option> 
                    <option value="ACTIVO">Activo</option>
                    <option value="BASE">Activo y base</option>
                </select>
              <h6>Tamaño del proyecto: <b id="id_gp_tamaño" ></b></h6>
              <h6>Proyecto base: <b id="id_gp_proyecto_base"  class="box" onclick="mostrar_select_proyecto_bases()"></b></h6>
              <select id="select_proyecto_base" style="display: none;" class="form-control mt-1 mb-4" onchange="service_cambio_proyecto_base()">
                <option value="" selected style="display: none;" >Seleccione un proyecto base</option>
                <option value="" >Asignar mas tarde</option> 
                {% for proyecto in proyectos_base %}
                <option value="{{proyecto.id}}">{{proyecto.nombre}}</option> 
                {% endfor %}
              </select>
              <h6>Presupuestador/a: <b id="id_gp_presupuestador" class="box" onclick="mostrar_select_presupuestadores()"></b></h6>
              <div id="contenedor_select_estado_presupuesto" style="display: none;" >
                <select id="select_presupuestador" class="form-control mt-1 mb-4" onchange="service_cambio_presupuestador()">
                  <option value="" selected style="display: none;" >Seleccione un presupuestador</option>
                  <option value="" >Sin asignar</option> 
                  {% for presupuestador in presupuestadores %}
                  <option value="{{presupuestador.identificacion}}">{{presupuestador.nombre}}</option> 
                  {% endfor %}
                </select>
                <input type="checkbox" id="md_checkbox_9" class="chk-col-teal" />
                    <label for="md_checkbox_9"><small>Notificar via email la asignación</small></label>
              </div>
              <hr>
              <div class="col-sm-12 mt-4">
                <div>Desactivar proyecto</div>
                <div class="switch">
                    <label>
                        <input id="desactivar_proyecto" type="checkbox" onclick="service_desactivar_proyecto()" checked><span class="lever switch-col-indigo"></span></label>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 my-2" >
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title m-b-5"><b>Pendientes a realizar <button id="create_task" data-toggle="modal" data-target="#modalAgregarTarea" class="btn btn-primary btn-rounded btn-xs">Agregar</button></b></h4>
            <small>Solo figuran pendientes y realizadas en las ultimas 48hs</small>
            <div id="contenedor_tareas" class="mt-3">
            </div>
            <hr>
            <h4 class="card-title m-b-5"><b>Bitacoras del proyecto <button id="create_bitacora" data-toggle="modal" data-target="#modalAgregarBitacora" class="btn btn-primary btn-rounded btn-xs">Agregar</button></b></h4>
            <small id="hashtag">Hashtag <button id="create_task" class="btn btn-danger btn-xs m-1">Proximamente</button></small>
            <div class="mt-3">
              <div id="contenedor_bitacoras">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div id = "presupuestos_tools" style="display: none;" class="row">
      <div class="col-4 my-2" >
        <div class="card h-100">
          <div class="card-body">
            <div>
              <h4 class="card-title m-b-5"><b>Desglose por capitulo</b></h4>
            </div>
            <div id="contenedor_capitulos" class="scrollbox mt-2" style="height: 75vh; overflow-y: auto;">

            </div>
          </div>
        </div>
      </div>
  
      <div class="col-8 my-2">
        <div class="card h-100">
          <div class="card-body">
            <div>
              <h4 class="card-title"><i class="fa fa-angle-double-right mr-2"></i> Composición<b id="titulo_composicion"></b></h4>
            </div>
              <div id="contenedor_detalle_capitulos" class="scrollbox mt-2" style="height: 35vh; overflow-y: auto;">

              </div>

              <div id="contenedor_opciones_capitulos" style="height: 40vh;">
                <hr>
                <h4 class="card-title"><i class="fa fa-cog mr-2"></i> Herramienta de edición 
                  <button id="button_create" style="display: none;" class="btn btn-primary btn-rounded btn-xs" onclick="mostrar_ventana_creacion()">Agregar</button>
                  <button id="button_save" style="display: none;" class="btn btn-secondary btn-rounded btn-xs" onclick="service_editar_modelo()">Save</button>
                  <button id="button_delete" style="display: none;" class="btn btn-danger btn-rounded btn-xs" onclick="service_delete_modelo()">Delete</button>
                  <button id="button_create_mandar" style="display: none;" class="btn btn-success btn-rounded btn-xs" onclick="service_create_modelo()">Save</button></h4>
                    <div id="editar_analisis" style="display: none;" class="row">
                        <div class="col-4">
                          <h6><b>Proyectos afectados</b></h6>
                          <div id="contenedor_proyectos_afectados">
        
                          </div>
                        </div>
                        <div class="col-8">
                          <h6><b>Editar</b></h6>
                          <div>
                            <input id="id_modelo" type="number" step="1" class="form-control form-control" style="display: none;">
                            <input onkeyup="cambiar_boton_save()" id="order" type="number" step="1" class="form-control form-control" placeholder="Orden del analisis">
                            <input onkeyup="cambiar_boton_save()" id="analisis" type="search" list="analisis_list" class="form-control form-control" placeholder="Analisis">
                            <input onkeyup="cambiar_boton_save()" id="comentario" type="text" class="form-control form-control" placeholder="Comentarios">
                            <input onkeyup="cambiar_boton_save()" id="cantidad" type="number" class="form-control form-control" placeholder="Cantidad">
        
                          </div>
                        </div>
                    </div>
                    <div id="crear_analisis" style="display: none;" class="row">
                      <h6><b>Cargar un componente</b></h6>
                          <div>
                            <input id="order_create" type="number" step="1" class="form-control form-control" placeholder="Orden del analisis">
                            <input id="analisis_create" type="search" list="analisis_list" class="form-control form-control" placeholder="Analisis">
                            <input id="comentario_create" type="text" class="form-control form-control" placeholder="Comentarios">
                            <input id="cantidad_create" type="number" class="form-control form-control" placeholder="Cantidad">
                          </div>
                    </div>
                

              </div>

            <div>
   
  
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>


  
</div>

<div class="middle" id="loader_presupuestos" style="display: none;">
  <div class="bar bar1"></div>
  <div class="bar bar2"></div>
  <div class="bar bar3"></div>
  <div class="bar bar4"></div>
  <div class="bar bar5"></div>
  <div class="bar bar6"></div>
  <div class="bar bar7"></div>
  <div class="bar bar8"></div>
</div>

<div class="modal fade" id="modalVerBitacora" tabindex="-1" role="dialog" aria-labelledby="modalVerBitacora" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

          <div class="modal-body">
            <div class="modal-body">
              <button type="button" class="close text-dark"
                  data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              <div class="row">
                  <div class="col-2">
                      <img src="{% static 'img/registro.gif' %}"
                          width="40px" alt="">
                  </div>
                  <div class="col-10 mb-3">
                      <h4 class="my-2 text-title text-center">Bitacora “<b id="titulo_ver_bitacora"></b> ”</h4>
                  </div>

                  <div class="mt-2">
                    <p>Los presupuestadores asentaron el <b id="fecha_ver_bitacora"></b> el siguiente registro:</p>
                    <i id="descrip_ver_bitacora"></i>
                  </div>

              </div>
          </div>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="modalAgregarTarea" tabindex="-1" role="dialog" aria-labelledby="modalAgregarTarea" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

          <div class="modal-body">
            <div class="modal-body">
              <button type="button" class="close text-dark"
                  data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              <div class="row">
                  <div class="col-2">
                      <img src="{% static 'img/registro.gif' %}"
                          width="40px" alt="">
                  </div>
                  <div class="col-10 mb-3">
                      <h4 class="my-2 text-title text-center">Agregar una tarea</h4>
                  </div>

                  <div class="mt-2">
                    <p>Anotar lo pendiente a realizar ayuda a un buen seguimiento</p>
                  </div>

                  <div class="mb-3 mt-3">
                    <small>Tarea para este presupuesto</small>
                    <input id="tarea_guardar" type="text" class="form-control form-control">
                  </div>

              </div>
          </div>
          <div class="text-center mb-3">
              <button class="btn btn-info" onclick="service_guardar_tarea()"
                  style="margin-top: 10px;">Guardar</button>
          </div>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="modalAgregarBitacora" tabindex="-1" role="dialog" aria-labelledby="modalAgregarBitacora" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

          <div class="modal-body">
            <div class="modal-body">
              <button type="button" class="close text-dark"
                  data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              <div class="row">
                  <div class="col-2">
                      <img src="{% static 'img/registro.gif' %}"
                          width="40px" alt="">
                  </div>
                  <div class="col-10 mb-3">
                      <h4 class="my-2 text-title text-center">Registrar en la bitacora</h4>
                  </div>

                  <div class="mt-2">
                    <p>Las bitacoras son una buena herramienta para asentar sucesos que afectaron a tus decisiones</p>
                    <p>Te recomendamos <b class="text-primary">ser claro</b>, ya que puede pasar un tiempo hasta volverla a leer</p>
                  </div>

                  <div class="mb-3 mt-3">
                    <small>Empezamos con un titulo</small>
                    <input id="titulo" type="text" class="form-control form-control">
                  </div>

                  <div class="mb-3 mt-3">
                    <small>Un hashtag para facilitar busquedas, puede ser como "E.T"</small>
                    <input id="hashtag_form" type="text" class="form-control form-control">
                  </div>

                  <div class="mb-3 mt-3">
                    <small>Cuenta brevemente lo que quieras recordar</small>
                    <textarea id="descrip" class="form-control form-control"></textarea>
                  </div>


              </div>
          </div>
          <div class="text-center mb-3">
              <button class="btn btn-info" onclick="service_guardar_bitacora()"
                  style="margin-top: 10px;">Registrar</button>
          </div>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="modalProyecto" tabindex="-1" role="dialog" aria-labelledby="modalProyecto" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

          <div class="modal-body">
              <form id="modal_asignacion">

                  <div class="modal-body">
                      <button type="button" class="close text-dark"
                          data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                      <div class="row">
                          <div class="col-2">
                              <img src="{% static 'img/bot.png' %}"
                                  width="40px" alt="">
                          </div>
                          <div class="col-10 mb-3">
                              <h4 class="my-2 text-title text-center">
                                  Configuración inicial</h4>
                          </div>

                          <div class="mt-2">
                            <p>Los presupuestos pueden tener 2 configuraciones iniciales</p>
                            <p><b>Extrapolado</b> que para esto tendras que definir los valores del proyecto y elegir un proyecto base para su actualización</p>
                            <p><b>Activo sin extrapolar</b> aqui el valor del proyecto se calculara en función de lo que vayas definiendo</p>
                            <p>Inicialmente, te recomendamos extrapolarlo y cuando lo tengas armado, pasarlo a activo sin extrapolar, te pasamos una lista de los proyectos base disponible</p>
                          </div>

                          

                          <div class="mb-3 mt-3">
                              <select id="select_modal" class="form-control"> 
   
                              </select>
                          </div>

                      </div>
                  </div>
                  <div class="text-center mb-3">
                      <button class="btn btn-info" onclick="service_configurar_proyecto_extrapolado()"
                          style="margin-top: 10px;">Asignar base</button>
                        <button class="btn btn-primary" onclick="service_activar_proyecto()"
                          style="margin-top: 10px;">Solo activar</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="modalProyectoExtrapolado" tabindex="-1" role="dialog" aria-labelledby="modalProyectoExtrapolado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

          <div class="modal-body">
              <div class="modal-body">
                  <button type="button" class="close text-dark"
                      data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                  <div class="row">
                      <div class="col-2">
                          <img src="{% static 'img/bot.png' %}"
                              width="40px" alt="">
                      </div>
                      <div class="col-10 mb-3">
                          <h4 class="my-2 text-title text-center">
                              Configuración inicial extrapolado</h4>
                      </div>

                      <div class="mt-2">
                        <p>Perfecto, tenemos el proyecto base a usar, ahora hay que establecer los valores</p>
                      </div>

                    
                      <div class="mb-3 mt-3">
                        <small>Valor de reposición o el valor actual</small>
                        <input id="valor" type="number" class="form-control form-control">
                      </div>

                      <div class="mb-3 mt-3">
                        <small>Saldo total del proyecto</small>
                        <input id="saldo" type="number" class="form-control form-control">
                    </div>

                    <div class="mb-3 mt-3">
                      <small>¿Cuanto es material?</small>
                      <input id="saldo_mat" type="number" class="form-control form-control">
                  </div>
                  <div class="mb-3 mt-3">
                    <small>¿Y mano de obra o subcontratos?</small>
                    <input id="saldo_mo" type="number" class="form-control form-control">
                </div>

                  </div>
              </div>
              <div class="text-center mb-3">
                  <button class="btn btn-success" onclick="service_set_presupuesto_extrapolado()"
                      style="margin-top: 10px;">Empecemos!</button>
              </div>
          </div>
      </div>
  </div>
</div>

<datalist id="analisis_list">

  {% for a in analisis %}

  <option value="{{a.codigo}}-{{a.nombre}}"></option>

  {% endfor %}

</datalist>

<input type="hidden" id = "token" value="{{ csrf_token }}">
<input type="hidden" id = "host" value="{% host %}">
<input type="hidden" id = "proyecto" value="{{proyecto.id}}">
<input type="hidden" id = "capitulo_activo" value="">

<style>
  body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #000;
}
.middle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.bar {
  width: 10px;
  height: 70px;
  background: #fff;
  display: inline-block;
  transform-origin: bottom center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  /*   box-shadow:5px 10px 20px inset rgba(255,23,25.2); */
  animation: loader 1.2s linear infinite;
}
.bar1 {
  animation-delay: 0.1s;
}
.bar2 {
  animation-delay: 0.2s;
}
.bar3 {
  animation-delay: 0.3s;
}
.bar4 {
  animation-delay: 0.4s;
}
.bar5 {
  animation-delay: 0.5s;
}
.bar6 {
  animation-delay: 0.6s;
}
.bar7 {
  animation-delay: 0.7s;
}
.bar8 {
  animation-delay: 0.8s;
}

@keyframes loader {
  0% {
    transform: scaleY(0.1);
    background: ;
  }
  50% {
    transform: scaleY(1);
    background: #289EAF;
  }
  100% {
    transform: scaleY(0.1);
    background: transparent;
  }
}
</style>

<style>
  #add{
      position: fixed;
      bottom: 60px;
      right: 20px;
  }

  .box:hover {
  cursor: pointer;

  }

  .scrollbox {

  overflow: hidden;
  }

  .scrollbox:hover {
  overflow: auto;
  }

  .scrollbox::-webkit-scrollbar {
  width: 6px;
  }

  .scrollbox::-webkit-scrollbar-thumb {
  background-color: rgb(201, 201, 201);
  border-radius: 100px;
  }

</style>

<style>
    .go-corner {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 position: absolute;
	 width: 32px;
	 height: 32px;
	 overflow: hidden;
	 top: 0;
	 right: 0;
	 background-color: #5b7999;;
	 border-radius: 0 4px 0 32px;
}
 .go-arrow {
	 margin-top: -4px;
	 margin-right: -4px;
	 color: white;
	 font-family: courier, sans;
}
.card1 p{
  display: none;
  font-size: 10px;
}
 .card1 {
	 display: block;
	 position: relative;
	 border-radius: 4px;
	 text-decoration: none;
	 z-index: 0;
	 overflow: hidden;
}
 .card1:before {
	 content: "";
	 position: absolute;
	 z-index: -1;
	 top: -16px;
	 right: -16px;
	 background: #5b7999;;
	 height: 32px;
	 width: 32px;
	 border-radius: 32px;
	 transform: scale(1);
	 transform-origin: 50% 50%;
	 transition: transform 0.25s ease-out;
}
 .card1:hover:before {
	 transform: scale(21);
}
 .card1:hover h6 {
   display: none;
}
 .card1:hover p {
   display: block;
	 transition: all 0.3s ease-out;
	 color: white;
}
 
 .card1:hover img {
  display: none;
  }
</style>

<script src="{% static 'js/f_presupuestos.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
  var ctx = document.getElementById('myChart').getContext('2d');
  var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
      labels: [
        {% for i in registro_valor_proyecto %}
                '{{i.0}}',                   
                {% endfor %}
  'Hoy',],
  datasets: [
    {
      label: 'Valor de reposición',
      backgroundColor: 'rgb({{datos_proyecto.proyecto.color}}, 0.3)',
      borderColor: 'rgb({{datos_proyecto.proyecto.color}})',
      fill: true,
      data: [
        {% for i in registro_valor_proyecto %}
                {{ i.1|floatformat:0}},
    {% endfor %}
    Math.round({{ datos_proyecto.valor_reposicion|floatformat:0}}/1000000),
                

                ]
            },
            ],

        },

  // Configuration options go here
  options: {

    scales: {

      xAxes: [
        {


          display: false,

        }
      ],
        yAxes: [
          {
            ticks: {
              callback: function (label, index, labels) {
                return '$ ' + label + ' M';

              }
            },
            scaleLabel: {
              display: true,
              labelString: '1 M = $1.000.000'
            },

            stacked: false
          }
        ],

          },
  },
    });
</script>
<script>

  var ctx = document.getElementById('myChart2').getContext('2d');

  var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'doughnut',
    // The data for our dataset
    data: {
      datasets: [{
        data: [{{ datos_proyecto.avance|floatformat:0}}, {{ datos_proyecto.pendiente|floatformat:0}}],
    backgroundColor: ['rgba({{datos_proyecto.proyecto.color}}, 0.5)', 'rgba(152, 165, 194, 0.5)'],
  }],

    labels: ['Avance', 'Pendiente']
        },
  options: {
    cutoutPercentage: 80,
    legend: {
      position: 'bottom'
    },
    },

        });

</script>


{% if que_hacer_general %}

<a id="add" href="#" class="btn btn-lg btn-info btn-circle fa fa-5x fa-question-circle"></a>


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<script>
  $( "#add" ).click(function() {
    Swal.fire({
    title: 'Bienvenido {{request.user.first_name}}',
    allowOutsideClick: false,
    text: 'Te recuerdo que para mantener el proyecto actualizado debes constantemente pedir la ultima documentación, actualizar el proyecto y revisar tanto creditos como anticipos. Siempre que pueda, notificate los cambios',
    imageUrl: '{% static 'img/bot.png' %}',
    imageWidth: 200,
    imageHeight: 200,
    imageAlt: 'Custom image',
    })
  });

</script>



{% endif %}

{% endblock %}