{% extends "users/inicio2.html" %}

{% load humanize %}

{% load static %}

{% block content %}


<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Presupuesto de reposición</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item">Presupuesto</li>
            </ol>
        </div>
    </div>
</div>


<div class = "jumbotron" style="background-color: white; margin-bottom: 0px; text-align: center;">

    <div>

        <img src="{{datos.proyecto.iamgen.url}}"  class="img-fluid" alt="..." style="max-width:200px;width:auto;height:auto; margin-top: 1rem; margin-bottom: 10px;">
  


    </div>

    <h6 style="text-align: center; color: rgb({{datos.proyecto.color}}); font-family: Arial, Helvetica, sans-serif;">{{datos.proyecto.nombre}}</h6>

        
     <b><hr class = "my-4" style="width: 100%; border-color: rgba({{datos.proyecto.color}}, 0.5;"></b>

     {% if datos.datos %}
     

    <table class="table" id="example" style="text-align: center;">
        <thead>

            <tr>
                <th style="vertical-align: middle;">  Nº </th>
                <th style="vertical-align: middle; text-align: left;">Capitulos/analisis</th>
                <th></th>
                <th></th>
                <th style="vertical-align: middle; text-align: left;">  Estimado </th>
                <th style="vertical-align: middle; text-align: center;">  Inc. </th>               
            </tr>
        </thead>

        <tbody>

            {% for i in datos.datos %}

            <tr class = "table-active">
                <td style="color: rgb({{datos.proyecto.color}})">{{i.0.id}}</td>
                <td style="text-align: left;">{{i.0.nombre|lower|capfirst}}</td>
                <td></td>
                <td></td>
                <td style="text-align: left;">${{i.1|floatformat:0|intcomma}}</td>
                <td style="text-align: center;">{{i.2|floatformat:0|intcomma}}%</td>                         
            </tr>

            {% for i in i.3 %}

            <tr style="font-size: 12px;">

                <td style="text-align: left;"></td>

                <td style="text-align: left;"> {{ i.0.analisis.nombre|lower|capfirst }}
                    <h6 class="card-subtitle" style="font-size: 12px; margin-top: 2px;"><span class="text-muted">{% if i.0.comentario %}{{ i.0.comentario }}{% endif %}</span></h6>  </td>
                <td> ${{ i.1|floatformat:0|intcomma }}</td>
                <td> {{ i.2|floatformat:0|intcomma }} ({{ i.0.analisis.unidad }})</td>
                <td> ${{ i.3|floatformat:0|intcomma }}</td>
                <td></td>

            </tr>

            {% endfor %}



            {% endfor %}
        </tbody>

        </table>

        <div style="text-align: center;">
            <h6 style="color: rgb({{datos.proyecto.color}}); font-family: Arial, Helvetica, sans-serif;">Valor de reposición del proyecto: ${{datos.valor_proyecto_completo|floatformat:0|intcomma}} </h6>
        </div>

     {% else %}
     
     <div style="text-align: center;">
        <h6> Este presupuesto aun no esta cargado! </h6>
        <small> Para mas información consulte a <b>AR</b></small>
    </div>

    <div style="text-align: center; margin-top: 2%; margin-bottom: 10%;">
        <img src="{% static 'img/comunicaciones.png' %}" style="width: 10%; height: 10%;">
    </div>

        
    {% endif %}

                    
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    
    $(document).ready(function () {
        $('#example').DataTable({
            "paging": false,
            "info": false,
            "ordering": false,
            "searching": false,
            dom: 'Bfrtip',
            buttons: [
            {
                extend: 'excelHtml5',
                title: 'Presupuesto'
            },
    ]

        });
    });
</script>
 
    
{% endblock %}
