{% extends "users/inicio2.html" %}

{% load humanize %}

{% load static %}

{% block content %}


<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Presupuesto de aperturado</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Panel de presupuestos' %}">Panel</a></li>
                <li class="breadcrumb-item"><a href="{% url 'presupuesto_proyecto' id_proyecto  %}">Presupuesto</a></li>
                <li class="breadcrumb-item">Aperturado</li>
            </ol>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <div class="d-flex align-items-center">
                        <div>
    
                            <h4 class="card-title"><span class="lstick m-r-20"></span><b style="color: rgb({{proyecto.color}});">{{proyecto.nombre}}</b></h4>
                            <h6 class="card-subtitle"></span>Capitulos y analisis del proyecto</h6>
                        </div>
                        
                    </div>

                    {% if datos %}

                    {% for i in datos %}

                    <table class="table">

                        <tbody>

                            <tr class="card-title text-left">
                                <td style="width: 15px; color: rgb({{proyecto.color}});">{{i.0.id}}</td>
                                <td style="max-width: 250px;">
                                    <a class="get-code mr-2" data-toggle="collapse" href="#pgr{{i.0.id}}" aria-expanded="true"><i class="fa fa-level-down" title="Ver capitulo" data-toggle="tooltip"></i></a>
                                    
                                    <b class="mr-3 font-bold">{{i.0.nombre|lower|capfirst}}:</b> ${{i.1|floatformat:2|intcomma}} ({{i.2|floatformat:0|intcomma}}%)
                                    </td>
                            </tr>

                        </tbody>

                    </table>

                    <div class="collapse m-t-15 well" id="pgr{{i.0.id}}" aria-expanded="true">
                    <table class="table" style="text-align: center;">

                        <tbody>

                            
                                {% for i in i.3 %}

                                <tr style="font-size: 12px;">

                                    <td style="text-align: left;"></td>

                                    <td style="text-align: left;"> <a class="text-dark" href="#">{{ i.0.analisis.nombre|lower|capfirst }}</a> 
                                        <h6 class="card-subtitle" style="font-size: 12px; margin-top: 2px;"><span
                                                class="text-muted">{% if i.0.comentario %}{{ i.0.comentario }}{% endif %}</span>
                                        </h6>
                                    </td>
                                    <td> ${{ i.1|floatformat:2|intcomma }}</td>
                                    <td> {{ i.2|floatformat:0|intcomma }}({{ i.0.analisis.unidad }})</td>
                                    <td> ${{ i.3|floatformat:2|intcomma }}</td>
                                    <td></td>

                                </tr>

                                {% endfor %}

                        </tbody>

                    </table>
                    </div>
                    {% endfor %}

                

                    <div style="text-align: center;">
                        <h6 style="color: rgb({{proyecto.color}}); font-family: Arial, Helvetica, sans-serif;">
                            Valor
                            de reposición del proyecto: ${{valor_proyecto_completo|floatformat:0|intcomma}} </h6>
                    </div>

                    {% else %}

                    <div style="text-align: center;">
                        <h6> Este presupuesto aun no esta cargado! </h6>
                        <small> Para mas información consulte a <b>AR</b></small>
                    </div>

                    <div style="text-align: center; margin-top: 2%; margin-bottom: 10%;">
                        <img src="{% static 'img/comunicaciones.png' %}" style="width: 10%; height: 10%;">
                    </div>


                    {% endif %}


                </div>
            </div>
        </div>
    </div>
</div>

<a id="add" href="#"  data-toggle="modal" data-target="#ModalCheck" class="btn btn-lg btn-info btn-circle fa fa-5x fa-check-square-o"></a>

<style>
    @keyframes example {
    0% {transform: scale(0.9);}
    50% {transform: scale(1);}
    100% {transform: scale(0.9);}
    }
    #add{
        position: fixed;
        bottom: 60px;
        right: 20px;
        animation: example 1s ease-in-out infinite;
    }

</style>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>

    $(window).scroll(function () {
        sessionStorage.scrollTop = $(this).scrollTop();
    });
    $(document).ready(function () {
        if (sessionStorage.scrollTop != "undefined") {
            $(window).scrollTop(sessionStorage.scrollTop);
        }
    });
</script>


<script>

    $(document).ready(function () {
        $('#example').DataTable({
            "language": {
                "lengthMenu": "Mostar _MENU_ documentos",
                "zeroRecords": "No se encontro nada - perdon ",
                "info": "Pagina _PAGE_ de _PAGES_",
                "infoEmpty": "Sin registros disponibles",
                "infoFiltered": "(filtrado de _MAX_ registros totales)",
                "search": "Buscar"
            },
            "paging": false,
            "info": false,
            "ordering": false,
            "searching": false,
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'excelHtml5',
                    title: 'Presupuesto',
                    className: "btn btn-info",

                    init: function(api, node, config) {
                        $(node).removeClass('dt-button buttons-excel buttons-html5')
                        }
                },
            ]

        });
    });
</script>

<div class="modal fade" id="ModalCheck" tabindex="-1" role="dialog" aria-labelledby="ModalCheck" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        
            <form method="POST">
                <div class="modal-body">
                    <button type="button" class="close text-dark" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    {% csrf_token %}
                    <div class="row">
                        <div class="col-2">
                            <img src="{% static 'img/bot.png' %}" width="40px" alt="">
                        </div>
                        <div class="col-10 mb-3">
                            <h4 class="my-2 text-title text-center">Checklist de presupeusto</h4>
                        </div>
                        
                        {% for check in checklist %}

                        <div class="d-flex">
                            <input type="checkbox" name="entregado" id="entregado" {% if check.entregado %}checked {% endif %}
                            class="filled-in chk-col-blue" />
                            <label class="mr-3" for="entregado">E</label>
                            <input type="checkbox" name="cuantificado" id="cuantificado" {% if check.cuantificado %}checked {% endif %}
                            class="filled-in chk-col-blue" />
                            <label class="mr-3" for="cuantificado">C</label>
                            <h6 >{{check.descrip}}</h6>
                        </div>
                        
                        {% endfor %}
           
                    </div>
                </div>
                <div class="text-center mb-3">
                    <button class="btn btn-primary" type="submit" name="cargar" value="">Cargar</button>
                    
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}

