{% extends "users/inicio.html" %}

{% load humanize %}

{% load static %}

{% block content %}

<div class = "jumbotron" style="background-color: white; margin-bottom: 0px; text-align: center;">

    <h3 style="text-align: center; color: rgb({{datos.proyecto.color}}); font-family: Arial, Helvetica, sans-serif;">Presupuesto de reposición</h3>

    
    <div>

        <img src="{{datos.proyecto.iamgen.url}}"  class="img-fluid" alt="..." style="max-width:200px;width:auto;height:auto; margin-top: 1rem; margin-bottom: 10px;">
  


    </div>

    <h6 style="text-align: center; color: rgb({{datos.proyecto.color}}); font-family: Arial, Helvetica, sans-serif;">{{datos.proyecto.nombre}}</h6>

    

    <div style="text-align: center;">


        <small style="font-family: Arial, Helvetica, sans-serif;"> <b>Modulo:</b> Presupuestos</small>
      
  
  
      </div>
    
     <b><hr class = "my-4" style="width: 100%; border-color: rgba({{datos.proyecto.color}}, 0.5;"></b>

     {% if datos.datos %}

     <div style="text-align: center;">
        <a href="{% url 'Explosión de insumos' id_proyecto=datos.proyecto.id %}" class="btn btn-dark">Explosión de insumos</a>          
    </div>
 
 <b><hr class = "my-4" style="width: 100%; border-color: rgba({{datos.proyecto.color}}, 0.5 ;"></b>
     

    <table class = "table table-hover" style="text-align: center;">
        <thead>

            <tr class = "table-dark">
                <th scope = "row" style="vertical-align: middle;">  Nº </th>
                <th scope = "row" style="vertical-align: middle;">  CAPITULO </th>
                <th scope = "row" style="vertical-align: middle;" class="priority-5">  DESCRIPCIÓN </th>
                <th scope = "row" style="vertical-align: middle;">  MONTO DEL CAPITULO </th>
                <th scope = "row" style="vertical-align: middle;">  INC </th>               
            </tr>
        </thead>

        <tbody>

            

            {% for i in datos.datos %}

            <tr class = "table-light">
                <td style="width: 5%; ; color: rgb({{datos.proyecto.color}})"><b>{{i.0.id}}</b></td>
                <td style="width: 25%;"> <b><a href="{% url 'Panel de presupuestos por analisis' id_proyecto=datos.proyecto.id id_capitulo=i.0.id %}" style="color: black;">{{i.0.nombre}}</a></b>  </td>
                <td style="width: 40%;" class="priority-5"> <small>{{i.0.descrip}}</small> </td>
                <td style="width: 15%;"> ${{i.1|floatformat:2}} Millones</td>
                <td style="width: 15%;"> {{i.2|floatformat:0|intcomma}}%</td>                         
            </tr>
        </tbody>

            {% endfor %}

        </table>

        <div style="text-align: center;">
            <h6 style="color: rgb({{datos.proyecto.color}}); font-family: Arial, Helvetica, sans-serif;">Valor de reposición del proyecto: ${{datos.valor_proyecto_completo|floatformat:0|intcomma}} <strong>(${{datos.valor_proyecto|floatformat:2}} Millones)</strong> </h6>
        </div>

     {% else %}
     
     <div style="text-align: center;">
        <h6> Este presupuesto aun no esta cargado! </h6>
        <small> Para mas información consulte a <b>AR</b></small>
    </div>

    <div style="text-align: center; margin-top: 2%; margin-bottom: 10%;">
        <img src="{% static 'img/comunicaciones.png' %}" style="width: 10%; height: 10%;">
    </div>

        
    {% endif %}


    <div style="text-align: center;">
        <p style="font-family: Arial, Helvetica, sans-serif;"> <small>-- Link<strong>P</strong> --</small> </p>

     </div>
        

   
                    
</div>
 
    
{% endblock %}