{% extends "users/inicio2.html" %}
{% load humanize %}

{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Analisis historico</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Panel de presupuestos' %}">Panel</a></li>
                <li class="breadcrumb-item">Historico</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><span class="lstick m-r-20"></span>Analisis historico</h4>
                    <h6 class="card-subtitle">Variaciones historicas de un proyecto en relaciona dos fechas en el tiempo
                    </h6>
                    <div class="row d-flex justify-content-center mt-3">
                        <div class="col col-md-12 col-lg-6">
                            <div class="row my-4">
                                <div class="col bg-light border rounded">

                                    <form method="POST">

                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="my-2">

                                                <label for="proyectos">
                                                    <h6>Proyectos</h6>
                                                </label>
                                                <select name="proyecto" class="form-select"
                                                    aria-label="Default select example">
                                                    {% for i in proyectos %}
                                                    <option value="{{i.proyecto__id}}">{{i.proyecto__nombre}}</option>
                                                {% endfor %}
                                                
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col col-lg-6 my-2">

                                                <div style="display: inline-block;">

                                                    <label for="fechainicial">
                                                        <h6>Fecha Inicial</h6>
                                                    </label>

                                                </div>

                                                <div style="margin-bottom: 2%; width: 100%; ">

                                                    <input name="fecha_desde" type="date" class="form-control form-control"
                                                        onkeypress="return false">

                                                </div>

                                            </div>

                                            <div class="col col-lg-6 my-2">

                                                <div style="display: inline-block;">

                                                    <label for="fechafinal">
                                                        <h6>Fecha Final</h6>
                                                    </label>

                                                </div>

                                                <div style="margin-bottom: 2%; width: 100%; ">

                                                    <input name="fecha_hasta" type="date" class="form-control form-control"
                                                        onkeypress="return false">

                                                </div>

                                            </div>

                                        </div>

                                        <div class="row d-flex justify-content-center my-3">
                                            <div class="col-lg-6 text-center">
                                                <button class="btn btn-info" type="submit"
                                                    style="margin-top: 1%; margin-bottom: 2%;">Buscar
                                                    datos</button>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>

                    {% if data_resultante %}

                    <div class="row my-4">

                        <div class="col-6 my-4">
                            <h4 class="card-title"><span class="lstick m-r-20"></span>Resultado del analisis</h4>
                            <p>{{proyecto}}</p>                        
                            <p>Valor desde en {{fecha_desde}}: ${{data_resultante.0.3|floatformat:2|intcomma}}</p>
                            <p>Valor hasta en {{fecha_hasta}}: ${{data_resultante.0.4|floatformat:2|intcomma}}</p>
                            <p>Diferencia:  ${{data_resultante.0.5|floatformat:2|intcomma}}</p>
                        </div>
                        <div class="col-6 my-4">
                            <h4 class="card-title"><span class="lstick m-r-20"></span>Resultados generales</h4>
                            <p><i class="fa fa-lightbulb-o text-warning ml-1"></i> Variación de Q:
                                ${{data_resultante.0.1|floatformat:2|intcomma}}</p>
                            <p><i class="fa fa-lightbulb-o text-warning ml-1"></i> Variación de P:
                                ${{data_resultante_p.0.1|floatformat:2|intcomma}}</p>
                            <p><i class="fa fa-exclamation-triangle text-danger"></i> Errores encontrados Q:
                                {{data_resultante.0.2}}</p>
                            <small>*No pudo encontrar el articulo en el desde</small>
                                <p><i class="fa fa-exclamation-triangle text-danger"></i> Errores encontrados P:
                                    {{data_resultante_p.0.2}}</p>
                            <small>*No pudo actualizar alguna linea al hasta</small>
                        </div>
                        <hr>
                    </div>

                    <h4 class="card-title"><span class="lstick m-r-20"></span>Desglose por capitulo</h4>
                    {% if data_resultante.0.0 %}
                        {% for cap in data_resultante.0.0 %}

                    
                                <a class="my-4" href="#" data-toggle="modal" data-target="#ModalCapitulos{{cap.5}}">
                                    <div class="d-flex my-2">
                                        <h5 style="width: 600px;">Lorem, ipsum dolor.{{cap.0}}:</h5>
                                        
                                        <i class="fa fa-lightbulb-o text-warning" style="margin-top: 5px;"></i>
                                        <h5 style="width: 180px; margin: auto 10px;">Lorem, ipsum dolor.${{cap.3|floatformat:2|intcomma}}</h5>
                                        
                                        <i class="fa fa-exclamation-triangle text-danger" style="margin-top: 5px;"></i>
                                        <h5 style="margin: auto 10px;">Lorem, ipsum dolor.{{cap.4}}</h5>
                                    </div>
                                </a>
                                
                            <hr style="border: 0; height: 0; border-bottom: 1px solid rgba(255, 255, 255, 0.3);">
                            
                        <div class="modal fade" id="ModalCapitulos{{cap.5}}" tabindex="-1" role="dialog"
                            aria-labelledby="ModalCapitulos{{cap.5}}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
                                <div class="modal-content" style="width: 80vw;">
                                    <div class="modal-header" style="background-color: #2a3e52;">
                                        <h5 class="modal-title text-light" id="exampleModalLongTitle">Cargar un archivo</h5>
                                        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">

                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Analisis</th>
                                                    <th>Articulo</th>
                                                    <th>Cant.</th>
                                                    <th>Precio</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                            
                                                {% for salidas in cap.1 %}
                                                <tr style="font-size: 12px;">
                                                    <td style="width:350px">{{salidas.0|lower|capfirst}}</td>
                                                    <td>{{salidas.1|lower|capfirst}}</td>
                                                    <td style="width:150px">{{salidas.2|floatformat:2|intcomma}}</td>
                                                    <td style="color: green; width: 120px;">
                                                        ${{salidas.3|floatformat:2|intcomma}}</td>
                                                </tr>
                                                {% endfor %}

                                                {% for ingresos in cap.2 %}
                                                <tr style="font-size: 12px;">
                                                    <td style="width:350px">{{ingresos.0|lower|capfirst}}</td>
                                                    <td>{{ingresos.1|lower|capfirst}}</td>
                                                    <td style="width:150px">{{ingresos.2|floatformat:2|intcomma}}</td>
                                                    <td style="color: red; width: 120px;">${{ingresos.3|floatformat:2|intcomma}}
                                                    </td>
                                                </tr>
                                                {% endfor %}

                                            </tbody>

                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

                                    </div>
                                </div>
                            </div>

                        </div>
                        {% endfor %}

                    {% else %}
                    <small>* No hubo cambios de cantidad</small>
                    {% endif %}

                    <hr>
                    <div class="row">
                        <div class="col-4">
                            <h4 class="card-title"><span class="lstick m-r-20"></span>Variaciones</h4>
                            <div class="scrollbox" style="max-height: 300px;">

                                {% for variacion in data_resultante_p.1|slice:"30" %}

                                <div class="row d-flex p-2 bg-list-color">
                                        <span style="font-size: 16px;"><b data-toggle="tooltip" data-placement="right" title="{{variacion.4}}">Articulo: {{variacion.0}} - <b style="font-weight: 350;" class="{% if variacion.3 < 0 %} text-success {% else %} text-danger {% endif %}"> $ {{variacion.3|floatformat:2|intcomma}}</b></b></span>
                                    <div class="d-flex justify-content-between">
                                        <span class="text-muted" style="font-size: 14px;">Variacion: {{variacion.1}}%</span>
                                        <span class="text-muted" style="font-size: 14px;">▲ precio: $ {{variacion.2|floatformat:2|intcomma}}</span>
 
                                    </div>
                                </div>

                                {% endfor %}
                                
                            </div>

                               
                        </div>
                        <div class="col-8">
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                    {% else %}
                    <div class="my-4">
                        <h4 class="card-subtitle text-center">{{mensaje}}</h4>
                    </div>
                    {% endif %}


                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .scrollbox {

    overflow: hidden;
    }

    .scrollbox:hover {
        overflow-y: auto;
    }

    .scrollbox::-webkit-scrollbar {
    width: 6px;
    }

    .scrollbox::-webkit-scrollbar-track {
    background-color: rgb(201, 201, 201);
    border-radius: 100px;
    }

      .bg-list-color:nth-child(odd) {
        border-bottom: white solid 2px;
        background-color: rgba(160, 160, 160, 0.25);
    }

    .bg-list-color:nth-child(even) {
        border-bottom: white solid 2px;
        background-color: rgba(160, 160, 160, 0.1);
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    ctx = document.getElementById("myChart").getContext("2d");
    
    let data = {
        datasets: [{
            label: "Variación absoluta porcentual",
            labels: [{% for key, value in data_resultante_p.0.3.items %} {{key}}, {% endfor %}],
            data: [
            {% for key, value in data_resultante_p.0.3.items %}
                {
            x: {{value.1}},
            y: {{value.0|floatformat:0}}
            },
        
            {% endfor %}],
                backgroundColor: "rgb(255, 99, 132)"
            }]
    }
    
    let options = {
        plugins: {
            tooltip: {
                callbacks: {
                    label: function(ctx) {
                        // console.log(ctx);
                        let label = ctx.dataset.labels[ctx.dataIndex];
                        label += " (" + ctx.parsed.x + ", " + ctx.parsed.y + ")";
                        return label;
                    }
                }
            }
        }
    }
    
    scatterChart = new Chart(ctx, {
        type: "scatter",
        data: data,
        options: options
    });
    </script>


{% endblock %}