{% extends "users/inicio.html" %}

{% load humanize %}

{% load static %}

{% block content %}

<div class = "jumbotron" style="background-color: white; margin-bottom: 0px;">

    <h3 style="text-align: center; color: #17B5B5 ;">Presupuesto de {{datos.proyecto}} - {{datos.capitulo}}</h3>
     <b><hr class = "my-4" style="width: 75%; border-color: #17B5B5 ;"></b>
 
    
    {% if datos %} 

    <table class = "table table-hover" style="text-align: center;">
        <thead>

            <tr class = "table-info">
                <th scope = "row" style="vertical-align: middle;">ANALISIS </th>
                <th scope = "row" style="vertical-align: middle;"> VINCULACIÓN</th>
                <th scope = "row" style="vertical-align: middle;"> PRECIO DEL ANALISIS</th>
                <th scope = "row" style="vertical-align: middle;"> CANTIDAD</th>
                <th scope = "row" style="vertical-align: middle;"> TOTAL</th>   
                <th scope = "row" style="vertical-align: middle;">INC</th>                  
            </tr>
        </thead>

        <tbody>

            

            {% for i in datos.datos %}

            <tr class = "table-light">
                <td> <a href="{% url 'Composición Analisis' i.0.codigo %}" style="color: black;"> <b>{{i.0.nombre}}</b> </a> </td>
                <td> {{i.5}}</td>
                <td> ${{i.1|floatformat:0|intcomma}}</td>
                <td> {{i.2|floatformat:2}} ({{i.0.unidad}})</td>
                <td> ${{i.3|floatformat:0|intcomma}}</td>  
                <td> {{i.4|floatformat:2}}%</td>                           
            </tr>
        </tbody>

            {% endfor %}

        </table>

        <div style="text-align: center;">
            <p> <small>-- Link<strong>P</strong> --</small> </p>
    
         </div>

     {% else %}
            <div>
                <h3>No existe registros actualmente</h3>
            </div>
        
    {% endif %}
        

   
                    
</div>

 
    
{% endblock %}