{% extends "users/inicio2.html" %}

{% load humanize %}
{% load static %}
{% load apptags_extras %}
{% block content %}


<div class="container-fluid">
  <div class="row page-titles">
    <div class="col-md-5 align-self-center">
      <h3 class="text-themecolor">Presupuesto del proyecto</h3>
    </div>

    <div class="col-md-7 align-self-center">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
        <li class="breadcrumb-item"><a href="{% url 'Panel de presupuestos' %}">Panel</a></li>
        <li class="breadcrumb-item">Presupuesto</li>
      </ol>
    </div>
  </div>


  <div class="row">
    <div class="col-12">
      <div class="card mb-2">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div>
              <h4 class="card-title"><span class="lstick m-r-20"></span><b
                  style="color: rgb({{datos_proyecto.proyecto.color}});">{{datos_proyecto.proyecto.nombre}}</b></h4>

              {% if datos_presupuesto %}<h5 style="color: rgb({{datos_proyecto.proyecto.color}});">Imprevisto: ${{datos_presupuesto.imprevisto|floatformat:0|intcomma}}</h5>{% endif %}

              <h6></span>Variaciones de los ultimos 30 dias
                {% if variacion > 0 %}
                <b style="font-family: Arial, Helvetica, sans-serif; color: #34CE15;">+ {{variacion|floatformat:2}} %
                </b>
                {% elif variacion == 0 %}
                <b style="font-family: Arial, Helvetica, sans-serif; color: #1563CE;">= {{variacion|floatformat:2}} %
                </b>
                {% else %}
                <b style="font-family: Arial, Helvetica, sans-serif; color: #CE3115;">- {{variacion|floatformat:2}} %
                </b>
                {% endif %}
              </h6>

              {% if variacion_year != 0 %}
              <h6></span>Desde el {{variacion_year.0}}:

                {% if variacion_year.1 > 0 %}
                <b style="font-family: Arial, Helvetica, sans-serif; color: #34CE15;">+
                  {{variacion_year.1|floatformat:2}} % </b>
                {% else %}
                <b style="font-family: Arial, Helvetica, sans-serif; color: #CE3115;">-
                  {{variacion_year.1|floatformat:2}} % </b>
                {% endif %}
              </h6>

              {% endif %}

              {% if variacion_year_2 != 0 %}

              <h6></span>Desde el {{variacion_year_2.0}}:

                {% if variacion_year_2.1 > 0 %}
                <b style="font-family: Arial, Helvetica, sans-serif; color: #34CE15;">+
                  {{variacion_year_2.1|floatformat:2}} % </b>
                {% else %}
                <b style="font-family: Arial, Helvetica, sans-serif; color: #CE3115;">-
                  {{variacion_year_2.1|floatformat:2}}% </b>
                {% endif %}
              </h6>

              {% endif %}

              <h6 class="card-subtitle mt-1"></span>{{datos_proyecto.proyecto.descrip}}</h6>
            </div>

            <div class="mr-2" id="actions-hover" style="display: none;">
              <span style="font-size: smaller;" class="bg-light p-2 rounded  border ">Opciones panel</span>
              <div id="actions-hover-after"></div>
            </div>

            <div class="btn-group ml-auto">
              <a href="JavaScript:void(0)" class="icon-options-vertical link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" onmouseover="actionhoverover('actions-hover')"
                onmouseout="actionhoverout('actions-hover')"></a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="{% url 'Creditos de proyectos' datos_proyecto.proyecto.id %}"><i
                    class="fa fa-angle-right mr-2"></i>Creditos</a>
                <a class="dropdown-item" href="{% url 'Fondos de reparo' datos_proyecto.proyecto.id %}"><i
                    class="fa fa-angle-right mr-2"></i>F.D.R.</a>
                <a class="dropdown-item" href="{% url 'Anticipos' datos_proyecto.proyecto.id %}"><i
                    class="fa fa-angle-right mr-2"></i>Anticipos</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-1">

    <div class="col-6 col-md-6 col-lg-3 my-2" style="height: 130px;">
      <a href="{% url 'Presupuesto de reposición abierto' datos_proyecto.proyecto.id %}">
      <div class="card p-3 h-100 card1">
        <div class="go-corner" >
          <div class="go-arrow" >
             →
          </div>
        </div>
        
        <p >El presupuesto abierto sirve para leer todos los componentes que componen un presupuesto de manera muy descriptiva y completa.</p>
        <div class="p-1 d-flex align-items-center h-100">
          <div class="col-2 col-lg-3 p-0 align-self-center ">
            <a >
              <img src="{% static 'img/expense-top.png' %}" alt="Income" width="40px"/>
              </a> 
          </div>  
          <div class="col-9 col-lg-8 p-0 pl-2">
            <h6 class="text-muted">Presup. abierto</h6>
          </div>
        </div>
      </div>
    </a> 
    </div>


    <div class="col-6 col-md-6 col-lg-3 my-2" style="height: 130px;">
      <a href="{% url 'Panel de presupuestos por capitulo' datos_proyecto.proyecto.id %}">
      <div class="card p-3 h-100 card1">
        <div class="go-corner" >
          <div class="go-arrow" >
             →
          </div>
        </div>
        
        <p>El segmento de valor de reposición encontrarás el precio de cuanto costaría construir el edificio a valores actuales</p>
            <p>Está organizado por análisis completos dentro de los capítulos del proyecto</p>
        <div class="p-1 d-flex align-items-center h-100">
          <div class="col-2 col-lg-3 p-0 align-self-center ">
            <a>
              <img src="{% static 'img/expense-center.png' %}" alt="Income" width="40px"/>
              </a> 
          </div>  
          <div class="col-9 col-lg-8 p-0 pl-2">
            <h6 class="text-muted">Valor reposición</h6>
            <h4 class="m-t-0">${{datos_proyecto.valor_reposicion|floatformat:0|intcomma}}</h4>
          </div>
        </div>
      </div>
    </a> 
    </div>

    <div class="col-6 col-md-6 col-lg-3 my-2" style="height: 130px;">
      <a href="{% url 'Saldo por capitulo' datos_proyecto.proyecto.id %}">
      <div class="card p-3 h-100 card1">
        <div class="go-corner" >
          <div class="go-arrow" >
             →
          </div>
        </div>
        
        <p>En saldo del proyecto encontrarás cuanto te queda aún por gastar</p>
        <p>Está organizado por capítulos y artículos</p>
        <div class="p-1 d-flex align-items-center h-100">
          <div class="col-2 col-lg-3 p-0 align-self-center ">
            <a>
              <img src="{% static 'img/expense-bottom.png' %}" alt="Income" width="40px"/>
              </a> 
          </div>  
          <div class="col-9 col-lg-8 p-0 pl-2">
            <h6 class="text-muted">Saldo del proyecto</h6>
            <h4 class="m-t-0">${{datos_proyecto.valor_saldo|floatformat:0|intcomma}}</h4>
          </div>
        </div>
      </div>
    </a> 
    </div>

    <div class="col-6 col-md-6 col-lg-3 my-2" style="height: 130px;">
      <div class="card p-3 h-100">
        <div class="p-1 text-center h-100">
              <img
                src="{% if presupuestador.imagenlogo.url %} {{presupuestador.imagenlogo.url}} {% else %} {% static 'img/anonimo2.png' %} {% endif %}"
                width="40px" />

              <h6 class="m-t-10">{{presupuestador.nombre|truncatechars:17}}</h6>
            <div class="col-12">

              <div class="row mt-1">
                <div class="col-3" style="text-align: end;">
                  {% if datos_proyecto.proyecto.presupuesto == "BASE" %}
                  <form method="POST">{% csrf_token %}
  
                    <button
                    data-toggle="tooltip" data-placement="left" title="Proyecto BASE"
                    type="submit" name="base" value="1" class="btn btn-sm fa fa-flag-checkered text-success"></button>
                  </form>
                  {% else %}
                  <form method="POST">{% csrf_token %}
  
                    <button
                    data-toggle="tooltip" data-placement="left" title="Proyexto no BASE"
                    type="submit" name="base" value="2" class="btn btn-sm fa fa-flag-checkered text-secondary"></button>
                  </form>
                  {% endif %}
                </div>
                <div class="col-3" style="text-align: end;">
                  {% if datos_proyecto.proyecto.presupuesto == "EXTRAPOLADO" %}
                  <form method="POST">{% csrf_token %}

                    <button
                    data-toggle="tooltip" data-placement="left" title="Extrapolado"
                    type="submit" name="extrapolado" value="1" class="btn btn-sm fa fa-check-circle text-secondary"></button>
                  </form>
                  {% else %}
                  <form method="POST">{% csrf_token %}

                    <button
                    data-toggle="tooltip" data-placement="left" title="Activo"
                    type="submit" name="extrapolado" value="0" class="btn btn-sm fa fa-check-circle text-success"></button>
                  </form>
                  {% endif %}
                </div>
                <div class="col-3" style="text-align: end;">
                  <form method="POST">{% csrf_token %}
                    <input type="hidden" name="proyecto" value="{{datos_proyecto.proyecto.id}}">
                    <button
                    data-toggle="tooltip" data-placement="left" title="Actualizar"
                    type="submit" name="recalcular" value="1" class="btn btn-sm fa fa-refresh text-secondary"></button>
                  </form>
                </div>
                <div class="col-3" style="text-align: start;">
                  <form method="POST">{% csrf_token %}
                    <input type="hidden" name="proyecto" value="{{datos_proyecto.proyecto.id}}">
                    <button
                    data-toggle="tooltip" data-placement="left" title="Guardar una copia sin actualizar"
                    type="submit" name="almacenar" value="1" class="btn btn-sm fa fa-cloud text-secondary"></button>
                  </form>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-12 col-lg-9 my-2" style="height: 330px;">
      <div class="card h-100">
        <div class="card-body">
          <div class="d-flex">
            <div>
              <h3 class="card-title m-b-5"><span class="lstick"></span>Variación del precio de reposición</h3>
              <h6 class="card-subtitle">Ultimos 60 dias</h6>
            </div>
          </div>

          <canvas id="myChart" height="100px"></canvas>

        </div>
      </div>
    </div>

    <div class="col-6 col-md-6 col-lg-3 my-2" style="height: 100%;">
      <div class="card h-100">
        <div class="card-body">
          <div>
            <h4 class="card-title"><span class="lstick"></span> Avance del proyecto</h4>
          </div>

          <div>
            <canvas id="myChart2" height="300px"></canvas>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
    .go-corner {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 position: absolute;
	 width: 32px;
	 height: 32px;
	 overflow: hidden;
	 top: 0;
	 right: 0;
	 background-color: #5b7999;;
	 border-radius: 0 4px 0 32px;
}
 .go-arrow {
	 margin-top: -4px;
	 margin-right: -4px;
	 color: white;
	 font-family: courier, sans;
}
.card1 p{
  display: none;
  font-size: 10px;
}
 .card1 {
	 display: block;
	 position: relative;
	 border-radius: 4px;
	 text-decoration: none;
	 z-index: 0;
	 overflow: hidden;
}
 .card1:before {
	 content: "";
	 position: absolute;
	 z-index: -1;
	 top: -16px;
	 right: -16px;
	 background: #5b7999;;
	 height: 32px;
	 width: 32px;
	 border-radius: 32px;
	 transform: scale(1);
	 transform-origin: 50% 50%;
	 transition: transform 0.25s ease-out;
}
 .card1:hover:before {
	 transform: scale(21);
}
 .card1:hover h6 {
   display: none;
}
 .card1:hover p {
   display: block;
	 transition: all 0.3s ease-out;
	 color: white;
}
 
 .card1:hover img {
  display: none;
  }
</style>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
  var ctx = document.getElementById('myChart').getContext('2d');
  var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
      labels: [
        {% for i in registro_valor_proyecto %}
                '{{i.0}}',                   
                {% endfor %}
  'Hoy',],
  datasets: [
    {
      label: 'Valor de reposición',
      backgroundColor: 'rgb({{datos.0.0.color}}, 0.3)',
      borderColor: 'rgb({{datos.0.0.color}})',
      fill: true,
      data: [
        {% for i in registro_valor_proyecto %}
                {{ i.1|floatformat:0}},
    {% endfor %}
    Math.round({{ datos_proyecto.valor_reposicion|floatformat:0}}/1000000),
                

                ]
            },
            ],

        },

  // Configuration options go here
  options: {

    scales: {

      xAxes: [
        {


          display: false,

        }
      ],
        yAxes: [
          {
            ticks: {
              callback: function (label, index, labels) {
                return '$ ' + label + ' M';

              }
            },
            scaleLabel: {
              display: true,
              labelString: '1 M = $1.000.000'
            },

            stacked: false
          }
        ],

          },
  },
    });
</script>


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>

  var ctx = document.getElementById('myChart2').getContext('2d');

  var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'doughnut',
    // The data for our dataset
    data: {
      datasets: [{
        data: [{{ datos_proyecto.avance|floatformat:0}}, {{ datos_proyecto.pendiente|floatformat:0}}],
    backgroundColor: ['rgba({{datos_proyecto.avance.proyecto.color}}, 0.5)', 'rgba(152, 165, 194, 0.5)'],
  }],

    labels: ['Avance', 'Pendiente']
        },
  options: {
    cutoutPercentage: 80,
    legend: {
      position: 'bottom'
    },
    },

        });

</script>


{% if que_hacer_general %}

<a id="add" href="#" class="btn btn-lg btn-info btn-circle fa fa-5x fa-question-circle"></a>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<script>
  $( "#add" ).click(function() {
    Swal.fire({
    title: 'Bienvenido {{request.user.first_name}}',
    allowOutsideClick: false,
    text: 'Te recuerdo que para mantener el proyecto actualizado debes constantemente pedir la ultima documentación, actualizar el proyecto y revisar tanto creditos como anticipos. Siempre que pueda, notificate los cambios',
    imageUrl: '{% static 'img/bot.png' %}',
    imageWidth: 200,
    imageHeight: 200,
    imageAlt: 'Custom image',
    })
  });

</script>

<style>
    #add{
        position: fixed;
        bottom: 60px;
        right: 20px;
    }

</style>

{% endif %}

{% endblock %}