{% extends "users/inicio2.html" %}

{% load humanize %}
{% load static %}

{% block content %}

  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid r-aside">
      <!-- ============================================================== -->
      <!-- Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <div class="row page-titles">
          <div class="col-md-5 align-self-center">
              <h3 class="text-themecolor">Control de presupuestos</h3>
          </div>


      </div>

    </div>


    <div class="container-fluid r-aside">




      {% if datos %}

      <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                      <h4 class="card-title" style="color: rgb({{datos.0.0.color}})">
                        <img src="{{datos.0.0.iamgen.url}}"  class="img-fluid" alt="..." style="max-width:100px; height:auto; vertical-align: middle;">
                         {{datos.0.0.nombre}}</h4>
                    </div>
                  </div>

      
    </div>
  </div>
</div>


    {% endif %}


    
     {% if proyectos %}

     <div class="row">
      <div class="col-12">
          <div class="card">
              <div class="card-body">

                <h4 class="card-title">Listado de proyectos</h4>

          <form method="POST">

              {% csrf_token %}
  
   
              <select name="proyecto" class="form-control">

                {% if request.user.username == "HC" %}

              {% for i in proyectos %}

              {% if "DIANCO" in i.nombre %}

             
              <option value="{{i.id}}">{{i.nombre}}</option>

              {% endif %}


              {% endfor %}

              {% elif request.user.username == "AR" or request.user.username == "PL"  %}

              {% for i in proyectos %}

              <option value="{{i.id}}">{{i.nombre}}</option>


              {% endfor %}

              {% else %}

              
              {% for i in proyectos %}

              {% if not "SEMINARIO" in i.nombre %}

              <option value="{{i.id}}">{{i.nombre}}</option>

              {% endif %}


              {% endfor %}

              
              {% endif %}



              </select>
              
   
              
                <div style="text-align: right; margin-top: 5px;">
                  <button class="btn waves-effect waves-light btn-primary" type="submit">Buscar</button>          
              </div>
              
          </form>
   
          <b><hr class = "my-4" style="width: 75%; "></b>


      </div>
    </div>
  </div>
</div>
    {% endif %}

    {% if datos %}

    <div class="row">

      


      <div class="col-lg-6 col-xlg-4">

        <div class="card">
          <div class="card-body">
              <div class="d-flex no-block">
                  <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span></div>
                  <div class="align-self-center">
                    <div>

                      <h4 class="card-title">Presupuesto detallado</h4></div>
                      <div style="margin-top: 5px;"><a class="btn waves-effect waves-light btn-primary" href="{% url 'Presupuesto de reposición abierto' datos.0.0.id %}"> Abrir</a></div></div>
              </div>
          </div>
      </div>

        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span><a href="{% url 'Panel de presupuestos por capitulo' datos.0.0.id %}"><img src="{% static 'adminpro/assets/images/icon/expense.png' %}" alt="Income" /></a></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Valor de reposición</h6>
                        <h2 class="m-t-0">$ {{datos.0.1|floatformat:0|intcomma}}</h2></div>
                </div>
            </div>
        </div>

        <div class="card">
          <div class="card-body">
              <div class="d-flex no-block">
                  <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span><a href="{% url 'Saldo por capitulo' datos.0.0.id %}"><img src="{% static 'adminpro/assets/images/icon/expense.png' %}" alt="Income" /></a> </div>
                  <div class="align-self-center">
                      <h6 class="text-muted m-t-10 m-b-0">Saldo del proyecto</h6>
                      <h2 class="m-t-0">$ {{datos.0.2|floatformat:0|intcomma}}</h2></div>
              </div>
          </div>
      </div>

    </div>

      <div class="col-lg-6 col-xlg-4">
        <div class="card">
            <div class="card-body">
              <div class="card-body little-profile text-center">
                <div>

                  <h4 class="card-title">Responsable</h4></div>
                <div class="pro-img m-t-20"><img src="{{presupuestador.imagenlogo.url}}" alt="user"></div>
                <h3 class="m-b-0">{{presupuestador.identificacion}}</h3>
                <h6 class="text-muted">{{presupuestador.cargo}}</h6>
                <h6 class="text-muted m-t-10 m-b-0">{{presupuestador.email}}</h6>
            </div>
            </div>
        </div>
    </div>
    



  </div>

  <div class="row">

    <div class="col-lg-6 col-xlg-4">

      <div class="card">

        <div class="card-body">

      <div>

      <h4 class="card-title"><span class="lstick"></span> Avance del proyecto</h4></div>

      

      <div style="display: inline-block; width: 310px; margin: 10px;">
          
        <canvas id="myChart2"></canvas>
    
      </div>

    </div>

      </div>
    </div>

      <div class="col-lg-6 col-xlg-4">

        <div class="card">

          <div class="card-body">
        <div>

          <h4 class="card-title"><span class="lstick"></span>Variaciones</h4></div>

          <div style="text-align: left;">

            <small>Ultimos 30 dias: 
              
              {% if variacion > 0 %}
              <b style="font-family: Arial, Helvetica, sans-serif; color: #34CE15;">+ {{variacion|floatformat:2}} % </b>

              {% elif variacion == 0 %}

              <b style="font-family: Arial, Helvetica, sans-serif; color: #1563CE;">= {{variacion|floatformat:2}} % </b>


              {% else %}

              <b style="font-family: Arial, Helvetica, sans-serif; color: #CE3115;">- {{variacion|floatformat:2}} % </b>


              {% endif %}
            
            
            </small>

          </div>

          {% if variacion_year != 0 %}

          <div style="text-align: left;">

            <small>Desde el {{variacion_year.0}}: 
              
              {% if variacion_year.1 > 0 %}
              
              <b style="font-family: Arial, Helvetica, sans-serif; color: #34CE15;">+ {{variacion_year.1|floatformat:2}} % </b>


              {% else %}

              <b style="font-family: Arial, Helvetica, sans-serif; color: #CE3115;">- {{variacion_year.1|floatformat:2}} % </b>


              {% endif %}
            
            
            </small>

          </div>

          {% endif %}

          {% if variacion_year_2 != 0 %}

          <div style="text-align: left;">

            <small>Desde el {{variacion_year_2.0}}: 
              
              {% if variacion_year_2.1 > 0 %}
              
              <b style="font-family: Arial, Helvetica, sans-serif; color: #34CE15;">+ {{variacion_year_2.1|floatformat:2}} % </b>


              {% else %}

              <b style="font-family: Arial, Helvetica, sans-serif; color: #CE3115;">- {{variacion_year_2.1|floatformat:2}} % </b>


              {% endif %}
            
            
            </small>

          </div>

          {% endif %}

        </div>

        <div class="button-group">
          <a href="{% url 'Creditos de proyectos' datos.0.0.id %}" class="btn waves-effect waves-light btn-primary">Credito</a>
          <a href="{% url 'Creditos de proyectos' datos.0.0.id %}" class="btn waves-effect waves-light btn-success">F.D.R.</a>
          <a href="{% url 'Creditos de proyectos' datos.0.0.id %}" class="btn waves-effect waves-light btn-info">Anticipos</a>
  
      </div>
  
      </div>

    </div>

  </div>
 
               
              <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
              <script>
            
                  var ctx = document.getElementById('myChart2').getContext('2d');
                  var chart = new Chart(ctx, {
                      // The type of chart we want to create
                      type: 'doughnut',
                      // The data for our dataset
                      data: {
                      datasets: [{        
                          data: [{{datos.0.3|floatformat:0}}, {{datos.0.4|floatformat:0}}],
                          backgroundColor: ['rgba({{datos.0.0.color}}, 0.5)', 'rgba(152, 165, 194, 0.5)'],    
                      }],
            
                      labels: ['Avance', 'Pendiente' ]
                    },
                      options: {
                        legend: {
                            position: 'right'
                        },
                      },
            
                    });
            
              </script>
          
          
        
     <div class="col-md-12">
      <div class="card">
          <div class="card-body">
              <div class="d-flex">
                  <div>
                      <h3 class="card-title m-b-5"><span class="lstick"></span>Variación del precio de reposición</h3>
                      <h6 class="card-subtitle">Ultimos 60 dias</h6></div>

                    </div>

                      <div style="height:250px;">

                        <canvas id="myChart"></canvas>
                      
                      </div>

    </div>
  </div>
</div>

      
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: [
                    {% for i in valor %}
                    '{{i.0}}',                   
                    {% endfor %}
                    'Hoy',],
                datasets: [
                {
                    label: 'Valor de reposición',
                    backgroundColor: 'rgb({{datos.0.0.color}}, 0.3)',
                    borderColor: 'rgb({{datos.0.0.color}})',
                    fill: true,
                    data: [
                    {% for i in valor %}
                    {{i.1|floatformat:0}},
                    {% endfor %}                  
                    Math.round({{datos.0.1|floatformat:0}}/1000000),
                    

                    ]
                },
                ],

            },

            // Configuration options go here
            options: {

              scales: {

                xAxes: [
                    {


                        display: false,

                    }
                ],
                yAxes: [
                        {
                            ticks: {
                                callback: function(label, index, labels) {
                                    return '$ '+label + ' M';
                                    
                                }
                            },
                            scaleLabel: {
                                display: true,
                                labelString: '1 M = $1.000.000'
                            },

                            stacked: false
                        }
                    ],

              },
            },
        });
    </script>

        
    
        
    {% endif %}

   
                   
</div>

</div>
 
    
{% endblock %}