{% extends "users/inicio.html" %}

{% load humanize %}
{% load static %}

{% block content %}

<div class = "jumbotron" style="background-color: white; margin-bottom: 0px;">

    <div style="text-align: center;">

      <h3 style="color: rgb({{datos.0.0.color}}); font-family: Arial, Helvetica, sans-serif;">Control de presupuesto</h3>

      
    
      {% if datos %}


      <div>


        <a href=" {% url 'Presupuesto de reposición abierto'  datos.0.0.id %}">

          <img src="{{datos.0.0.iamgen.url}}"  class="img-fluid" alt="..." style="max-width:200px; height:auto; margin-top: 1rem; margin-bottom: 10px;">

        </a>

      </div>


      <h6 style="color: rgb({{datos.0.0.color}}); font-family: Arial, Helvetica, sans-serif;">{{datos.0.0.nombre}}</h6>

     
      
    </div>

    {% endif %}

    <div style="text-align: center;">


      <small style="font-family: Arial, Helvetica, sans-serif;"> <b>Modulo:</b> Presupuestos</small>

    </div>

    
    
     <b><hr class = "my-4" style="width: 75%; border-color: rgba({{datos.0.0.color}}, 0.5) ;"></b>


     {% if proyectos %}

     <div style="text-align: center; width: 350px; height: 210px; display: inline-block; margin: 20px; vertical-align: top; border: 2px solid rgb(11, 32, 68); border-radius: 5%;">

      <div style="margin: 15px;">

          <form method="POST">

              {% csrf_token %}
   
              <div>
   
              <h6 style= "font-family: Arial, Helvetica, sans-serif; color: rgb(11, 32, 68); ">Listado de proyectos</h6>
              
             </div>
   
             <select name="proyecto" class="custom-select" style="width: 280px; margin-top: 10px;">

              {% if request.user.username == "HC" %}

              {% for i in proyectos %}

              {% if "DIANCO" in i.nombre %}

             
              <option value="{{i.id}}">{{i.nombre}}</option>

              {% endif %}


              {% endfor %}

              {% elif request.user.username == "AR" or request.user.username == "PL"  %}

              {% for i in proyectos %}

              <option value="{{i.id}}">{{i.nombre}}</option>


              {% endfor %}

              {% else %}

              
              {% for i in proyectos %}

              {% if not "SEMINARIO" in i.nombre %}

              <option value="{{i.id}}">{{i.nombre}}</option>

              {% endif %}


              {% endfor %}

              
              {% endif %}


            </select>
                
                
   
                <div>
                  <button class="btn btn-dark" type="submit" style="margin-top: 10px;"><img src="{% static 'img/buscar2.png' %}" alt="" style="max-width:20px; height:auto;"> Buscar</button>          
              </div>
              
          </form>
   
          <b><hr class = "my-4" style="width: 75%; "></b>


      </div>
     

 </div>

     

    {% endif %}

    {% if datos %}



    <div style="text-align: center;">

        <div style="vertical-align: middle;">

          <a href="{% url 'Panel de presupuestos por capitulo' datos.0.0.id %}" style="color: black;">
                 
            <div class="card text-white bg-secondary mb-3" style="display: inline-block; width: 310px; height: 150px; vertical-align: top; margin: 10px;">
                
                  <div class="card-body">
                    <h5 class="card-title" style="font-family: Arial, Helvetica, sans-serif;">Valor de reposición</h5>
                    <h6 style="font-family: Arial, Helvetica, sans-serif;">$ {{datos.0.1|floatformat:0|intcomma}}</h6>
                    <small style="font-family: Arial, Helvetica, sans-serif;">* Valor sin IVA actualizado a la fecha</small>
                  </div>
                </div>
          
              </a>
          
          <a href="{% url 'Saldo por capitulo' datos.0.0.id %}" style="color: black;">
          
              <div class="card text-white bg-dark mb-3" style="display: inline-block; width: 310px; height: 150px; vertical-align: top; margin: 10px;">
                    
                  <div class="card-body">
                      <h5 class="card-title" style="font-family: Arial, Helvetica, sans-serif;">Saldo del proyecto</h5>
                      <h6 style="font-family: Arial, Helvetica, sans-serif;">$ {{datos.0.2|floatformat:0|intcomma}}</h6>
                      <small style="font-family: Arial, Helvetica, sans-serif;">* Descontando compras registradas</small>
                  </div>
                </div>
          
              </a>
          
              <div style="display: inline-block; width: 310px; margin: 10px;">
          
                <canvas id="myChart2"></canvas>
            
              </div>
               
              <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
              <script>
            
                  var ctx = document.getElementById('myChart2').getContext('2d');
                  var chart = new Chart(ctx, {
                      // The type of chart we want to create
                      type: 'doughnut',
                      // The data for our dataset
                      data: {
                      datasets: [{        
                          data: [{{datos.0.3|floatformat:0}}, {{datos.0.4|floatformat:0}}],
                          backgroundColor: ['rgba({{datos.0.0.color}}, 0.5)', 'rgba(152, 165, 194, 0.5)'],    
                      }],
            
                      labels: ['Avance', 'Pendiente' ]
                    },
                      options: {
                        legend: {
                            position: 'right'
                        },
                      },
            
                    });
            
              </script>
          
          
              
          
             </div>
          
             <div>
          
              
          
              <div class="card text-white bg-dark mb-3" style="display: inline-block; width: 310px; height: 150px; vertical-align: top;  margin: 10px;">
                
                <div class="card-body">
                  <div style="display: inline-block; text-align: left; vertical-align: middle; margin-top: 15px;">
          
                    <h6 style="font-family: Arial, Helvetica, sans-serif;">Responsable: </h6> 
                  </div>
          
                  {% if presupuestador %}
              
                    <div style="display: inline-block; vertical-align: middle;">
              
                      <img src="{{presupuestador.imagenlogo.url}}"  class="img-fluid" alt="..." style="max-width: 40px; height:auto;">
                  
                    </div>
          
                    {% else %}
          
                    <div style="display: inline-block; text-align: left; vertical-align: middle; margin-top: 15px;">
          
                      <h6 style="font-family: Arial, Helvetica, sans-serif;">Sin asignación </h6> 
                    </div>
          
                    {% endif %}
          
                    <div>
          
                      <small style="font-family: Arial, Helvetica, sans-serif;">Superficie estimada: {{datos.0.0.m2|floatformat:0}}m2 </small> 
          
                    </div>
          
          
                    <div>
          
                      <small style="font-family: Arial, Helvetica, sans-serif;">Entrega: {{datos.0.0.fecha_f}} </small> 
          
                    </div>
                  </div>
              </div>
          
              <div class="card text-white bg-secondary mb-3" style="display: inline-block; width: 310px; height: 150px; vertical-align: top; margin: 10px;">
                
                <div class="card-body">
                  <div style="margin: 2px;">
                    <a href="{% url 'Creditos de proyectos' datos.0.0.id %}" style="color: seashell;"><img src="{% static 'img/flecha-derecha.png' %}" alt="" style="max-width:20px; height:auto; margin: 2px;"> Creditos varios</a>
              
                  </div>
                  <div style="margin: 2px;">
            
                    <a href="{% url 'Fondos de reparo' datos.0.0.id %}" style="color: seashell;"><img src="{% static 'img/flecha-derecha.png' %}" alt="" style="max-width:20px; height:auto; margin: 2px;"> Fondos de reparo</a>
               
            
                  </div>
            
                  <div style="margin: 2px;">
            
                    <a href="{% url 'Anticipos' datos.0.0.id %}" style="color: seashell;"><img src="{% static 'img/flecha-derecha.png' %}" alt="" style="max-width:20px; height:auto; margin: 2px;"> Anticipos</a>
                
                  </div>
                </div>
              </div>
          
              <div class="card text-white bg-dark mb-3" style="display: inline-block; width: 310px; height: 150px; vertical-align: top;  margin: 10px;">
                
                <div class="card-body">
                  <div style="display: inline-block; text-align: left; vertical-align: middle; margin-top: 15px;">
          
                    <h6 style="font-family: Arial, Helvetica, sans-serif;">Variación</h6> 
                  </div>
          
          
                    <div style="text-align: left;">

                      <small>Ultimos 30 dias: 
                        
                        {% if variacion > 0 %}
                        <b style="font-family: Arial, Helvetica, sans-serif; color: #34CE15;">+ {{variacion|floatformat:2}} % </b>

                        {% elif variacion == 0 %}

                        <b style="font-family: Arial, Helvetica, sans-serif; color: #1563CE;">= {{variacion|floatformat:2}} % </b>


                        {% else %}

                        <b style="font-family: Arial, Helvetica, sans-serif; color: #CE3115;">- {{variacion|floatformat:2}} % </b>


                        {% endif %}
                      
                      
                      </small>
          
                    </div>

                    {% if variacion_year != 0 %}

                    <div style="text-align: left;">

                      <small>Desde el {{variacion_year.0}}: 
                        
                        {% if variacion_year.1 > 0 %}
                        
                        <b style="font-family: Arial, Helvetica, sans-serif; color: #34CE15;">+ {{variacion_year.1|floatformat:2}} % </b>


                        {% else %}

                        <b style="font-family: Arial, Helvetica, sans-serif; color: #CE3115;">- {{variacion_year.1|floatformat:2}} % </b>


                        {% endif %}
                      
                      
                      </small>
          
                    </div>

                    {% endif %}
          
          
          

          
                  </div>
              </div>
          
                
          
          
             </div>
          
    </div>

        <b><hr class = "my-4" style="width: 100%; border-color: rgba({{datos.0.0.color}}, 0.5) ;"></b>

      <div style="text-align: center; margin-top: 3%; margin-bottom: 1.5%;">

        <h6 style="font-family: Arial, Helvetica, sans-serif;"> Variación de los ultimos 60 dias del valor de reposición </h6>

     </div>

     <div style="text-align: center;">

      <canvas id="myChart" height="80px"></canvas>


     </div>

      
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: [
                    {% for i in valor %}
                    '{{i.0}}',                   
                    {% endfor %}
                    'Hoy',],
                datasets: [
                {
                    label: 'Valor de reposición',
                    backgroundColor: 'rgb({{datos.0.0.color}}, 0.8)',
                    borderColor: 'rgb({{datos.0.0.color}})',
                    fill: true,
                    data: [
                    {% for i in valor %}
                    {{i.1|floatformat:0}},
                    {% endfor %}                  
                    Math.round({{datos.0.1|floatformat:0}}/1000000),
                    

                    ]
                },
                ],

            },

            // Configuration options go here
            options: {

              scales: {

                xAxes: [
                    {


                        display: false,

                    }
                ],
                yAxes: [
                        {
                            ticks: {
                                callback: function(label, index, labels) {
                                    return '$ '+label + ' M';
                                    
                                }
                            },
                            scaleLabel: {
                                display: true,
                                labelString: '1 M = $1.000.000'
                            },

                            stacked: false
                        }
                    ],

              },
            },
        });
    </script>

        
    
        
    {% endif %}
    <div style="text-align: center; margin-top: 2%;">
        <p style="font-family: Arial, Helvetica, sans-serif;"> <small>-- Link<strong>P</strong> --</small> </p>

     </div>

   
                    
</div>
 
    
{% endblock %}