{% extends "users/inicio.html" %}

{% load static %}

{% block content %}

<div class = "jumbotron" style="background-color: white; margin-bottom: 0px;">

    <h3 style="text-align: center; color: #17B5B5 ;">Detalle de Saldo proyecto {{datos.proyecto.nombre}}</h3>
    <h6 style="text-align: center; color: #17B5B5 ;"> Avance/Incidencia/Saldo</h6>
     <b><hr class = "my-4" style="width: 75%; border-color: #17B5B5 ;"></b>

     <div style="text-align: center;">
        <a href="{% url 'Explosión de insumos' id_proyecto=datos.proyecto.id %}" class="btn btn-info">Explosión de insumos</a>          
    </div>


    <div style="text-align: center; margin-top: 1%;">
        <a href="{% url 'Descarga Exp Cap' id_proyecto=datos.proyecto.id %}" class="btn btn-outline-info">Descargar Saldo por Capitulo</a>          
    </div>


 
 <b><hr class = "my-4" style="width: 100%; border-color: #17B5B5 ;"></b>

    <table class = "table table-hover" style="text-align: center;">
        <thead>

            <tr class = "table-info">
                <th scope = "row">Nº</th>
                <th scope = "row">CAPITULO</th>
                <th scope = "row">VALOR DEL CAPITULO</th>
                <th scope = "row">SALDO</th>
                <th scope = "row">AVANCE</th>
                <th scope = "row">INC</th>                
            </tr>
        </thead>

        <tbody>

            


        {% for i in datos.datos %}

            <tr class = "table-light">
                <td style="width: 5%;"><b>{{i.0}}</b></td>
                <td style="width: 25%;"> <b><a href="{% url 'Articulos saldo de presupuesto' id_proyecto=datos.proyecto.id id_capitulo=i.1.id %}" style="color: black;">{{i.1}}</a></b></td>
                <td style="width: 15%;"> ${{i.2|floatformat:2}} </td>
                <td style="width: 15%;"> ${{i.3|floatformat:2}} </td>
                <td style="width: 15%;"> {{i.4|floatformat:2}}% </td>
                <td style="width: 15%;"> <b>{{i.5|floatformat:2}}% </b> </td>                         
            </tr>

        {% endfor %}
        </tbody>


        </table>

        <div style="text-align: center;">
            <h6>Valor de reposición del proyecto: ${{datos.saldo|floatformat:2}}</h6>
        </div>

        <div style="text-align: center;">
            <p> <small>-- Link<strong>P</strong> --</small> </p>
    
         </div>
   
                    
</div>
 
    
{% endblock %}