{% extends "users/inicio2.html" %}
{% load apptags_extras %}

{% load static %}

{% block content %}

<div class="container-fluid ">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Canje de monedas</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item"><a href="{% url 'App de rrhh' %}">Panel</a></li>
                <li class="breadcrumb-item">Tabla de canjes</li>
            </ol>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title"><span class="lstick m-r-20"></span>Tabla de canjes realizados</h4>
                <div class="row">
                    <div class="col-12">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#sinentregar">Sin entregar</a></li>
                            <li><a data-toggle="tab" href="#entregado">Entregado</a></li>
                            <li><a data-toggle="tab" href="#total">Total</a></li>
                            <li><a data-toggle="tab" href="#generador">Generador</a></li>
                            <li><a data-toggle="tab" href="#stats">Stats</a></li>
                        </ul>
                    </div>
                </div>
                <div class="tab-content">
                    <div id="sinentregar" class="tab-pane fade  in active">
                        <div class="row">
                            <div class="col-12">

                                <div class="table-responsive m-t-4">
                                    <table class="table stylish-table">
                                        <thead>
                                            <tr>
                                                <th>Premios</th>
                                                <th>Usuario</th>
                                                <th style="text-align: right;">Costo</th>
                                                <th style="text-align: center; vertical-align: top;">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            {% for d in data %}
                                            {% if d.entregado == "NO" %}
                                            <tr>
                                                <td>{{d.premio}}</td>
                                                <td>{{d.usuario.nombre}}</td>
                                                <td style="text-align: right;">{{d.monedas}} <img
                                                        src="{% static 'img/monedalink2.png' %}" alt=""
                                                        style="max-width:21px; height:auto; vertical-align: top;"></td>
                                                <!-- if entregado false -->

                                                <td style="text-align: center; vertical-align: top;">
                                                    {% if d.entregado == "SI"%}

                                                    <img src="{% static 'img/cheque.png' %}" alt=""
                                                        style="max-width:21px; height:auto; vertical-align: top;">

                                                    {% else %}
                                                    <form method="POST">
                                                        {% csrf_token %}
                                                        <button class="btn" type="submit" name="ENTREGADO"
                                                            style="padding: 0%;" value="{{d.id}}"><img
                                                                src="{% static 'img/advertir.png' %}" alt=""
                                                                style="max-width:21px; height:auto; vertical-align: top;"></button>
                                                    </form>

                                                    {% endif %}
                                                </td>


                                            </tr>
                                            {% endif %}
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="entregado" class="tab-pane fade">
                        <div class="row">
                            <div class="col-12">

                                <div class="table-responsive m-t-4">
                                    <table class="table stylish-table">
                                        <thead>
                                            <tr>
                                                <th>Premios</th>
                                                <th>Usuario</th>
                                                <th style="text-align: right;">Costo</th>
                                                <th style="text-align: center; vertical-align: top;">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            {% for d in data %}
                                            {% if d.entregado == "SI" %}
                                            <tr>
                                                <td>{{d.premio}}</td>
                                                <td>{{d.usuario.nombre}}</td>
                                                <td style="text-align: right;">{{d.monedas}} <img
                                                        src="{% static 'img/monedalink2.png' %}" alt=""
                                                        style="max-width:21px; height:auto; vertical-align: top;"></td>
                                                <!-- if entregado false -->

                                                <td style="text-align: center; vertical-align: top;">
                                                    {% if d.entregado == "SI"%}

                                                    <img src="{% static 'img/cheque.png' %}" alt=""
                                                        style="max-width:21px; height:auto; vertical-align: top;">

                                                    {% else %}
                                                    <form method="POST">
                                                        {% csrf_token %}
                                                        <button class="btn" type="submit" name="ENTREGADO"
                                                            style="padding: 0%;" value="{{d.id}}"><img
                                                                src="{% static 'img/advertir.png' %}" alt=""
                                                                style="max-width:21px; height:auto; vertical-align: top;"></button>
                                                    </form>

                                                    {% endif %}
                                                </td>


                                            </tr>
                                            {% endif %}
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="total" class="tab-pane fade">
                        <div class="row">
                            <div class="col-12">

                                <div class="table-responsive m-t-4">
                                    <table class="table stylish-table">
                                        <thead>
                                            <tr>
                                                <th>Premios</th>
                                                <th>Usuario</th>
                                                <th style="text-align: right;">Costo</th>
                                                <th style="text-align: center; vertical-align: top;">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            {% for d in data %}
                                            <tr>
                                                <td>{{d.premio}}</td>
                                                <td>{{d.usuario.nombre}}</td>
                                                <td style="text-align: right;">{{d.monedas}} <img
                                                        src="{% static 'img/monedalink2.png' %}" alt=""
                                                        style="max-width:21px; height:auto; vertical-align: top;"></td>
                                                <!-- if entregado false -->

                                                <td style="text-align: center; vertical-align: top;">
                                                    {% if d.entregado == "SI"%}

                                                    <img src="{% static 'img/cheque.png' %}" alt=""
                                                        style="max-width:21px; height:auto; vertical-align: top;">

                                                    {% else %}
                                                    <form method="POST">
                                                        {% csrf_token %}
                                                        <button class="btn" type="submit" name="ENTREGADO"
                                                            style="padding: 0%;" value="{{d.id}}"><img
                                                                src="{% static 'img/advertir.png' %}" alt=""
                                                                style="max-width:21px; height:auto; vertical-align: top;"></button>
                                                    </form>

                                                    {% endif %}
                                                </td>


                                            </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="generador" class="tab-pane fade">
                        <div class="row my-2">
                            <div class="col-6">
                                <h3>Generador de monedas
                                </h3>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-lg-6 col-xlg-3 col-md-5">

                                <div class="card">
                                    <h4>Generador</h4>
                                </div>

                                <div class="card-body">

                                    {% if request.user|has_group:"RRHH NIVEL 10" %}
                                    <form class="form-horizontal form-material" method="POST">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label class="col-md-12">Usuario que recibe</label>
                                            <div class="col-md-12">

                                                <select name="usuario" class="form-control form-control-line">
                                                    {% if list_usuarios %}
                                                    {% for i in list_usuarios %}
            
                                                    <option value="{{i.id}}" selected> {{i.nombre}}</option>
            
                                                    {% endfor %}
                                                    {% endif %}
            
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-12">Cantidad</label>
                                            <div class="col-md-12">
                                                <input type="number" name="cantidad" class="form-control form-control-line">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-12">Mensaje</label>
                                            <div class="col-md-12">
                                                <textarea rows="5" name="mensaje" class="form-control form-control-line"></textarea>
                                            </div>
                                        </div>
     
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <button class="btn btn-success">Entregar</button>
                                            </div>
                                        </div>
                                    </form>
                                    {% endif %}
                                </div>


                            </div>

                            <div class="col-lg-6 col-xlg-9 col-md-7">

                                <div class="card">
                                    <h4>Registro</h4>
                                </div>

                                {% for i in data_generador %}

                                <div class="sl-item">
                                    <div class="sl-left"> <img src="{{i.0.imagenlogo.url}}" width="25px" class="img-circle" /> </div>
                                    <div class="sl-right">
                                        <div><a href="#" class="link">Se entregaron {{i.1}} linkcoins</a> <span class="sl-date">a {{i.0.nombre}}</span>
                                            <p class="m-t-10">El mensaje fue: "{{i.2}}"</p>
                                        </div>
                    
                                    </div>
                                </div>
                                <hr>

                                {% endfor %}



                            </div>

                        </div>

                            
                        
                    </div>
                    <div id="stats" class="tab-pane fade">

                        <div class="row">

                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Estadisticas de Linkcoins</h4>
                                    <h6 class="card-subtitle">Las mismas son en tiempo real</h6>
                                    <div class="sl-right">
                                        <div><p>Usuario que más recibio: {{data_linkcoins.usuario_mas_recibio.0.nombre}} con {{data_linkcoins.usuario_mas_recibio.1}}</p> </div>
                                        <div><p>Área que más recibio: {{data_linkcoins.area_querida.0}} con {{data_linkcoins.area_querida.1}}</p> </div>
                                        <div><p>Mensaje más corto: De {{data_linkcoins.mensaje_corto.2.usuario_recibe.nombre}} con {{data_linkcoins.mensaje_corto.1}} caracteres: {{data_linkcoins.mensaje_corto.0}}</p> </div>
                                        <div><p>Mensaje más largo: De {{data_linkcoins.mensaje_largo.2.usuario_recibe.nombre}} con {{data_linkcoins.mensaje_largo.1}} caracteres: {{data_linkcoins.mensaje_largo.0}}</p> </div>
                    
                                    </div>
                                </div>
                                
                            </div>
    

                        </div>

                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}