{% extends "users/inicio2.html" %}
{% load apptags_extras %}

{% load static %}

{% block content %}


<div class="page-wrapper">
            
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="row page-titles">
      <div class="col-md-5 align-self-center">
          <h3 class="text-themecolor">Tu perfil</h3>
      </div>

      <div class="">
          <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
      </div>
  </div>

  <div class="row">
    <!-- .col -->
    <div class="col-md-6 col-lg-6 col-xlg-4">
        <div class="card card-body">
            <div class="row">
                <div class="col-md-4 col-lg-3 text-center">
                    <a href="#">{% if datos %}<img src="{{datos.imagenlogo.url}}" alt="user" class="img-circle img-responsive">{% else %}<img src="{% static 'img/grupo.png' %}" alt="user" class="img-circle img-responsive">{% endif %}</a>
                </div>
                <div class="col-md-8 col-lg-9">
                    <h3 class="box-title m-b-0">{{request.user.first_name}} {{request.user.last_name}}</h3>{% if datos %} <small>{{datos.cargo}}</small>{% else %}<small>Invitado</small>{% endif %}
                    {% if datos %}
                    <address>
                      {{datos.email}}
                        <br/>
                        <br/>
                        Linkcoins: {{monedas_recibidas}} <a href="{% url 'Moneda Link' %}" style="text-decoration: none;"><img src="{% static 'img/monedalink.png' %}" alt="" style="max-width:20px; height:auto; margin: 2px; vertical-align: bottom;"></a>
                    </address>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="right-sidebar">
      <div class="slimscrollright">
          <div class="rpanel-title"> Panel de servicio <span><i class="ti-close right-side-toggle"></i></span> </div>
          <div class="r-panel-body">
              <ul class="m-t-20 chatonline">
                  <li><a href="{% url 'Password' %}"><span>Cambio de contraseña</span></a></li>
                  <li><a href="{% url 'Password' %}"><span>Calendario de vacaciones</span></a></li>
              </ul>

          </div>
      </div>
  </div>
  </div>
</div>
</div>

        {% endblock %}