{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/hint.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleabel.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LINK-P</title>
</head>
<body background="{% static 'img/dark_wood.png' %}">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/inicio"> {{request.user.username}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/inicio">LINK-P <span class="sr-only">(current)</span></a>
        </li>

        {% if request.user.username == "AR" or request.user.username == "ar" or request.user.username == "SP" or request.user.username == "PL" %}

        <a class="nav-link" href="/dashboard">Dashboard<span class="sr-only">(current)</span></a>


        {% endif %}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/projects" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Proyectos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div class="dropdown-divider"></div>
            <div style="margin-left: 5%;"><h6><small> <strong>  Información general</strong> </small></h6> </div>
             
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/proyectos">Listado de proyectos</a>

            {% if request.user.username != "HC" %}
            <!-- <a class="dropdown-item" href="/proyectos/unidades">Detalle de superficie</a> -->

            {% endif %}

          </div>
        </li>

        
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Presupuestos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div class="dropdown-divider"></div>
            <div style="margin-left: 5%;"><h6><small> <strong>  Bibliotecas y consultas</strong> </small></h6> </div>
             
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/presupuestos/cons_list">Constantes</a>
            <a class="dropdown-item" href="/presupuestos/registro">Historico de indices</a>
            <a class="dropdown-item" href="/presupuestos/insum_list">Articulos</a>
            <a class="dropdown-item" href="/presupuestos/analisis_list">Biblioteca - APU</a>
            <a class="dropdown-item" href="/computos/lista">Computos</a>

            <div class="dropdown-divider"></div>
            <div style="margin-left: 5%;"><h6><small> <strong>  Paneles e informes</strong> </small></h6> </div>
             
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/presupuestos/presupuestos">Panel de presupuestos</a>

            <!-- <a class="dropdown-item" href="/presupuestos/datos">Datos de proyectos</a> -->
            {% if perms.ventas.view_ventasrealizadas %}

            <a class="dropdown-item" href="/presupuestos/desde">Indicador de precios</a>
            

            {% endif %}

            {% if perms.presupuestos.view_modelopresupuesto %}

            <a class="dropdown-item" href="/presupuestos/informe">Informe del área</a>

            {% endif %}

            
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Técnica
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div class="dropdown-divider"></div>

            <div style="margin-left: 5%;"><h6><small> <strong>  Información comercial</strong> </small></h6> </div>
             

            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="/proyectos/adminunidades">Planilla de superficie</a>
  
            
          </div>
        </li>

        {% if perms.finanzas.view_almacenero %}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/projects" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Finanzas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div class="dropdown-divider"></div>
            <div style="margin-left: 5%;"><h6><small> <strong>  Paneles e informes</strong> </small></h6> </div>
             
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/finanzas/almacenero">Cost benefits analysis (CBA)</a>
            <a class="dropdown-item" href="{% url 'Honorarios' %}">Honorarios</a>
            <a class="dropdown-item" href="/ventas/panelunidades">Disponibilidad y asignación</a>
            <a class="dropdown-item" href="{% url 'Unidades señadas' 0 0 %}">Panel de control de unidades (ADM)</a>
            

            <div class="dropdown-divider"></div>
            <div style="margin-left: 5%;"><h6><small> <strong>  Informes</strong> </small></h6> </div>
             
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="/finanzas/resumencredinv">Resumen de creditos e inversiones</a>

          </div>
        </li>

        {% endif %}


        {% if perms.finanzas.view_cuentacorriente %}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/projects" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Administración
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div class="dropdown-divider"></div>
            <div style="margin-left: 5%;"><h6><small> <strong>  Paneles e informes</strong> </small></h6> </div>
             
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="/finanzas/panelctacte">Cuentas corrientes</a>

            <a class="dropdown-item" href="/finanzas/pagostotal/">Consultas sobre pagos</a>

            

          </div>
        </li>

        {% endif %}

        {% if request.user.username != "HC" %}

        {% if perms.ventas.view_archivosareaventas %}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ventas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            {% if perms.ventas.view_pricing %}

            <div class="dropdown-divider"></div>

            
            <div style="margin-left: 5%;"><h6><small> <strong>  Información de unidades</strong> </small></h6> </div>
             
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/ventas/panelpricing">Pricing de unidades</a>


            <a class="dropdown-item" href="/ventas/cargarventa">Panel de ventas</a>


            <div class="dropdown-divider"></div>

            {% endif %}

            <div style="margin-left: 5%;"><h6><small> <strong>  Información recurrente</strong> </small></h6> </div>
             
            <div class="dropdown-divider"></div>
            
              <a class="dropdown-item" href="/ventas/informeventa">Informe de ventas</a>
              <a class="dropdown-item" href="/ventas/cajaarea">Caja del área</a>
              <a class="dropdown-item" href="/ventas/invmer">investigación de mercado</a>
              <a class="dropdown-item" href="/ventas/radiografia">Radiografia del cliente</a>
              <a class="dropdown-item" href="/ventas/encuestapostventa">Encuesta postventa</a>
              <a class="dropdown-item" href="/ventas/informe_redes">Informe de redes</a>
              <a class="dropdown-item" href="/ventas/evo_usd">Evolución historica USD/m2</a>
              <a class="dropdown-item" href="/ventas/historialventa">Ritmo de ventas</a>

              <div class="dropdown-divider"></div>
            <div style="margin-left: 5%;"><h6><small> <strong>  Información comercial</strong> </small></h6> </div>
             
            <div class="dropdown-divider"></div>
            
              <a class="dropdown-item" href="/ventas/folleto">Folletos</a>
              <a class="dropdown-item" href="/ventas/resumenprecio">Resumen de precio</a>

            
            
            
          </div>
        </li> 
        
        {% endif %}

        {% endif %}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Compras
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div class="dropdown-divider"></div>
            <div style="margin-left: 5%;"><h6><small> <strong>  Información de compras</strong> </small></h6> </div>
             
            <div class="dropdown-divider"></div>


            {% if request.user.username != "HC" %}


            <a class="dropdown-item" href="/compras/proveedores">Proveedores</a>

            {% endif %}

            {% if perms.compras.view_compras %}

            <!-- <a class="dropdown-item" href="#">Contratos-<em>Proximamente</em></a> -->
            
            <a class="dropdown-item" href="/compras/compras/0">Registros de compras </a>
            
            <!-- <a class="dropdown-item" href="/compras/listaretiros">Retiro de proveedores-<em>Construyendo</em></a> -->

            {% endif %}

            {% if request.user.username != "HC" %}

            <a class="dropdown-item" href="/compras/stockprov">Stock en proveedores</a>
            
            
            {% if perms.compras.change_comparativas %}
            <a class="dropdown-item" href="{% url 'Comparativas' 0 %}">Solicitudes de compras</a>
            
            {% endif %}

            {% if request.user.username == "AR" or request.user.username == "ar" or request.user.username == "SP" %}

            <a class="dropdown-item" href="{% url 'OC autorizadas' 0 %}">Ordenes de compras autorizadas</a>


            {% endif %}

            {% if perms.compras.change_compras %}

            <div class="dropdown-divider"></div>


            <div style="margin-left: 5%;"><h6><small> <strong>  Paneles e informes</strong> </small></h6> </div>
             
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/compras/analisiscompras">Analisis de compras</a>
            <a class="dropdown-item" href="/compras/informecompras">Informe de compras</a>
            <a class="dropdown-item" href="/compras/informe">Informe del área</a>

            {% endif %}

          

            {% endif %}

          </div> 
        </li>
        {% if perms.compras.view_certificados %}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Certificados
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/compras/certificados">Contratistas</a>
          </div>
        </li>

        {% endif %}

        {% if perms.sigma.view_inventario %}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: rgb(232, 109, 87);">
            <strong>Sigma</strong> 
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/sigma/inventario">Inventario</a>

          </div>
        </li>

        {% endif %}
        
      </ul>
      
        <a href="/logout" class="btn btn-outline-light">Cerrar sesión</a>
      </form>
    </div>
  </nav>

  {% block content %}

        {{ datos_con }}
      
    <div>

      <div class="jumbotron" style="background-color: rgba(11, 32, 68, 0.8); margin-top: 20px;">


        <div style="display: inline-block; width: 400px; margin-top: 10px;">

          <h1 style="color: #F3EAE5;"> <b>LINK-</b><b style="color: #19C6C6 ;">P</b> </h1>

        <hr class="my-4" >

        <h6 style="color:#FBF8F7; font-family: Arial, Helvetica, sans-serif;">Un espacio de trabajo diferente</h6>
        <small style="color:#FBF8F7; font-family: Arial, Helvetica, sans-serif;">Toda la información en un unico lugar</small>

    
        <hr class="my-4" >

        <a href="/guia"class="badge badge-pill badge-primary" style="margin-bottom: 10px;"> <b>Guia rapida!</b> </a>
        


        </div>

      
      </div>

      

        <div style=" text-align:center; margin-bottom: 5%;">

          <div style="display: inline-block; width: 300px; height: 150px; margin-top: 10px; margin-right: 10px; background-color: rgba(24, 220, 220, 0.6); ">
          

            <div class="card-body">
              <a href="/guia"><img src="{% static 'img/grupo.png' %}" alt="" style="max-width:30%;width:auto;height:auto;"  ></a>         
              
              <div>
                <small style="color: #F3EAE5 ;"> <h6>El equipo</h6></small>
              </div>
              
            </div>
          </div>
    
          <div style="display: inline-block; width: 300px; height: 150px; margin-top: 10px; margin-right: 10px; background-color: rgba(24, 220, 220, 0.6);">
          
            <div class="card-body">
              <a href="/guia"><img src="{% static 'img/juntos.png' %}" alt="" style="max-width:30%;width:auto;height:auto;"  ></a>
              
              <div>
                <small style="color: #F3EAE5 ;"> <h6>Funcionamiento</h6></small>
              </div>
            </div>
          </div>
          <div style="display: inline-block; width: 300px; height: 150px; margin-top: 10px; margin-right: 10px; background-color: rgba(24, 220, 220, 0.6);">
          
            <div class="card-body">
              <a href="/guia"><img src="{% static 'img/tarjeta-de-visita.png' %}" alt="" style="max-width:30%;width:auto;height:auto;"  ></a>
              
              <div>
                <small style="color: #F3EAE5 ;"> <h6>Accesos y disponibilidad</h6></small>
              </div>
            </div>
          </div>
  
        </div>

        


        
    </div>

        {% endblock %}


  
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        

      </body>
</html>


<script>

function count(){
  var counter = { var: 0 };
  TweenMax.to(counter, 3, {
    var: 100, 
    onUpdate: function () {
      var number = Math.ceil(counter.var);
      $('.counter').html(number);
      if(number === counter.var){ count.kill(); }
    },
    onComplete: function(){
      count();
    },    
    ease:Circ.easeOut
  });
}

count();


</script>


