{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LINK-P</title>
</head>
<body background="{% static 'img/dark_wood.png' %}">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/inicio">LINK-P</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/inicio">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/projects" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Proyectos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/proyectos">Listado de proyectos</a>
            <a class="dropdown-item" href="/proyectos/unidades">Detalle de superficie</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Presupuestos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/presupuestos/cons_list">Constantes</a>
            <a class="dropdown-item" href="/presupuestos/insum_list">Articulos</a>
            <a class="dropdown-item" href="/presupuestos/analisis_list">Biblioteca - APU</a>
            <a class="dropdown-item" href="/computos/lista">Computos</a>
            <a class="dropdown-item" href="/presupuestos/presupuestos">Presupuestos</a>
            <div class="dropdown-divider"></div>
            <!-- <a class="dropdown-item" href="/presupuestos/datos">Datos de proyectos</a> -->
            {% if perms.ventas.view_ventasrealizadas %}

            <a class="dropdown-item" href="/presupuestos/desde">Indicador de precios</a>
            

            {% endif %}

            {% if perms.presupuestos.view_modelopresupuesto %}

            <a class="dropdown-item" href="/presupuestos/informe">Informe del área</a>

            {% endif %}

            
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ventas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if perms.ventas.view_ventasrealizadas %}
            <a class="dropdown-item" href="/ventas/estmerc">Estudios de mercado</a>
            <a class="dropdown-item" href="/ventas/panelunidades">Información de unidades</a>
            {% endif %}
          </div>
        </li>  

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Compras
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/compras/proveedores">Proveedores</a>

            {% if perms.compras.view_compras %}

            <a class="dropdown-item" href="#">Contratos-<em>Proximamente</em></a>
            <a class="dropdown-item" href="/compras/compras">Compras </a>
            <a class="dropdown-item" href="/compras/listaretiros">Retiro de proveedores-<em>Construyendo</em></a>

            {% endif %}

            <a class="dropdown-item" href="/compras/stockprov">Stock en proveedores</a>
            <div class="dropdown-divider"></div>
            
            {% if perms.compras.view_compras %}

            <a class="dropdown-item" href="/compras/informe">Informe del área</a>

            {% endif %}

          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Certificados
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/compras/certificados">Contratistas</a>
            <a class="dropdown-item" href="#">Sigma</a>
          </div>
        </li>
        
      </ul>
      
        <a href="/logout" class="btn btn-outline-light">Cerrar sesión</a>
      </form>
    </div>
  </nav>

  {% block content %}

        {{ datos_con }}
      
    <div>

      <div class="jumbotron" style="background-color: rgba(11, 32, 68, 0.8); margin-top: 2%;">
        <div style="display: inline-block; width: 30%; display: inline-block; width: 30%;">

          <h1 style="color: #F3EAE5"> <b>LINK-</b><b style="color: #19C6C6 ;">P</b> </h1>

        <hr class="my-4" >

        <h6 style="color:#FBF8F7">Un espacio de trabajo diferente</h6>
        <small style="color:#FBF8F7">Toda la información en un unico lugar</small>

    
        <hr class="my-4" >

        <a href="/guia"class="btn btn-info"> <b>Guia rapida!</b> </a>


        </div>

        <div style="display: inline-block; width: 40%; margin-left: 20%; vertical-align: top; margin-top: -3%;">

          <img src="{% static 'img/home.png' %}" alt="" width="100%" height="300" >
  
  
        </div>
          



        

      </div>

      

        <div style=" text-align:center; margin-bottom: 5%;">

          <div style="display: inline-block; width: 25%; height: 25%; background-color: rgba(24, 220, 220, 0.6); ">
          

            <div class="card-body">
              <a href="/guia"><img src="{% static 'img/grupo.png' %}" alt="" width="100" height="100" ></a>         
              
              <div>
                <small style="color: #F3EAE5 ;"> <h6>El equipo</h6></small>
              </div>
              
            </div>
          </div>
    
          <div style="display: inline-block; width: 25%; margin-left:2%; background-color: rgba(24, 220, 220, 0.6);">
          
            <div class="card-body">
              <a href="/guia"><img src="{% static 'img/juntos.png' %}" alt="" width="100" height="100" ></a>
              
              <div>
                <small style="color: #F3EAE5 ;"> <h6>Funcionamiento</h6></small>
              </div>
            </div>
          </div>
          <div style="display: inline-block; width: 25%; margin-left:2%; background-color: rgba(24, 220, 220, 0.6);">
          
            <div class="card-body">
              <a href="/guia"><img src="{% static 'img/tarjeta-de-visita.png' %}" alt="" width="100" height="100" ></a>
              
              <div>
                <small style="color: #F3EAE5 ;"> <h6>Accesos y disponibilidad</h6></small>
              </div>
            </div>
          </div>
  
        </div>

        


        
    </div>

        {% endblock %}


  
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        

      </body>
</html>