{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LINK-P</title>
</head>
<body background="{% static 'img/fondo.jpg' %}">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/inicio">LINK-P</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/inicio">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/projects" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Proyectos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/proyectos">Listado de proyectos</a>
            <a class="dropdown-item" href="/proyectos/unidades">Detalle de superficie</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Presupuestos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/presupuestos/cons_list">Constantes</a>
            <a class="dropdown-item" href="/presupuestos/insum_list">Articulos</a>
            <a class="dropdown-item" href="/presupuestos/analisis_list">Biblioteca - APU</a>
            <a class="dropdown-item" href="/computos/lista">Computos</a>
            <a class="dropdown-item" href="/presupuestos/presupuestos">Presupuestos</a>
            <div class="dropdown-divider"></div>
            <!-- <a class="dropdown-item" href="/presupuestos/datos">Datos de proyectos</a> -->
            {% if perms.ventas.view_ventasrealizadas %}

            <a class="dropdown-item" href="/presupuestos/desde">Indicador de precios</a>
            

            {% endif %}

            {% if perms.presupuestos.view_modelopresupuesto %}

            <a class="dropdown-item" href="/presupuestos/informe">Informe del área</a>

            {% endif %}

            
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ventas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if perms.ventas.view_ventasrealizadas %}
            <a class="dropdown-item" href="/ventas/estmerc">Estudios de mercado</a>
            <a class="dropdown-item" href="/ventas/panelunidades">Información de unidades</a>
            {% endif %}
          </div>
        </li>  

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Compras
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/compras/proveedores">Proveedores</a>

            {% if perms.compras.view_compras %}

            <a class="dropdown-item" href="#">Contratos-<em>Proximamente</em></a>
            <a class="dropdown-item" href="/compras/compras">Compras </a>
            <a class="dropdown-item" href="/compras/listaretiros">Retiro de proveedores-<em>Construyendo</em></a>

            {% endif %}

            <a class="dropdown-item" href="/compras/stockprov">Stock en proveedores</a>
            <div class="dropdown-divider"></div>
            
            {% if perms.compras.view_compras %}

            <a class="dropdown-item" href="/compras/informe">Informe del área</a>

            {% endif %}

          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Certificados
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/compras/certificados">Contratistas</a>
            <a class="dropdown-item" href="#">Sigma</a>
          </div>
        </li>
        
      </ul>
      
        <a href="/logout" class="btn btn-outline-light">Cerrar sesión</a>
      </form>
    </div>
  </nav>

  {% block content %}

        {{ datos_con }}
      
    <div>

      <div class="jumbotron" style="background-color: rgba(96, 87, 84, 0.9); margin-bottom:0px;">

        <h1 style="color:#FBF8F7"> <b>LINK-</b><b style="color: #19C6C6 ;">P</b> </h1>

        <hr class="my-4" >

        <h3 style="color:#FBF8F7">Un espacio de trabajo diferente</h3>

        <p style="color:#FBF8F7">Toda la información y todas las facilidades en un mismo lugar</p>

        <hr class="my-4" >

        <a href="/guia"class="btn btn-info"> <b>Guia rapida!</b> </a>

        <hr class="my-4" >

        <div style=" text-align:center;">

          <div class="card text-white bg-success mb-3" style="display: inline-block; width: 25%; height: 25%;  ">
          

            <div class="card-body">
              <a href="/guia"><img src="{% static 'img/grupo.png' %}" alt="" width="100" height="100" ></a>         
              <h4 class="card-title">¿Parte del equipo?</h4>
            </div>
          </div>
    
          <div class="card text-white bg-warning mb-3"  style="display: inline-block; width: 25%; margin-left:2%;">
          
            <div class="card-body">
              <a href="/guia"><img src="{% static 'img/juntos.png' %}" alt="" width="100" height="100" ></a>
              <h4 class="card-title">¿Trabajamos juntos?</h4>
            </div>
          </div>
          <div class="card text-white bg-info mb-3" style="display: inline-block; width: 25%; margin-left:2%;">
          
            <div class="card-body">
              <a href="/guia"><img src="{% static 'img/tarjeta-de-visita.png' %}" alt="" width="100" height="100" ></a>
              <h4 class="card-title">¿Necesitas algo?</h4>
            </div>
          </div>
  
        </div>

        <div style="text-align: center;">
          
          Iconos diseñados por <a href="https://www.flaticon.es/autores/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.es/" title="Flaticon"> www.flaticon.es</a>


        </div>

        


        </div>

        
    </div>
    <div style=" background-color:rgba(213, 216, 220, 1);">
       
    </div>
        {% endblock %}


  
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        

      </body>
</html>