{% load static %}
{% load apptags_extras %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="extensions/sticky-header/bootstrap-table-sticky-header.css"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'img/LinkIco21.ico' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
  <!-- Hojas estilo datatables -->
  <!--  -->
  <!--  -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.dataTables.min.css"/>
  <!--  -->
  <!--  -->
  <!-- Hojas de estilos AdminPro -->

  <link rel="stylesheet" href="{% static 'css/styleabel.css' %}">
  <link rel="stylesheet" href="{% static 'css/registro_contable.css' %}">
  <link href="{% static 'adminpro/assets/plugins/bootstrap-select/bootstrap-select.min.css' %}" rel="stylesheet" />
  <link href="{% static 'adminpro/assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'adminpro/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css' %}" rel="stylesheet">
  <link href="{% static 'adminpro/assets/plugins/chartist-js/dist/chartist.min.css' %}" rel="stylesheet">
  <link href="{% static 'adminpro/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css' %}"
    rel="stylesheet">
  <link href="{% static 'adminpro/assets/plugins/c3-master/c3.min.css' %}" rel="stylesheet">
  <link href="{% static 'adminpro/assets/plugins/toast-master/css/jquery.toast.css' %}" rel="stylesheet">
  <link href="{% static 'adminpro/main/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'adminpro/main/css/pages/dashboard1.css' %}" rel="stylesheet">
  <link href="{% static 'adminpro/main/css/colors/default.css' %}" id="theme" rel="stylesheet">
  <link href="{% static 'adminpro/main/css/pages/chat-app-page.css' %}" rel="stylesheet">
  <link href="{% static 'adminpro/main/css/pages/file-upload.css' %}" rel="stylesheet">
  <link href="{% static 'adminpro/assets/plugins/multiselect/css/multi-select.css' %}" rel="stylesheet"
    type="text/css" />
  <link href="{% static 'adminpro/assets/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css' %}"
    rel="stylesheet" />
  <link href="{% static 'adminpro/assets/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css' %}"
    rel="stylesheet" />
  <link href="{% static 'adminpro/assets/plugins/multiselect/css/multi-select.css' %}" rel="stylesheet"
    type="text/css" />
  <link href="{% static 'adminpro/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css' %}" rel="stylesheet"
    type="text/css" />
  <link href="{% static 'adminpro/assets/plugins/select2/dist/css/select2.min.css' %}" rel="stylesheet"
    type="text/css" />
  <link href="{% static 'adminpro/assets/plugins/switchery/dist/switchery.min.css' %}" rel="stylesheet" />
  <link href="{% static 'adminpro/assets/plugins/bootstrap-select/bootstrap-select.min.css' %}" rel="stylesheet" />
  <title>Link-P</title>

</head>

<body class="fix-header fix-sidebar card-no-border">
  <!-- ============================================================== -->
  <!-- Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->
  <div class="preloader">
    <div class="loader">
      <div class="loader__figure"></div>
      <p class="loader__label">LINK-P</p>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- Main wrapper - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <header class="topbar">
      <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/inicio">

            <!-- Logo icon --><b>
              <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
              <!-- Dark Logo icon -->
              <img src="{% static 'img/IconoP.png' %}" style="max-width: 55px; vertical-align: bottom; margin-bottom: 12px;" alt="homepage" class="dark-logo" />
              <!-- Light Logo icon -->
              <img src="{% static 'img/IconoP.png' %}" style="max-width: 55px; vertical-align: bottom; margin-bottom: 12px;" alt="homepage" class="light-logo" />
            </b>
            <!--End Logo icon -->
            <!-- Logo text --><span>
              <!-- dark Logo text -->
              <img src="{% static 'img/Linkp.png' %}" style="max-width: 80px; vertical-align: bottom; margin-bottom: 12px;" alt="homepage" class="dark-logo" />
              <!-- Light Logo text -->
              <img src="{% static 'img/Linkp.png' %}" style="max-width: 80px; vertical-align: bottom; margin-bottom: 12px;" class="light-logo"
                alt="homepage" />
            </span>
          </a>

        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse">
          <!-- ============================================================== -->
          <!-- toggle and nav items -->
          <!-- ============================================================== -->
          <ul class="navbar-nav mr-auto">
            <!-- This is  -->
            <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark"
                href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
            <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark"
                href="javascript:void(0)"><i class="ti-menu"></i></a> </li>

          </ul>

          {% block app_tools %}

          {% endblock %}

          {% if dias_funcionando %}

          <ul class="navbar-nav my-lg-0">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <img src="{% static 'img/acuerdos2.png' %}" alt="" width="30px">
                <div class="notify">{% if minutas_cantidad %}<span class="heartbit"></span> <span class="point"></span>{% endif %}</div>
            </a>
            <div class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown">
                <ul>
                    <li>
                        <div class="drop-title">Acuerdos pendientes ({{minutas_cantidad}})</div>
                    </li>
                    <li>
                        <div class="message-center">

                            
                            {% if minutas_cantidad %}

                            {% for m in minutas_cantidad_data %}

                            <!-- Message -->
                            <a href="{% url 'Minutas Id' m.minuta.id %}">
                              {% if m.fecha_limite %}
                              <div class="btn btn-success btn-circle"><i class="ti-calendar"></i></div>
                              {% else %}
                              <div class="btn btn-danger btn-circle"><i class="fa fa-link"></i></div>
                              {% endif %}
                              <div class="mail-contnet">
                                  <h5>{{m.minuta.nombre}}</h5> <span class="mail-desc"> {{m}}</span></div>
                              </a>

                            {% endfor %}

                              {% endif %}

                        </div>
                    </li>
                    <li>
                        <a class="nav-link text-center" href="{% url 'Minutas Listas' %}"> <strong>Ir al panel de minutas</strong> <i class="fa fa-angle-right"></i> </a>
                    </li>
                </ul>
            </div>
        </li>

      </ul>

      {% else %}

      <ul class="navbar-nav my-lg-0">
        <li>
          <a class="nav-link waves-effect waves-dark" href="{% url 'Minutas Listas' %}" ><img src="{% static 'img/acuerdos2.png' %}" alt="" width="30px"></a>
          
        </li>
      </ul>

      {% endif %}

      {% if mensaje_oc %}

      <ul class="navbar-nav my-lg-0">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <img src="{% static 'img/OCblanco2.png' %}" alt="" width="30px">
              <div class="notify"><span class="heartbit"></span> <span class="point"></span></div>
          </a>
          <div class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown">
              <ul>
                  <li>
                      <div class="drop-title">
                        
                        {% if user.username == "PL" %}
                        OC pendientes de aprobar ({{mensaje_oc.2}})
                        {% elif user.username == "SP" %}
                        OC pendientes de aprobar ({{mensaje_oc.2}})
                        {% else %}
                        OC rechazadas/observadas ({{mensaje_oc.2}})
                        {% endif %}
                      
                      </div>
                  </li>
                  <li>

                    {% if user.username == "PL" %}
                    <div class="message-center">

                      {% for m in mensaje_oc.0 %}

                      <!-- Message -->
                      <a href="{% url 'Mensajes en comparativas' m.id %}">

                        <div class="btn btn-info btn-circle" style="margin-right: 5px;">{{m.creador}}</div>
                        <div class="mail-contnet">
                          <h5>{{m.proveedor|lower|capfirst}}</h5> <span class="mail-desc">{{m.proyecto|lower|capfirst}}</span></div>

                        </a>

                      {% endfor %}

                      {% for m in mensaje_oc.1 %}

                      <!-- Message -->
                      <a href="{% url 'Mensajes en comparativas' m.id %}">

                        <div class="btn btn-warning btn-circle" style="margin-right: 5px;">{{m.creador}}</div>
                        <div class="mail-contnet">
                          <h5>{{m.proveedor|lower|capfirst}}</h5> <span class="mail-desc">{{m.proyecto|lower|capfirst}}</span></div>

                        </a>

                      {% endfor %}

                  </div>
                </li>
                <li>
                    <a class="nav-link text-center" href="{% url 'Comparativas' 0 0 %}"> <strong>Solicitudes de compra</strong> <i class="fa fa-angle-right"></i> </a>
                </li>

                  {% elif user.username == "SP" %}
                    <div class="message-center">

                      {% for m in mensaje_oc.0 %}

                      <!-- Message -->
                      <a href="{% url 'Mensajes en comparativas' m.id %}">

                        <div class="btn btn-info btn-circle" style="margin-right: 5px;">{{m.creador}}</div>
                        <div class="mail-contnet">
                          <h5>{{m.proveedor|lower|capfirst}}</h5> <span class="mail-desc">{{m.proyecto|lower|capfirst}}</span></div>

                        </a>

                      {% endfor %}

                      {% for m in mensaje_oc.1 %}

                      <!-- Message -->
                      <a href="{% url 'Mensajes en comparativas' m.id %}">

                        <div class="btn btn-info btn-circle" style="margin-right: 5px;">{{m.creador}}</div>
                        <div class="mail-contnet">
                          <h5>{{m.proveedor|lower|capfirst}}</h5> <span class="mail-desc">{{m.proyecto|lower|capfirst}}</span></div>

                        </a>

                      {% endfor %}

                  </div>
                </li>
                <li>
                    <a class="nav-link text-center" href="{% url 'Comparativas' 5 0 %}"> <strong>Solicitudes de compra</strong> <i class="fa fa-angle-right"></i> </a>
                </li>

                    {% else %}
                      <div class="message-center">

                          {% for m in mensaje_oc.0 %}

                          <!-- Message -->
                          <a href="{% url 'Mensajes en comparativas' m.id %}">

                            <div class="btn btn-red btn-circle" style="margin-right: 5px;"><img src="{% static 'img/PL.png' %}" width="35"></div>
                            <div class="mail-contnet">
                              <h5>{{m.proveedor|lower|capfirst}}</h5> <span class="mail-desc">{{m.proyecto|lower|capfirst}}</span></div>

                            </a>

                          {% endfor %}

                          {% for m in mensaje_oc.1 %}

                          <!-- Message -->
                          <a href="{% url 'Mensajes en comparativas' m.id %}">

                            <div class="btn btn-warning btn-circle" style="margin-right: 5px;"><img src="{% static 'img/SP.png' %}" width="35" class="img-circle"></div>
                            <div class="mail-contnet">
                              <h5>{{m.proveedor|lower|capfirst}}</h5> <span class="mail-desc">{{m.proyecto|lower|capfirst}}</span></div>

                            </a>

                          {% endfor %}

                      </div>
                    </li>
                    <li>
                        <a class="nav-link text-center" href="{% url 'Comparativas' 0 0 %}"> <strong>Solicitudes de compra</strong> <i class="fa fa-angle-right"></i> </a>
                    </li>
                      {% endif %}
                  
              </ul>
          </div>
      </li>

    </ul>

      {% endif %}
      <ul class="navbar-nav my-lg-0">
          <li>
            <a class="nav-link waves-effect waves-dark" href="{% url 'Registro Contable' fecha|fecha %}" ><img src="{% static 'img/pig.png' %}" alt="" width="30px"></a>
            
          </li>
        </ul>

        <ul class="navbar-nav my-lg-0">
          <li>
            <a class="nav-link waves-effect waves-dark" href="{% url 'Sugerencias' %}" ><img src="{% static 'img/buzon.png' %}" alt="" width="30px"></a>
            
          </li>
        </ul>
      </nav>
    </header>

        </div>
      

    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
          <ul id="sidebarnav">

            <li class="user-profile">

              <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img
                  src="{{ request.user.username|logo }}" alt="user" /><span class="hide-menu">{{user.username}}</span></a>

              <ul aria-expanded="false" class="collapse">
                <li><a href="/guia">Mi perfil</a></li>
                {% if request.user|has_group:"PRESUPUESTO NIVEL 10" %}
                <li><a href="/informes">Informes</a></li>
                {% endif %}
                {% if request.user|has_group:"ANUNCIOS NIVEL 10" %}
                <li><a href="{% url 'Anuncios' %}">Anuncios</a></li>
                {% endif %}
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
            <li class="nav-devider"></li>

            <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                  class="mdi mdi-chart-bubble"></i><span class="hide-menu">Proyectos</span></a>
              <ul aria-expanded="false" class="collapse">
                <li><a href="/proyectos">Listado</a></li>
              </ul>
            </li>

            {% if request.user|has_group:"REGA NIVEL 1" %}

            <li class="nav-small-cap">TABLEROS</li>

            <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                  class="mdi mdi-gauge"></i><span class="hide-menu">Seguimiento</span></a>
              <ul aria-expanded="false" class="collapse">
                <li><a href="{% url 'Tablero Rega' 0 0 1 %}">Tablero</a></li>
              </ul>
            </li>

            {% endif %}
            <li class="nav-small-cap">ESPACIOS DE TRABAJO</li>
            <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
              class="zmdi zmdi-accounts"></i><span class="hide-menu">Recursos Humanos</span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a href="{% url 'App de rrhh' %}">App de RRHH</a></li>
          </ul>
        </li>
              <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                class="fa fa-area-chart"></i><span class="hide-menu">Gerenciamiento</span></a>
            <ul aria-expanded="false" class="collapse">
              <li><a href="{% url 'Panel del gerenciador' %}">App de gerenciador</a></li>
            </ul>
          </li>
            <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                  class="zmdi zmdi-chart"></i><span class="hide-menu">Presupuestos</span></a>
              <ul aria-expanded="false" class="collapse">
                <li><a href="{% url 'Panel de presupuestos' %}">App de presupuestos</a></li>
              </ul>
            </li>
            <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                  class="zmdi zmdi-file"></i><span class="hide-menu">Administración</span></a>
              <ul aria-expanded="false" class="collapse">

                <li><a href="/finanzas/panelctacte">Cuentas corrientes</a></li>

                {% if request.user|has_group:"ADMIN NIVEL 1" %}

                <li><a href="{% url 'Movimiento administración' %}">Movimiento de administración</a></li>

                {% endif %}

              </ul>
            </li>
            <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
              class="zmdi zmdi-money"></i><span class="hide-menu">Finanzas</span></a>
          <ul aria-expanded="false" class="collapse">

            <li><a href="{% url 'App Finanzas' %}">App finanzas</a></li>

          </ul>
        </li>
            <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                  class="zmdi zmdi-card"></i><span class="hide-menu">Compras</span></a>
              <ul aria-expanded="false" class="collapse">
                <li><a href="{% url 'Principal compras' %}">Circuito de compras</a> </li>
              </ul>
            </li>
            <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                  class="zmdi zmdi-city"></i><span class="hide-menu">Oficina tecnica</span></a>
              <ul aria-expanded="false" class="collapse">
                <li><a href="{% url 'Principal Tecnica' %}">Panel principal</a></li>
              </ul>
            </li>
            <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                  class="zmdi zmdi-mall"></i><span class="hide-menu">Comercialización</span></a>
              <ul aria-expanded="false" class="collapse">

                <li><a href="{% url 'App comercial' %}">App comercial</a></li>

              </ul>
            </li>
            <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                  class="zmdi zmdi-calendar"></i><span class="hide-menu">Postventa</span></a>
              <ul aria-expanded="false" class="collapse">
                {% if request.user|has_group:"POSTVENTA NIVEL 1" %}

                <li><a href="{% url 'Reclamos Postventa' %}">Reclamos</a></li>

                {% else %}

                <li>No tienes permisos para ver este espacio</li>

                {% endif %}
              </ul>
            </li>

            <li class="nav-small-cap">SIGMA</li>

            <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                  class="zmdi zmdi-city-alt"></i><span class="hide-menu">Generales</span></a>
              <ul aria-expanded="false" class="collapse">
                {% if perms.sigma.view_inventario %}
                <li><a href="/sigma/inventario">Inventario</a></li>
                <li><a href="/sigma/tareas">Tareas de la constructora</a></li>

                {% else %}

                <li>No tienes permisos para ver este espacio</li>

                {% endif %}
              </ul>
            </li>
          </ul>

          
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">

      {% block content %}

      <div class="container-fluid">
        <div class="row page-titles">
          <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">{{mensaje_bievenida}}</h3>
          </div>

      <div class="container-fluid r-side">
        <div class="row">
          <div class="card">
            <div class="card-body">

              <div class="row">

                <div class="col-3">

                  <img src="{% static 'img/car2.jpg' %}" class="bounce animated"
                    style="width: 100%; height:auto; vertical-align: middle; margin-right: 10px;">
  
                </div>
  
                <div class="col-6">
                  <h4 class="card-title">
                    Conoce sobre Link-P y sus ultimas novedades</h4>
                  <p>Proximamente se habilitara una pagina guia donde puedes consultar y conocer las funciones y la organización del sitio</p>
                  <!-- <p>Ingresa <a href="#">aqui</a> para una explicación y guia del sitio</p> -->  
                </div>

              </div>
            </div>
          </div>
        </div>
        {% if monedas %}
        <div class="row">
          <div class="card">
            <div class="card-body">
              <div>
                <h4 class="card-title">
                  <img src="{% static 'img/app_rrhh_gift.gif' %}" alt=""
                    style="max-width:70px; height:auto; vertical-align: middle; margin-right: 10px;"> <b>Felicidades {{request.user.first_name}}!</b> recibiste una Linkcoin!
                </h4>
              </div>
  
            </div>
          </div>
  
        </div>
        {% endif %}
        {% if datos_mensajeria %}
        <div class="row">
          <div class="card">
            <div class="card-body">
              <div>
                <h4 class="card-title">
                  <img src="{% static 'img/animation_500_kn5034p5.gif' %}" alt=""
                    style="max-width:70px; height:auto; vertical-align: middle; margin-right: 10px;">Tienes correspondencia que ver!
                </h4>
              </div>

              <div style="margin-left: 75px;">Presiona 
                <a href="/rrhh/notasdepedido/0/0">aqui</a> para ir a la app y formar
              </div>
            </div>
          </div>
        </div>
        
      {% endif %}

      <div class="row">
        <div class="card">
          <div class="card-body">
  
          <div>
            <h4 class="card-title">Nuestro equipo</h4>
          </div>
  
          <div class="table-responsive">
            <table class="table">
              <tbody>
  
                {% for m in miembros %}
                <tr>
                  {% if m.imagenlogo %}
                  <td><span class="round"><img src="{{m.imagenlogo.url}}" alt="user" width="50"></span></td>
                  {% else %}
                  <td><span class="round"><img src="{% static 'img/anonimo2.png' %}" alt="user" width="50"></span></td>
                  {% endif %}
                  <td>
                    <h6><b>{{m.identificacion}}</b> - {{m.nombre}} </h6><small class="text-muted">{{m.area|lower|capfirst}}: {{m.cargo|lower}} - {{m.email}}</small>
                  </td>
                </tr>
  
                {% endfor %}
  
              </tbody>
            </table>
          </div>
        </div>
      </div>

      </div>
      </div>
      
        <aside class="right-side-panel">

          <h3 class="p-relative"><span class="lstick"></span> Novedades</h3>

          {% for i in anuncios %}
          <div class="row">
            <div class="col-md-12 m-t-10">
              <div class="card">
                <a type="button" style="text-decoration: none;" data-toggle="modal" data-target="#ModalAnuncio{{i.id}}">
                  <img class="card-img-top img-responsive" src="{{i.imagen.url}}" alt="Novedad">
                </a>
                
                <div class="card-body">
                  <h3 class="font-normal">{{i.titulo}}</h3>
                  {% if i.categoria == "COMUNIDAD" %}
                  <span class="label label-success label-rounded">Comunidad Link</span>
                  {% elif i.categoria == "PROYECTOS" %}
                  <span class="label label-danger label-rounded">Proyectos</span>
                  {% else %}
                  <span class="label label-info label-rounded">Link-P anuncios</span>
                  {% endif %}
                  <p class="m-b-0 m-t-20">{{i.descrip}}</p>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal anuncio -->
          <div class="modal fade" id="ModalAnuncio{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="ModalPremioTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{i.titulo}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                                                  
                  <img class="card-img-top img-responsive" src="{{i.imagen.url}}" alt="Card image cap" style="width: 465px; height: auto; ">

            </div>
            </div>

        </div>
      </div>
          {% endfor %}

        </aside>



        {% endblock %}
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
         <a href="{% url 'Link P' %}" style="text-decoration: none;"><footer class="footer">© Link-P</footer></a>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
      </div>
      <!-- ============================================================== -->
      <!-- End Page wrapper  -->
      <!-- ============================================================== -->
    </div>

    <!-- PRUEBA IMPORTACIONES -->

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js" defer></script>
    <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js" defer></script>

     
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"defer></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"defer></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"defer></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"defer></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"defer></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"defer></script>
    <!--Custom JavaScript -->

    <script src="{% static 'adminpro/main/js/custom.min.js' %}"></script>
    <script src="{% static 'adminpro/assets/plugins/jquery/jquery.min.js' %}"></script>

    <script src="{% static 'adminpro/assets/plugins/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'adminpro/assets/plugins/bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'adminpro/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'adminpro/main/js/sidebarmenu.js' %}"></script>
    <!--stickey kit -->
    <script src="{% static 'adminpro/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js' %}"></script>
    <script src="{% static 'adminpro/assets/plugins/sparkline/jquery.sparkline.min.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'adminpro/main/js/custom.min.js' %}"></script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="{% static 'adminpro/assets/plugins/styleswitcher/jQuery.style.switcher.js' %}"></script>

    <!-- PRUEBA IMPORTACIONES -->

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"></script>

    <!-- scripts AdminPro -->

    <script src="{% static 'adminpro/assets/plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'adminpro/assets/plugins/bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'adminpro/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'adminpro/main/js/perfect-scrollbar.jquery.min.js' %}"></script>
    <script src="{% static 'adminpro/main/js/waves.js' %}"></script>
    <script src="{% static 'adminpro/main/js/sidebarmenu.js' %}"></script>
    <script src="{% static 'adminpro/main/js/custom.min.js' %}"></script>
    <script src="{% static 'adminpro/assets/plugins/sparkline/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'adminpro/assets/plugins/chartist-js/dist/chartist.min.js' %}"></script>
    <script
      src="{% static 'adminpro/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js' %}"></script>
    <script src="{% static 'adminpro/assets/plugins/d3/d3.min.js' %}"></script>
    <script src="{% static 'adminpro/assets/plugins/c3-master/c3.min.js' %}"></script>
    <script src="{% static 'adminpro/main/js/dashboard1.js' %}"></script>
    <script src="{% static 'adminpro/assets/plugins/styleswitcher/jQuery.style.switcher.js' %}"></script>
    <script src="{% static 'adminpro/main/js/chat.js' %}"></script>
    <script src="{% static 'adminpro/assets/plugins/switchery/dist/switchery.min.js' %}"></script>
    <script src="{% static 'adminpro/assets/plugins/select2/dist/js/select2.full.min.js' %}"
      type="text/javascript"></script>
    <script src="{% static 'adminpro/assets/plugins/bootstrap-select/bootstrap-select.min.js' %}"
      type="text/javascript"></script>
    <script src="{% static 'adminpro/assets/plugins/bootstrap-select/bootstrap-select.min.js' %}"
      type="text/javascript"></script>
    <script src="{% static 'adminpro/assets/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js' %}"></script>
    <script src="{% static 'adminpro/assets/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js' %}"
      type="text/javascript"></script>
    <script type="text/javascript"
      src="{% static 'adminpro/assets/plugins/multiselect/js/jquery.multi-select.js' %}"></script>

</body>


</html>


<script>

  function count() {
    var counter = { var: 0 };
    TweenMax.to(counter, 3, {
      var: 100,
      onUpdate: function () {
        var number = Math.ceil(counter.var);
        $('.counter').html(number);
        if (number === counter.var) { count.kill(); }
      },
      onComplete: function () {
        count();
      },
      ease: Circ.easeOut
    });
  }

  count();


</script>