{% load static %}
{% load apptags_extras %}

<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="shortcut icon" href="{% static 'img/LinkIco21.ico' %}" />
  <link rel="text/html" href="extensions/sticky-header/bootstrap-table-sticky-header.css"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
  <link rel="stylesheet" href="{% static 'css/bootstrap5.min.css' %}">
  <link rel="stylesheet" href="../../static/css/registro_contable.css">
  <link href="{% static 'adminpro/assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  {% include '../includes/css/chartlist.html' %}
  {% include '../includes/css/form.html' %}
  {% include '../includes/css/datatable.html' %}
  {% include '../includes/css/otros.html' %}
 
  <title>Link-P</title>

</head>

<body class="fix-header fix-sidebar card-no-border">
  
  <div class="preloader">
    <div class="loader">
      <div class="loader__figure"></div>
      <p class="loader__label">LINK-P</p>
    </div>
  </div>

  <!-- guia1 -->
  <div class="alerta-guia" id="alerta-guia-1" >
    <div>
      <button class="btn text-danger" onclick="finalizar('sidebar-guia','alerta-guia-1')"><i class="fa fa-times-circle"></i></button>
    </div>
    <h4>Panel principal de accesos</h4>
    <p>En este panel podrás encontrar los accesos directos a las Apps de cada área.</p>
    <p><b>Necesitas permisos especiales para acceder a ellas</b>, si crees que hubo un error y deberías poder acceder a una de ellas, no dudes en comunicarte con alguien del área de IT para poder otorgarte los permisos necesarios.</p>
    <div class="guia-indice">
      <span>Pasos 1 / 5</span>
      <button class="btn btn-info" onclick="guia1('alerta-guia-1', 'alerta-guia-2','sidebar-guia','perfilusuario-guia')">Seguir</button>
    </div>
  </div>

  <!-- guia2 -->

  <div class="alerta-guia" id="alerta-guia-2" >
    <div>
      <button class="btn text-danger" onclick="finalizar('perfilusuario-guia','alerta-guia-2')"><i class="fa fa-times-circle"></i></button>
    </div>
    <h4>Panel perfil de usuario</h4>
    <p>En esta sección encontrarás tu información personal y una sección donde utilizar link coins.</p>
    <p><b> Link coins</b> son monedas otorgadas por la empresa para que sus empleados puedan reconocer el trabajo y buen desempeño de un compañero.
      ¡Estas monedas tienen un valor económico y pueden ser canjeadas por increíbles premios!</p>
    <img src="{% static 'img/monedalink2.png' %}" alt="linkcoins" >
    <span>! No olvides reconocer a tus compañeros !</span>
    <div class="guia-indice">
      <span>Pasos 2 / 5</span>
      <button  class="btn btn-info" onclick="guia1('alerta-guia-2', 'alerta-guia-3','perfilusuario-guia','panelnovedades-guia' )">Seguir</button>
    </div>
  </div>
  <!-- guia3 -->

  <div class="alerta-guia" id="alerta-guia-3" >
    <div>
      <button class="btn text-danger" onclick="finalizar('panelnovedades-guia','alerta-guia-3')"><i class="fa fa-times-circle"></i></button>
    </div>
    <h4>Panel de novedades</h4>
    <p>En esta sección encontrarás las últimas novedades de la empresa, así como también los cumpleaños de tus compañeros.</p>
    
    <div class="guia-indice">
      <span>Pasos 3 / 5</span>
      <button  class="btn btn-info" onclick="guia1('alerta-guia-3', 'alerta-guia-4','panelnovedades-guia', 'sugerencias-guia')">Seguir</button>
    </div>
  </div>
  <!-- guia4 -->
  <div class="alerta-guia" id="alerta-guia-4" >
    <div>
      <button class="btn text-danger" onclick="finalizar('sugerencias-guia','alerta-guia-4')"><i class="fa fa-times-circle"></i></button>
    </div>
    <h4>Panel de sugerencias</h4>
    <p>Dentro de esta sección podrás encontrar un buzón de sugerencias o recomendaciones para que juntos podamos seguir mejorando linkp.</p>
    
    <div class="guia-indice">
      <span>Pasos 4 / 5</span>
      <button  class="btn btn-info" onclick="guia1('alerta-guia-4', 'alerta-guia-5','sugerencias-guia', 'chanchito-guia')">Seguir</button>
    </div>
  </div>
  
  <!-- guia5 -->
  <div class="alerta-guia" id="alerta-guia-5" >
    <div>
      <button class="btn text-danger" onclick="finalizar('chanchito-guia','alerta-guia-5')"><i class="fa fa-times-circle"></i></button>
    </div>
    <h4>Chanchito!</h4>
    <p>Esta herramienta está pensada para que puedas manejar tus finanzas y llevar un registro sobre ellas. Los datos que registres aquí son completamente privados y únicamente podrán verlos <b>tú</b> y la persona que <b>tú autorices.</b></p>
    
    <div class="guia-indice">
      <span>Pasos 5 / 5</span>
      <button class="btn btn-success" onclick="finalizar('chanchito-guia','alerta-guia-5')" data-toggle="modal" data-target="#ModalGuiaFinal">Finalizar</button>
    </div>
  </div>
            <!-- modal guia  -->
              
  <div id="ModalGuiaFinal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalGuiaFinal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background: rgb(36,160,237); background: linear-gradient(315deg, rgba(36,160,237,1) 0%, rgba(56,56,130,1) 22%, rgba(0,212,255,1) 100%);">
          <h5 class="modal-title  text-light" id="exampleModalLongTitle">Final de la guia</h5>
          <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="tab-content">
                <h4>Llegamos al final de la guía</h4>
                <p>¡Desde LinkP te deseamos la mejor de las suertes y esperamos que nuestra herramienta te ayude a facilitar tu trabajo!</p>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-info"
                data-dismiss="modal">Cerrar</button>

        </div>
          </div>
      </div>
  </div>

  <!-- ============================================================== -->
  <!-- Main wrapper - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <header class="topbar">
      <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/inicio">

            <!-- Logo icon --><b>
              <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
              <!-- Dark Logo icon -->
              <img src="{% static 'img/IconoP.png' %}" style="max-width: 55px; vertical-align: bottom; margin-bottom: 12px;" alt="homepage" class="dark-logo" />
              <!-- Light Logo icon -->
              <img src="{% static 'img/IconoP.png' %}" style="max-width: 55px; vertical-align: bottom; margin-bottom: 12px;" alt="homepage" class="light-logo" />
            </b>
            <!--End Logo icon -->
            <!-- Logo text --><span>
              <!-- dark Logo text -->
              <img src="{% static 'img/Linkp.png' %}" style="max-width: 80px; vertical-align: bottom; margin-bottom: 12px;" alt="homepage" class="dark-logo" />
              <!-- Light Logo text -->
              <img src="{% static 'img/Linkp.png' %}" style="max-width: 80px; vertical-align: bottom; margin-bottom: 12px;" class="light-logo"
                alt="homepage" />
            </span>
          </a>

        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse">
          <!-- ============================================================== -->
          <!-- toggle and nav items -->
          <!-- ============================================================== -->
          <ul class="navbar-nav mr-auto">
            <!-- This is  -->
            <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark"
                href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
            <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark"
                href="javascript:void(0)"><i class="ti-menu"></i></a> </li>

          </ul>

          {% block app_tools %}

          {% endblock %}

          {% if dias_funcionando %}

          <ul class="navbar-nav my-lg-0">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <img src="{% static 'img/acuerdos2.png' %}" alt="" width="30px">
                <div class="notify">{% if minutas_cantidad %}<span class="heartbit"></span> <span class="point"></span>{% endif %}</div>
            </a>
            <div class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown">
                <ul>
                    <li>
                        <div class="drop-title">Acuerdos pendientes ({{minutas_cantidad}})</div>
                    </li>
                    <li>
                        <div class="message-center">

                            
                            {% if minutas_cantidad %}

                            {% for m in minutas_cantidad_data %}

                            <!-- Message -->
                            <a href="{% url 'Minutas Id' m.minuta.id %}">
                              {% if m.fecha_limite %}
                              <div class="btn btn-success btn-circle"><i class="ti-calendar"></i></div>
                              {% else %}
                              <div class="btn btn-danger btn-circle"><i class="fa fa-link"></i></div>
                              {% endif %}
                              <div class="mail-contnet">
                                  <h5>{{m.minuta.nombre}}</h5> <span class="mail-desc"> {{m}}</span></div>
                              </a>

                            {% endfor %}

                              {% endif %}

                        </div>
                    </li>
                    <li>
                        <a class="nav-link text-center" href="{% url 'Minutas Listas' %}"> <strong>Ir al panel de minutas</strong> <i class="fa fa-angle-right"></i> </a>
                    </li>
                </ul>
            </div>
        </li>
      </ul>

      {% else %}

      <ul class="navbar-nav my-lg-0">
        <li>
          <a class="nav-link waves-effect waves-dark" href="{% url 'Minutas Listas' %}" ><img src="{% static 'img/acuerdos2.png' %}" alt="" width="30px"></a>
          
        </li>
      </ul>

      {% endif %}

      {% if mensaje_oc %}

      <ul class="navbar-nav my-lg-0">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <img src="{% static 'img/OCblanco2.png' %}" alt="" width="30px">
              <div class="notify"><span class="heartbit"></span> <span class="point"></span></div>
          </a>
          <div class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown">
              <ul>
                  <li>
                      <div class="drop-title">
                        
                        {% if user.username == "PL" %}
                        OC pendientes de aprobar ({{mensaje_oc.2}})
                        {% elif user.username == "SP" %}
                        OC pendientes de aprobar ({{mensaje_oc.2}})
                        {% else %}
                        OC rechazadas/observadas ({{mensaje_oc.2}})
                        {% endif %}
                      
                      </div>
                  </li>
                  <li>

                    {% if user.username == "PL" %}
                    <div class="message-center">

                      {% for m in mensaje_oc.0 %}

                      <!-- Message -->
                      <a href="{% url 'Mensajes en comparativas' m.id %}">

                        <div class="btn btn-info btn-circle" style="margin-right: 5px;">{{m.creador}}</div>
                        <div class="mail-contnet">
                          <h5>{{m.proveedor|lower|capfirst}}</h5> <span class="mail-desc">{{m.proyecto|lower|capfirst}}</span></div>

                        </a>

                      {% endfor %}

                      {% for m in mensaje_oc.1 %}

                      <!-- Message -->
                      <a href="{% url 'Mensajes en comparativas' m.id %}">

                        <div class="btn btn-warning btn-circle" style="margin-right: 5px;">{{m.creador}}</div>
                        <div class="mail-contnet">
                          <h5>{{m.proveedor|lower|capfirst}}</h5> <span class="mail-desc">{{m.proyecto|lower|capfirst}}</span></div>

                        </a>

                      {% endfor %}

                  </div>
                </li>
                <li>
                    <a class="nav-link text-center" href="{% url 'Comparativas' 0 0 %}"> <strong>Solicitudes de compra</strong> <i class="fa fa-angle-right"></i> </a>
                </li>

                  {% elif user.username == "SP" %}
                    <div class="message-center">

                      {% for m in mensaje_oc.0 %}

                      <!-- Message -->
                      <a href="{% url 'Mensajes en comparativas' m.id %}">

                        <div class="btn btn-info btn-circle" style="margin-right: 5px;">{{m.creador}}</div>
                        <div class="mail-contnet">
                          <h5>{{m.proveedor|lower|capfirst}}</h5> <span class="mail-desc">{{m.proyecto|lower|capfirst}}</span></div>

                        </a>

                      {% endfor %}

                      {% for m in mensaje_oc.1 %}

                      <!-- Message -->
                      <a href="{% url 'Mensajes en comparativas' m.id %}">

                        <div class="btn btn-info btn-circle" style="margin-right: 5px;">{{m.creador}}</div>
                        <div class="mail-contnet">
                          <h5>{{m.proveedor|lower|capfirst}}</h5> <span class="mail-desc">{{m.proyecto|lower|capfirst}}</span></div>

                        </a>

                      {% endfor %}

                  </div>
                </li>
                <li>
                    <a class="nav-link text-center" href="{% url 'Comparativas' 5 0 %}"> <strong>Solicitudes de compra</strong> <i class="fa fa-angle-right"></i> </a>
                </li>

                    {% else %}
                      <div class="message-center">

                          {% for m in mensaje_oc.0 %}

                          <!-- Message -->
                          <a href="{% url 'Mensajes en comparativas' m.id %}">

                            <div class="btn btn-red btn-circle" style="margin-right: 5px;"><img src="{% static 'img/PL.png' %}" width="35"></div>
                            <div class="mail-contnet">
                              <h5>{{m.proveedor|lower|capfirst}}</h5> <span class="mail-desc">{{m.proyecto|lower|capfirst}}</span></div>

                            </a>

                          {% endfor %}

                          {% for m in mensaje_oc.1 %}

                          <!-- Message -->
                          <a href="{% url 'Mensajes en comparativas' m.id %}">

                            <div class="btn btn-warning btn-circle" style="margin-right: 5px;"><img src="{% static 'img/SP.png' %}" width="35" class="img-circle"></div>
                            <div class="mail-contnet">
                              <h5>{{m.proveedor|lower|capfirst}}</h5> <span class="mail-desc">{{m.proyecto|lower|capfirst}}</span></div>

                            </a>

                          {% endfor %}

                      </div>
                    </li>
                    <li>
                        <a class="nav-link text-center" href="{% url 'Comparativas' 0 0 %}"> <strong>Solicitudes de compra</strong> <i class="fa fa-angle-right"></i> </a>
                    </li>
                      {% endif %}
                  
              </ul>
          </div>
      </li>
    </ul>

      {% endif %}
      <ul class="navbar-nav my-lg-0" id="chanchito-guia" >
          <li>
            <a class="nav-link waves-effect waves-dark" href="{% url 'Registro Contable Home' %}" ><img src="{% static 'img/pig.png' %}" alt="" width="30px"></a>
            
          </li>
        </ul>

        <ul class="navbar-nav my-lg-0" id="sugerencias-guia">
          <li>
            <a class="nav-link waves-effect waves-dark" href="{% url 'Sugerencias' %}" ><img src="{% static 'img/buzon.png' %}" alt="" width="30px"></a>
            
          </li>
        </ul>
      </nav>
    </header>
    </div>
      

    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div class="scroll-sidebar">

        <!-- Sidebar navigation-->
        <nav class="sidebar-nav" id="sidebar-guia">
          <ul id="sidebarnav">

            <li class="user-profile" id="perfilusuario-guia">

              <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img
                  src="{{ request.user.username|logo }}" alt="user" /><span class="hide-menu">{{user.username}}</span></a>

              <ul aria-expanded="false" class="collapse">
                <li><a href="/guia">Mi perfil</a></li>
                {% if request.user|has_group:"PRESUPUESTO NIVEL 10" %}
                <li><a href="/informes">Informes</a></li>
                {% endif %}
                {% if request.user|has_group:"ANUNCIOS NIVEL 10" %}
                <li><a href="{% url 'Anuncios' %}">Anuncios</a></li>
                {% endif %}
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
            <li class="nav-devider"></li>

            <li><a href="/proyectos"><i
                  class="mdi mdi-chart-bubble"></i><span class="hide-menu">Proyectos</span></a>
            </li>

            {% if request.user|has_group:"REGA NIVEL 1" %}

            <li class="nav-small-cap">TABLEROS</li>

            <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                  class="mdi mdi-gauge"></i><span class="hide-menu">Seguimiento</span></a>
              <ul aria-expanded="false" class="collapse">
                <li><a href="{% url 'Tablero Rega' 0 0 1 %}">Tablero</a></li>
              </ul>
            </li>

            {% endif %}
            <li class="nav-small-cap">ESPACIOS DE TRABAJO</li>
            <li><a href="{% url 'App de rrhh' %}"><i
              class="zmdi zmdi-accounts"></i><span class="hide-menu">Recursos Humanos</span></a>
            </li>
              <li><a href="{% url 'Panel del gerenciador' %}"><i
                class="fa fa-area-chart"></i><span class="hide-menu">Gerenciamiento</span></a>
          </li>
            <li><a href="{% url 'Panel de presupuestos' %}"><i
                  class="zmdi zmdi-chart"></i><span class="hide-menu">Presupuestos</span></a>
            </li>
            <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                  class="zmdi zmdi-file"></i><span class="hide-menu">Administración</span></a>
              <ul aria-expanded="false" class="collapse">

                <li><a href="/finanzas/panelctacte">Cuentas corrientes</a></li>

                {% if request.user|has_group:"ADMIN NIVEL 1" %}

                <li><a href="{% url 'Movimiento administración' %}">Movimiento de administración</a></li>

                {% endif %}

              </ul>
            </li>
            <li><a href="{% url 'App Finanzas' %}"><i
              class="zmdi zmdi-money"></i><span class="hide-menu">Finanzas</span></a>
            </li>
            <li><a href="{% url 'Principal compras' %}"><i
                  class="zmdi zmdi-card"></i><span class="hide-menu">Compras</span></a>
            </li>
            <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                  class="zmdi zmdi-city"></i><span class="hide-menu">Oficina tecnica</span></a>
              <ul aria-expanded="false" class="collapse">
                <li><a href="{% url 'Principal Tecnica' %}">Panel principal</a></li>
              </ul>
            </li>
            <li><a href="{% url 'App comercial' %}"><i
                  class="zmdi zmdi-mall"></i><span class="hide-menu">Comercialización</span></a>

            </li>
            <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                  class="zmdi zmdi-calendar"></i><span class="hide-menu">Postventa</span></a>
              <ul aria-expanded="false" class="collapse">
                {% if request.user|has_group:"POSTVENTA NIVEL 1" %}

                <li><a href="{% url 'Reclamos Postventa' %}">Reclamos</a></li>

                {% else %}

                <li>No tienes permisos para ver este espacio</li>

                {% endif %}
              </ul>
            </li>

            <li class="nav-small-cap">SIGMA</li>

            <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                  class="zmdi zmdi-city-alt"></i><span class="hide-menu">Generales</span></a>
              <ul aria-expanded="false" class="collapse">
                {% if perms.sigma.view_inventario %}
                <li><a href="/sigma/inventario">Inventario</a></li>
                <li><a href="/sigma/tareas">Tareas de la constructora</a></li>

                {% else %}

                <li>No tienes permisos para ver este espacio</li>

                {% endif %}
              </ul>
            </li>
          </ul>

          
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">

      {% block content %}

      <div class="container-fluid">
        <div class="row page-titles">
          <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">{{mensaje_bievenida}}</h3>
          </div>

      <div class="container-fluid r-side">
        <div class="row" id="guiamedia">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-3">

                  <img src="{% static 'img/car2.jpg' %}" class="bounce animated"
                    style="width: 100%; height:auto; vertical-align: middle; margin-right: 10px;">
  
                </div>
  
                <div class="col-6">
                  <h4 class="card-title">¿Sos nuevo en la empresa o querés conocer mejor linkp?</h4>
                  <p>Generamos un recorrido para que puedas conocer las funciones básicas y la organización del sitio.</p>
                  <p>Inicia <a href="#" data-toggle="modal" data-target="#ModalGuia">aquí</a> tu explicación y guia del sitio.</p>  
                </div>
              </div>
            <!-- modal guia  -->
              
                <div id="ModalGuia" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalGuia" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header" style="background: rgb(36,160,237); background: linear-gradient(315deg, rgba(36,160,237,1) 0%, rgba(56,56,130,1) 22%, rgba(0,212,255,1) 100%);">
                        <h5 class="modal-title  text-light" id="exampleModalLongTitle">Explicacion guiada</h5>
                        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                          <div class="tab-content">
                              <p><span>LINK-P</span> Es una aplicación web pensada y diseñada para facilitar el uso y gestión de los datos de link</p>
                              <p>Nuestro sistema se desconecta automáticamente cada 2 horas para cuidar mejor nuestra información.</p>
                              <p>¿Deseas que iniciemos nuestro recorrido?</p>
                          </div>
                      </div>

                      <div class="modal-footer">
                          <button type="button" class="btn btn-success" onclick="guia()" data-dismiss="modal">Iniciar</button>
                          <button type="button" class="btn btn-info"
                              data-dismiss="modal">Cerrar</button>

                      </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <!-- empieza aviso OC -->
    
    {% if avisos_comparativas.autorizado %}
      
   
      
        <div class="row">
          <div class="card">
            <div class="card-body">
              <div class="row">
        
                <div class="col-12 col-md-10 col-lg-9">
                   
                   {% if avisos_comparativas.semana_compras == 0 %}
                   <h4 class="card-title">Todavia no es semana de cierre de OC  </h4>
                   {% elif avisos_comparativas.semana_compras == 1 %}
                   <h4 class="card-title text-warning">En esta semana puedes cargar tus OC </h4>
                   {% elif avisos_comparativas.semana_compras == 2  %}
                   <h4 class="card-title text-danger">Hasta hoy puedes cargar tus OC !</h4>
                   {% endif %}
        
                </div>
                <div class="col col-md-12 col-lg-9 mt-4">
                  
                  {% if avisos_comparativas.no_conformes or avisos_comparativas.no_autorizadas %}
                    
                
                    

                        <div class="row d-flex justify-content-around">
                        {% if avisos_comparativas.no_conformes %}
                        <div class="col col-md-6 col-lg-6 d-flex ">
                        <img src="{% static 'img/SP.png' %}" alt="cara Sebastian" width="50">
                        
                      
                        <p class="ml-2 mt-2"> Tienes <a href="#" data-toggle="modal" data-target="#ModalSPcompras">{{avisos_comparativas.no_conformes.1}}</a> OC observadas. </p>
                      
                        </div>
                        {% endif %}

                        {% if avisos_comparativas.no_autorizadas %}
                        <div class="col col-md-6 col-lg-6 d-flex">
                        <img src="{% static 'img/PL.png' %}" alt="cara Pablo" width="50">

                        <p class="ml-2 mt-2"> Tienes <a href="#" data-toggle="modal" data-target="#ModalPLcompras">{{avisos_comparativas.no_autorizadas.1}}</a> OC rechazadas. </p>
                      
                      </div>
                      {% endif %}
                      </div>

                  {% else %}
                 
                  <div class="row d-flex">
                    <div class="col col-md-10 col-lg-9 d-flex">
                      <i class="fa fa-lg fa-check-circle text-success mt-1"></i>
                      <p class="ml-2">¡Felicitaciones! Tienes todas tus OC autorizadas</p>
                    </div>
                  </div>
                  {% endif %}
                </div>

                </div>
                
              <!-- modal OC SP -->
              <div id="ModalSPcompras" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalSPcompras" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header" style="background: rgb(36,160,237); background: linear-gradient(315deg, rgba(36,160,237,1) 0%, rgba(56,56,130,1) 22%, rgba(0,212,255,1) 100%);">
                      <h5 class="modal-title  text-light" id="exampleModalLongTitle">Ordenes de compras a revisar</h5>
                      <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <div class="tab-content">
                            <h4>Estas son las órdenes de compras que debes revisar de SP.</h4>
                            <!-- for de ordenes -->
                             
                            {% for comparativa  in  avisos_comparativas.no_conformes.0 %}
                            <p> {{comparativa.id}}</p>
                           {% endfor %}
                             
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>

                    </div>
                      </div>
                  </div>
              </div>
              <!-- modal OC PL -->
              <div id="ModalPLcompras" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalPLcompras" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header" style="background: rgb(36,160,237); background: linear-gradient(315deg, rgba(36,160,237,1) 0%, rgba(56,56,130,1) 22%, rgba(0,212,255,1) 100%);">
                      <h5 class="modal-title  text-light" id="exampleModalLongTitle">Ordenes de compras a revisar</h5>
                      <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <div class="tab-content">
                            <h5>Estas son las órdenes de compras que debes revisar de PL.</h5>
                            <!-- for de ordenes -->
                          
                          {% for comparativa  in   avisos_comparativas.no_autorizadas.0 %}
                           <p>OC {{comparativa.o_c}} - {{comparativa.proveedor}}</p>
                          {% endfor %}
                            

                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>

                    </div>
                      </div>
                  </div>
              </div>

              </div>
            </div>
          </div>
      
        </div>
        {% endif %}
        <!-- Termina aviso OC -->
        {% if monedas %}
        <div class="row">
          <div class="card">
            <div class="card-body">
              <div>
                <h4 class="card-title">
                  <img src="{% static 'img/app_rrhh_gift.gif' %}" alt=""
                    style="max-width:70px; height:auto; vertical-align: middle; margin-right: 10px;"> <b>Felicidades {{request.user.first_name}}!</b> recibiste una Linkcoin!
                </h4>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% if datos_mensajeria %}
        <div class="row">
          <div class="card">
            <div class="card-body">
              <div>
                <h4 class="card-title">
                  <img src="{% static 'img/animation_500_kn5034p5.gif' %}" alt=""
                    style="max-width:70px; height:auto; vertical-align: middle; margin-right: 10px;">Tienes correspondencia que ver!
                </h4>
              </div>

              <div style="margin-left: 75px;">Presiona 
                <a href="/rrhh/notasdepedido/0/0">aqui</a> para ir a la app y formar 
              </div>
            </div>
          </div>
        </div>
        
      {% endif %}

      <div class="row">
        <div class="card">
          <div class="card-body">
  
          <div>
            <h4 class="card-title">Nuestro equipo</h4>
          </div>
  
          <div class="table-responsive">
            <table class="table">
              <tbody>
  
                {% for m in miembros %}
                <tr>
                  {% if m.imagenlogo %}
                  <td><span class="round"><img src="{{m.imagenlogo.url}}" alt="user" width="50"></span></td>
                  {% else %}
                  <td><span class="round"><img src="{% static 'img/anonimo2.png' %}" alt="user" width="50"></span></td>
                  {% endif %}
                  <td>
                    <h6><b>{{m.identificacion}}</b> - {{m.nombre}} </h6><small class="text-muted">{{m.area|lower|capfirst}}: {{m.cargo|lower}} - {{m.email}}</small>
                  </td>
                </tr>
  
                {% endfor %}
  
              </tbody>
            </table>
          </div>
        </div>
      </div>
      </div>
      </div>
      
        <aside class="right-side-panel" id="panelnovedades-guia">

          <h3 class="p-relative"><span class="lstick"></span> Novedades</h3>

          {% for i in anuncios %}
          <div class="row">
            <div class="col-md-12 m-t-10">
              <div class="card">
                <a type="button" style="text-decoration: none;" data-toggle="modal" data-target="#ModalAnuncio{{i.id}}">
                  <img class="card-img-top img-responsive" src="{{i.imagen.url}}" alt="Novedad">
                </a>
                
                <div class="card-body">
                  <h3 class="font-normal">{{i.titulo}}</h3>
                  {% if i.categoria == "COMUNIDAD" %}
                  <span class="label label-success label-rounded">Comunidad Link</span>
                  {% elif i.categoria == "PROYECTOS" %}
                  <span class="label label-danger label-rounded">Proyectos</span>
                  {% else %}
                  <span class="label label-info label-rounded">Link-P anuncios</span>
                  {% endif %}
                  <p class="m-b-0 m-t-20">{{i.descrip}}</p>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal anuncio -->
          <div class="modal fade" id="ModalAnuncio{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="ModalPremioTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{i.titulo}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                                                  
                  <img class="card-img-top img-responsive" src="{{i.imagen.url}}" alt="Card image cap" style="width: 465px; height: auto; ">

            </div>
            </div>
        </div>
      </div>
          {% endfor %}

        </aside>

        {% endblock %}
   
         <a href="{% url 'Link P' %}" style="text-decoration: none;"><footer class="footer">© Link-P</footer></a>
 
      </div>
    </div>


<script src="{% static 'js/jquery-3.5.1.js' %}"></script>    
<script src="{% static 'adminpro/assets/plugins/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'adminpro/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'adminpro/main/js/sidebarmenu.js' %}"></script>
<script src="{% static 'adminpro/main/js/dashboard1.js' %}"></script>
<script src="{% static 'adminpro/main/js/custom.min.js' %}"></script>

{% include '../includes/js/datatable.html' %}
{% include '../includes/js/chartlist.html' %}
{% include '../includes/js/form.html' %}
{% include '../includes/js/otros.html' %}


<style>
  .alerta-guia{
    display: none;
    width: 300px;
    background-color: #f8f9fa;
    padding: 20px;
    border: 2px rgb(207, 207, 207) solid;
    border-radius: 5px;
    position: absolute;
    box-shadow: 4px 4px 4px 0px rgb(207, 207, 207 );
    z-index: 20;
  }
  .alerta-guia img{
    width: 30px;
  }
  .alerta-guia span{
    font-size: 12px;
  }
  .alerta-guia div{display: flex;
    justify-content: flex-end;
  }
  .alerta-guia div.guia-indice{display: flex;
    justify-content: space-between;
  }
  

  #alerta-guia-1{
    top: 120px; 
    left: 245px;
  }
  #alerta-guia-2{
    top: 90px; 
    left: 245px;
  }
  #alerta-guia-3{
    top: 90px; 
    right: 280px;
  }
  #alerta-guia-4{
    top: 80px; 
    right: 30px;
  }
  #alerta-guia-5{
    top: 80px; 
    right: 80px;
  }

  .alerta-guia-borde{
    border: 4px #0dcaf0 solid;
    animation:alerta-guia-borde 2s ease-in-out infinite ;
  }
  @keyframes alerta-guia-borde{
    0%{border: 4px  #c9e5eb solid;}
    50%{border: 4px #0dcaf0 solid;}
    100%{border: 4px  #c9e5eb solid;}
  }

  @media (max-width: 1170px ){
    #alerta-guia-1{
    top: 120px; 
    left: 85px;
  }
  #alerta-guia-2{
    top: 90px; 
    left: 85px;
  }
  }
  @media (max-width: 780px ){
    #guiamedia{
      display: none;
    }
  }
</style>
</body>


</html>



<script>
  function guia() {
      let sidebar = document.getElementById('sidebar-guia');
      sidebar.classList.add('alerta-guia-borde');
      let alertaguia1 = document.getElementById('alerta-guia-1').style.display = "block";
    
  }
  function guia1(cerrar, abrir, idcerrar, idabrir ) {
    console.log(cerrar,abrir,idcerrar,idabrir);
      let sidebar = document.getElementById(idcerrar);
      sidebar.classList.remove('alerta-guia-borde');
      let alertaguia1 = document.getElementById(cerrar).style.display = "none";
      let guiausuario = document.getElementById(idabrir);
      guiausuario.classList.add('alerta-guia-borde');
      let alertaguia2 = document.getElementById(abrir).style.display = "block";
    
  }
  function finalizar(resaltado, id) {
      let sidebar = document.getElementById(resaltado);
      sidebar.classList.remove('alerta-guia-borde');
      let modalcerrar = document.getElementById(id).style.display = "none";
      
    
  }
    

  // function count() {
  //   var counter = { var: 0 };
  //   TweenMax.to(counter, 3, {
  //     var: 100,
  //     onUpdate: function () {
  //       var number = Math.ceil(counter.var);
  //       $('.counter').html(number);
  //       if (number === counter.var) { count.kill(); }
  //     },
  //     onComplete: function () {
  //       count();
  //     },
  //     ease: Circ.easeOut
  //   });
  // }

  // count();


</script>