{% load static %}
{% load apptags_extras %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="shortcut icon" href="{% static 'img/LinkIco21.ico' %}" />
    <title>Link-P</title>
    <!-- Bootstrap Core CSS -->
    <!-- <link href="{% static 'adminpro/assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- page css -->
    <!-- <link href="{% static 'adminpro/main/css/pages/login-register-lock.css' %}" rel="stylesheet"> -->
    <!-- Custom CSS -->
    <!-- <link href="{% static 'adminpro/main/css/style.css' %}" rel="stylesheet"> -->
    <link href="{% static 'adminpro/main/css/spinners.css' %}" rel="stylesheet">
    <link href="{% static 'css/login.css' %}" rel="stylesheet">

    <!-- You can change the theme colors from here -->
    <!-- <link href="{% static 'adminpro/main/css/colors/default-dark.css' %}" id="theme" rel="stylesheet"> -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="card-no-border">
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Link-P</p>
        </div>
    </div>

    <div class="d-flex justify-content-center"
        style="background-image:url({% static 'img/oficina.jpg' %}); height: 100vh; opacity: 90%;">
        <div class="row align-self-center bg-transparency rounded col-10 col-md-6 col-lg-3">
            <form id="loginform" method="POST">
                {% csrf_token %}
                <div class="px-2 py-4">
                    <div class="text-center mb-2">
                        <img src="{% static 'img/Linkp.png' %}" alt="" style="width: 100px;">
                    </div>
                    <div class="my-3">
                        <div class="my-1 ">
                            <div class="col-12">
                                <input class="" type="text" required="" placeholder="Usuario"
                                    name="username" id="username">
                            </div>
                        </div>
                        <div>
                            <div>
                                <input class="" type="password" required="" placeholder="Contraseña"
                                    name="password">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div>
                            <div class="checkbox checkbox-info pull-left">
                                <input id="checkbox-signup" type="checkbox" class="filled-in chk-col-light-blue"
                                    value="lsRememberMe">
                                <label for="checkbox-signup"> Recuerdame </label>
                            </div> <a href="javascript:void(0)" id="to-recover" class="text-dark pull-right"></a>
                        </div>
                    </div>
                    <div class="text-center">
                        <div>
                            <input class="btn btn-block btn-primary btn-rounded" type="submit" onclick="lsRememberMe()"
                                value="Acceder" style="width: 100px;"></input>
                        </div>
                    </div>

                    {% block content %}

                    {% endblock %}

                </div>
            </form>
        </div>
    </div>

</body>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="{% static 'adminpro/assets/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{% static 'adminpro/assets/plugins/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'adminpro/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<!--Custom JavaScript -->
<script type="text/javascript">
    $(function () {
        $(".preloader").fadeOut();
    });
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
    // ============================================================== 
    // Login and Recover Password 
    // ============================================================== 
    $('#to-recover').on("click", function () {
        $("#loginform").slideUp();
        $("#recoverform").fadeIn();
    });
</script>

<script>
    const rmCheck = document.getElementById("checkbox-signup"),
        emailInput = document.getElementById("username");

    if (localStorage.checkbox && localStorage.checkbox !== "") {
        rmCheck.setAttribute("checked", "checked");
        emailInput.value = localStorage.username;
    } else {
        rmCheck.removeAttribute("checked");
        emailInput.value = "";
    }

    function lsRememberMe() {
        if (rmCheck.checked && emailInput.value !== "") {
            localStorage.username = emailInput.value;
            localStorage.checkbox = rmCheck.value;
        } else {
            localStorage.username = "";
            localStorage.checkbox = "";
        }
    }
</script>



</html>