{% extends "users/inicio2.html" %}
{% load static %}
{% load humanize %}
{% load apptags_extras %}
{% block content %}

<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Administración de cajas</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Registro Contable Home' %}">Chanchito</a></li>
                <li class="breadcrumb-item">Cajas</li>
            </ol>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><span class="lstick m-r-20"></span>Cajas disponibles</h4>
                    <h6 class="card-subtitle">Aqui veras las cajas que tienes para administrar</h6>

                    <div class="col-12 col-md-12 col-lg-12 justify-content-center">

                        <button type="button" class="btn" data-toggle="modal" data-target="#ModalCargaMasiva"><i class="fa fa-plus-circle  text-success"><span class="text-success ml-2" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"><b>Registros Tango</b></span></i></button>
                        <hr>
                    
                    </div>

                    <!-- Modal archivo -->
                
                    <div class="modal fade" id="ModalCargaMasiva" tabindex="-1" role="dialog" aria-labelledby="ModalCargaMasivaTittle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header" style="background: rgb(36,160,237);
                            background: linear-gradient(315deg, rgba(36,160,237,1) 0%, rgba(56,56,130,1) 22%, rgba(0,212,255,1) 100%);">
                            <h5 class="modal-title text-light" id="exampleModalLongTitle">Cargar archivo</h5>
                            <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">

                                <form method="POST" style="margin: 15px;" enctype="multipart/form-data" id="upload-image-form">

                                    {% csrf_token %}
    
    
                                    <h6>Archivo</h6>  
    
                                    <div class="input-group mb-3">
                                            
                                        <input name="archivo" type="file" class="form-control form-control" style="width: 300px;">
                                    </div>
    
                                    <button type="submit" name="carga_archivo" value="1" class="btn">
                                        <i class="fa fa-cloud-upload text-info"></i><span class="text-info ml-2">Cargar</span></button>
    
                                    {{ form.as_p }}
                                
                                </form>
                            
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
                    
                            </div>
                        </div>
                        </div>

                    </div>
                    <div class="row d-flex justify-content-center ">

                        {% for i in total_cajas %}
    
                        <div class="col-12 col-md-4 col-lg-3 col-xlg-3">
                            <div class="card" id="img-tarjeta">
                                <div class="card-body bg-light text-center">

                                    <div class="text-left" style="margin-top: 2px;">
                                        <div>
                                            <h6><img src="{{user.imagenlogo.url}}" alt=""
                                                style="max-width:30px; height:auto; margin: 5px;"> {{i.0}}</h6>
                                        </div>
                                        <div><small>
                                            Ingresos: ${{i.1|floatformat:2|intcomma}}
                                        </small></div>
                                        <div><small class="text-danger">
                                            Gastos: ${{i.2|floatformat:2|intcomma}}
                                        </small></div>
                                        <div><small class="text-info">
                                            Balances: ${{i.3|floatformat:2|intcomma}}
                                        </small></div>
                                    </div>
                                    <div class="text-right" style="margin-top: 2px;">
                                        <a href="{% url 'Registro Contable Caja' i.0 0 0 0 %}"><button class="btn btn-secondary">
                                            Ingresar</button></a>
                                    </div>
                                    
                                    </div>
                            </div>
                        </div>

                        {% endfor %}

                        {% for i in cajas_administras %}
    
                        <div class="col-12 col-md-4 col-lg-3 col-xlg-3">
                            <div class="card" id="img-tarjeta">
                                <div class="card-body bg-light text-center">

                                    <div class="text-left" style="margin-top: 2px;">
                                        <div>
                                            <h6><img src="{{i.4.imagenlogo.url}}" alt=""
                                                style="max-width:30px; height:auto; margin: 5px;"> {{i.0}}</h6>
                                        </div>
                                        <div><small>
                                            Ingresos: ${{i.1|floatformat:2|intcomma}}
                                        </small></div>
                                        <div><small class="text-danger">
                                            Gastos: ${{i.2|floatformat:2|intcomma}}
                                        </small></div>
                                        <div><small class="text-info">
                                            Balances: ${{i.3|floatformat:2|intcomma}}
                                        </small></div>
                                    </div>
                                    <div class="text-right" style="margin-top: 2px;">
                                        <a href="{% url 'Registro Contable Caja' i.0 0 0 0 %}"><button class="btn btn-secondary">
                                            Ingresar</button></a>
                                    </div>
                                    
                                    </div>
                            </div>
                        </div>

                        {% endfor %}

                    </div>
            </div>
        </div>
    </div>
    
</div>

<style>
    #img-tarjeta:hover{
        transform: scale(1.07);
        box-shadow: 2px 4px 4px 1px rgba(0, 0, 0, 0.1)
    }

</style>

{% endblock %}