{% extends "users/inicio2.html" %}
{% load apptags_extras %}

{% load static %}

{% block content %}
<div class="container-fluid r-aside">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Resgistro Contable </h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body row">
                <div class="col-12 justify-content-center">
                    <div class="row m-2">
                        <a href="#" class="fa fa-plus-circle "> <span style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"><b>Añadir</b></span></a>
                    </div>
                    <div class="row">

                        <div class="col-12 col-lg-4 text-center">
                            <p><b>Ingresos</b></p>
                            <p class="text-info"><b>0,00</b></p>
                        </div>
                        <div class="col-12 col-lg-4 text-center">
                            <p><b>Gastos</b></p>
                            <p class="text-danger"><b>0,00</b></p>
                        </div>
                        <div class="col-12 col-lg-4 text-center">
                            <p><b>Balance</b></p>
                            <p><b>0,00</b></p>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="example" class="table table-striped table-bordered " style="width:100%">
                            <thead class="bg-secondary">
                                <tr>
                                    <th> Dia </th>
                                    <th> Ingresos </th>
                                    <th> Gastos </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>22/3/2020</td>
                                    
                                    <td class="text-success"><b>$ 20000</b></td>
                                    <td class="text-danger"><b>$ 31000</b></td>
                                </tr>
                            </tbody>
                            
                            <thead class="bg-secondary">
                                <tr>
                                    <th style="width: 200px;"> Categoria </th>
                                    <th> Cuenta/Nota </th>
                                    <th> Monto </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>
                                        <b>Sueldo</b>
                                    </td>
                                    <td>
                                        <div>
                                            <div>
                                                <p>Nota numero 1</p>
                                            </div>
                                            <div>
                                                <p>Efectivo</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>$ 40000</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Entrenamiento</b>
                                    </td>
                                    <td>
                                        <div>
                                            <div>
                                                <p>Nota numero 1</p>
                                            </div>
                                            <div>
                                                <p>Efectivo</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>$ 10000</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Comida</b>
                                    </td>
                                    <td>
                                        <div>
                                            <div>
                                                <p>Nota numero 1</p>
                                            </div>
                                            <div>
                                                <p>Efectivo</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>$ 1000</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Tarjetas</b>
                                    </td>
                                    <td>
                                        <div>
                                            <div>
                                                <p>Nota numero 1</p>
                                            </div>
                                            <div>
                                                <p>Efectivo</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>$ 20000</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}