{% extends "users/inicio2.html" %}
{% load apptags_extras %}

{% load static %}
{% load humanize %}

{% block content %}

<div class="container-fluid r-aside">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Registro Contable </h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item">Registro Contable</li>
            </ol>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body row">
                <div class="col-12 col-md-8 col-lg-8 justify-content-center">
                    <div class="row">
                        <div class="col-12">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#diario">Registro</a></li>
                                <li ><a data-toggle="tab" href="#semanal">Semanal</a></li>
                                <li><a data-toggle="tab" href="#mensual">Mensual</a></li>
                                <li><a data-toggle="tab" href="#total">Resumen</a></li>
                                <li><a data-toggle="tab" href="#explorar">Explorar</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="tab-content">
                        <div id="diario" class="tab-pane fade  in active">
                            
                            <div class="row" style="margin-top: 15px;">

                                <div class="col-4 text-center">
                                    <p><b>Ingresos</b></p>
                                    <span class="text-success"><b>$ {{ingresos|floatformat:0|intcomma}}</b></span>
                                    
                                </div>
                                <div class="col-4 text-center">
                                    <p><b>Gastos</b></p>
                                    <span class="text-danger"><b>$ {{gastos|floatformat:0|intcomma}}</b></span>
                                    
                                </div>
                                <div class="col-4 text-center">
                                    <p><b>Balance</b></p>
                                    <span class="text-info"><b>$ {{balance|floatformat:0|intcomma}}</b></span>
                                    
                                </div>
                            </div>

                            <hr style="width: 100%;"></hr>
                            <h3><form method="POST"> {% csrf_token %} <button type="submit" name="fecha_m" value="0" class="btn"><i class="fa fa-angle-left"></i></button> {{hoy|date:"M Y"}} <button type="submit" name="fecha_m" value="1" class="btn"><i class="fa fa-angle-right"></i></button></form></h3>
                            <div class="row m-2">
                                <button type="button" class="btn" data-toggle="modal" data-target="#ModalCuenta1"><i
                                        class="fa fa-plus-circle  text-info"><span class="text-info ml-2"
                                            style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"><b>Añadir</b></span></i></button>
                            </div>

                                <!-- Modal item -->
                                <div id="ModalCuenta1" class="modal fade" tabindex="-1" role="dialog"
                                    aria-labelledby="ModalCuenta1" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Cargar un elemento</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="tab-content">
                                                    <ul class="nav nav-tabs">
                                                        <li class="active"><a data-toggle="tab" href="#ingreso">Ingreso</a>
                                                        </li>
                                                        <li><a data-toggle="tab" href="#gasto">Gasto</a></li>
                                                    
                                                        </li>
                                                    </ul>
                                                    <div id="ingreso" class="tab-pane fade in active">
                                                        <form method="POST" style="margin: 15px;"
                                                            enctype="multipart/form-data" id="upload-image-form">

                                                            {% csrf_token %}
                                                            <h6>Fecha</h6>

                                                            <div class="input-group mb-3">

                                                                <input name="fecha" type="date"
                                                                    class="form-control form-control" style="width: 300px;">
                                                            </div>

                                                            <h6>Cuenta</h6>

                                                            <div class="input-group mb-3">

                                                                <input name="cuenta" type="search" class="form-control form-control"
                                                                placeholder="Efectivo/Tarjeta de credito" list="provee">

                                                            </div>

                                                            <h6>Categoria</h6>

                                                            <div class="input-group mb-3">

                                                                <input name="categoria" type="search" class="form-control form-control"
                                                                placeholder="Sueldo Mensual/Plus" list="list_cat_ing">

                                                            </div>

                                                            <h6>Importe</h6>

                                                            <div class="input-group mb-3">

                                                                <input name="importe" type="number"
                                                                    class="form-control form-control border border-success"
                                                                    style="width: 300px;">
                                                            </div>

                                                            <h6>Nota</h6>

                                                            <div class="input-group mb-3">

                                                                <input name="nota" type="text"
                                                                    class="form-control form-control" style="width: 300px;">
                                                            </div>

                                                            <div>
                                                                <label for="adjunto">
                                                                    <h6>Adjunto</h6>
                                                                </label>
                                                            </div>
                                                            <div class="row d-flex justify-content-center my-3">
                                                                <div class="col col-md-8 col-lg-8">
                    
                                                                    <input type="file" class="form-control-file" name="adjunto"
                                                                        aria-describedby="fileHelp">
                    
                                                                </div>
                                                            </div>

                                                            <button type="submit" name="tipo" value="INGRESOS" class="btn" ><i
                                                                class="fa fa-arrow-up  text-info"><span class="text-info ml-2"
                                                                    style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"><b>Cargar</b></span></i></button>


                                                        </form>

                                                    </div>
                                                    <div id="gasto" class="tab-pane fade">
                                                        <form method="POST" style="margin: 15px;"
                                                            enctype="multipart/form-data" id="upload-image-form">
                                                            {% csrf_token %}
                                                            <h6>Fecha</h6>

                                                            <div class="input-group mb-3">

                                                                <input name="fecha" type="date"
                                                                    class="form-control form-control" style="width: 300px;">
                                                            </div>

                                                            <h6>Cuenta</h6>

                                                            <div class="input-group mb-3">

                                                                <input name="cuenta" type="search" class="form-control form-control"
                                                                placeholder="Efectivo/Tarjeta de credito" list="provee">

                                                            </div>

                                                            <h6>Categoria</h6>

                                                            <div class="input-group mb-3">

                                                                <input name="categoria" type="search" class="form-control form-control"
                                                                placeholder="Combustible/Comida" list="list_cat_gasto">

                                                            </div>

                                                            <h6>Importe</h6>

                                                            <div class="input-group mb-3">

                                                                <input name="importe" type="number"
                                                                    class="form-control form-control border border-danger"
                                                                    style="width: 300px;">
                                                            </div>

                                                            <h6>Nota</h6>

                                                            <div class="input-group mb-3">

                                                                <input name="nota" type="text"
                                                                    class="form-control form-control" style="width: 300px;">
                                                            </div>

                                                            <div>
                                                                <label for="adjunto">
                                                                    <h6>Adjunto</h6>
                                                                </label>
                                                            </div>
                                                            <div class="row d-flex justify-content-center my-3">
                                                                <div class="col col-md-8 col-lg-8">
                    
                                                                    <input type="file" class="form-control-file" name="adjunto"
                                                                        aria-describedby="fileHelp">
                    
                                                                </div>
                                                            </div>

                                                            <button type="submit" name="tipo" value="GASTOS" class="btn" ><i
                                                                class="fa fa-arrow-up  text-info"><span class="text-info ml-2"
                                                                    style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"><b>Cargar</b></span></i></button>


                                                        </form>

                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% if datos %}
                            
                            <div class="table-responsive">

                                {% for d in datos %}
                                <table id="example" class="table table-bordered "
                                    style="width:100%; font-size: 14px;">

                                    <thead>
                                        <tr>
                                            <td style="text-align: center;"><b><h2>{{d.0|date:"d"}}</h2></b></td>
                                            <td style="text-align: right;"></td>
                                            <td style="text-align: right;"><b><h4> <div class="text-success" style="display: inline-block; width: 100px; text-align: center;">$ {{d.2|floatformat:0|intcomma}}</div> - <div class="text-danger" style="display: inline-block; width: 100px; text-align: center;">$ {{d.3|floatformat:0|intcomma}}</div></h4></b></td>

                                        </tr>
                                    </thead>

                                    <thead class="bg-secondary">
                                        <tr>
                                            <th style="max-width: 100px;"> Categoria </th>
                                            <th> Cuenta/Nota </th>
                                            <th style="text-align: right;"> Monto </th>
                                        </tr>
                                    </thead>

                                    <tbody style="font-size: 13px;">
                                        {% for i in d.1 %}
                                        <tr>
                                            <td style="width: 100px;">
                                                <p>{{i.categoria}}</p>
                                            </td>
                                            <td style="padding 1px;">
                                                <div>
 
                                                    <a href="#" data-toggle="modal" data-target="#{{i.id}}">
                                                        <h6 style="font-size: 13px;">{{i.nota}}</h6></a>
                                                        <h6 class="card-subtitle" style="font-size: 10px;">{% if i.adjunto %}<a href="{{ i.adjunto.url }}" class=" fa fa-paperclip fa-lg"></a>{% endif %} {{i.cuenta}}</h6>
                                                                                                                    
                                                </div>
                                            </td>

                                                
                                            <td style="text-align: right;"> <b><h6 {% if i.estado == "INGRESOS" %}class="text-success"{% else %}class="text-danger"{% endif%}>$ {{i.importe|floatformat:0|intcomma}}</h6> </b> </td>
                                        </tr>

                                            
                                        {% endfor %}
                                    </tbody>

                                </table>
                                {% endfor %}
                            </div>

                            {% else %}

                            <h6>Todavia no hay registros </h6>
                            {% endif %}
                            
                        </div>

                        {% for d in datos %}
                        {% for i in d.1 %}
                        <!-- Modal para editar el registro -->
                        <div id="{{i.id}}" class="modal fade" tabindex="-1" role="dialog"
                        aria-labelledby="{{i.id}}" aria-hidden="true">
                        <div id="{{i.id}}div"  class="modal-dialog modal-dialog-centered" role="document">
                            <div id="{{i.id}}div2" class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Editar un registro</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" id="{{i.id}}body">
                                    <div class="tab-content" id="{{i.id}}content">
                                        <div>
                                            <form method="POST" style="margin: 15px;"
                                                enctype="multipart/form-data" id="upload-image-form">

                                                {% csrf_token %}
                                                <h6>Fecha</h6>

                                                <div class="input-group mb-3">

                                                    <input name="fecha" type="date"
                                                        class="form-control form-control" style="width: 300px;"
                                                        value="{{i.fecha|date:'Y-m-d'}}" >
                                                </div>

                                                <h6>Cuenta</h6>

                                                <div class="input-group mb-3">

                                                    <input name="cuenta" type="search" class="form-control form-control"
                                                    value="{{i.cuenta}}" list="provee">

                                                </div>

                                                <h6>Categoria</h6>

                                                <div class="input-group mb-3">

                                                    <input name="categoria" type="search" class="form-control form-control"
                                                    value="{{i.categoria}}" list="list_cat_ing">

                                                </div>

                                                <h6>Importe</h6>

                                                <div class="input-group mb-3">

                                                    <input name="importe" type="number"
                                                        class="form-control form-control border border-success"
                                                        style="width: 300px;" value="{{i.importe}}" >
                                                </div>

                                                <h6>Nota</h6>

                                                <div class="input-group mb-3">

                                                    <input name="nota" type="text"
                                                        class="form-control form-control" style="width: 300px;"
                                                        value="{{i.nota}}" >
                                                </div>

                                                <div>
                                                    <label for="adjunto">
                                                        <h6>Adjunto</h6>
                                                    </label>
                                                </div>
                                                <div class="row d-flex justify-content-center my-3">
                                                    <div class="col col-md-8 col-lg-8">
        
                                                        <input type="file" class="form-control-file" name="adjunto"
                                                            aria-describedby="fileHelp">
        
                                                    </div>
                                                </div>

            
                                                <button type="submit" name="editar" value="{{i.id}}" class="btn" ><i
                                                        class="fa fa-arrow-up  text-info"><span class="text-info ml-2"
                                                            style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"><b>Cargar</b></span></i></button>

                                                <button type="submit" class="btn" name="eliminar" value="{{i.id}}"><i
                                                    class="fa fa-trash  text-danger"><span class="text-danger ml-2"
                                                        style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"><b>Eliminar</b></span></i></button>
                

                                            </form>

                                        </div>

                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Close</button>

                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endfor %}
                        <div id="semanal" class="tab-pane fade">
                            <div class="row" style="margin-top: 15px;">

                                <div class="col-4 text-center">
                                    <p><b>Ingresos</b></p>
                                    <span class="text-success"><b>$ {{ingresos|floatformat:0|intcomma}}</b></span>
                                    
                                </div>
                                <div class="col-4 text-center">
                                    <p><b>Gastos</b></p>
                                    <span class="text-danger"><b>$ {{gastos|floatformat:0|intcomma}}</b></span>
                                    
                                </div>
                                <div class="col-4 text-center">
                                    <p><b>Balance</b></p>
                                    <span class="text-info"><b>$ {{balance|floatformat:0|intcomma}}</b></span>
                                    
                                </div>
                            </div>
                            <hr style="width: 100%;"></hr>
                            <h3><form method="POST"> {% csrf_token %} <button type="submit" name="fecha_m" value="0" class="btn"><i class="fa fa-angle-left"></i></button> Semanas de {{hoy|date:"M Y"}} <button type="submit" name="fecha_m" value="1" class="btn"><i class="fa fa-angle-right"></i></button></form></h3>
                            <div class="table-responsive">
                                <table id="example" class="table table-striped table-bordered "
                                    style="width:100%; font-size: 14px;">
                                    <thead class="bg-secondary">
                                        <tr>
                                            <th> Dia </th>
                                            <th> Ingresos </th>
                                            <th> Gastos </th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for w in datos_week %}
                                        <tr>
                                            <td>{{w.0|date:"d/m"}} - {{w.1|date:"d/m"}}</td>
                                            
                                            <td class="text-success"><b>$ {{w.2|floatformat:0|intcomma}}</b></td>
                                            <td class="text-danger"><b>$ {{w.3|floatformat:0|intcomma}}</b></td>
                                        </tr>

                                        {% endfor %}
     
                                    </tbody>

                                </table>
                            </div>
                        </div>
                        <div id="mensual" class="tab-pane fade">
                            <div class="row" style="margin-top: 15px;">

                                <div class="col-4 text-center">
                                    <p><b>Ingresos</b></p>
                                    <span class="text-success"><b>$ {{ingresos|floatformat:0|intcomma}}</b></span>
                                    
                                </div>
                                <div class="col-4 text-center">
                                    <p><b>Gastos</b></p>
                                    <span class="text-danger"><b>$ {{gastos|floatformat:0|intcomma}}</b></span>
                                    
                                </div>
                                <div class="col-4 text-center">
                                    <p><b>Balance</b></p>
                                    <span class="text-info"><b>$ {{balance|floatformat:0|intcomma}}</b></span>
                                    
                                </div>

                                
                            </div>

                            <hr style="width: 100%;"></hr>

                            <h3>Mensual</h3>
                            <div class="table-responsive">
                                <table id="example" class="table table-striped table-bordered "
                                    style="width:100%; font-size: 14px;">
                                    <thead class="bg-secondary">
                                        <tr>
                                            <th> Mes </th>
                                            <th> Ingresos </th>
                                            <th> Gastos </th>
                                            <th> Balance </th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for i in data_month %}
                                        <tr>
                                            <td>{{i.0|date:"m-Y"}}</td>
                                            
                                            <td class="text-success"><b>$ {{i.1|floatformat:0|intcomma}}</b></td>
                                            <td class="text-danger"><b>$ {{i.2|floatformat:0|intcomma}}</b></td>
                                            <td class="text-info"><b>$ {{i.3|floatformat:0|intcomma}}</b></td>
                                        </tr>   <tr>

                                        {% endfor %}
                                    </tbody>
                                  
                                </table>
                            </div>
                        </div>
                        <div id="total" class="tab-pane fade">

                            <div class="row" style="margin-top: 15px;">

                                <div class="col-4 text-center">
                                    <p><b>Ingresos</b></p>
                                    <span class="text-success"><b>$ {{ingresos|floatformat:0|intcomma}}</b></span>
                                    
                                </div>
                                <div class="col-4 text-center">
                                    <p><b>Gastos</b></p>
                                    <span class="text-danger"><b>$ {{gastos|floatformat:0|intcomma}}</b></span>
                                    
                                </div>
                                <div class="col-4 text-center">
                                    <p><b>Balance</b></p>
                                    <span class="text-info"><b>$ {{balance|floatformat:0|intcomma}}</b></span>
                                    
                                </div>
                            </div>

                            <hr style="width: 100%;"></hr>

                            <h3><form method="POST"> {% csrf_token %} <button type="submit" name="fecha_m" value="0" class="btn"><i class="fa fa-angle-left"></i></button>{{hoy|date:"M Y"}} <button type="submit" name="fecha_m" value="1" class="btn"><i class="fa fa-angle-right"></i></button></form></h3>

                            <div class="row">
                                <div class="card-body">
                                    <h6>Gastos {{hoy|date:"M"}}</h6>
                                </div>

                            </div>

                            <div class="row" style=" vertical-align: top;">
                                <div class="col-lg-6 col-xlg-4" >
                                    <div class="card-body">                    

                                        <canvas id="myChart" width="50%"></canvas>
                        
                                        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
                                      <script>
                                    
                                          var ctx = document.getElementById('myChart').getContext('2d');
                                          var chart = new Chart(ctx, {
                                              // The type of chart we want to create
                                              type: 'doughnut',
                                              // The data for our dataset
                                              data: {
                                              datasets: [{        
                                                  data: [{% for i in pie_gastos %} {{i.1}}, {% endfor %}],
                                                  backgroundColor: [{% for i in pie_gastos %} 'rgb{{i.2}}', {% endfor %}],    
                                              }],
                                    
                                              labels: [{% for i in pie_gastos %} '{{i.0}}', {% endfor %}]
                                            },
                                              options: {
                                                legend: {
                                                    display: false

                                                },
                                              },
                                    
                                            });
                                    
                                      </script>
                        
                                    </div>

                                </div>

                                <div class="col-lg-6 col-xlg-4">
                                    <div class="card-body"> 
                                    <div>
                                        <table id="example" class="table table-striped table-bordered "
                                            style="width:100%; font-size: 12px;">

                                            <tbody>
                                                {% for i in pie_gastos %}
                                                <tr>
                                                    
                                                    <td style="color: rgb{{i.2}};"><b>{{i.0}}</b></td>
                                                    <td>$ {{i.1|floatformat:0|intcomma}}</td>
                                                    
                                                </tr>
                                                {% endfor %}
                                            </tbody>
        
        
                                        </table>
                                    </div>
                                </div>
                                </div>
                                
                              </div>

                            <div class="row">
                                <div class="card-body">
                                    <h6>Ingresos {{hoy|date:"M"}}</h6>
                                </div>

                            </div>

                            <div class="row" style=" vertical-align: top;">
                                <div class="col-lg-6 col-xlg-4" >
                                    <div class="card-body">                    

                                        <canvas id="myChart2" width="50%"></canvas>
                        
                                        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
                                      <script>
                                    
                                          var ctx = document.getElementById('myChart2').getContext('2d');
                                          var chart = new Chart(ctx, {
                                              // The type of chart we want to create
                                              type: 'doughnut',
                                              // The data for our dataset
                                              data: {
                                              datasets: [{        
                                                  data: [{% for i in pie_ingresos %} {{i.1}}, {% endfor %}],
                                                  backgroundColor: [{% for i in pie_ingresos %} 'rgb{{i.2}}', {% endfor %}],    
                                              }],
                                    
                                              labels: [{% for i in pie_ingresos %} '{{i.0}}', {% endfor %}]
                                            },
                                              options: {
                                                legend: {
                                                    display: false
                                                },
                                              },
                                    
                                            });
                                    
                                      </script>
                        
                                    </div>

                                </div>

                                <div class="col-lg-6 col-xlg-4">
                                    <div class="card-body"> 
                                    <div>
                                        <table id="example" class="table table-striped table-bordered "
                                            style="width:100%; font-size: 12px;">

                                            <tbody>
                                                {% for i in pie_ingresos %}
                                                <tr>
                                                    
                                                    <td style="color: rgb{{i.2}};"><b>{{i.0}}</b></td>
                                                    <td>$ {{i.1|floatformat:0|intcomma}}</td>
                                                    
                                                </tr>
                                                {% endfor %}
                                            </tbody>
        
        
                                        </table>
                                    </div>
                                </div>
                                </div>
                                
                              </div>
                            
                        </div>
                        <div id="explorar" class="tab-pane fade">

                            <h3 style="margin-top: 10px;"><a href="#"><i class="fa fa-file-excel-o text-success"></i></a> Registros realizados</h3>
                            <div class="row m-2">
                                <button type="button" class="btn" data-toggle="modal" data-target="#ModalCuenta1"><i
                                        class="fa fa-plus-circle  text-success"><span class="text-success ml-2"
                                            style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"><b>Añadir registro masivo</b></span></i></button>
                            </div>
                            <div class="table-responsive">
                                <table id="example2" class="table table-bordered "
                                    style="width:100%; font-size: 14px;">
                                    <thead>
                                        <tr>
                                            <th> Dia </th>
                                            <th> Caja </th>
                                            <th> Cargo </th>
                                            <th> Cuenta </th>
                                            <th> Categoria </th>
                                            <th> Importe </th>
           
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for i in registros_totales %}
                                        <tr>
                                            <td>{{i.fecha|date:"Y-m-d"}}</td>
                                            <td>{{i.caja}}</td>
                                            <td>{{i.creador}}</td>
                                            <td>{{i.cuenta}}</td>
                                            <td>{{i.categoria}}</td>
                                            {% if i.estado == "INGRESOS" %}
                                            <td><b>$ {{i.importe|floatformat:0|intcomma}}</b></td>
                                            {% else %}
                                            <td><b>- $ {{i.importe|floatformat:0|intcomma}}</b></td>
                                            {% endif %}
                                        </tr>

                                        {% endfor %}
     
                                    </tbody>

                                </table>
                           
                        </div>
                        <!-- modelo prueba -->
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    
</div>



<aside class="right-side-panel">
    <h3 class="p-relative"><span class="lstick"></span> ¿Cómo funciona?</h3>
    <div class="row">
        
        <div class="col-md-12 m-t-10">
          <div class="card">
            <div class="card-body">
            <img src="{% static 'img/animation_500_kmw63xso.gif' %}" alt="Funny image" width="150px">
            <p>Registro contable es un modulo diseñado para el seguimiento personal de tu contabilidad. Aqui podras anotar gastos e ingresos y ver resumenes semanales o graficos que te ayuden a monitorear tus finanzas!</p>
            <p> Solo tu puedes ver esta pantalla, tu información no sera usada en otra parte del soft</p>
        </div>
            </div>
        </div>
    </div>


    </div>
</aside>

<datalist id="list_cat_gasto">

    {% for i in list_cat_gasto %}

    <option value="{{ i }}"></option>

    {% endfor %}

</datalist>

<datalist id="list_cat_ing">

    {% for i in list_cat_ing %}

    <option value="{{ i }}"></option>

    {% endfor %}

</datalist>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script>

    $(document).ready(function () {
        $('#example2').DataTable({
            "order": [[ 0, "desc" ]],
        });
    });
</script>


{% endblock %}