{% extends "users/inicio2.html" %}
{% load apptags_extras %}

{% load static %}

{% block content %}

<div class="container-fluid ">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Sugerencias</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item">Sugerencias</li>
            </ol>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-12 col-lg-10">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-11">
                        <h4 class="card-title"><span class="lstick m-r-20"></span>Panel de sugerencias</h4>

                        <div>
                            <a type="button" data-toggle="modal" data-target="#ModalCrearSugerencia"
                                class="fa fa-lg fa-plus-circle text-info mb-4"></a>
                            <span>Añadir</span>
                        </div>


                        <!-- Modal Respuesta -->
                        <div class="modal fade" id="ModalCrearSugerencia" tabindex="-1" role="dialog"
                            aria-labelledby="ModalCrearSugerenciaTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">
                                            Agergar sugerencia </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST" style="margin: 15px;" enctype="multipart/form-data"
                                            id="upload-image-form">

                                            {% csrf_token %}

                                            <h6>Sugerencia</h6>

                                            <div class="input-group mb-3">

                                                <input name="nombre" type="text" class="form-control form-control"
                                                    style="width: 300px;">
                                            </div>
                                            <h6>Descripcion</h6>

                                            <div class="input-group mb-3">

                                                <textarea name="descripcion" cols="100" rows="4"
                                                    class="form-control"></textarea>
                                            </div>

                                            <h6>Archivo</h6>

                                            <div class="input-group mb-3">

                                                <input name="adjunto" type="file" class="" style="width: 300px;">
                                            </div>

                                            <button type="submit" class="btn btn-info">
                                                <b>Cargar</b></button>

                                            {{ form.as_p }}

                                        </form>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Cerrar</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- fin modal crear-->


                        <div class="row mt-3">
                            <div class="col-12">

                                <div class="table-responsive m-t-4">
                                    <table class="table stylish-table">
                                        <thead>
                                            <tr>
                                                <th>Creador</th>
                                                <th>Sugerencia</th>
                                                <!-- <th>Respuesta</th>-->
                                                <th>Prioridad</th>
                                                <th style="text-align: center;">Estado</th>
                                            </tr>
                                        </thead>
                                        <tbody>


                                            {% for i in data %}
                                            <tr>
                                                <td>{{i.usuario.identificacion}}</td>
                                                <td>
                                                    <div><a href="#" data-toggle="modal"
                                                            data-target="#ModalDescripcion{{i.id}}"><span>{{i.nombre}}</span></i></a>


                                                        {% if i.adjunto %}

                                                        <a href="{{i.adjunto.url}}" target="_blank" class="ml-3"><i
                                                                class="fa fa-paperclip" aria-hidden="true"></i></a>{% endif %}
                                                    </div>
                                                </td>
                                                <!-- Modal Descripcion -->
                                                <div class="modal fade" id="ModalDescripcion{{i.id}}" tabindex="-1"
                                                    role="dialog" aria-labelledby="ModalDescripcionTitle"
                                                    aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLongTitle">
                                                                    Descripcion </h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <span>{{i.descripcion}}</span>

                                                            </div>

                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Cerrar</button>

                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                                <!--  <td>
                                                            <a href="#" data-toggle="modal"
                                                                data-target="#ModalRespuesta"><i
                                                                    class="fa fa-comments-o" aria-hidden="true"></i></a>
                                                        </td>-->
                                                <!-- Modal Respuesta -->
                                                <div class="modal fade" id="ModalRespuesta" tabindex="-1" role="dialog"
                                                    aria-labelledby="ModalRespuestaTitle" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLongTitle">
                                                                    Respuesta </h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form action="POST">
                                                                    <div class="input-group mb-3">

                                                                        <input name="respuesta" type="text"
                                                                            class="form-control form-control"
                                                                            style="width: 300px;">
                                                                    </div>

                                                                    <button type="submit" class="btn btn-info mb-4">
                                                                        <b>Enviar</b></button>

                                                                </form>
                                                                <h6>Hola JNT agradecemos tu sugerencia gracias
                                                                    al
                                                                    adjunto encontramos cuales eran los botones
                                                                    que
                                                                    faltaban modificar</h6>

                                                            </div>

                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Cerrar</button>

                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <td>
                                                    <span>{{i.prioridad}}</span>
                                                </td>

                                                <td style="text-align: center; vertical-align: top;">

                                                    {% if i.estado == "LISTO" %}

                                                    <img src="{% static 'img/cheque.png' %}" alt=""
                                                        style="max-width:21px; height:auto; vertical-align: top;">


                                                    {% elif i.estado == "ESPERA"%}

                                                    {% if user.username == "AR" %}

                                                    <form method="POST">
                                                        {% csrf_token %}
                                                        <button class="btn" type="submit" name="ENTREGADO"
                                                            style="padding: 0%;" value="{{i.id}}"><img
                                                                src="{% static 'img/advertir.png' %}" alt=""
                                                                style="max-width:21px; height:auto; vertical-align: top;"></button>
                                                    </form>

                                                    {% else %}

                                                    <img src="{% static 'img/advertir.png' %}" alt=""
                                                                style="max-width:21px; height:auto; vertical-align: top;">

                                                    {% endif %}

                                                    {% endif %}
                                                </td>

                                            </tr>

                                            {% endfor %}
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<aside class="right-side-panel">
    <h3 class="p-relative"><span class="lstick"></span>¿Como funciona?</h3>
    <div class="row">
        <div class="col-md-12 m-t-10">
            <div class="card">
                <div class="card-body">
                    <img src="{% static 'img/33635-worker-have-an-idea.gif' %}" alt="Funny image" width="200px">
                    <p><b class="text-dark">Sugerencias</b> Realiza sugerencias o reporta errores que crees que podrían
                        mejorar el sistema o facilitar tu trabajo, estos serán revisados constantemente por el equipo
                        técnico. </p>
                    <p><b class="text-dark">Prioridades</b> El sistema de prioridades sirve para dar una mejor respuesta
                        a sus sugerencias, así podemos enfocarnos mejor en solucionar primero las cosas que sean más
                        importantes para su trabajo y confort.</p>
                    <p><b class="text-dark">Respuesta</b> <i class="fa fa-comments-o" aria-hidden="true"></i> Recuerda
                        cada tanto revisar si tu sugerencia no tiene una respuesta.</p>
                    <p><b class="text-dark">Recomendacion</b> Antes de realizar una sugerencia o reportar un error
                        recomendamos que revises si es que alguien más no lo hizo primero, esto evitara confusiones y
                        facilitara llegar a tu problema antes.</p>
                    <h5>Gracias por tu tiempo y por ayudar a que Link-P siga creciendo.</h5>
                </div>
            </div>
        </div>
    </div>
</aside>

{% endblock %}