{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleabel.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LINK-P</title>
</head>

<body background="{% static 'img/dark_wood.png' %}">

    <div class="view">
        <div class="plane main">
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
        </div>
      </div>

    <div class= "conteiner" style="text-align: center">

        <div class="jumbotron" style="margin-top: 3%; background-color: rgba(11, 32, 68, 0.8);">
            <h2 class="display-4" style="color: #F3EAE5; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">¡Bienvenido/a!</h2>

            <h4 style="color: #F3EAE5; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">{{request.user.first_name}} {{request.user.last_name}}</h4>


                <hr class="my-4" style="background-color: #F3EAE5; width: 75%">


                <h6 style="color: #F3EAE5 ; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">APP-WEB LINK- <b style="color: #19C6C6 ;">P</b> 
                </h6>
                

            <small style="color: #F3EAE5 ; font-family: Arial, Helvetica,">versión <b>2.01</b> 
            </small>
        </div>

            <div style="margin-top: 3%;">

                <a href="/inicio" class="btn btn-success btn-lg" style="background-color: rgb(11, 32, 68);"> <small>INGRESAR</small> </a>
    
               </div>


               <div style="text-align: center; margin-top: 5%;">
                <p style="font-family: Arial, Helvetica, sans-serif; color: #F3EAE5 ;"> <small>-- Link<strong>P</strong> --</small> </p>
        
             </div>

        
          



    </div>
    
    



</body>


</html>