{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/styleabel.css' %}">
    <link rel="shortcut icon" href="{% static 'img/LinkIco21.ico' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link-P</title>
</head>

<body>
<body background="{% static 'img/fondopan4.png' %}" style="height: auto; overflow: hidden;">

    <div class="row d-flex align-content-center" style="text-align: center; height: 80vh;">
        <div>
            <div class="jumbotron">
                <!-- <div class="jumbotron" style="background-color: rgba(11, 32, 68, 0.8);"> -->
                <h1 class="mb-3" style="color: #F3EAE5;">
                    ¡Bienvenido a LinkP!</h1>
                <h4 class="mb-3" style="color: #F3EAE5;"> Que bueno es verte de nuevo
                    {{request.user.first_name}} {{request.user.last_name}} !</h4>


            </div>

            <div class="mt-4">
                <a href="/logout" class="btn btn-danger"><img src="{% static 'img/logout.png' %}" alt=""
                        style="width:20px; height:auto; vertical-align: bottom;"> Log out </a>

                <a href="/inicio" class="btn btn-light">Ingresar <img src="{% static 'img/flecha-derecha.png' %}" alt=""
                        style="width:20px; height:auto; vertical-align: bottom;"></a>

            </div>
        </div>
    </div>
    <footer class="text-center">
        <h6 style="color: #F3EAE5 ;">
            APP-WEB LINK-<b style="color: #19C6C6 ;">P</b>
        </h6>
        <small style="color: #F3EAE5 ; font-family: Arial, Helvetica,">versión <b>3.00</b>
        </small>
    </footer>
</body>


</html>