{% extends "users/inicio2.html" %}

{% load static %}
{% load apptags_extras %}

{% block content %}

<div class="container-fluid r-aside">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Biblioteca de Analisis de P U</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item">Biblioteca de Analisis de P U</li>
            </ol>
        </div>

    </div>

</div>

<div class="col-12">
    <div class="card">
        <div class="card-body ">
            <h4 class="card-title">
                {% if request.user|has_group:"PRESUPUESTO NIVEL 10" %}
                <a class="btn btn-secondary btn-outline" href="/presupuestos/panelanalisis"><img
                        src="{% static 'img/iniciar-sesion.png' %}" alt=""
                        style="max-width:20px; height:auto; vertical-align: middle;">

                </a>{% endif %} Biblioteca de Analisis de PU
            </h4>
            <h6 class="card-subtitle">
                Analisis de Precio Unitario
            </h6>
        

        <div class ="dataTables_filter">

            <form method="POST" style="text-align: center;">

                {% csrf_token %}

                <label>
                    Buscar:
                    <input type="search" class placeholder aria-controls="example23" name="palabra">
                </label>

            </form>
        </div>
        </div>


        {% if datos %}
        <div class="table-responsive m-t-40">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="row">
                            Codigo
                        </th>
                        <th scope="row">
                            Nombre de Analisis
                        </th>
                        <th scope="row">
                            UN
                        </th>
                        <th scope="row">
                            Valor
                        </th>
                    </tr>
                </thead>

                <tbody>

                    {% for i in datos|slice:"20" %}

                    <tr class="table-light">
                        <td> {{i.0.codigo}} </td>
                        <td> <a href="{% url 'Composición Analisis' i.0.codigo %}"
                            >{{i.0.nombre}}</a>
                        </td>
                        <td>{{i.0.unidad}}</td>
                        <td>${{i.1|floatformat:2}}</td>


                    </tr>


                    {% endfor %}

                </tbody>

            </table>
        </div>

        <b>
            <hr class="my-4" style="width: 100%; ">
        </b>

        <div>
            <small>El listado puede continuar, el maximo de filas visibles es de 20</small>
        </div>

        {% else %}
        <div>
            <h3>No existe registros actualmente</h3>
        </div>


        {% endif %}

    </div>
</div>


{% endblock %}