{% extends "users/inicio.html" %}

{% load static %}

{% block content %}

<div class = "jumbotron" style="background-color: white; margin-bottom: 0px; text-align: center;">

    <h3>Biblioteca de Analisis de Precio Unitario</h3>
    <h6> <small>Composición por unidad de medida</small> </h6>
     <b><hr class = "my-4" style="width: 75%;"></b>
     <form method="POST" style="text-align: center;">

        {% csrf_token %}

        <div style="display: inline-block; margin-left: 1rem;">

            <label for="palabra"><h6>Buscar</h6></label>

        </div>
        
        <div style="display: inline-block; margin-left: 1rem; ">

            <input name="palabra" type="text" class="form-control form-control" placeholder="Buscar por palabra" list="art" style="width: 30rem;">

        </div>

        <div>
            <button class="btn btn-dark" type="submit" style="margin-top: 1%;">Buscar</button>          
        </div>       

     </form>
     <b><hr class = "my-4" style="width: 100%; "></b>

    
    
    {% if datos %} 

    <table class = "table table-hover" style="text-align: center;">
        <thead>

            <tr class = "table-dark">
                <th scope = "row"> <font style = "vertical-align: heredar;"> CODIGO </font></th>
                <th scope = "row"> <font style = "vertical-align: heredar;"> NOMBRE DEL ANALISIS </font></th>
                <th scope = "row"> <font style = "vertical-align: heredar;"> UN </font></th>
                <th scope = "row"> <font style = "vertical-align: heredar;"> VALOR </font></th>

                
            </tr>
        </thead>

        <tbody>

            

            {% for i in datos|slice:"20"  %}

            <tr class = "table-light">
                <td> <b>{{i.0.codigo}}</b> </td>
                <td> <a href="{% url 'Composición Analisis' i.0.codigo %}" style="color: black;">{{i.0.nombre}}</a> </td>
                <td>{{i.0.unidad}}</td>
                <td>${{i.1|floatformat:2}}</td>
                
                
            </tr>
        </tbody>

            {% endfor %}

        </table>

        <b><hr class = "my-4" style="width: 100%; "></b>

        <div>
            <small>El listado puede continuar, el maximo de filas visibles es de 20</small>
        </div>

     {% else %}
            <div>
                <h3>No existe registros actualmente</h3>
            </div>
            

    {% endif %}
        


    {% if perms.presupuestos.view_analisis %}

     <b><hr class = "my-4" style="width: 100%; "></b>

     <div style="margin-bottom: 1rem; text-align: center;">
        <a href="/presupuestos/panelanalisis"><button class="btn btn-success" type="submit">Acceso al panel de cambios</button></a>  
     </div>

     {% endif %}

    <div style="margin-top: 2rem;">
        <p> <small>-- Link<strong>P</strong> --</small> </p>

     </div>

                    
</div>
 
    
{% endblock %}