{% extends "users/inicio2.html" %}

{% load static %}

{% block content %}



<div class="container-fluid r-aside">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Panel de Analisis de Precio Unitario</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item">Panel de Analisis de Precio Unitario</li>
            </ol>
        </div>

    </div>

</div>


<div class="row">
    <div class="col-12">
        <div class="card overflow-auto">
            <div class="card-body ">

                <div style="margin-bottom: 0.5rem;">
                    <a href="/presupuestos/crearanalisis"><button class="btn btn-success" type="submit">Crear
                            analisis</button></a>
                </div>

                {% if datos %}

                <table id="example" class="table table-striped table-bordered" style="width:100%">

                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Nombre Del Analisis</th>
                            <th>Un.</th>
                            <th>Valor</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>

                    <tbody>

                        {% for i in datos %}

                        <tr>
                            <td> <b>{{i.0.codigo}}</b> </td>
                            <td> <a href="{% url 'Composición Analisis' i.0.codigo %}">{{i.0.nombre|lower|capfirst}}</a> </td>
                            <td>{{i.0.unidad|lower|capfirst}}</td>
                            <td>${{i.1|floatformat:2}}</td>
                            <td><a class="btn btn-success"
                                    href="{% url 'Modificar analisis' i.0.codigo %}">Editar</a>
                            </td>
                            <td><a class="btn btn-danger" href="#">Eliminar</a>
                            </td>


                        </tr>
                        {% endfor %}
                    </tbody>




                    {% else %}
                    <div>
                        <h3>No existe registros actualmente</h3>
                    </div>


                    {% endif %}


                </table>
            </div>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js" defer></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js" defer></script>



<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>



{% endblock %}