{% extends "users/inicio2.html" %}


{% load humanize %}

{% load static %}

{% block content %}

<div>
    <div class="container-fluid r-aside">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">{{ datos.analisis.nombre|lower|capfirst}}</h3>
            </div>

            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'Lista de analisis' %}">Biblioteca</a></li>
                    <li class="breadcrumb-item">Composición</li>
                </ol>
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-12">
            <div class="card overflow-auto">
                <div class="card-body">

                    {% if datos %}

                    <table class="table table-striped table-bordered" style="width:100%">
                        <thead>

                            <tr>
                                <th> Codigo</th>
                                <th>Nombre del Articulo</th>
                                <th>Un.</th>
                                <th>Valor</th>
                                <th>Cantidad</th>
                                <th>Total</th>
                                <th>Inc.</th>

                            </tr>
                        </thead>

                        <tbody>

                            {% for i in datos.lista_final %}

                            <tr>
                                <td> <b>{{i.0.articulo.codigo}}</b> </td>
                                <td>{{i.0.articulo.nombre|lower|capfirst}} </td>
                                <td>{{i.0.articulo.unidad|lower|capfirst}}</td>
                                <td>${{i.0.articulo.valor|floatformat:0|intcomma}}</td>
                                <td>{{i.0.cantidad}}</td>
                                <td>${{i.1|floatformat:0|intcomma}}</td>
                                <td>{{i.2|floatformat:2}}%</td>



                            </tr>

                            {% endfor %}
                        </tbody>

                        

                    </table>



                    <div style="text-align: center; margin-bottom: 2rem;">
                        <small> <strong>TOTAL DEL ANALISIS: ${{datos.total|floatformat:0|intcomma}}</strong> </small>
                    </div>

                    {% for i in datos.lista_final %}

                    <div>
                        <small> {{i.0.articulo.nombre}} --> {{i.0.articulo.descrip}} </small>
                    </div>
                    {% endfor %}

                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}