{% extends "users/inicio.html" %}


{% load humanize %}

{% load static %}

{% block content %}

<div class = "jumbotron" style="background-color: white; margin-bottom: 0px;">

    <h3 style="text-align: center; color: #17B5B5 ;">{{ datos.analisis.nombre }}</h3>
     <b><hr class = "my-4" style="width: 75%; border-color: #17B5B5 ;"></b>

     <b><hr class = "my-4" style="width: 100%; border-color: #17B5B5 ;"></b>     

    {% if datos %} 

    <table class = "table table-hover" style="text-align: center;">
        <thead>

            <tr class = "table-info">
                <th scope = "row" style="vertical-align: middle;"> CODIGO </th>
                <th scope = "row" style="vertical-align: middle;">NOMBRE DEL ARTICULO</th>
                <th scope = "row" style="vertical-align: middle;">UN </th>
                <th scope = "row" style="vertical-align: middle;">VALOR </th>
                <th scope = "row" style="vertical-align: middle;">CANTIDAD </th>
                <th scope = "row" style="vertical-align: middle;">TOTALES </th>
                <th scope = "row" style="vertical-align: middle;">INC </th>


                
            </tr>
        </thead>

        <tbody>

            

            {% for i in datos.lista_final %}

            <tr class = "table-light">
                <td> <b>{{i.0.articulo.codigo}}</b> </td>
                <td>{{i.0.articulo.nombre}} </td>
                <td>{{i.0.articulo.unidad}}</td>
                <td>${{i.0.articulo.valor|floatformat:0|intcomma}}</td>
                <td>{{i.0.cantidad}}</td>
                <td>${{i.1|floatformat:0|intcomma}}</td>
                <td>{{i.2|floatformat:2}}%</td>

                
                
            </tr>
        </tbody>

        {% endfor %}

    </table>

            

            <div style="text-align: center; margin-bottom: 2rem;">
                <small>  <strong>TOTAL DEL ANALISIS: ${{datos.total|floatformat:0|intcomma}}</strong> </small>
            </div>

            {% for i in datos.lista_final %}

            <div >
                <small> {{i.0.articulo.nombre}} --> {{i.0.articulo.descrip}} </small>
            </div>
            {% endfor %}

            <div style="text-align: center;">
                <p> <small>-- Link<strong>P</strong> --</small> </p>
        
             </div>
            

    {% endif %}
        



                    
</div>
 
    
{% endblock %}