{% extends "users/inicio2.html" %}

{% load static %}
{% load humanize %}
{% load apptags_extras %}

{% block content %}

<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Registro de compras</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Principal compras' %}">Panel</a></li>
                <li class="breadcrumb-item">Registro</li>

            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <h4 class="card-title"><span class="lstick m-r-20"></span><b>Panel de compras cargadas</b></h4>
                            <h6 class="card-subtitle">Detalle de las compras cargadas al sistema</h6>
    
                        </div>
                        <div class="btn-group ml-auto">
                            <a href="JavaScript:void(0)" class="icon-options-vertical link" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                {% if request.user|has_group:"COMPRAS NIVEL 2" and request.user.username != "HC" %}
                                <a class="dropdown-item" href="/compras/cargacompras"><i class="fa fa-plus-circle mr-2"></i>Agregar compra</a>
                                {% endif %}
                                <a class="dropdown-item" href="{% url 'Descargar compras' %}"><i
                                        class="fa fa-file-excel-o mr-2"></i>Excel</a>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">

                        

                        <div class="col-3">

                            <h6><b>Panel busqueda</b></h6>

                            <div class="mt-2">
                                <input type="checkbox" class="check" id="last_100">
                                <label for="last_100">Ultimas 100</label>
                            </div>
                            <div>
                                <input type="checkbox" class="check" id="last_500">
                                <label for="last_500">Ultimas 500</label>
                            </div>
                            <div>
                                <input type="checkbox" class="check" id="all">
                                <label for="all">Sin filtro</label>
                            </div>
                            
                            <small class="font-bold">Proyecto</small>
                            <input id="proyecto" type="search" list="proyectos_list" class="form-control" onchange="agregar_proyecto_lista()"> 
                            <small class="font-bold">Proveedor</small>
                            <input id="proveedor" type="search" list="proveedores_list" class="form-control" onchange="agregar_proveedor_lista()"> 
                            <small class="font-bold">Aritculo</small>
                            <input id="articulos" type="search" list="articulos_list" class="form-control" onchange="agregar_articulo_lista()"> 
                            <small class="font-bold mt-2 mb-2">Filtros aplicados</small>
                            <div id="filter_conteiner">
                            </div>
                            
                            
                        </div>

                        <div class="col-9" id="presentacion">
                            <h6><b>Resultados</b></h6>

                            <p class="font-bold">Hey!, sabias que la base de datos de compras esta por llegar al 1.000.000 de registros? Para no tener que esperar o que sea incomodo trabajar se ha diseñado este panel</p>
                            <p class="font-bold">Selecciona los parametros inciales de tu busqueda, se procesara tu solicitud y veras el resultado</p>
                            <p class="font-bold">Puedes hacerlo cuantas veces quieras</p>
                        </div>

                        <div class="col-9" id="contenedor_detalle_compras" style="display: none;">
                 
                        </div>



                    </div>
             
                </div>
            </div>
        </div>
    </div>
</div>

<li id="add" class="btn btn-success btn-circle fa fa-search"
    onclick="service_consulta_compras()" data-toggle="tooltip" data-placement="left" title="Realizar busqueda"></li>

<datalist id="proyectos_list">
    {% for proyecto in proyectos %}
    <option id="proyecto_id" value="{{proyecto.nombre}}"></option>
    {% endfor %}
</datalist>

<datalist id="proveedores_list">
    {% for proveedor in proveedores %}
    <option value="{{proveedor.name}}"></option>
    {% endfor %}
</datalist>

<datalist id="articulos_list">
    {% for articulo in articulos %}
    <option value="{{articulo.nombre}}"></option>
    {% endfor %}
</datalist>

<input type="hidden" id = "token" value="{{ csrf_token }}">
<input type="hidden" id = "host" value="{% host %}">

<style>

    #add{
        position: fixed;
        bottom: 30px;
        right: 20px;
        z-index: 3;
    }

</style>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'js/f_registro_compras.js' %}"></script>


{% endblock %}