{% extends "users/inicio2.html" %}
{% load apptags_extras %}

{% load static %}
{% load humanize %}

{% block content %}

{% if request.user|has_group:"VENTAS NIVEL 3" %}

<div class="container-fluid">

    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Pricing</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Panel de pricing'%}">Panel</a>
                </li>
                <li class="breadcrumb-item">Pricing</li>
            </ol>
        </div>
    </div>

    <div class="row ">
        <div class="col-12">
            <div class="card overflow-auto">
                <div class="card-body">
    
                    <div class="d-flex align-items-center">
                        <div>
                            <h4 class="card-title" style="color: rgb({{proyecto.color}})"><span
                                    class="lstick m-r-20"></span> <b>{{proyecto.nombre}}</b> - Precio base:
                                ${{proyecto.desde|floatformat:0|intcomma}} - Reposición de contado:
                                ${{otros_datos.0.4|floatformat:0|intcomma}}</h4>
                                <h6>Total del pricing: ${{contado_total|floatformat:0|intcomma}}</h6>
                                <h6>Total de m2: {{m2_totales|floatformat:2|intcomma}} M2</h6>
    
                        </div>
                        <div class="btn-group ml-auto">
                            <a href="JavaScript:void(0)" class="icon-options-vertical link" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                {% if request.user|has_group:"VENTAS NIVEL 4" %}
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModalCenter"><i
                                        class="fa fa-pencil-square-o mr-2"></i>Editar precio base</a>
                                {% endif %}
                                <a class="dropdown-item" href="{% url 'Features Project' proyecto.id %}"><i
                                        class="fa fa-home mr-2"></i>Admin pricing</a>
                                <a class="dropdown-item" href="{% url 'Descargar del pricing' proyecto.id %}"><i
                                        class="fa fa-file-excel-o mr-2"></i>Excel</a>
                            </div>
                        </div>
                    </div>
    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header" style="background-color: #2a3e52;">
                                    <h5 class="modal-title text-light" id="exampleModalLongTitle">Estas por modificar el
                                        precio del pricing!</h5>
                                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Cuando lo modifiques, espera unos segundos a que cargue todo!</p>
                                    <form method="GET" style="margin: 15px;">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input name="precio_venta" type="number" class="form-control form-control"
                                                aria-label="Amount" style="width: 100px;">
                                        </div>
                                    </form>
    
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <table id="example" class="table" style="width:100%">
                        <thead>
                            <tr style="font-size: 14px;">
                                <th>Nº</th>
                                <th>Unidad</th>
                                <th>Tipologia</th>
                                <th>Asignación</th>
                                <th data-toggle="tooltip" data-placement="right" title=""
                                    data-original-title="Superficie Equivalente">Superficie</th>
                                
                                <th>Estado</th>
                                <th>Contado</th>
                                <th data-toggle="tooltip" data-placement="right" title=""
                                    data-original-title="Superficie Equivalente">Financiado</th>
                                <th>Pagos</th>
                                <th></th>
                            </tr>
                        </thead>
    
                        <tbody style="font-size: 14px;">
    
                            {% for i in datos_unidades %}
                            <tr>
                                <td class="font-bold" style="color: rgb({{proyecto.color}});">{{i.0.orden}}</td>
                                <td>
                                    <h6>
                                        {% if i.0.plano_venta %}
                                        <a href="{{ i.0.plano_venta.url }}" target="_blank"><i
                                                class="fa fa-file-pdf-o text-danger mr-2"></i></a>
                                        {% endif %}
                                        <a href=" {% url 'Cotizador' i.0.id %}"
                                            style="color: rgb({{proyecto.color}});"><b>{{i.0.piso_unidad}} -
                                                {{i.0.nombre_unidad}}</b></a>
                                            </h6>
    
                                    
                                </td>
    

    
                                <td>{{i.0.tipologia|lower|capfirst}}</td>
                                <td>{{i.0.asig|lower|capfirst}}</td>
    
    
                                <td>{{i.1|floatformat:2}} m2</td>
                                
    
                                {% if i.9 != 0 and perms.ventas.view_ventasrealizadas %}
    
                                <td>
                                    <div class="label label-table label-{% if i.0.estado == " DISPONIBLE " %}success{% elif i.0.estado == "SEÑADA" %}warning{% else %}info{% endif %}">
                                        {{i.0.estado|lower|capfirst}}</div>
                                </td>
    
                                {% else %}
    
                                <td>
                                    <div class="label label-table label-{% if i.0.estado == " DISPONIBLE " %}success{% elif i.0.estado == "SEÑADA" %}warning{% else %}info{% endif %} ">
                                        {{i.0.estado|lower|capfirst}}</div>
                                </td>
    
                                {% endif %}
    
                                {% if i.2 >= 0 %}
                                <td>$ {{i.4|floatformat:0|intcomma}}
                                    <h6 class="card-subtitle" style="margin-top: 1px; font-size: 12px;">{{i.2|floatformat:0|intcomma}} $/m2</h6>
                                </td>
                                <td>$ {{i.5|floatformat:0|intcomma}}
                                    <h6 class="card-subtitle" style="margin-top: 1px; font-size: 12px;">{{i.6|floatformat:0|intcomma}}$/m2 </h6>
                                </td>
                                </td>
    
                                <td>Anticipo: $ {{i.7|floatformat:0|intcomma}}
                                    <h6 class="card-subtitle" style="margin-top: 1px; font-size: 12px;">Cuotas
                                        ({{datos.meses}}): $ {{i.8|floatformat:0|intcomma}}</h6>
                                </td>
    
                                {% else %}
    
                                <td>{{i.4|lower|capfirst}}</td>
                                <td>{{i.2|lower|capfirst}}</td>
                                <td>{{i.2|lower|capfirst}}</td>
    
    
                                {% endif %}
    
                                <td>
                                    <div class="btn-group ml-auto">
                                        <a href="JavaScript:void(0)" class="icon-options-vertical link"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#" data-toggle="modal"
                                                data-target="#ModalPlano{{i.0.id}}"><i
                                                class="fa fa-file-pdf-o mr-2 text-danger"></i>Cargar plano</a>
                                            <a class="dropdown-item" href="#" data-toggle="modal"
                                                data-target="#ModalEditar{{i.0.id}}"><i
                                                class="fa fa-pencil-square-o mr-2"></i>Editar unidad</a>
                                        </div>
                                    </div>
                                </td>

                                <div class="modal fade" id="ModalEditar{{i.0.id}}" tabindex="-1" role="dialog" aria-labelledby="ModalEditar{{i.0.id}}" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                
                                            <div class="modal-body">
                                                <button type="button" class="close text-dark" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <form method="post">
                                                    {% csrf_token %}
                                                    <div class="row">
                                                        <div class="col-2">
                                                            <img src="{% static 'img/bot.png' %}" width="40px" alt="">
                                                        </div>
                                                        <div class="col-10 mb-3">
                                                            <h4 class="my-2 text-title text-center">Editor de unidades</h4>
                                                        </div>
                                                        <div>
                                                            <label for="piso">Numero</label>
                                                            <input type="text" name="numero" class="form-control" value="{{i.0.orden}}">
                                                        </div>
                                                        <div>
                                                            <label for="piso">Piso</label>
                                                            <input type="text" name="piso" class="form-control" value="{{i.0.piso_unidad}}">
                                                        </div>
                                                        <div>
                                                            <label for="nombre">Nombre</label>
                                                            <input type="text" name="nombre" class="form-control" value="{{i.0.nombre_unidad}}">
                                                        </div>
                                                        <div class="mt-2">
                                                            <label for="tipologia">Tipologia</label>
                                                            <input type="text" name="tipologia" class="form-control" value="{{i.0.tipologia|lower|capfirst}}">
                                                        </div>
                                                        <div class="mt-2">
                                                            <label for="superficie">Superficie</label>
                                                            <input type="number" step="any" name="superficie" class="form-control" value="{{i.1|floatformat:2}}">
                                                        </div>
                                                        <div class="my-3">
                                                            <button type="submit" name="editar" value="{{i.0.id}}" class="btn btn-primary">Editar</button>
                                                        </div>
                                        
                                                    </div>
                                                </form> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="modal fade" id="ModalPlano{{i.0.id}}" tabindex="-1" role="dialog"
                                    aria-labelledby="ModalPlano{{i.0.id}}" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header"
                                                style="background-color: #2a3e52;">
                                                <h5 class="modal-title text-light" id="exampleModalLongTitle">Cargar planos
                                                </h5>
                                                <button type="button" class="close text-light" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
    
                                                <form method="POST" style="margin: 15px;" enctype="multipart/form-data"
                                                    action=" {% url 'cargarplano' proyecto.id %} "> {% csrf_token %}
                                                    <p>Agregar el plano correspondiente a la unidad</p>
                                                    <div class="input-group mb-3">
                                                        <input type="file" name="plano" required
                                                            class="form-control form-control" style="width: 100px;">
                                                    </div>
    
                                                    <button type="submit" name="unidad" value="{{i.0.id}}"
                                                        class="btn btn-info">Cargar</button>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Cerrar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% if mensajes %}
<a id="add" href="#"  data-toggle="modal" data-target="#ModalCheck" class="btn btn-lg btn-danger btn-circle fa fa-5x fa-exclamation"></a>
{% endif %}
<div class="modal fade" id="ModalCheck" tabindex="-1" role="dialog" aria-labelledby="ModalCheck" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        

                <div class="modal-body">
                    <button type="button" class="close text-dark" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

        
                    <div class="row">
                        <div class="col-2">
                            <img src="{% static 'img/bot.png' %}" width="40px" alt="">
                        </div>
                        <div class="col-10 mb-3">
                            <h4 class="my-2 text-title text-center">Las siguientes acciones no se realizaron</h4>
                        </div>
                        
                        {% for alerta in alertas %}

                        <ul>
                            <li>{{alerta}}</li>
                        </ul>
                        {% endfor %}
           
                    </div>
                </div>

        </div>
    </div>
</div>

<style>
    @keyframes example {
    0% {transform: scale(0.9);}
    50% {transform: scale(1);}
    100% {transform: scale(0.9);}
    }
    #add{
        position: fixed;
        bottom: 60px;
        right: 20px;
        animation: example 1s ease-in-out infinite;
    }

</style>

{% if mensaje %}

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

    const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 5000,
        timerProgressBar: true,
        didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
    })

    Toast.fire({
        icon: '{% if mensaje.0 == 1 %}success{% else %}warning{% endif %}',
        title: '{{mensaje.1}}'
    })

</script>

{% endif %}



<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "language": {
                "lengthMenu": "Mostar _MENU_ documentos",
                "zeroRecords": "No se encontro nada - perdon ",
                "info": "Pagina _PAGE_ de _PAGES_",
                "infoEmpty": "Sin registros disponibles",
                "infoFiltered": "(filtrado de _MAX_ registros totales)",
                "search": "Buscar"
            },
            "paging": false,
            "ordering": false,
            "info": false,

        });
    });
</script>

{% endif %}

{% endblock %}