{% extends "users/inicio2.html" %}

{% load static %}
{% load apptags_extras %}

{% block content %}


<div class="container-fluid r-aside">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Minutas de reuniones</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item">Minutas</li>
            </ol>
        </div>

    </div>
</div>

<div class="row ">
    <div class="col-9">
        <div class="card overflow-auto">
            <div class="card-body">
                <div class="row d-flex justify-items-between">
                    <div class="col">

                        <h4 class="card-title"><span class="lstick m-r-20"></span>
                            Listado de minutas
                        </h4>
                        <h6 class="card-subtitle">
                            Solo podras ver las minutas que creaste o que seas un integrante
                        </h6>
                    </div>

                    <div class="row m-2">
                        <a href="{% url 'Minutas Crear' %}"><i
                                class="fa fa-plus-circle  text-info"><span class="text-info ml-2"
                                    style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"><b>Nueva minuta</b></span></i></a>
                    </div>

 
                </div>

                <table id="example" class="table ">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Creador</th>
                            <th>Reunión</th>
                            <th>Tema</th>
                            
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>

                        {% for i in data %}
                        {% if user.username in creador.identificacion or user.username in i.integrantes%}
                        <tr>
                            <td>{{i.fecha|date:"Y-m-d"}}</td>
                            <td>
                                <div><img src="{{i.creador.imagenlogo.url}}" class="rounded" style="width: 40px;"
                                        alt=""><span class="ml-2">{{i.creador.identificacion}}</span></div>
                            </td>
                            <td>{% if i.reunion %}{{i.reunion}}{% else %}-{% endif %}</td>
                            <td><a href="{% url 'Minutas Id' i.id %}">{{i.nombre|lower|capfirst}}</a>
                                <h6 class="card-subtitle" style="margin-top: 3px;">Integrantes: {{i.integrantes}}</h6></td>
                            
                             <td>
                                 {% if request.user.username == i.creador.identificacion %}
                                 <form method="POST">
                                        <button class="btn btn-link fa fa-trash d-flex align-content-end" type="submit" name="delete" value="{{i.id}}" style="text-decoration: none;"></button>

                                        {% csrf_token %}
                                    </form>
                                {% else %}

                                {% endif %}

                                    </td>  
                         
                        </tr>
                        {% endif %}

                        {% endfor %}




                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

<aside class="right-side-panel">
    <h3 class="p-relative"><span class="lstick"></span> ¿Comó funciona?</h3>
    <div class="row">
        
        <div class="col-md-12 m-t-10">
          <div class="card">
            <div class="card-body">
            <img src="{% static 'img/animation_500_kmxqe3a4.gif' %}" alt="Funny image" width="200px">
            <p> Crea una nueva minuta haciendo click en <i class="fa fa-plus-circle  text-info"></i></p>
            <p> Cuando la estes creando <b class="text-warning">no olvides</b>  de leer las indicaciones escritas a la derecha</p>
        </div>
            </div>
        </div>
    </div>


    </div>
</aside>


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js" defer></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js" defer></script>



<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "order": [[ 0, "desc" ]],
            "paging": false,
            "info": false
        });
    });
</script>


{% endblock %}