{% extends "users/inicio2.html" %}

{% load static %}

{% block content %}

<div class="container-fluid r-aside">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Detalle de minuta</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Minutas Listas' %}">Minutas</a></li>
                <li class="breadcrumb-item">Detalle</li>
            </ol>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body ">

                <h4 class="card-title"><span class="lstick m-r-20"></span>{{data.nombre|lower|capfirst}}</h4>


                <div class="row">
                    <div class="col-lg-6">

                        <h5>Creador</h5>

                        <img src="{{data.creador.imagenlogo.url}}" alt="user" width="40" class="img-circle"> {{data.creador.identificacion}}

                    </div>

                    
                    <div class="col-lg-6">

                        <h5>Fecha</h5>

                        <p>{{data.fecha}}</p>

                    </div>


                </div>

                <div class="row">

                    <div class="col-lg-6">

                        <h5>Integrantes</h5>

                        <p>{{data.integrantes}}</p>

                    </div>

                    

                </div>

                    


            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <div class="card-body ">
                <h4 class="card-title"><span class="lstick m-r-20"></span>Temas y acuerdos realizados</h4>

                <div class="table-responsive">

                    <table class="table">

                        <tbody>
                            {% if acuerdos %}
                            {% for a in acuerdos %}
                            <tr>
                                <td>{{a.tema}}</td>
                                <td>{{a.responsable}}</td>
                            </tr>

                            {% endfor %}
                            {% else %}
                            <tr>
                                <td>No se realizaron acuerdos en esta minuta</td>
                            </tr>
                            {% endif %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}