{% extends "users/inicio2.html" %}

{% load static %}

{% block content %}

<div class="container-fluid r-aside">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Crear Minuta</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Minutas Listas' %}">Panel</a></li>
                <li class="breadcrumb-item">Crear</li>
            </ol>
        </div>

    </div>
</div>


<div class="row">
    <form method="POST">
        <div class="col-12">
            <div class="card">
                <div class="card-body ">
                    {% csrf_token %}

                    <h3> Minuta</h3>

                    <div>
                        <small> Datos generales de la minuta
                        </small>
                    </div>

                    <div class="bg-light p-3">

                        <div class="row">
                            <div class="col-12">
                                <label for="temageneral" style="width: 300px;">
                                    <h5>Nombre</h5>
                                </label>

                                <input type="text" name="nombre" class="form-control form-control"
                                    placeholder="Temas del dia" style="width: 300px;">

                            </div>

                            <div class="col-12">

                                <label for="integrantes" style="width: 300px;">
                                    <h5>Fecha</h5>
                                </label>

                                <input type="date" name="fecha" class="form-control form-control" style="width: 300px;">

                            </div>


                            <div class="col-12">

                                <label for="integrantes" style="width: 300px;">
                                    <h5>Integrantes</h5>
                                </label>

                                <input type="text" name="integrantes" class="form-control form-control"
                                    style="width: 300px;" placeholder="Ejemplo: AR - LA - CA">

                            </div>

                            <div class="col-12">

                                <label for="reunion" style="width: 300px;">
                                    <h5>Reunión</h5>
                                </label>

                                <input type="text" name="reunion" class="form-control form-control"
                                    style="width: 300px;" placeholder="Nombre para vincular">

                            </div>

                        </div>
                    </div>

                    <div class="m-2">
                        <button type="submit" class="btn"><i class="fa fa-upload text-info"><span class="text-info ml-2"
                                    style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"><b>Crear
                                        minuta</b></span></i></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<aside class="right-side-panel">
    <h3 class="p-relative"><span class="lstick"></span> ¿Comó funciona?</h3>
    <div class="row">

        <div class="col-md-12 m-t-10">
            <div class="card">
                <div class="card-body">
                    <img src="{% static 'img/animation_500_kmxow2e2.gif' %}" alt="Funny image" width="150px">
                    <p> Completa el formulario para avanzar</p>
                    <p> <b class="text-danger">Ten presente</b> que los integrantes tienen que estar registrados en el
                        soft y debes usar su <b class="text-danger">identificador</b>, ejemplo el identificador de Abel
                        es AR</p>
                    <p> Por ultimo, si es una reunión recurrente pon un nombre unico asi todas las minutas se vinculan
                    </p>
                </div>
            </div>
        </div>
    </div>


    </div>
</aside>


<script>

    var i = 1;

    function myFunction() {

        i++
        $(".campo").clone().appendTo(".campoarticulos").attr("class", "campo-" + i).attr("id", "campo-" + i)
        $(".campoarticulos").last().find('.campo').find('input').each(function (index) {

            $(this).attr("name", $(this).attr("name") + i);
        });


    };

    function deleteItem(elem) {
        var clase = elem.parentNode.id
        var claseString = "#" + clase.toString();

        $(claseString).remove();
    };



</script>


{% endblock %}