{% extends "users/inicio2.html" %}


{% load static %}

{% block content %}

<div class="container-fluid r-aside">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Detalle de minuta</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Minutas Listas' %}">Minutas</a></li>
                <li class="breadcrumb-item">Detalle</li>
            </ol>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body ">

                <h4 class="card-title"><span class="lstick m-r-20"></span>{{data.nombre|lower|capfirst}}</h4>

                <div class="row">
                    <div class="col-lg-6">

                        <h5>Creador</h5>
                        {{data.creador.identificacion}}

                    </div>

                    <div class="col-lg-6">

                        <h5>Fecha</h5>
                        <p>{{data.fecha}}</p>

                    </div>
                </div>

                <div class="row">

                    <div class="col-lg-6">

                        <h5>Integrantes</h5>

                        <p>{{data.integrantes}}</p>

                    </div>

                </div>

                <a href="{% url 'Minutas Modificar' data.id %}" class="btn btn-outline-info">Modificar</a>

            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <div class="card-body ">
                <div class="d-flex">
                    <div>


                        <h4 class="card-title"><span class="lstick m-r-20"></span>

                            <a href="#" data-toggle="modal"
                                data-target="#ModalAcuerdo" name="subir_item">

                                <img src="{% static 'img/add.png' %}" alt=""
                                    style="max-width:20px; height:auto; vertical-align: middle;"> </a> Temas y acuerdos
                            realizados
                        </h4>


                        <!-- Modal Bitacoras -->
                        <div class="modal fade" id="ModalAcuerdo" tabindex="-1" role="dialog"
                            aria-labelledby="ModalAcuerdoCrearTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Nuevo Acuerdo</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">

                                        <form method="POST" style="margin: 15px;">

                                            {% csrf_token %}

                                            <h6><small>Acuerdo</small> </h6>

                                            <div class="input-group mb-3">

                                                <input name="acuerdo" type="text" class="form-control form-control"
                                                    style="width: 300px;">
                                            </div>

                                            <h6><small>Responsable</small> </h6>

                                            <div class="input-group mb-3">

                                                <input name="responsable" type="text" class="form-control form-control"
                                                    style="width: 300px;">

                                            </div>

                                            <button type="submit"
                                                class="btn waves-effect waves-light btn-rounded btn-secondary">Cargar</button>

                                        </form>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>

                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- empieza la tabla -->
                        <div class="table-responsive">

                            <table class="table">

                                <tbody>
                                    {% if acuerdos %}
                                    {% for a in acuerdos %}
                                    <tr>
                                        <td>
                                            <form method="POST">

                                                {% csrf_token %}
                                            <button class="btn btn-link fa fa-trash d-flex align-content-end" type="submit" name="delete" value="{{a.id}}"></button></form>
                                        </td>
                                        <td> <a href="#" style="color: blue;" data-toggle="modal"
                                            data-target="#ModalTema{{a.id}}">{{a.tema}}</a>
                                        </td>
                                        <td >{% if a.fecha_limite %}{{a.fecha_limite|date:"Y-m-j"}}{% else %}Sin fecha{% endif %}</td>
                                        <td >{% if a.responsable %}{{a.responsable}}{% else %}S/A{% endif %}</td>
                                        
                                        <!-- Modal de las responsable -->
                                        <div class="modal fade" id="ModalTema{{a.id}}" tabindex="-1"
                                            role="dialog" aria-labelledby="ModalResponsableTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLongTitle">Editar tarea/acuerdo
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">

                                                        <form method="POST" style="margin: 15px;">

                                                            {% csrf_token %}

                                                            <h6><small>Tema/Acuerdo</small> </h6>

                                                            <div class="input-group mb-3">

                                                                <input name="tema" type="text"
                                                                    class="form-control form-control"
                                                                    style="width: 300px;" value="{{a.tema}}">

                                                            </div>

                                                            <h6><small>Responsable</small> </h6>

                                                            <div class="input-group mb-3">

                                                                <select name="responsable" class="form-control form-control" style="width: 300px;">
                                                                    <option value=""></option>
                                                                    {% for l in list_users %}
                                                                    <option {% if a.responsable == l %} selected {% endif %}>{{l.identificacion}}</option>
                                                                    {% endfor %}
                                                                    
                                                                    </select>

                                                            </div>

                                                            <button type="submit"
                                                                class="btn waves-effect waves-light btn-rounded btn-secondary"
                                                                name="id"
                                                                value="{{a.id}}">Modificar</button>

                                                        </form>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Cerrar</button>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </tr>

                                    {% endfor %}
                                    {% else %}
                                    <tr>
                                        <td>No se realizaron acuerdos en esta minuta</td>
                                    </tr>
                                    {% endif %}

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    function deleteItem(btn) {
        var row = btn.parentNode.parentNode;
        row.parentNode.removeChild(row);
    }
</script>


{% endblock %}