{% extends "users/inicio2.html" %}

{% load static %}
{% load apptags_extras %}

{% block content %}


<div class="container-fluid r-aside">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Minutas</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item">Minutas</li>
            </ol>
        </div>

    </div>
</div>

<div class="row ">
    <div class="col-12">
        <div class="card overflow-auto">
            <div class="card-body">
                <div class="row d-flex justify-items-between">
                    <div class="col">

                        <h4 class="card-title"><span class="lstick m-r-20"></span>
                            Listado de minutas
                        </h4>
                        <h6 class="card-subtitle">
                            Lista de minutas realizadas
                        </h6>
                    </div>
                    <div class="col-2">
                        <a class="btn btn-info" href="{% url 'Minutas Crear' %}">Crear Nueva</a>
                    </div>
                </div>

                <table id="example" class="table ">
                    <thead>
                        <tr>
                            <th>Creador</th>
                            <th>Tema</th>
                            <th>Fecha</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>

                        {% for i in data %}
                        <tr>
                            <td>
                                <div><img src="{{i.creador.imagenlogo.url}}" class="rounded" style="width: 40px;"
                                        alt=""><span class="ml-2">{{i.creador.identificacion}}</span></div>
                            </td>
                            <td><a href="{% url 'Minutas Id' i.id %}">{{i.nombre|lower|capfirst}}</a></td>
                            <td>{{i.fecha}}</td>
                             <td>
                                 {% if request.user.username == i.creador.identificacion %}
                                 <form method="POST">
                                        <button class="btn btn-link fa fa-trash d-flex align-content-end" type="submit" name="delete" value="{{i.id}}" style="text-decoration: none;"></button>

                                        {% csrf_token %}
                                    </form>
                                {% else %}

                                {% endif %}

                                    </td>  
                         
                        </tr>

                        {% endfor %}




                    </tbody>
                    <tfoot>

                        <tr>
                            <th>Tema</th>
                            <th>Fecha</th>
                        </tr>

                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js" defer></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js" defer></script>



<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "paging": false,
            "searching": false,
            "info": false
        });
    });
</script>


{% endblock %}