{% extends "users/inicio.html" %}

{% load static %}
{% load humanize %}

{% block content %}

<div class = "jumbotron" style="background-color: white; margin-bottom: 0px;">
    <div style="text-align: center;">
        <h2>Panel de control - Ventas de unidades</h2>
        <small>Responsable del panel: </small><small><strong>Área de ventas</strong></small>  
    </div>

    <b><hr class = "my-4" style="width: 100%; border-color: black ;"></b>

    
    <h3>Operaciones realizadas</h3>

    <table class = "table table-hover" style="text-align: center; margin-top: 2%;">
        <thead>

            <tr class = "table-dark">
                <th scope = "row"> FECHA</th>
                <th scope = "row"> PROYECTO </th>
                <th scope = "row"> COMPRADOR </th>
                <th scope = "row"> PISO </th>
                <th scope = "row"> NOM </th>
                <th scope = "row"> TIPO </th>
                <th scope = "row"> SUPERFICIE </th>
                <th scope = "row">  ASIGNACION </th>
                <th scope = "row">  PRECIO DE VENTA </th>
                <th scope = "row"> ANOTACIONES </th>
                 

            </tr>
        </thead>

        <tbody>   

            {% for i in datos %}
            <tr class = "table-light">
                <td> <b>{{i.fecha}}</b></td>
                <td> <b>{{i.unidad.proyecto.nombre}}</b></td>       
                <td> <b>{{i.comprador}}</b> </td>
                <td> <b>{{i.unidad.piso_unidad}}</b> </td>
                <td> <b>{{i.unidad.nombre_unidad}}</b> </td>
                <td> <b>{{i.unidad.tipologia}}</b> </td>
                <td> <b>{{i.m2|floatformat:2}}m2</b> </td>
                <td> <b>{{i.asignacion}}</b> </td>
                <td> <b>${{i.precio_venta|floatformat:0|intcomma}}</b> </td>
                <td> <b> VER DETALLES </b> </td>


            </tr>
            {% endfor %}
        </tbody>
     


    </table>



    <div style="text-align: center; margin-top: 2rem;">
        <p> <small>-- Link<strong>P</strong> --</small> </p>

     </div>

                    
</div>
 
    
{% endblock %}