{% extends "users/inicio2.html" %}

{% load static %}
{% load humanize %}
{% block content %}
{% if perms.ventas.view_pricing %}

<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Ventas Realizadas</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item"><a href="{% url 'App comercial' %}">Panel</a></li>
                <li class="breadcrumb-item">Panel</li>
            </ol>
        </div>
    </div>
</div>


<div class="row ">
    <div class="col">
        <div class="card overflow-auto">
            <div class="card-body">
                <div class="div d-flex">
                    <div>
                        <h4 class="card-title"><span class="lstick m-r-20"></span>Registros de ventas</h4>
                        <h6 class="card-subtitle">Panel para llevar control sobre las ventas.</h6>
                    </div>
                    <div class="btn-group ml-auto">
                        <a href="JavaScript:void(0)" class="icon-options-vertical link" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="{% url 'Cargar una Venta' %}"><i class="fa fa-plus-circle mr-2"></i>Cargar una venta</a>
                            <a class="dropdown-item" href="{% url 'Descargar ventas' %}"><i class="fa fa-file-excel-o mr-2"></i>Descagar Excel</a>
                            
                        </div>
                    </div>
                </div>


                <div class="tableconteinerabel">
                    <table id="example" class="table table-striped table-bordered" style="width:100%">
                        <thead style="font-size: 14px;">

                            <tr>
                                <th>Fecha</th>
                                <th>Unidad</th>
                                <th>Comprador</th>
                                <th>Estado</th>
                                <th>Sup.</th>
                                <th>Asign.</th>
                                <th>Precio Venta</th>
                                <th>Precio Contado</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody style="font-size: 12px;">

                            {% for i in datos %}
                            <tr>

                                <td>{{i.fecha|date:"d-m-Y"}}</td>
                                <td style="color: rgb({{i.unidad.proyecto.color}})"> 
                                        <b>{{i.unidad.proyecto.nombre|lower|capfirst}}</b>
                                    <div> {{i.unidad.piso_unidad|lower|capfirst}} -

                                        {% if "0" in i.unidad.nombre_unidad %}

                                        {{i.unidad.nombre_unidad|floatformat:0}} -

                                        {% else %}

                                        {{i.unidad.nombre_unidad|lower|capfirst}} -

                                        {% endif %}

                                        {{i.unidad.tipologia|lower|capfirst}}</div></td>
                                <td style="width: 150px;"> <b> {{i.comprador|lower|capfirst}} </b> </td>

                                {% if i.estado == "ACTIVA" %}

                                <td style="color: rgb(81, 169, 104 )"><b>{{i.estado}}</b>
                                </td>

                                {% else %}

                                <td style="color: rgb(169, 88, 81 )"> <b>{{i.estado}}</b>
                                </td>

                                {% endif %}
                                <td> <b> {{i.m2|floatformat:2}}m2 </b> </td>
                                <td> <b> {{i.asignacion}}</b> </td>
                                <td>  <b>${{i.precio_venta|floatformat:0|intcomma}}</b>
                                    <h6 class="subtitle" style="font-size: 12px;">{{i.precio_venta_hormigon|floatformat:0|intcomma}} M3</h6>
                                    </td>
                                <td>  <b>${{i.precio_contado|floatformat:0|intcomma}}</b>
                                    </td>
                                
                                <td>
                                    <div class="btn-group ml-auto">
                                        <a href="JavaScript:void(0)" class="icon-options-vertical link" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false"></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="{% url 'Detalle venta' i.id %}"><i class="fa fa-book mr-2"></i>Detalle</a>
                                            <a class="dropdown-item" href="{% url 'Editar venta' i.id %}"><i class="fa fa-pencil-square-o mr-2"></i>Editar</a>
                                            {% if user.username == "AR" or user.username == "ar" %}
                                            <a class="dropdown-item" href="{% url 'Eliminar venta' i.id %}"><i class="fa fa-trash text-danger mr-2"></i>Eliminar</a>
                                            {% endif %}
                                            
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>


<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "language": {
            "lengthMenu": "Mostar _MENU_ documentos",
            "zeroRecords": "No se encontro nada - perdon ",
            "info": "Pagina _PAGE_ de _PAGES_",
            "infoEmpty": "Sin registros disponibles",
            "infoFiltered": "(filtrado de _MAX_ registros totales)",
            "search": "Buscar"
        },
            "paging": false,
            "ordering": false,
            "info": false
        });
    });
</script>


{% endblock %}