{% extends "users/inicio2.html" %}

{% load static %}
{% load humanize %}

{% block content %}

{% if perms.ventas.view_pricing %}

<div class="container-fluid r-aside">

    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Registrar una venta</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item">Registrar venta</li>
            </ol>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body row">
                <div class="col-12 justify-content-center">

                    <div>
                        <h2>Registrar una venta</h2>
                        <small>Completar el formulario</small>
                    </div>

                    <div class="row d-flex justify-content-center">
                        <div class="col col-md-12 col-lg-6">
                            <div class="row">
                                <div class="col bg-light border rounded p-4 ">

                                    <form method="POST">

                                        {% csrf_token %}

                                        <div>
                                            <label for="unidad">
                                                <h6>Nombre de la unidad</h6>
                                            </label>
                                        </div>

                                        <div class="row d-flex justify-content-center my-3">
                                            <div class="col col-md-8 col-lg-8">

                                                <input name="unidad" type="search" class="form-control form-control"
                                                    placeholder="Ej: TORRE BLUE PISO 3 A" list="unidades">

                                            </div>
                                        </div>

                                        <div>
                                            <label for="comprador">
                                                <h6>Comprador</h6>
                                            </label>
                                        </div>

                                        <div class="row d-flex justify-content-center mt-3">
                                            <div class="col col-md-8 col-lg-8">
                                                <div class="input-group mb-3">

                                                    <input name="comprador" type="text"
                                                        class="form-control form-control"
                                                        placeholder="Nombre del comprador">

                                                </div>
                                            </div>
                                        </div>

                                        <div>

                                            <label for="precio_venta">
                                                <h6>Precio de venta</h6>
                                            </label>

                                        </div>

                                        <div class="row d-flex justify-content-center mt-3">
                                            <div class="col col-md-8 col-lg-8">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">

                                                        <span class="input-group-text">$</span>

                                                    </div>

                                                    <input name="precio_venta" type="number"
                                                        class="form-control form-control" aria-label="Amount">

                                                </div>
                                            </div>
                                        </div>

                                        <div>

                                            <label for="precio_contado">
                                                <h6>Precio contado</h6>
                                            </label>

                                        </div>

                                        <div class="row d-flex justify-content-center mt-3">
                                            <div class="col col-md-8 col-lg-8">
                                                <div class="input-group mb-3">

                                                    <div class="input-group-prepend">

                                                        <span class="input-group-text">$</span>

                                                    </div>

                                                    <input name="precio_contado" type="number"
                                                        class="form-control form-control" aria-label="Amount">

                                                </div>
                                            </div>
                                        </div>

                                        <div>

                                            <label for="anticipo">
                                                <h6>Anticipo</h6>
                                            </label>

                                        </div>

                                        <div class="row d-flex justify-content-center mt-3">
                                            <div class="col col-md-8 col-lg-8">
                                                <div class="input-group mb-3">

                                                    <div class="input-group-prepend">

                                                        <span class="input-group-text">$</span>

                                                    </div>

                                                    <input name="anticipo" type="number"
                                                        class="form-control form-control">

                                                </div>
                                            </div>
                                        </div>

                                        <div>

                                            <label for="cuotas">
                                                <h6>Plan de cuotas</h6>
                                            </label>

                                        </div>

                                        <div class="row d-flex justify-content-center mt-3">
                                            <div class="col col-md-8 col-lg-8">
                                                <input name="cuotas" type="number" class="form-control form-control"
                                                    placeholder="Cuotas/pagos" list="art">

                                            </div>
                                        </div>

                                        <div>

                                            <label for="fecha">
                                                <h6>Fecha de la operación</h6>
                                            </label>

                                        </div>

                                        <div class="row d-flex justify-content-center mt-3">
                                            <div class="col col-md-8 col-lg-8">

                                                <input name="fecha" type="date" class="form-control form-control">

                                            </div>
                                        </div>

                                        <div class="row d-flex justify-content-center mt-3">
                                            <div class="col col-md-8 col-lg-8">
                                                <label for="observaciones">
                                                    <h6>Observaciones de la operación</h6>
                                                </label>
                                                <textarea class="form-control" name="observaciones" rows="3"></textarea>
                                            </div>
                                        </div>

                                        <div class="row d-flex justify-content-center mt-3">
                                            <div class="col col-md-8 col-lg-8">
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" id="customRadio1" name="tipo_venta"
                                                        class="custom-control-input" value="VENTA" checked="">
                                                    <label class="custom-control-label" for="customRadio1">VENTA</label>
                                                </div>

                                                <div class="custom-control custom-radio">
                                                    <input type="radio" id="customRadio2" name="tipo_venta"
                                                        class="custom-control-input" value="CANJE">
                                                    <label class="custom-control-label" for="customRadio2">CANJE</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row d-flex justify-content-center mt-4">
                                            <div class="col-lg-6 text-center">

                                                <button type="submit" class="btn btn-primary"
                                                    style="margin-bottom: 5%;">Cargar
                                                    venta</button>

                                            </div>
                                        </div>

                                        {% if mensaje %}

                                        <div>
                                            <p style="color: red;"> {{ mensaje }}</p>
                                        </div>

                                        {% endif %}


                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>

                    <datalist id="unidades">

                        {% for i in datos %}

                        <option value="{{ i.id}}" id="{{ i.id}}">{{i.proyecto}} - {{i.piso_unidad}} -
                            {{i.nombre_unidad}}</option>

                        {% endfor %}

                    </datalist>
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}


{% endblock %}