
{% extends "users/inicio.html" %}

{% load static %}
{% load humanize %}

{% block content %}

{% if perms.ventas.view_pricing %} 

<div class = "jumbotron" style="background-color: white; margin-bottom: 0px;">
    <div style="text-align: center;">
        <h3 style="font-family: Arial, Helvetica, sans-serif;">Ventas realizadas</h3>
        <small style="font-family: Arial, Helvetica, sans-serif;"><b>Modulo:</b> Ventas </small> 
    </div>

    <b><hr class = "my-4" style="width: 100%; "></b>
    

    <div>

        <div style="margin: 5px;">

            <form method="POST">

                {% csrf_token %}
        
                <div style="display: inline-block;  vertical-align: middle;">
        
                    <h6>Buscar</h6>
            
            
                </div>
                
                <div style="display: inline-block; margin-left: 1%;  vertical-align: middle;">
            
                    <input name="palabra" type="text" class="form-control form-control" placeholder="Buscar por palabra" list="art" style="width: 300px;">
            
                </div>
        
       
        
            </form>


        </div>

        <div style="margin: 5px;">

            <a href= "{% url 'Cargar una Venta' %}" class="btn btn-outline-info"style="text-align: end; " > <img src="{% static 'img/agregar-archivo.png' %}" alt="" style="max-width:20px; height:auto;"  > Nueva venta</a>
    
    
        <a href= "{% url 'Descargar ventas' %}" class="btn btn-outline-success" style="text-align: end; " > <img src="{% static 'img/sobresalir.png' %}" alt="" style="max-width:20px; height:auto;"  > Descargar Excel</a>
    


        </div>

        
    
        
    
    



    </div>


   

    <div class = "tableconteinerabel">

             


    <table class = "table table-hover" style="text-align: center;">
        <thead>

            <tr class = "table-dark">
                <th scope = "row" style="vertical-align: middle;"> <small><b></b>  </small></th>
                <th scope = "row" style="vertical-align: middle;"> <small> <b>FECHA</b></small></th>
                <th scope = "row" style="vertical-align: middle;"> <small><b>PROYECTO</b> </small></th>
                <th scope = "row" style="vertical-align: middle;"> <small><b>COMPRADOR</b> </small></th>
                <th scope = "row" style="vertical-align: middle;"> <small><b>ESTADO</b> </small></th>
                <th scope = "row" style="vertical-align: middle;"> <small><b>PISO</b> </small></th>
                <th scope = "row" style="vertical-align: middle;"> <small><b>NOM.</b>  </small></th>
                <th scope = "row" style="vertical-align: middle;"> <small><b>TIPO</b>  </small></th>
                <th scope = "row" style="vertical-align: middle;"> <small><b>SUP.</b>  </small></th>
                <th scope = "row" style="vertical-align: middle;"> <small><b>ASIGNACION</b>   </small></th>
                <th scope = "row" style="vertical-align: middle;"> <small><b>PRECIO DE VENTA</b> </small>   </th>
                <th scope = "row" style="vertical-align: middle;"> <small><b>PRICING</b> </small>   </th>
                <th scope = "row" style="vertical-align: middle;"> <small><b>DESDE</b> </small>   </th>
                

                {% if user.username == "AR" or user.username == "ar" %}

                <th scope = "row" style="vertical-align: middle;"> <small><b></b>  </small></th>


                {% endif %}
                 

            </tr>
        </thead>

        <tbody>   

            {% for i in datos|slice:"200" %}
            <tr class = "table-light">

                <td style="width: 8%;">
                    <a href="{% url 'Detalle venta' i.id %}"><img src="{% static 'img/buscar.png' %}" alt="" style="max-width:20px; height:auto;"></a>
        


                    <a href="{% url 'Editar venta' i.id %}" ><img src="{% static 'img/documento.png' %}" alt="" style="max-width:20px; height:auto;"></a>
        
                </td>
                <td style="width: 120px;"> <b> <small>{{i.fecha|date:"Y-m-j"}}</small> </b></td>
                <td style="color: rgb({{i.unidad.proyecto.color}}); width: 120px">  <small> <b>{{i.unidad.proyecto.nombre}}</b></small></td>       
                <td style="width: 250px;"> <b> <small>{{i.comprador}}</small> </b> </td>

                {% if i.estado == "ACTIVA" %}

                <td style="color: rgb(81, 169, 104 ); width: 120px;"><small><b>{{i.estado}}</b></small></td>

                {% else %}

                <td style="color: rgb(169, 88, 81 ); width: 120px;"><small> <b>{{i.estado}}</b></small></td>

                {% endif %}
                <td style="width: 80px;"> <b> <small>{{i.unidad.piso_unidad}}</small> </b> </td>

                {% if "0" in i.unidad.nombre_unidad %}

                <td style="width: 60px;"> <b> <small>{{i.unidad.nombre_unidad|floatformat:0}}</small> </b> </td>

                {% else %}

                <td> <b> <small>{{i.unidad.nombre_unidad}}</small> </b> </td>

                {% endif %}
                <td> <b> <small>{{i.unidad.tipologia}}</small> </b> </td>
                <td> <b> <small>{{i.m2|floatformat:2}}m2</small> </b> </td>
                <td> <b> <small>{{i.asignacion}}</small></b> </td>
                <td> <small> <b>${{i.precio_venta|floatformat:0|intcomma}}</b> </small></td>
                <td> <b>  <small>${{i.precio_pricing|floatformat:0|intcomma}}</small></b> </td>
                <td> <b>  <small>${{i.precio_desde|floatformat:0|intcomma}}</small></b> </td>

                {% if user.username == "AR" or user.username == "ar" %}

                <td> <a href="{% url 'Eliminar venta' i.id %}" ><img src="{% static 'img/borrar.png' %}" alt="" style="max-width:20px; height:auto;"  ></a>
                </b> </td>

                {% endif %}


            </tr>
            {% endfor %}
        </tbody>
     


    </table>

    </div>



    <b><hr class = "my-4" style="width: 100%;"></b>


    <div style="text-align: center;">
        <small>El listado puede continuar, se limita el numero de filas visibles</small>
    </div>


    <div style="text-align: center; margin-top: 2rem;">
        <p> <small>-- Link<strong>P</strong> --</small> </p>

     </div>

                    
</div>

{% endif %}
 
    
{% endblock %}

