{% extends "users/inicio.html" %}

{% load static %}
{% load humanize %}

{% block content %}

<div class = "jumbotron" style="background-color: white; margin-bottom: 0px; text-align: center;">
    <div>
        <h2>Cotizador de unidades</h2>
        <small>Completar los datos del cotizador</small>  
    </div>

    <b><hr class = "my-4" style="width: 75%;"></b>

    <div style=" background-color: rgba(63, 95, 179, 0.3); width: 50%; margin-left: 25%;">

        <form method="POST">

            {% csrf_token %}

            

            <div style="display: inline-block; margin-top: 5%;">

                <h5>Datos de la unidad</h5>
    
            </div>

            <b><hr class = "my-4" style="width: 100%;"></b>
    
            <div style="margin-top: 2%; width: 80%; margin-left: 2%; text-align: left;">
    
                <p> <b>Proyecto:</b> {{datos.proyecto.nombre}}</p>
                <p> <b>Piso:</b> {{datos.piso_unidad}}</p>
                <p> <b>Unidad:</b> {{datos.nombre_unidad}}</p>
                <p> <b>Superficie:</b> {{m2|floatformat:2}}m2</p>
                <p> <b>Precio de contado:</b> ${{precio_contado|floatformat:0|intcomma}}</p>
            
            </div>

            {% if resultados %}

            <b><hr class = "my-4" style="width: 100%;"></b>

            <h5>Resultados de la simulación</h5>

            <b><hr class = "my-4" style="width: 100%;"></b>

            <div style="margin-left: 1%; margin-right: 1%;">

                <table class = "table table-hover" style="text-align: center;">
                    <thead>
            
                        <tr class = "table-dark">
                            <th scope = "row" style="vertical-align: middle;"> <small>CONCEPTO</small> </th>
                            <th scope = "row" style="vertical-align: middle;"> <small>CANTIDAD</small> </th>
                            <th scope = "row"style="vertical-align: middle;" > <small>MONTO EN PESOS</small>  </th>
                            <th scope = "row"style="vertical-align: middle;"> <small>MONTO EN Hº</small> </th>
    
                        </tr>
                    </thead>
            
                    <tbody>   
            
                        <tr class = "table-light">
                            <td style="width: 30%;"> <b> <small>ANTICIPO</small> </b> </td>
                            <td style="width: 20%;"> <b> <small>1</small> </b> </td>
                            <td style="width: 20%;"> <b> <small>${{resultados.0|floatformat:0|intcomma}}</small> </b> </td>
                            <td style="width: 30%;"> <b> <small>{{resultados.1|floatformat:2}}m3</small></b> </td>
    
                        </tr>

                        <tr class = "table-light">
                            <td style="width: 30%;"> <b> <small>CUOTAS ESPERA</small> </b> </td>
                            <td style="width: 20%;"> <b> <small>{{resultados.3|floatformat:0}}</small> </b> </td>
                            <td style="width: 20%;"> <b> <small>${{resultados.6|floatformat:0|intcomma}}</small> </b> </td>
                            <td style="width: 30%;"> <b> <small>{{resultados.10|floatformat:2}}m3</small></b> </td>
    
                        </tr>
    
                        <tr class = "table-light">
                            <td style="width: 30%;"> <b> <small>APORTE CE</small> </b> </td>
                            <td style="width: 20%;"> <b> <small>{{resultados.7|floatformat:0}}</small> </b> </td>
                            <td style="width: 20%;"> <b> <small>${{resultados.4|floatformat:0|intcomma}}</small> </b> </td>
                            <td style="width: 30%;"> <b> <small>{{resultados.11|floatformat:2}}m3</small></b> </td>
    
                        </tr>
    

                        <tr class = "table-light">
                            <td style="width: 30%;"> <b> <small>CUOTAS POSESIÓN</small> </b> </td>
                            <td style="width: 20%;"> <b> <small>{{resultados.5|floatformat:0}}</small> </b> </td>
                            <td style="width: 20%;"> <b> <small>${{resultados.8|floatformat:0|intcomma}}</small> </b> </td>
                            <td style="width: 30%;"> <b> <small>{{resultados.9|floatformat:2}}m3</small></b> </td>
    
                        </tr>
    
    
                    </tbody>
                 
            
            
                </table>

                *Precio financiado es ${{resultados.2|floatformat:0|intcomma}}


            </div>

            {% endif %}


    

            <b><hr class = "my-4" style="width: 100%;"></b>

                <h5>Datos para simular</h5>

            <b><hr class = "my-4" style="width: 100%;"></b>
    
    
            <div style="display: inline-block;">
    
                <label for="anticipo"><h6>Anticipo a entregar</h6></label>
    
            </div>
    
            <div class="input-group mb-3" style="margin-bottom: 2%; width: 50%; margin-left: 25%;">

                <div class="input-group-prepend">

                    <span class="input-group-text">$</span>

                </div>

                <input name="anticipo" type="number" class="form-control form-control" aria-label="Amount" value="0">
                
            </div>

            <div style="display: inline-block;">
    
                <label for="cuotas_esp"><h6>Cuotas esperas</h6></label>
    
            </div>
    
            <div style="margin-bottom: 2%; width: 30%; margin-left: 35%;">
    
                <input name="cuotas_esp" type="number" class="form-control form-control" list="art" value="0">
    
            </div>
    
            <div style="display: inline-block;">
    
                <label for="aporte"><h6>Aporte CE</h6></label>
    
            </div>

    
            <div style="margin-bottom: 2%; width: 30%; margin-left: 35%;">
    
                <input name="aporte" type="number" class="form-control form-control" list="art" value="0">
    
            </div>
    
    
            <div style="display: inline-block;">
    
                <label for="cuotas_p"><h6>Cuotas Posesión</h6></label>
    
            </div>
    
            <div style="margin-bottom: 2%; width: 30%; margin-left: 35%;">
    
                <input name="cuotas_p" type="number" class="form-control form-control" list="art" value="0">
    
            </div>

            <b><hr class = "my-4" style="width: 100%;"></b>

            

                  
              <div style="margin-top: 2%; margin-bottom: 5%;">
    
                <button type="submit" class="btn btn-primary" style="margin-bottom: 5%;" >Simular</button>
    
              </div>

              {% if mensaje %}

              <div>
                  <p style="color: red;"> {{ mensaje }}</p>
              </div>

              {% endif %}
        

        </form>


        
        
    
    </div>



    <b><hr class = "my-4" style="width: 50%;"></b>



    <div style="text-align: center; margin-top: 2rem;">
        <p> <small>-- Link<strong>P</strong> --</small> </p>

     </div>

                    
</div>
 
    
{% endblock %}