{% extends "users/inicio2.html" %}

{% load static %}
{% load humanize %}

{% block content %}

<div class="container-fluid">

    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Detalle de venta</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Cargar Venta' %}">Panel</a></li>
                <li class="breadcrumb-item">Detalle de venta</li>
            </ol>
        </div>

    </div>

</div>


<div class="row ">
    <div class="col-12">
        <div class="card overflow-auto">
            <div class="card-body">

                <div class="d-flex row justify-content-center">

                    <div class="d-flex- flex-col text-center">

                        <div style="text-align: center;">
                            <h2>Detalle de la venta:
                                {{datos.unidad.proyecto}}-{{datos.unidad.piso_unidad}}-{{datos.unidad.nombre_unidad}}
                            </h2>
                            <small>Detalles de la operación registrado por el área de ventas</small>
                        </div>
                    </div>

                </div>


                <div class="mt-4">

                    <h6>Proyecto: {{datos.unidad.proyecto}} </h6>
                    <h6>Piso: {{datos.unidad.piso_unidad}} </h6>
                    <h6>Unidad: {{datos.unidad.nombre_unidad}} </h6>
                    <h6>Comprador: {{datos.comprador}} </h6>
                    <h6>Precio de venta: ${{datos.precio_venta|floatformat:0|intcomma}}</h6>
                    <h6>Precio de venta H°: {{datos.precio_venta_hormigon|floatformat:0|intcomma}} M3</h6>
                    <h6>Anticipo: ${{datos.anticipo|floatformat:0|intcomma}}</h6>
                    <h6>Fecha: {{datos.fecha}}</h6>
                    <h6>Detalles:</h6>

                    <div class="mt-3">
                        <p style="white-space: pre-wrap;">{{datos.observaciones}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}