{% extends "users/inicio2.html" %}

{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Editar asignación</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Panel de unidades' %}">Panel</a></li>
                <li class="breadcrumb-item">Editar </li>
            </ol>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body row">
                <div class="col-12 justify-content-center">
                    <div class="text-center">

                        <form method="POST">

                            {% csrf_token %}

                            <h3> Unidad: {{datos.piso_unidad}}-{{datos.nombre_unidad}}-{{datos.proyecto}}</h3>
                            <div>
                                <small> Al cambiar la asignación se modificara el CBA y el pricing </small>
                            </div>

                            <div>
                                <div class="my-3">

                                    <label for="asignacion">
                                        <h5>Asignación:</h5>
                                    </label>

                                    <select name="asignacion" class="custom-select">

                                        <option value=1>Proyecto</option>

                                        <option value=2>Terreno</option>

                                        <option value=3>Honor. Link</option>

                                        <option value=4>Socios</option>

                                    </select>
                                </div>

                                    <button class="btn btn-info" type="submit">Aceptar </button>


                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}