{% extends "users/inicio2.html" %}

{% load static %}
{% load humanize %}

{% block content %}

<div class="container-fluid r-aside">
    <!-- ============================================================== -->
    <!-- Cabeza de la pagina -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Editar reclamo numero {{datos.numero}}</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Reclamos Postventa' %}">Reclamos</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Reclamo' datos.id %}">{{datos.numero}}</a></li>
                <li class="breadcrumb-item">Editar</li>

            </ol>
        </div>

    </div>

  </div>

  <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <h4 class="card-title"><span class="lstick"></span>Formulario del reclamo</h4>
                        <h6 class="text-muted">Completar todos los datos</h6></div>
    
                </div>

    <form  role="form"  enctype="multipart/form-data" action="" method="POST" id="upload-image-form" style="margin: 30px;"> 
        {% csrf_token %}


        <div style="margin: 5px">

            <div style="display: inline-block; margin: 10px; width: 200px;">

                <label for="numero"><h6>Nº del reclamo</h6></label>
    
            </div>
            
            <div style="display: inline-block; margin: 10px; ">
    
                <input name="numero" type="number" class="form-control form-control" value="{{datos.numero}}" style="width: 300px;" required="true">
    
            </div>


        </div>

        <div style="margin: 5px">

            <div style="display: inline-block; margin: 10px; width: 200px;">

                <label for="numero"><h6>Fecha</h6></label>
    
            </div>
            
            <div style="display: inline-block; margin: 10px; ">
    
                <input name="fecha" type="date" class="form-control form-control" value="{{datos.fecha_reclamo|date:'Y-m-d'}}"  style="width: 300px;" required="true">
    
            </div>


        </div>


        <div style="margin: 5px">

            <div style="display: inline-block; margin: 10px; width: 200px;">

                <label for="proyecto"><h6>Proyecto</h6></label>
    
            </div>
            
            <div style="display: inline-block; margin: 10px; ">
    
                <input name="proyecto" value="{{datos.proyecto}}" type="search" class="form-control form-control" list="proyectos_postventa" style="width: 300px;">
    
            </div>


        </div>

        <div style="margin: 5px">

            <div style="display: inline-block; margin: 10px; width: 200px;">

                <label for="unidad"><h6>Unidad</h6></label>
    
            </div>
            
            <div style="display: inline-block; margin: 10px; ">
    
                <input name="unidad" value="{{datos.unidad}}" type="text" class="form-control form-control" placeholder="Piso - Numero " style="width: 300px;">
    
            </div>


        </div>

        

        <div style="margin: 5px">

            <div style="display: inline-block; margin: 10px; width: 200px;">

                <label for="propietario"><h6>Propietario</h6></label>
    
            </div>
            
            <div style="display: inline-block; margin: 10px; ">
    
                <input name="propietario" value="{{datos.propietario}}" type="text" class="form-control form-control" style="width: 300px;" placeholder="Dueño de la unidad" required="true">
    
            </div>


        </div>

        <div style="margin: 5px">

            <div style="display: inline-block; margin: 10px; width: 200px;">

                <label for="usuario"><h6>Contacto</h6></label>
    
            </div>
            
            <div style="display: inline-block; margin: 10px; ">
    
                <input name="usuario" value="{{datos.usuario}}" type="text" class="form-control form-control" style="width: 300px;" placeholder="Persona quien realiza el reclamo" required="true">
    
            </div>


        </div>

        <div style="margin: 5px">

            <div style="display: inline-block; margin: 10px; width: 200px;">

                <label for="telefono"><h6>Telefono</h6></label>
    
            </div>
            
            <div style="display: inline-block; margin: 10px; ">
    
                <input name="telefono" value="{{datos.telefono}}" type="number" class="form-control form-control" placeholder="Telefono del contacto" style="width: 300px;">
    
            </div>


        </div>

        <div style="margin: 5px">

            <div style="display: inline-block; margin: 10px; width: 200px;">

                <label for="email"><h6>Email</h6></label>
    
            </div>
            
            <div style="display: inline-block; margin: 10px; ">
    
                <input name="email" value="{{datos.email}}" type="text" class="form-control form-control" placeholder="Email del contacto" style="width: 300px;" >
    
            </div>


        </div>


        <div style="margin: 5px">

            <div style="display: inline-block; margin: 10px; width: 200px;">

                <label for="clasificacion"><h6>Clasificación</h6></label>
    
            </div>
            
            <div style="display: inline-block; margin: 10px; ">
    
                <input name="clasificacion" value="{{datos.clasificacion}}" type="search" class="form-control form-control" list="clasificacion" style="width: 300px;">
    
            </div>


        </div>

        <div style="margin: 5px">

            <div style="display: inline-block; margin: 10px; width: 200px;">

                <label for="responsable"><h6>Responsable</h6></label>
    
            </div>
            
            <div style="display: inline-block; margin: 10px; ">
    
                <input name="responsable" {% if datos.responsable %}value="{{datos.responsable}}"{% endif %} type="search" class="form-control form-control" list="responsable" style="width: 300px;">
    
            </div>


        </div>

        <div style="margin: 5px">

            <div style="display: inline-block; margin: 10px; width: 200px;">

                <label for="numero"><h6>Fecha de finalización</h6></label>
    
            </div>
            
            <div style="display: inline-block; margin: 10px; ">
    
                <input name="fecha_solucion" type="date" class="form-control form-control" value="{{datos.fecha_solucion|date:'Y-m-d'}}"  style="width: 300px;">
    
            </div>


        </div>

        <div style="margin: 5px">

            <div style="display: inline-block; margin: 10px; width: 200px;">

                <label for="descripcion"><h6>Descripción</h6></label>
    
            </div>
            
            <textarea class="form-control" id="exampleTextarea" rows="3" name="descripcion">{{datos.descripcion}}</textarea>


        </div>


        <div style="text-align: right;">
            <button type="submit" class="btn btn-primary">Subir</button>
        </div>
    </div>
</div>
</div>
</div>

          


        {{ form.as_p }}
    </form>

    <datalist id="proyectos_postventa"> 

        {% for i in proyectos %}
        
        <option value="{{i.0}}">({{i.0}})</option>

        {% endfor %}

    </datalist>

    <datalist id="clasificacion"> 

        {% for i in clasificacion %}
        
        <option value="{{ i.0 }}">({{i.0}})</option>

        {% endfor %}

    </datalist>


    <datalist id="responsable"> 

        {% for i in responsable %}
        
        <option value="{{ i.0 }}">({{i.0}})</option>

        {% endfor %}

    </datalist>


{% endblock %}