{% extends "users/inicio2.html" %}

{% load static %}
{% load humanize %}

{% block content %}

<div class="container-fluid r-aside">

    <div class="row page-titles">
        <div class="col-md-5 col-lg-5 align-self-center">
            <h3 class="text-themecolor">Eliminar venta</h3>
        </div>

        <div class="col-md-7 col-lg-4 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'App comercial' %}">Panel</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Cargar Venta' %}">Ventas Realizadas</a>
                </li>
                <li class="breadcrumb-item">Eliminar venta</li>
            </ol>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-10 d-flex flex-column align-items-center">


                        <h2>Eliminar el registro {{ datos.unidad.proyecto}} - {{datos.unidad.piso_unidad}} -
                            {{datos.unidad.nombre_unidad }} a {{ datos.comprador }} </h2>
                        <small>Esta operación elimina toda la información del registro</small>

                        <div class="mt-3">

                            <form method="POST">

                                {% csrf_token %}

                                <div class="row d-flex justify-content-center">
                                    <button class="btn btn-danger" type="submit">Eliminar registro</button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<aside class="right-side-panel">
    <h3 class="p-relative"><span class="lstick"></span>Cuidado!</h3>
    <div class="row d-flex">
        <div class="col m-t-10">
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center ">
                    <img src="{% static 'img/animation_500_kmuydpt0.gif' %}" alt="Funny image" width="150px">
                    <p>Estas por eliminar <b class="text-danger">datos</b> de forma permanente</p>
                </div>
            </div>
        </div>
    </div>
</aside>


{% endblock %}