{% extends "users/inicio2.html" %}

{% load static %}
{% load humanize %}

{% block content %}

<div class="container-fluid r-aside">

    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Caracteristicas del proyecto</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Pricing' data.0.0.proyecto.id %}">Pricing</a></li>
                <li class="breadcrumb-item">Caracteristicas</li>
            </ol>
        </div>
    </div>
</div>
<div class="row ">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="table-responsive">
                    <table id="example" class="table table-striped table-bordered" data-show-columns="true" style="width:99%">
                        <thead  style="font-size: 14px;" >
                            <tr>
                                <th>Unidad</th>
                                <th>Tamaño</th>
                                <th>Base</th>
                                {% for f in features %}
                                <th style="-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);">{{f.nombre|lower|capfirst}} ({{f.inc|lower|capfirst}}%)</th>
                                {% endfor %}
                                <th>Guardar</th>
                                <th>Final</th>
                                
                            </tr>
                        </thead>

                        <tbody style="font-size: 14px;">

                            {% for u in data %}
                            <form method="POST">
                                {% csrf_token %}
                                <tr>
                                    <td style="width: 120px;">{{u.0.piso_unidad}} - {{u.0.nombre_unidad}}</td>
                                    <td style="width: 100px;">{{u.2}} m2</td>
                                    <td  style="width: 120px;">$ {{u.3|floatformat:0|intcomma}}</td>
                                    {% for fu in u.1 %}
                                    <td>
                                        <div>
                                            <select name="{{fu.1.nombre}}&{{u.0.id}}" class="custom-select form-control bg-white" style="width:70px;">
                                                <option value="SI" {% if fu.0 == "SI" %}selected{% endif%}>SI</option>
                                                <option value="NO" {% if fu.0 == "NO" %}selected{% endif%}>NO</option>
                                            </select>
                                        </div>
                                    </td>

                                    {% endfor %}
                                    <td><button type="submit" class=" btn" ><img src="{% static 'img/cheque.png' %}" alt="" style="height: 20px; width: 20px;"></button>
                                    </td>
                                    <td style="width: 120px;">$ {{u.4|floatformat:0|intcomma}}</td>
                                </tr>
                            </form>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js" defer></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js" defer></script>
<script src="extensions/sticky-header/bootstrap-table-sticky-header.js"></script>

<script>
     
    $(window).scroll(function () {
                sessionStorage.scrollTop = $(this).scrollTop();
            });
            $(document).ready(function () {
                if (sessionStorage.scrollTop != "undefined") {
                    $(window).scrollTop(sessionStorage.scrollTop);
                }
            });
</script>
    


{% endblock %}