{% extends "users/inicio.html" %}

{% load static %}
{% load humanize %}

{% block content %}



<div class = "jumbotron" style="background-color: white; margin-bottom: 0px; text-align: center;" > 

    <div style="text-align: center;">
        <h2 style="font-family: Arial, Helvetica, sans-serif;">Historial de ventas</h2>

        <small> <b>Modulo: </b> Comercialización</small>


        <b><hr class = "my-4" style="width: 75%;"></b>
    
    </div>


          <form method="POST">

              {% csrf_token %}
   
              <div style="text-align: left;">

                <div style="display: inline-block; vertical-align: middle;">

                  <h6 style= "font-family: Arial, Helvetica, sans-serif;">Archivos cargados: </h6>
                        
          
                </div>

                <div style="display: inline-block;  vertical-align: middle;">


                  <select name="fecha" class="custom-select" style="width: 200px;">


                    {% for i in datos.fechas %}
      
                    <option value="{{i.1}}">{{i.0|date:"Y-m-j"}}</option>
      
                    {% endfor %}
      
      
      
                  </select>
                
                </div>
          
   
                <div style="display: inline-block;  vertical-align: middle;">
                  <button class="btn btn-light" type="submit"><img src="{% static 'img/buscar2.png' %}" alt="" style="max-width:20px; height:auto;"></button>          
              </div>

              {% if datos.datos %}

              <div style="display: inline-block;  vertical-align: middle;">
                  <a class="btn btn-light"  href="{{ datos.datos.historial_venta.url }}" style="margin-top: 1%;">Ver informe <img src="{% static 'img/reportar.png' %}" alt="" style="max-width:20px; height:auto;"></a>

                </div>

  
              
              {% endif %}
              
          </form>
   
          <b><hr class = "my-4" style="width: 75%; "></b>


          <div style="text-align: center;">

            <div class="card text-white bg-dark mb-3" style="display: inline-block; width: 310px; height: 150px; vertical-align: top; margin: 10px;">
                
              <div class="card-body">

                <h6 style="font-family: Arial, Helvetica, sans-serif;">Unidades vendidas {{datos.datos_panel.2|date:"Y"}}</h6>

                <h5 style="color: rgb(48, 153, 29); font-family: Arial, Helvetica, sans-serif;">{{datos.datos_panel.0}}</h5>

                <div>
                  <small>Unidades vendidas {{datos.datos_panel.3|date:"Y"}}: <b>{{datos.datos_panel.1}}</b></small>
                </div>
                
              </div>
            </div>

            <div style="display: inline-block; width: 310px; margin: 10px;">
          
              <canvas id="myChart"></canvas>
          
            </div>
             
            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
            <script>
          
                var ctx = document.getElementById('myChart').getContext('2d');
                var chart = new Chart(ctx, {
                    // The type of chart we want to create
                    type: 'doughnut',
                    // The data for our dataset
                    data: {
                    datasets: [{        
                        data: [{% for i in datos.datos_panel.4 %}
                      {{i.1}}, 
                      

                      {% endfor %}],
                        backgroundColor: [
                        {% for i in datos.datos_panel.4 %}
                      'rgba({{i.0.color}}, 0.7)', 
                      

                      {% endfor %}
                          ],    
                    }],
          
                    labels: [
                      {% for i in datos.datos_panel.4 %}
                      '{{i.0.nombre}}', 
                      

                      {% endfor %}

                      ]
                  },
                    options: {
                      legend: {
                          position: 'right'
                      },
                    },
          
                  });
          
            </script>


            <div class="card text-white bg-dark mb-3" style="display: inline-block; width: 310px; height: 150px; vertical-align: top; margin: 10px;">
                            
              <div class="card-body">

                <h6 style="font-family: Arial, Helvetica, sans-serif;">Descuento promedio {{datos.datos_panel.2|date:"Y"}}</h6>

                <h5 style="color: rgb(153, 46, 29); font-family: Arial, Helvetica, sans-serif;">{{datos.datos_panel.6|floatformat:2}} %</h5>

                <div>
                  <small style="font-family: Arial, Helvetica, sans-serif;">Descuento promedio {{datos.datos_panel.3|date:"Y"}}: <b>{{datos.datos_panel.8|floatformat:2}} %</b></small>
                </div>

                
                
              </div>
            </div>

            <div class="card text-white bg-secondary mb-3" style="display: inline-block; width: 310px; height: 150px; vertical-align: top; margin: 10px;">
                            
              <div class="card-body">

                <h6 style="font-family: Arial, Helvetica, sans-serif;">Proporción contado - financiado</h6>

                <h5 style="font-family: Arial, Helvetica, sans-serif;">{{datos.datos_panel.12|floatformat:0}} % - {{datos.datos_panel.13|floatformat:0}} %</h5>

                <div>
                  <small style="font-family: Arial, Helvetica, sans-serif;">Proporción {{datos.datos_panel.3|date:"Y"}}: <b>x% - x%</b></small>
                </div>

                
                
              </div>
            </div>

            <div class="card text-white bg-dark mb-3" style="display: inline-block; width: 310px; height: 150px; vertical-align: top; margin: 10px;">
                            
              <div class="card-body">

                <h6 style="font-family: Arial, Helvetica, sans-serif;">Ingreso neto del año</h6>

                <h5 style="color: rgb(60, 175, 53 ); font-family: Arial, Helvetica, sans-serif;">$ {{datos.datos_panel.11|floatformat:0|intcomma}} </h5>

                <div>
                  <small style="font-family: Arial, Helvetica, sans-serif;">Aprox. USD: <b> --</b></small>
                </div>

                
                
              </div>
            </div>

        
          </div>

          <div>
            <small>*Unidades chequeadas {{datos.datos_panel.2|date:"Y"}}: {{datos.datos_panel.7}} - {{datos.datos_panel.3|date:"Y"}}: {{datos.datos_panel.9}}</small>
          </div>


          <div style="margin-top: 0.5rem; width: 100%;">                        

            <div style= "text-align: center;">
              <small><strong>-- Ritmo de venta--</strong></small>
          </div>
    
            <canvas id="myChart2" height="70px" width="auto"></canvas>
    
    
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script>
            var ctx = document.getElementById('myChart2').getContext('2d');
            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'line',
    
                // The data for our dataset
                data: {
    
                    labels: [
                    {% for i in datos.datos_panel.5 %}
                      
                      '{{i.0|date:"Y-m"}}', 
                      
                      {% endfor %}
                      ],
                    datasets: [
    
                    {
                        label: 'Cantidad de ventas',
                        backgroundColor: 'rgb(42, 50, 53 , 0.5)',
                        borderColor: 'rgb(42, 50, 53 )',
                        fill: true,
                        borderWidth: 1,
                        lineTension: 0,
                        data: [
                        {% for i in datos.datos_panel.5 %}
                      
                        {{i.1}}, 
                      
                        {% endfor %}
                        ]
                    }],
    
                },
    
                // Configuration options go here
                options: {
    
                    scales: {
    
                        xAxes: [
                            {
    
                                stacked: true,
                                display: true,
    
                            }
                        ],
                        yAxes: [
                            {
                                ticks: {
                                    min: 0,
                                    stepSize: 5,
                                    callback: function(label, index, labels) {
                                        return label+ ' Un';
                                        
                                    }
                                },
                                scaleLabel: {
                                    display: true,

                                },
    
                                stacked: false
                            }
                        ],
                    },
                }
    
            });
            
    
            
        </script>

        <div style= "text-align: center;">
          <small><strong>Se realiza una venta cada {{datos.datos_panel.10}} dias</strong></small>
        </div>
    
    
        </div>





      
       
       <div style="text-align: center; margin-top: 10%;">
        <p> <small>-- Link<strong>P</strong> --</small> </p>

     </div>
       
       
   </div>


{% endblock %}