{% extends "users/inicio.html" %}

{% load static %}
{% load humanize %}

{% block content %}

<div class = "jumbotron" style="background-color: white; margin-bottom: 0px;">
    <div style="text-align: center;">
        <h2>Panel de control - Unidades</h2>
        <small>Trabajo en conjunto: </small><small><strong>FINANZAS - VENTAS</strong></small>  
    </div>

    {% if datos.mensaje == 0 or datos.mensaje == 1 %}

    <b><hr class = "my-4" style="width: 100%; border-color: black ;"></b>

    
    
    <div style="margin-bottom: 2rem;">

        <h3>Analisis de unidades {% if datos.graficos %} {{ datos.proyecto.nombre }} {% endif %}</h3>
        <small> Seleccione las preferencias para buscar un listado de unidades que cumplan ese requerimiento</small>

    </div>

    
    
    <div style="text-align: center;" >
        <form method="POST">

            {% csrf_token %}

            <div style="text-align: left; display: inline-block; vertical-align: top;">

            <h6>Proyectos</h6>

            {% for i in datos.proyectos %}


            <div class="custom-control custom-checkbox">           
                <input type="checkbox" name="{{i.nombre}}" class="custom-control-input" id="customCheck{{i.id}}" checked="">
                <label class="custom-control-label" for="customCheck{{i.id}}">{{i.nombre}}</label>
        
              </div>

              {% endfor %}
            </div>

            <div style="text-align: left; display: inline-block; margin-left: 15%; vertical-align: top;">

                <h6>Asignación</h6>

                <div class="custom-control custom-checkbox">
                    <input type="checkbox" name="Asignacion1" value="PROYECTO" class="custom-control-input" id="customCheckProyecto" checked="">
                    <label class="custom-control-label" for="customCheckProyecto">PROYECTO</label>
    
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" name="Asignacion2" value="HON. LINK" class="custom-control-input" id="customCheckLink" checked="">
                    <label class="custom-control-label" for="customCheckLink">HONOR. LINK</label>
    
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" name="Asignacion3" value="TERRENO" class="custom-control-input" id="customCheckTerreno" checked="">
                    <label class="custom-control-label" for="customCheckTerreno">TERRENO</label>
    
                  </div>


            </div>

            <div style="text-align: left; display: inline-block; margin-left: 15%; vertical-align: top;">

                <h6>Disponibilidad</h6>

                <div class="custom-control custom-checkbox">
                    <input type="checkbox" name="Disponibilidad" class="custom-control-input" id="customCheckDisp" value="DISPONIBLE" checked="">
                    <label class="custom-control-label" for="customCheckDisp">DISPONIBLE</label>
    
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" name="Disponibilidad2" class="custom-control-input" id="customCheckVend" value="VENDIDA" checked="">
                    <label class="custom-control-label" for="customCheckVend">VENDIDA</label>
    
                  </div>
 
            </div>

              <div>
                <button class="btn btn-dark" type="submit" style="margin-top: 1%;">Buscar</button>          
            </div>
            
        </form>

        
    </div>

    {% endif %}

    {% if datos.datos_unidades %}

    <b><hr class = "my-4" style="width: 100%; border-color: black ;"></b>

    <h3>Resumen de datos</h3>

    <div>

    <h6>Cantidad de unidades: <small>{{datos.otros_datos.0.1}}</small> </h6>
    <h6>Departamentos: <small>{{datos.otros_datos.0.2}}</small> </h6>
    <h6>Cocheras: <small>{{datos.otros_datos.0.3}} </small></h6>
    <h6>Superficie total de las unidades: <small>{{datos.otros_datos.0.0|floatformat:2}}m2</small> </h6>


    </div>



    <b><hr class = "my-4" style="width: 100%; border-color: black ;"></b>

    <h3>Listado de unidades</h3>

    <table class = "table table-hover" style="text-align: center; margin-top: 2%;">
        <thead>

            <tr class = "table-dark">
                <th scope = "row"> <font style = "vertical-align: heredar;"> PROYECTO </font></th>
                <th scope = "row"> <font style = "vertical-align: heredar;"> PISO</font></th>
                <th scope = "row"> <font style = "vertical-align: heredar;"> NOM </font></th>
                <th scope = "row"> <font style = "vertical-align: heredar;"> TIPO </font></th>
                <th scope = "row"> <font style = "vertical-align: heredar;"> SUPERFICIE </font></th>
                <th scope = "row"> <font style = "vertical-align: heredar;"> ESTADO </font></th>
                <th scope = "row"> <font style = "vertical-align: heredar;"> P. CONTADO </font></th>
                <th scope = "row"> <font style = "vertical-align: heredar;"> ASIGNACIÓN </font></th>
                 

            </tr>
        </thead>

        <tbody>   

            {% for i in datos.datos_unidades %}
            <tr class = "table-light">
                <td> <b>{{i.0.proyecto}}</b></td>
                <td> <b>{{i.0.piso_unidad}}</b> </td>
                <td> <b>{{i.0.nombre_unidad}}</b> </td>
                <td> <b>{{i.0.tipo}}</b> </td>
                <td> <b>{{i.1|floatformat:2}}m2</b> </td>
                <td> <b>{{i.0.estado}}</b> </td>
                {% if i.2 >= 0 %}
                <td> <b>${{i.2|floatformat:0|intcomma}}</b> </td>

                {% else %}

                <td> <b>{{i.2}}</b> </td>

                {% endif %}
                <td> <b>{{i.0.asig}}</b> </td>

            </tr>
            {% endfor %}
        </tbody>
     


    </table>



    {% endif %}

    {% if datos.mensaje == 1 %}

    <div style="text-align: center; margin-top: 10%;">
    
        <h6>No hay unidades que cumplan esas condiciones!</h6>
    
    </div>

    {% endif %}

    <div style="text-align: center; margin-top: 2rem;">
        <p> <small>-- Link<strong>P</strong> --</small> </p>

     </div>

                    
</div>
 
    
{% endblock %}