{% extends "users/inicio.html" %}

{% load static %}
{% load humanize %}

{% block content %}

{% if perms.ventas.view_pricing %} 

<div class = "jumbotron" style="background-color: white; margin-bottom: 0px; text-align: center;">
    <div style="text-align: left; justify-content: left;">

        <div style="display: inline-block; vertical-align: middle; width: 15%; margin-right: 2%;">
            <img src="{{datos.proyecto.iamgen.url}}"  class="img-fluid" alt="..." style="width:auto;height:auto; ">


        </div>

        <div style="display: inline-block; vertical-align: middle; width: 40%;">
            <h4 style="color: rgb({{datos.proyecto.color}}); " >Pricing del proyecto {{ datos.proyecto.nombre }} </h4>

        </div>

        <div style="display: inline-block; vertical-align: middle; width: 20%; margin-left: 20%;">

            <form method="POST" >

                {% csrf_token %}
        
        
                    <input name="palabra" type="text" class="form-control form-control" placeholder="Buscar por palabra" list="art">
    
        
             </form>

        </div>
    
    </div>



    {% if datos.datos_unidades %}

    {% if perms.ventas.view_ventasrealizadas %}


    <b><hr class = "my-4" style="width: 100%; border-color: rgba({{datos.proyecto.color}}, 0.5);"></b>

    <div style="display: inline-block; vertical-align: middle;">

        <h6>Modificar precio base:</h6>
    
    </div>

    <form method="GET">

    <div class="input-group mb-3" style="width: 40%; margin-left: 30%;">

            <div class="input-group-prepend">

                <span class="input-group-text">$</span>
    
            </div>
    
            <input name="precio_venta" type="number" class="form-control form-control" aria-label="Amount" >
         
    </div>

</form>

    {% endif %}


    <b><hr class = "my-4" style="width: 100%; border-color: rgba({{datos.proyecto.color}}, 0.5);"></b>

    <h6 style="text-align: left;">Precio base: ${{datos.proyecto.desde|floatformat:0|intcomma}} - Promedio contado: ${{datos.otros_datos.0.4|floatformat:0|intcomma}} - Promedio financiado: ${{datos.otros_datos.0.5|floatformat:0|intcomma}} </h6>


    
    <div class = "tableconteinerabel">

        <table class = "table table-hover" style="text-align: center;">
            <thead>
    
                <tr class = "table-dark">
                    <th scope = "row" style="vertical-align: middle;"> <small>PISO/NOM</small> </th>
                    <th scope = "row"style="vertical-align: middle;" colspan="2"> <small>TIPOLOGIA</small>  </th>
                    <th scope = "row"style="vertical-align: middle;"> <small>SUPERFICIE</small> </th>
                    <th scope = "row"style="vertical-align: middle;"> <small>ASIGNACIÓN</small> </th>
                    <th scope = "row"style="vertical-align: middle;"> <small>ESTADO</small> </th>
                    <th scope = "row"style="vertical-align: middle;"> <small>CONTADO</small> </th>
                    <th scope = "row"style="vertical-align: middle;"> <small>CONT./M2</small> </th>
                    
                    <th scope = "row"style="vertical-align: middle;"> <small>FINANCIADO</small> </th>
                    <th scope = "row"style="vertical-align: middle;"> <small>FINAN./M2</small> </th>
                    <th scope = "row"style="vertical-align: middle;"> <small>ANTICIPO ({{datos.anticipo}}%)</small> </th>
                    <th scope = "row"style="vertical-align: middle;"> <small>CUOTAS ({{datos.meses}})</small> </th>

                     
    
                </tr>
            </thead>
    
            <tbody>   
    
                {% for i in datos.datos_unidades %}
                <tr class = "table-light">
                    <td style="width: 2%;"> <a href=" {% url 'Cotizador' i.0.id %}" style="color: rgb({{datos.proyecto.color}});"> <small> <b>{{i.0.piso_unidad}} - {{i.0.nombre_unidad}}</b> </small></a> </td>
                    <td style="width: 5%;"> <b> <small>{{i.0.tipo}}</small> </b> </td>
                    <td style="width: 3%;"> <b> <small>{{i.0.tipologia}}</small> </b> </td>
                    <td style="width: 5%;"> <b> <small>{{i.1|floatformat:2}}m2</small></b> </td>
                    <td style="width: 5%;"> <b> <small> {{i.0.asig}} </small> </b> </td>
                    
                    {% if i.9 != 0 and perms.ventas.view_ventasrealizadas %}

                    {% if i.0.estado == "DISPONIBLE" %}

                    <td style="width: 5%; color: #1CB433  ;"> <b> <small> <span class="hint--top hint--success" aria-label= " {% for d in i.9 %} {{d.tipo_venta}} el {{d.fecha}} a {{d.comprador}} {% endfor %}"> <b><u>{{i.0.estado}}</u></b></small> </b> </span> </td>
                    
                    {% elif i.0.estado == "SEÑADA" %}

                    <td style="width: 5%; color: #DADA1B ;"> <b> <small> <span class="hint--top hint--warning" aria-label= " {% for d in i.9 %} {{d.tipo_venta}} el {{d.fecha}} a {{d.comprador}} {% endfor %}"><b><u>{{i.0.estado}}</u></b></small> </b> </span> </td>
                             
                    {% else %}

                    <td style="width: 5%; "> <b> <small> <span class="hint--top hint--info" aria-label= " {% for d in i.9 %} {{d.tipo_venta}} el {{d.fecha}} a {{d.comprador}} {% endfor %}"><b><u>{{i.0.estado}}</u></b></small> </b> </span> </td>
                    
                    {% endif %}

                    {% else %}

                    {% if i.0.estado == "DISPONIBLE" %}

                    <td style="width: 5%; color: #1CB433  ;"> <b> <small> <b>{{i.0.estado}}</b> </small> </b> </td>

                    {% elif i.0.estado == "SEÑADA" %}

                    <td style="width: 5%; color: #DADA1B ;"> <b> <small> <b>{{i.0.estado}}</b> </small> </b> </td>
                    
                    {% else %}

                    <td style="width: 5%; "> <b> <small> <b>{{i.0.estado}}</b> </small> </b> </td>

                    {% endif %}

                    {% endif %}


                    {% if i.2 >= 0 %}
                    <td style="width: 5%;"> <b> <small>${{i.4|floatformat:0|intcomma}}</small> </b> </td>
                    <td style="width: 5%;"> <b> <small>${{i.2|floatformat:0|intcomma}}</small> </b> </td>
                    <td style="width: 5%;"> <b> <small>${{i.5|floatformat:0|intcomma}}</small> </b> </td>
                    <td style="width: 5%;"> <b> <small>${{i.6|floatformat:0|intcomma}}</small> </b> </td>
                    <td style="width: 5%;"> <b> <small>${{i.7|floatformat:0|intcomma}}</small> </b> </td>
                    <td style="width: 5%;"> <b> <small>${{i.8|floatformat:0|intcomma}}</small> </b> </td>
                    
                    {% else %}
    
                    <td style="width: 5%;"> <b> <small>{{i.4}}</small> </b> </td>
                    <td style="width: 5%;"> <b> <small>{{i.2}}</small> </b> </td>
                    <td style="width: 5%;"> <b> <small>{{i.2}}</small> </b> </td>
                    <td style="width: 5%;"> <b> <small>{{i.2}}</small> </b> </td>
                    <td style="width: 5%;"> <b> <small>{{i.2}}</small> </b> </td>
                    <td style="width: 5%;"> <b> <small>{{i.2}}</small> </b> </td>
    
                    {% endif %}
                    
                    
    
                </tr>
                {% endfor %}
            </tbody>
         
    
    
        </table>


    </div>

    



    {% endif %}

    {% if datos.mensaje == 1 %}

    <div style="text-align: center; margin-top: 10%;">
    
        <h6>No hay unidades que cumplan esas condiciones!</h6>
    
    </div>

    {% endif %}

    <div style="text-align: center; margin-top: 2rem;">
        <p> <small>-- Link<strong>P</strong> --</small> </p>

     </div>

                    
</div>


{% endif %}
 
    
{% endblock %}
