{% extends "users/inicio2.html" %}

{% load static %}
{% load humanize %}

{% block content %}

<div class="container-fluid r-aside">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Radiografia del cliente</h3>
        </div>

        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item">Radiografia del cliente</li>
            </ol>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="d-flex">
                    <div>
                        <h4 class="card-title"><span class="lstick"></span>
                            Radiografia del cliente</h4>
                        <h6 class="card-subtitle">Explicacion y estudio de los clientes de Link</h6>

                    </div>
                </div>

                <div class="table-responsive">

                    <table class="table">
                        <thead>
                            <tr style="vertical-align: middle;">
                                <th class="text-info"><a type="button" class="fa fa-lg fa-plus-circle" data-toggle="modal" data-target="#ModalArqueo"></a>
                                 Informes cargados</th>
                         
                           </tr>

                            <!-- Modal fecha estado Subitem -->
                            <div class="modal fade" id="ModalArqueo" tabindex="-1" role="dialog"
                                aria-labelledby="ModalArqueo" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Cargar un archivo</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="POST" style="margin: 15px;" enctype="multipart/form-data"
                                                id="upload-image-form">

                                                {% csrf_token %}

                                                <h6>Fecha del archivo</h6>

                                                <div class="input-group mb-3">

                                                    <input name="fecha" type="date" class="form-control form-control"
                                                        style="width: 300px;">
                                                </div>

                                                <h6>Archivo</h6>

                                                <div class="input-group mb-3">

                                                    <input name="adjunto" type="file" class="form-control form-control"
                                                        style="width: 300px;">
                                                </div>

                                                <button type="submit" class="btn btn-light">
                                                    <img src="{% static 'img/upload.png' %}" alt=""
                                                        style="max-width:20px; height:auto;">
                                                    <b>Cargar</b></button>

                                                {{ form.as_p }}

                                            </form>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- Final del modal -->

                        </thead>

                        <tbody>
                            {% for i in datos.data %}

                            {% if i.radiografia_cliente %}
                            <tr>

                                <td> <a href="{{i.radiografia_cliente.url}}">Archivo fecha {{i.fecha|date:"d-m-Y"}}</a> - Nombre del
                                    archivo: "{{i.radiografia_cliente.name}}"</td>
                                <td>
                                    <form method="POST">
                                        <button class="btn btn-link fa fa-trash d-flex align-content-end" type="submit"
                                            name="delete" value="{{i.id}}" style="text-decoration: none;"></button>

                                        {% csrf_token %}
                                    </form>

                                </td>

                            </tr>

                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>


                </div>

            </div>


        </div>
    </div>
</div>



{% endblock %}