{% extends "users/inicio.html" %}

{% load static %}
{% load humanize %}

{% block content %}



<div class = "jumbotron" style="background-color: white; margin-bottom: 0px; text-align: center;" > 

    <div >
        <h2 style="font-family: Arial, Helvetica, sans-serif;">Incremento indice de hormigón</h2>

        <small style="font-family: Arial, Helvetica, sans-serif;"><b>Modulo:</b> Informes recurrentes </small>


        <b><hr class = "my-4" style="width: 100%; "></b>
    
    </div>


<div style="text-align: center; width: 350px; height: 210px; display: inline-block; margin: 20px; vertical-align: top; border: 2px solid rgb(11, 32, 68); border-radius: 5%;">

  <div style="margin: 15px;">

      <form method="POST">

          {% csrf_token %}

          <div>

          <h6 style= "font-family: Arial, Helvetica, sans-serif; color: rgb(11, 32, 68); ">Archivos cargados</h6>
          
         </div>

         <select name="fecha" class="custom-select" style="width: 200px;">


          {% for i in datos %}

          <option value="{{i.id}}">{{i.fecha|date:"Y-m-j"}}</option>

          {% endfor %}



        </select>
            
            

            <div>
              <button class="btn btn-dark" type="submit" style="margin-top: 10px;"><img src="{% static 'img/buscar2.png' %}" alt="" style="max-width:20px; height:auto;"> Buscar</button>          
          </div>
          
      </form>

      <div style="text-align: right; margin-top: 20px;">

        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter" >
          <img src="{% static 'img/agregar-archivo.png' %}" alt="" style="max-width:20px; height:auto;"  >
        </button>


      </div>
      <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Sube el archivo!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          <form role="form"  enctype="multipart/form-data" action="" method="POST" id="upload-image-form">

              {% csrf_token %}


            <div style="display: inline-block; margin: 10px; ">
    
                <input type="file" class="form-control-file" name="adjunto" aria-describedby="fileHelp">
    
            </div>
    

            <div style="margin: 10px; ">

              <small>*El archivo se subira con la fecha de hoy</small>

            </div>
    
    
    
              <button type="submit" class="btn btn-primary">Subir</button>
  
          </form>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
 
      </div>
    </div>
  </div>
</div>

      <b><hr class = "my-4" style="width: 75%; "></b>


  </div>
 
</div>


  {% if busqueda %}

   <div>
      <a href="{{ busqueda.archivo.url }}" style="margin-top: 1%;"><img src="{% static 'img/reportar.png' %}" alt="" style="max-width:30px; height:auto;"> Informe encontrado!</a>

    </div>

    <small> Ingrese al link para ver el archivo</small>


  {% endif %}


  <b><hr class = "my-4" style="width: 75%;"></b>


    <div style="overflow-x: scroll;">

        <table class = "table table-hover" style="text-align: center;">
            <thead>
    
                <tr class = "table-dark">
                    <th scope = "row" style="vertical-align: middle;"></th> 
                    
                    {% for i in datos_h %}
                    <th scope = "row" style="vertical-align: middle;" colspan="2">{{i.0.0|date:"Y"}}</th>
                    
                    {% endfor %}
                </tr>
            </thead>

            <tbody>

                <tr class = "table-light">

                    <td style="width: 10%; vertical-align: middle;"><small><b>ENERO</b></small></td>

                    {% for i in datos_h %}
                    
                    
                    <td style="width: 10%; vertical-align: middle;"><small>$ {{i.0.1|floatformat:0|intcomma}}</small></td> 
                    <td style="width: 10%; vertical-align: middle;"><small>{{i.0.2|floatformat:2}} %</small> </td>

                    {% endfor %} 
                    

                </tr>
                <tr class = "table-light">

                    <td style="width: 10%; vertical-align: middle;"><small><b>FEBRERO</b></small></td> 
                    {% for i in datos_h %}
                    
                    
                    <td style="width: 10%; vertical-align: middle;"><small>$ {{i.1.1|floatformat:0|intcomma}}</small></td> 
                    <td style="width: 10%; vertical-align: middle;"><small>{{i.1.2|floatformat:2}} %</small> </td>

                    {% endfor %} 

                </tr>
                <tr class = "table-light">

                    <td style="vertical-align: middle;"><small><b>MARZO</b></small></td> 
                    {% for i in datos_h %}
                    
                    
                    <td style="vertical-align: middle;"><small>$ {{i.2.1|floatformat:0|intcomma}}</small></td> 
                    <td style="vertical-align: middle;"><small>{{i.2.2|floatformat:2}} %</small> </td>

                    {% endfor %}  

                </tr>
                <tr class = "table-light">

                    <td style="vertical-align: middle;"><small><b>ABRIL</b></small></td> 
                    {% for i in datos_h %}
                    
                    
                    <td style="vertical-align: middle;"><small>$ {{i.3.1|floatformat:0|intcomma}}</small></td> 
                    <td style="vertical-align: middle;"><small>{{i.3.2|floatformat:2}} %</small> </td>

                    {% endfor %}  

                </tr>
                <tr class = "table-light">

                    <td style="vertical-align: middle;"><small><b>MAYO</b></small></td> 
                    {% for i in datos_h %}
                    
                    
                    <td style="vertical-align: middle;"><small>$ {{i.4.1|floatformat:0|intcomma}}</small></td> 
                    <td style="vertical-align: middle;"><small>{{i.4.2|floatformat:2}} %</small> </td>

                    {% endfor %} 

                </tr>
                <tr class = "table-light">

                    <td style="vertical-align: middle;"><small><b>JUNIO</b></small></td> 
                    {% for i in datos_h %}
                    
                    
                    <td style="vertical-align: middle;"><small>$ {{i.5.1|floatformat:0|intcomma}}</small></td> 
                    <td style="vertical-align: middle;"><small>{{i.5.2|floatformat:2}} %</small> </td>

                    {% endfor %} 

                </tr>
                <tr class = "table-light">

                    <td style="vertical-align: middle;"><small><b>JULIO</b></small></td> 
                    {% for i in datos_h %}
                    
                    
                    <td style="vertical-align: middle;"><small>$ {{i.6.1|floatformat:0|intcomma}}</small></td> 
                    <td style="vertical-align: middle;"><small>{{i.6.2|floatformat:2}} %</small> </td>

                    {% endfor %} 

                </tr>
                <tr class = "table-light">

                    <td style="vertical-align: middle;"><small><b>AGOSTO</b></small></td> 
                    {% for i in datos_h %}
                    
                    
                    <td style="vertical-align: middle;"><small>$ {{i.7.1|floatformat:0|intcomma}}</small></td> 
                    <td style="vertical-align: middle;"><small>{{i.7.2|floatformat:2}} %</small> </td>

                    {% endfor %} 

                </tr>
                <tr class = "table-light">

                    <td style="vertical-align: middle;"><small><b>SEPTIEMBRE</b></small></td> 
                    {% for i in datos_h %}
                    
                    
                    <td style="vertical-align: middle;"><small>$ {{i.8.1|floatformat:0|intcomma}}</small></td> 
                    <td style="vertical-align: middle;"><small>{{i.8.2|floatformat:2}} %</small> </td>

                    {% endfor %} 

                </tr>
                <tr class = "table-light">

                    <td style="vertical-align: middle;"><small><b>OCTUBRE</b></small></td> 
                    {% for i in datos_h %}
                    
                    
                    <td style="vertical-align: middle;"><small>$ {{i.9.1|floatformat:0|intcomma}}</small></td> 
                    <td style="vertical-align: middle;"><small>{{i.9.2|floatformat:2}} %</small> </td>

                    {% endfor %}  

                </tr>
                <tr class = "table-light">

                    <td style="vertical-align: middle;"><small><b>NOVIEMBRE</b></small></td> 
                    {% for i in datos_h %}
                    
                    
                    <td style="vertical-align: middle;"><small>$ {{i.10.1|floatformat:0|intcomma}}</small></td> 
                    <td style="vertical-align: middle;"><small>{{i.10.2|floatformat:2}} %</small> </td>

                    {% endfor %} 

                </tr>
                <tr class = "table-light">

                    <td style="vertical-align: middle;"><small><b>DICIEMBRE</b></small></td> 
                    {% for i in datos_h %}
                    
                    
                    <td style="vertical-align: middle;"><small>$ {{i.11.1|floatformat:0|intcomma}}</small></td> 
                    <td style="vertical-align: middle;"><small>{{i.11.2|floatformat:2}} %</small> </td>

                    {% endfor %}  

                </tr>

                
            
            
            
            </tbody>


            <tbody>
    
                <tr class = "table-dark">
                    <td style="width: 10%; vertical-align: middle;"> <b>PROMEDIO ANUAL</b></td>
                    {% for i in datos_h %}
                    <th scope = "row" style="vertical-align: middle;" colspan="2">{{i.12|floatformat:2}} %</th>
                    
                    {% endfor %} 

                </tr>
            </tbody>



        </table> 


          
   </div>


    <div>
        <p style="font-family: Arial, Helvetica, sans-serif;"> <small>-- Link<strong>P</strong> --</small> </p>

     </div>


</div>
{% endblock %}