{% extends "users/inicio2.html" %}
{% load apptags_extras %}

{% load static %}

{% block content %}

<div class="container-fluid r-aside">
    <div class="row page-titles">
        <div class="col-md-5 col-lg-3 align-self-center">
            <h3 class="text-themecolor">Canje de monedas</h3>
        </div>
        <div class="col-md-7 col-lg-6 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Guia' %}">Mi perfil</a></li>
                <li class="breadcrumb-item">Canjes</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-12 col-lg-10">
            <div class="card">
                <div class="card-body">
                    {% if request.user|has_group:"RRHH NIVEL 10" %}
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-11">
                            <h4 class="card-title  font-bold"><span class="lstick m-r-20"></span>Gestor de canjes</h4>
                            <form method="POST" class="mb-3">
                                {% csrf_token %}
                                <div class="p-4 bg-light">

                                    <div class="row">
                                        <div class="col-4 col-lg-4">
                                            <label for="desde" class="form-label">Desde</label>
                                            <input type="input" name="desde" value="{{canje_desde}}" class="form-control">
                                        </div>

                                        <div class="col-4 col-lg-4">
                                            <label for="hasta" class="form-label">Hasta</label>
                                            <input type="input" name="hasta" value="{{canje_hasta}}" class="form-control">
                                        </div>

                                        <div class="col-4 col-lg-4">
                                            <input type="checkbox" name="canje_activo" id="canje_activo" 
                                            class="filled-in chk-col-blue" {% if canje_activo %} checked {% endif %} />
                                            <label for="canje_activo">Habilitar canje</label>
                                        </div>

                                    </div>
    
                                    <div class="row mt-2">
                                        <div class="col-12 col-md-8 col-lg-9">
                                            <label for="inputCanje" class="form-label">Premios</label>
                                            <input type="text" name="nombre" class="form-control">
                                        </div>
                                        <div class="col-12 col-md-4 col-lg-3">
                                            <label for="inputMoneda" class="form-label">Monedas</label>
                                            <input type="number" name="cantidad" class="form-control">
                                        </div>
                                    </div>
                                    <button class="btn btn-info mt-4" name="id" value="0">Cargar</button>
                                </div>
                            </form>
                        </div>
                    </div>
    
                    {% endif %}
    
                    <h4 class="card-title font-bold"><span class="lstick m-r-20"></span>Tabla de canjes</h4>
                    <h6>Monedas recibidas: {{dato_monedas.monedas_recibidas}} | Monedas disponibles:
                        {{dato_monedas.monedas_canjear}}</h6>
                    <h6 class="text-danger font-bold">{{mensaje}}</h6>
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-11">
    
                            <div class="table-responsive m-t-4">
                                <table id="tabla" class="table stylish-table">
                                    <thead>
                                        <tr>
                                            {% if request.user|has_group:"RRHH NIVEL 10" %}<th class='notexport'>Opciones</th>{% endif %}
                                            <th style="min-width: 150px;">Premios</th>
                                            <th style="text-align: right;">Linkcoins</th>
                                            {% if canje_activo %}<th class='notexport' style="text-align: center;">Canjear</th>{% endif %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- if administrador -->
    
                                        {% for i in premios %}
                                        <tr>
                                            {% if request.user|has_group:"RRHH NIVEL 10" %}
                                            <td>
                                                
                                                <a href="#" class="fa fa-trash text-danger my-2" data-toggle="modal"
                                                    data-target="#modalBorrar{{i.id}}"></a>
                                                <!-- Modal borrar -->
                                                <div class="modal fade" id="modalBorrar{{i.id}}" tabindex="-1" role="dialog"
                                                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header" style="background-color: #2a3e52;">
                                                                <h5 class="modal-title text-light" id="exampleModalLongTitle">Borrar
                                                                    premio</h5>
                                                                <button type="button" class="close text-light data-dismiss=" modal
                                                                    aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
    
                                                                <form action="" method="POST">
                                                                    {% csrf_token %}
    
                                                                    <p>¿Está seguro que desea borrar este premio?</p>
                                                                    <button class="btn btn-danger" type="submit"
                                                                        name="borrar" value="{{i.id}}"
                                                                        style="margin-top: 10px;">Borrar</button>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-info"
                                                                    data-dismiss="modal">Cerrar</button>
    
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#" class="fa fa-pencil-square-o my-2" data-toggle="modal"
                                                    data-target="#modalModificar{{i.id}}"></a>
                                                <!-- Modal modificar -->
                                                <div class="modal fade" id="modalModificar{{i.id}}" tabindex="-1"
                                                    role="dialog" aria-labelledby="exampleModalCenterTitle"
                                                    aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header" style="background-color: #2a3e52;">
                                                                <h5 class="modal-title text-light" id="exampleModalLongTitle">Modificar
                                                                    premio</h5>
                                                                <button type="button" class="close text-light" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
    
                                                                <form action="" method="POST">
                                                                    {% csrf_token %}
    
                                                                    <div class="col-12">
                                                                        <label for="inputCanje"
                                                                            class="form-label">Nombre</label>
                                                                        <input type="text" name="nombre"
                                                                            value="{{i.nombre}}" class="form-control">
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <label for="inputMoneda"
                                                                            class="form-label">Monedas</label>
                                                                        <input type="number" name="cantidad"
                                                                            value="{{i.cantidad}}" class="form-control">
                                                                    </div>
                                                                    <div>
                                                                        <button class="btn btn-info ml-3" type="submit"
                                                                            name="id" value="{{i.id}}"
                                                                            style="margin-top: 10px;">Modificar</button>
    
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-info"
                                                                    data-dismiss="modal">Cerrar</button>
    
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </td>
                                            {% endif %}

                                            <td>
                                                {{i.nombre}}
                                            </td>
                                            <td class="font-bold" style="text-align: right;">{{i.cantidad}} <img
                                                    src="{% static 'img/monedalink2.png' %}" alt=""
                                                    style="max-width:21px; height:auto; vertical-align: top;"></td>
    
                                            
                                            {% if canje_activo %}
                                            <td style="text-align: center;">
                                                <form
                                                    onsubmit="return confirm('¿Estás seguro de que deseas canjear tus puntos?. No puedes cambiar tus canjes una vez realizados.');"
                                                    method="POST">
                                                    {% csrf_token %}
                                                    <button type="submit" name="premio" value="{{i.id}}"
                                                        class="btn fa fa-lg fa-gift text-info"
                                                        style="padding: 0%;"></button>
                                                </form>
                                            </td> {% endif %}
    
                                        </tr>
                                        {% endfor %}
    
    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<aside class="right-side-panel">
    <h3 class="p-relative"><span class="lstick"></span>¿Cómo funciona?</h3>
    <div class="row">
        <div class="col-md-12 m-t-10">
            <div class="card">
                <div class="card-body">
                    <img src="{% static 'img/33635-worker-have-an-idea.gif' %}" alt="Funny image" width="200px">
                    {% if canje_activo %}
                    <p class="font-bold">🎁 Canjeá hasta desde {{canje_desde}} al {{canje_hasta}} de cada mes tus puntos</p>
                    <p class="font-bold">🚀 Recibirás un mail con la confirmación de tu canje.

                        Luego desde el equipo de RR.HH. se comunicarán con vos para la entrega. Recordá que tu premio puede ser entregado hasta el último día hábil del mes.</p>
                    <p>¡Disfrutá tu premio!</p>
                    {% else %}
                    <p class="font-bold">⛔ Actualmente no están habilitados los canjes, consulte a la oficina de rrhh por mas información</p>
                    {% endif %}


                </div>
            </div>
        </div>
    </div>
</aside>

{% if request.user|has_group:"RRHH NIVEL 10" %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#tabla').DataTable({
            "language": {
            "lengthMenu": "Mostar _MENU_ documentos",
            "zeroRecords": "Sin coincidencias",
            "info": "Pagina _PAGE_ de _PAGES_",
            "infoEmpty": "Sin registros disponibles",
            "infoFiltered": "(filtrado de _MAX_ registros totales)",
            "search": "Buscar"
        },

            "ordering": false,
            "info": false,
            "paging": false,
            "searching": false,

            dom: 'Bfrtip',
            buttons: [
            {
                extend: 'excelHtml5',
                title: 'Listado de canje',
                className: "btn btn-primary",
                exportOptions: {
                        columns: ':not(.notexport)'
                    },

                init: function(api, node, config) {
                    $(node).removeClass('dt-button buttons-excel buttons-html5')
                    }
            },
            ] 
        });
    });


</script>

{% endif %}


{% if canje_realizado %}

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    Swal.fire({
    title: 'Todo listo!',
    allowOutsideClick: false,
    text: 'Tu canje se realizo correctamente',
    imageUrl: 'https://picsum.photos/id/635/400/200',
    imageWidth: 400,
    imageHeight: 200,
    imageAlt: 'Custom image',
    }).then(function() {
    window.location = "canjemoneda";
});

</script>



{% endif %}




{% endblock %}